<div class="row col-md-12" data-ctrl-silver-employment="">
  <div class="Employment-Header">
    <h2>Careers</h2>
    <p>At {{ChainName}}, we offer all of our employees flexible scheduling in a fun and clean environment. We are always looking for motivated, energetic people to join our team! Browse this page to learn about career opportunities currently available at {{ChainName}}.</p>
    <h2>Positions Available</h2>
    <div data-ng-show="hasJobs() > 0">
      <p>We're looking for talented, passionate people in the following areas:</p>
    </div>
    <div data-ng-show="hasJobs() == 0">
      <p>Currently there are no jobs available at this time. Please check back later.</p>
    </div>
  </div>
  <div class="Employment-Jobs" data-ng-repeat="job in jobsToFilter()">
    <div data-ng-show="jobsToFilter().length > 0">
      <h3>{{job.JobPositionTitle}}</h3>
      <div class="Employment-Description" data-ng-bind-html="job.JobPositionDescription | trustedHtml" />
      <br/>
      <ul data-ng-repeat="opening in job.Openings">
        <li>
            <a data-ng-href="/careers/apply?Pid={{opening.JobPositionId}}&Sid={{opening.OpeningStore.StoreId}}">{{opening.OpeningStore.StoreName}}</a>
        </li>
      </ul>
    </div>
  </div>
</div> 
