<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
<div class="row" data-ctrl-coupon-classic="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getThemeUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0" data-gsn-sticky="">
      <div data-ng-non-bindable="" data-bindonce="">
        <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"kw": "weeklyad", "tile": "6", "dept": []}'></div>
      </div>
    </div>
  </div>
  <div class="col-md-10" data-ng-init="sortByName = 'About to Expire';">
    <div class="topPod col-md-10" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
      <div data-ng-non-bindable="" data-bindonce="">
        <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"kw": "coupon", "tile": "1", "dept": []}'></div>
      </div>
    </div>     
    <div class="col-md-10 pageContent">
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-default btnMarianos couponNavBtn active" data-ng-click="goUrl('/coupons')">e-clips Digital Coupons</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-default btnMarianos couponNavBtn" data-ng-click="goUrl('/coupons/printable')">Printable coupons</button>
        </div>
      </div>
      <div class="coupons">
        <div class="row couponsControls">
          <div class="pull-left">
            <button class="btn btn-default btnMarianos btn-xs" data-ng-click="selectedCoupons.cardCouponOnly = !selectedCoupons.cardCouponOnly">
              <i class="fa fa-square-o" data-ng-hide="selectedCoupons.cardCouponOnly"></i><i class="fa fa-check-square-o" data-ng-show="selectedCoupons.cardCouponOnly"></i>
              View Coupons On Card
            </button>
          </div>
          <div class="pull-right">
            <form name="searchForm">
              <div class="searchField">
                <span>Search By:</span><input type="text" placeholder="Enter Keyword" data-ng-model="filterBy" name="filterby" />
              </div>
            </form>
          </div>
          <div class="pull-right">
            <span>Sort By:</span>
            <div class="btn-group">
              <button type="button" class="btn btn-default btnMarianos btn-xs dropdown-toggle" data-toggle="dropdown">
                {{sortByName}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire'">About to Expire</a></li>
                <li><a href="javascript:void(0)" data-ng-click="sortBy = '-StartDate';sortByName='Newest'">Newest</a></li>
                <li><a href="javascript:void(0)" data-ng-click="sortBy = '-TopTagLine';sortByName='Savings'">Savings</a></li>
                <li><a href="javascript:void(0)" data-ng-click="sortBy = 'BrandName';sortByName='Brand'">Brand</a></li>
                <li><a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department'">Department</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pull-right">Total Savings - ${{selectedCoupons.totalSavings}}</div>
        </div>
        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="preSelectedCoupons.items.length <= 0 || selectedCoupons.noCircular"></div>

        <div class="row" data-ng-show="selectedCoupons.targeted.length > 0 && sortBy == 'EndDate'">
          limited time e-clips
        <br />
          <div class="savingsInfo col-md-4 col-xs-12"
            data-ng-include="getThemeUrl('/views/coupons-digital-item.html')"
            data-ng-repeat="item in selectedCoupons.targeted">
          </div>
        </div>
        <div class="row" data-infinite-scroll="loadMore()">
          <div class="savingsInfo col-md-4 col-xs-12"
            data-ng-include="getThemeUrl('/views/coupons-digital-item.html')"
            data-ng-repeat="item in selectedCoupons.items">
          </div>
        </div>
      </div>
    </div>           
    <div class="col-md-2 sidePods">
      <div class="row" data-gsn-ad-unit="">
        <div data-ng-non-bindable="" data-bindonce="">
          <div class="gsnadunit" data-dimensions="180x150" data-targeting='{"kw": "coupon", "tile": "9", "dept": []}'></div>
        </div>
      </div>
    </div>
  </div>
</div>





