<div class="visible-lg visible-md" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
  <ul class="nav nav-tabs nav-stacked">
    <li class="hidden-lg hidden-md">
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="site search" data-ng-model="search.site" name="sitesearch" data-ui-keyup="{'enter':'doSiteSearch()'}" />
        <span class="input-group-btn">
          <button type="button" data-ng-click="doSiteSearch()" class="btn btn-default">go</button>
        </span>
      </div>
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="item search" data-ng-model="search.item" name="itemsearch" data-ui-keyup="{'enter':'doItemSearch()'}" />
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="doItemSearch()">go</button>
        </span>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>Ads &amp; Coupons</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/circular"><i class="fa fa-chevron-right pull-right"></i>Ads</a></li>
        <li><a data-ng-href="/coupons"><i class="fa fa-chevron-right pull-right"></i>Coupons</a></li>
        <li><a data-ng-href="/mylist"><i class="fa fa-chevron-right pull-right"></i>My Shopping List</a></li>
        <li><a data-ng-href="/myspecials"><i class="fa fa-chevron-right pull-right"></i>Personalized Specials</a></li>
        <li><a data-ng-href="/product"><i class="fa fa-chevron-right pull-right"></i>Product Search</a></li>
        <li><a data-ng-href="/profile"><i class="fa fa-chevron-right pull-right"></i>Sign Up for Email</a></li>
        <li><a data-ng-href="/specials"><i class="fa fa-chevron-right pull-right"></i>Unadvertised Specials</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>What's Cooking</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/recipecenter"><i class="fa fa-chevron-right pull-right"></i>Recipes</a></li>
        <li class="visible-md visible-lg"><a data-ng-href="/recipevideo"><i class="fa fa-chevron-right pull-right"></i>Cooking Videos</a></li>
      </ul>
    </li>
    <li><a data-ng-href="/mypantry"><i class="fa fa-chevron-right pull-right"></i>My Shopping History</a></li>
    <li><a data-ng-href="/profile"><i class="fa fa-chevron-right pull-right"></i>Sign Up for Email</a></li>
  </ul>
</div>
