<div role="form" class="modal-content" data-gsn-login="">
  <form role="form" name="myLoginForm" data-ng-submit="login()">
    <div class="modal-header">
      <h4>Please Sign In</h4>
    </div>
    <div class="modal-body signInBox">
      <div class="form-group">
        <label for="usernameField">Email Address or Username:</label>
        <input id="usernameField" name="usernameField" type="text" class="form-control" placeholder="Enter email address or username" data-ng-model="profile.UserName" />
        <p class="help-block"><a href="javascript:void(0);" data-ng-click="goUrl('/recoverusername')" tabindex="-1">Forgot username?</a></p>
      </div>
      <div class="form-group">
        <label for="passwordField">Password</label>
        <input id="passwordField" name="passwordField" type="password" class="form-control" placeholder="Enter password" data-ng-model="profile.Password" />
        <p class="help-block"><a href="javascript:void(0);" data-ng-click="goUrl('/recoverpassword')" tabindex="-1">Forgot password?</a></p>
      </div>
      <div class="form-group" data-ng-show="hasSubmitted && !isValidSubmit">
        <div class="alert alert-danger">
          E-mail Address/Username or Password is incorrect. Please try again.
        </div>
      </div> 
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <div class="signInBox">
                      
        <button class="btn btn-default btnMarianos pull-right" type="submit">Login</button>
        <button class="btn btn-default btnMarianos pull-right" data-ng-click="closeModal()" style="margin-right: 10px" type="button">Close</button>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left">Not Registered?</p>
      <button type="button" class="btn btn-default btnMarianos pull-left" data-ng-click="goUrl('/registration')">Create a Profile</button>
    </div>
  </form>
</div>