<div class="hidden" data-gsn-title="{{ChainName}} Recipe Center"></div>
<div class="row" data-ctrl-recipe-center="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getThemeUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10">
    <div class="row topPod" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
      <div data-ng-non-bindable="">
        <div class="gsnunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
      </div>
    </div>
    <div class="col-md-10 recipeBox" data-gsn-flow-player="VideoPlayerTarget" data-swf="http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf" data-base-url="http://upload.gsngrocers.com/recipe/video/flv/">
      <div class="col-md-8">
        <h3>5 Minute Cooking Classes</h3>
        <div class="videoColumn" id="VideoPlayer">
          <h3>{{videoTitle}}</h3>
          <a id="VideoPlayerTarget" class="VideoPlayerTarget" style="display: block; width: 325px; height: 250px;"></a>
        </div>
      </div>
      <div class="col-md-4" data-ng-init="videoTitle = 'Artichokes'; videoName = 'GSN-Artichokes';">
        <h3>Videos</h3>
        <div style="display: block; height: 300px; overflow-y: scroll;" class="">
          <div class="list-group list-groupPns">
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Artichokes'}" title="Artichokes" data-ng-click="play('Artichokes','GSN-Artichokes');">Artichokes</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Avocados'}" title="Avocados" data-ng-click="play('Avocados','GSN-Avocados');">Avocados</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Baked Eggs'}" title="Baked Eggs" data-ng-click="play('Baked Eggs','GSN-Baking Eggs');">Baked Eggs</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Baking Fish'}" title="Baking Fish" data-ng-click="play('Baking Fish','GSN-Baking Fish');">Baking Fish</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Basics of Rehydration'}" title="Basics of Rehydration" data-ng-click="play('Basics of Rehydration','GSN-RehydratingBeansChiliesandfruits');">Basics of Rehydration</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Braised Romaine'}" title="Braised Romaine" data-ng-click="play('Braised Romaine','GSN-Braised Romaine-1');">Braised Romaine</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Braising Beef'}" title="Braising Beef" data-ng-click="play('Braising Beef','GSN-Braising-Beef');">Braising Beef</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Brining'}" title="Brining" data-ng-click="play('Brining','GSN-Brining');">Brining</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Broiled Sole'}" title="Broiled Sole" data-ng-click="play('Broiled Sole','GSN-Broiled Sole');">Broiled Sole</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Broiled Steak'}" title="Broiled Steak" data-ng-click="play('Broiled Steak','GSN-Broiled Steak');">Broiled Steak</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Caramelizing an Onion'}" title="Caramelizing an Onion" data-ng-click="play('Caramelizing an Onion','GSN-Onion Brule');">Caramelizing an Onion</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Chicken Breast Butterfly'}" title="Chicken Breast Butterfly" data-ng-click="play('Chicken Breast Butterfly','GSN-poultry breast butterfly');">Chicken Breast Butterfly</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Chicken Breast Fabrication'}" title="Chicken Breast Fabrication" data-ng-click="play('Chicken Breast Fabrication','GSN-Chicken Breast Fabrication');">Chicken Breast Fabrication</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Clarifying Butter'}" title="Clarifying Butter" data-ng-click="play('Clarifying Butter','GSN-Clarifying Butter');">Clarifying Butter</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Cleaning Fish'}" title="Cleaning Fish" data-ng-click="play('Cleaning Fish','GSN-Fish_Gutting');">Cleaning Fish</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Cutting Fish'}" title="Cutting Fish" data-ng-click="play('Cutting Fish','GSN-Fish Boney_Fabrication');">Cutting Fish</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Deep Frying Shrimp'}" title="Deep Frying Shrimp" data-ng-click="play('Deep Frying Shrimp','GSN-Deep Frying Shrimp');">Deep Frying Shrimp</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Deep Frying Vegetables'}" title="Deep Frying Vegetables" data-ng-click="play('Deep Frying Vegetables','GSN-Deep Frying Vegetables');">Deep Frying Vegetables</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Dry Rubs'}" title="Dry Rubs" data-ng-click="play('Dry Rubs','GSN-Dry Rubs');">Dry Rubs</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Eggplant'}" title="Eggplant" data-ng-click="play('Eggplant','GSN-Eggplant');">Eggplant</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Fish Overview'}" title="Fish Overview" data-ng-click="play('Fish Overview','GSN-types of flat fish');">Fish Overview</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Folding'}" title="Folding" data-ng-click="play('Folding','GSN-Folding');">Folding</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Fresh Herbs'}" title="Fresh Herbs" data-ng-click="play('Fresh Herbs','GSN-Fresh Herbs');">Fresh Herbs</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Grilling Lamb Chops'}" title="Grilling Lamb Chops" data-ng-click="play('Grilling Lamb Chops','GSN-Grilling Lamb Chops');">Grilling Lamb Chops</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Infusing Oils with Garlic'}" title="Infusing Oils with Garlic" data-ng-click="play('Infusing Oils with Garlic','GSN-Infused Oils with Garlic');">Infusing Oils with Garlic</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Leafy Greens'}" title="Leafy Greens" data-ng-click="play('Leafy Greens','GSN-Leafy Greens');">Leafy Greens</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Making Croutons'}" title="Making Croutons" data-ng-click="play('Making Croutons','GSN-Croutons');">Making Croutons</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Making Roux'}" title="Making Roux" data-ng-click="play('Making Roux','GSN-Roux');">Making Roux</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Marinades'}" title="Marinades" data-ng-click="play('Marinades','GSN-Marinade');">Marinades</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Mushroom Stuffing'}" title="Mushroom Stuffing" data-ng-click="play('Mushroom Stuffing','GSN-Mushroom Duxelle');">Mushroom Stuffing</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Pan Frying Chicken'}" title="Pan Frying Chicken" data-ng-click="play('Pan Frying Chicken','GSN-Pan Frying Chicken');">Pan Frying Chicken</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Pan Frying Veal'}" title="Pan Frying Veal" data-ng-click="play('Pan Frying Veal','GSN-Pan Frying Veal');">Pan Frying Veal</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Peanut Brittle and Dragee'}" title="Peanut Brittle and Dragee" data-ng-click="play('Peanut Brittle and Dragee','GSN-Brittle and More');">Peanut Brittle and Dragee</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Peeling Tomatoes'}" title="Peeling Tomatoes" data-ng-click="play('Peeling Tomatoes','GSN-Tomato Concasse');">Peeling Tomatoes</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Roasting Beef'}" title="Roasting Beef" data-ng-click="play('Roasting Beef','GSN-Roasting Beef');">Roasting Beef</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Roasting Chicken'}" title="Roasting Chicken" data-ng-click="play('Roasting Chicken','GSN-Roasting Chicken');">Roasting Chicken</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Roasting Garlic and Shallots'}" title="Roasting Garlic and Shallots" data-ng-click="play('Roasting Garlic and Shallots','GSN-Roasting Garlic and Shallots');">Roasting Garlic and Shallots</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Roasting Peppers'}" title="Roasting Peppers" data-ng-click="play('Roasting Peppers','GSN-Roasting Peppers');">Roasting Peppers</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Roasting Tomatoes'}" title="Roasting Tomatoes" data-ng-click="play('Roasting Tomatoes','GSN-Roasting Tomatoes');">Roasting Tomatoes</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Round Fish'}" title="Round Fish" data-ng-click="play('Round Fish','GSN-Non Boney Fish');">Round Fish</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Salmon'}" title="Salmon" data-ng-click="play('Salmon','GSN-Fish_Salmon');">Salmon</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Sautéing Trout'}" title="Sautéing Trout" data-ng-click="play('Sautéing Trout','GSN-Sauteing Trout');">Sautéing Trout</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Seasonings for Soup'}" title="Seasonings for Soup" data-ng-click="play('Seasonings for Soup','GSN-Sachet');">Seasonings for Soup</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Shallow Poaching Snapper'}" title="Shallow Poaching Snapper" data-ng-click="play('Shallow Poaching Snapper','GSN-Shallow Poaching Snapper');">Shallow Poaching Snapper</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Shellfish-Crab'}" title="Shellfish-Crab" data-ng-click="play('Shellfish-Crab','GSN-Shellfish_Crabs');">Shellfish-Crab</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Shellfish-Lobster'}" title="Shellfish-Lobster" data-ng-click="play('Shellfish-Lobster','GSN-Shellfish_Lobster');">Shellfish-Lobster</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Shellfish-Shrimp'}" title="Shellfish-Shrimp" data-ng-click="play('Shellfish-Shrimp','GSN-Shellfish_Shrimp');">Shellfish-Shrimp</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Spice Blends'}" title="Spice Blends" data-ng-click="play('Spice Blends','GSN-Spice Blends');">Spice Blends</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Steaming Fish'}" title="Steaming Fish" data-ng-click="play('Steaming Fish','GSN-Steaming Papillote');">Steaming Fish</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Stewing Veal'}" title="Stewing Veal" data-ng-click="play('Stewing Veal','GSN-Stewing Veal');">Stewing Veal</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Studding an Onio'}" title="Studding an Onion" data-ng-click="play('Studding an Onion','GSN-Onion Piquet');">Studding an Onion</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Thickening Sauces'}" title="Thickening Sauces" data-ng-click="play('Thickening Sauces','GSN-Liaisons and Tempering');">Thickening Sauces</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Toasting Seeds and Nuts'}" title="Toasting Seeds and Nuts" data-ng-click="play('Toasting Seeds and Nuts','GSN-Toasting Seeds and Nuts');">Toasting Seeds and Nuts</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Trout'}" title="Trout" data-ng-click="play('Trout','GSN-Trout');">Trout</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetable Cuts'}" title="Vegetable Cuts" data-ng-click="play('Vegetable Cuts','GSN-Vegetable Cuts');">Vegetable Cuts</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetable Cuts-Dice Cuts'}" title="Vegetable Cuts-Dice Cuts" data-ng-click="play('Vegetable Cuts-Dice Cuts','GSN-Vegetable Dice Cuts');">Vegetable Cuts-Dice Cuts</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetable Cuts-Julienne'}" title="Vegetable Cuts-Julienne" data-ng-click="play('Vegetable Cuts-Julienne','GSN-Vegetable Cuts_Julienne');">Vegetable Cuts-Julienne</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetable Fluting'}" title="Vegetable Fluting" data-ng-click="play('Vegetable Fluting','GSN-Vegetable Fluting');">Vegetable Fluting</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetable Cuts-Shapes'}" title="Vegetable Cuts-Shapes" data-ng-click="play('Vegetable Cuts-Shapes','GSN-Vegetable Shape Cuts');">Vegetable Cuts-Shapes</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Vegetables for Soup'}" title="Vegetables for Soup" data-ng-click="play('Vegetables for Soup','GSN-Mirepoix and Matignon');">Vegetables for Soup</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Whipping Cream'}" title="Whipping Cream" data-ng-click="play('Whipping Cream','GSN-Whipping Cream');">Whipping Cream</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Whipping Egg Whites'}" title="Whipping Egg Whites" data-ng-click="play('Whipping Egg Whites','GSN-Whipping Egg Whites');">Whipping Egg Whites</a>
            <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == 'Zesting'}" title="Zesting" data-ng-click="play('Zesting','GSN-Zesting');">Zesting</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row" data-gsn-ad-unit="">
        <div data-ng-non-bindable="">
          <div class="gsnadunit pull-right" data-dimensions="180x150" data-targeting='{"tile": "9"}'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  flowplayer("VideoPlayerTarget", "http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf", {
    clip: {
      // these two configuration variables does the trick
      autoPlay: false,
      autoBuffering: true // <- do not place a comma here
    }
  });
</script>
