<div class="tasteImages">
  <h4>meet our tastemakers</h4>
  <ul>
    <li><a data-ng-href="/nahabedian">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerCarrie.jpg')}}" /><span>chef Carrie Nahabedian</span></a></li>
    <li><a data-ng-href="/aglibot">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerRodelio.jpg')}}" /><span>chef Rodelio Aglibot</span></a></li>
    <li><a data-ng-href="/galus">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerMeg.jpg')}}" /><span>chef Meg Galus</span></a></li>
    <li><a data-ng-href="/kim">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerBill.jpg')}}" /><span>chef Bill Kim</span></a></li>
    <li><a data-ng-href="/jordan">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerSarah.jpg')}}" /><span>chef Sarah Jordan</span></a></li>
    <li><a data-ng-href="/pandel">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerChris.jpg')}}" /><span>chef Chris Pandel</span></a></li>
    <li><a data-ng-href="/adolph">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerLorin.jpg')}}" /><span>chef Lorin Adolph</span></a></li>
    <li><a data-ng-href="/ortiz">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerRickAsh.jpg')}}" /><span>chefs Rick & Ashley Ortiz</span></a></li>
    <li><a data-ng-href="/priolo">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerTony.jpg')}}" /><span>chef Tony Priolo</span></a>
    </li>
    <li><a data-ng-href="/kehoe">
      <img alt="past tastemakers" data-ng-src="{{getThemeUrl('/images/tastemakersSidebar/tasteMakerTom.jpg')}}" /><span>chef Tom Kehoe</span></a>
    </li>
  </ul>
</div>
