<div class="row">
    <h3>Button Background Color</h3>
    <div class="col-md-3">
        <label class="">Unclicked</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsUnclicked.value" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsUnclicked.value}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Active</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsActive.value" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsActive.value}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Clicked</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsClicked.value" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsClicked.value}};"></div>
    </div>

</div>