<div class="row">
    <h3>Button Text Color</h3>
    <div class="col-md-3">
        <label>Unclicked</label>
        <input colorpicker type="text" ng-model="buttonTextColorsUnclicked" />
        <div class="color-boxes" style="background-color: {{buttonTextColorsUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label>Active</label>
        <input colorpicker type="text" ng-model="buttonTextColorsActive" />
        <div class="color-boxes" style="background-color: {{buttonTextColorsActive}};"></div>
    </div>

    <div class="col-md-3">
        <label>Clicked</label>
        <input colorpicker type="text" ng-model="buttonTextColorsClicked" />
        <div class="color-boxes" style="background-color: {{buttonTextColorsClicked}};"></div>
    </div>
</div>