<div class="row">
    <h3>Button Background Color</h3>
    <div class="col-md-3">
        <label class="">Unclicked</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsUnclicked" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Active</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsActive" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsActive}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Clicked</label>
        <input class="" colorpicker type="text" ng-model="buttonBackgroundColorsClicked" />
        <div class="color-boxes" style="background-color: {{buttonBackgroundColorsClicked}};"></div>
    </div>

</div>