<h2>Header Background</h2>

<div class="col-md-12">
    <label class="btn btn-default">
        <input checked type="radio" id="" name="options">Color
        <input class="" colorpicker type="text" data-ng-model="backgroundHeaderColor.value" />
        <div class="color-boxes" style="background-color: {{backgroundHeaderColor.value}};"></div>

        <input checked type="radio" id="Radio1" name="options">Background Image
        <input class="form-control" type="text" data-ng-model="backgroundHeaderImageUrl.value" placeholder="http://" />
        <input class="btn btn-primary" type="file" ng-file-select="onFileSelect($files, $index)"/>
    </label>

    <br/>

    <label for="couponsUrl">Logo Url</label>
    <input type="text" class="form-control" id="couponsUrl" data-ng-model="logoUrl.value"/>
    <input class="btn btn-primary" type="file" ng-file-select="onFileSelect($files, $index)"/>
    <br/>

    <label class="">Background Color</label>
    <input class="" colorpicker type="text" data-ng-model="backgroundColor.value" />
    <div class="color-boxes" style="background-color: {{backgroundColor.value}};"></div>

    <div class="form-group">
        <label class="">Font</label>
        <select data-ng-model="selectedFont.value"
                data-ng-options="font.value as font.value for font in fonts"
                data-ui-select2="{ placeholder: '-- Select One --', allowClear: false, dropdownAutoWidth: true }"
                style="width: 250px;">
        </select>
        <p style="font-family: {{selectedFont.value}}">
            Lorem ipsum dolor sit amet, ludus deserunt theophrastus qui no, has ne error vidisse efficiendi.
            Feugiat constituam nec no, has paulo voluptaria reprehendunt no, adhuc dicant adolescens vel eu.
            Illum viris possit an eam, ei deseruisse instructior vix, ut assueverit ullamcorper est.
            Sed erant semper quaestio in, eam id porro euismod, et mel natum augue dissentias.
        </p>
    </div>
</div>