<h2>Header</h2>
<div class="row header-attributes">
    <div class="col-md-6">
        <h3>Background</h3>
        <label class="">
            <input checked type="radio" id="" name="options">Background Color <br/>
            <input class="header-bg-picker" colorpicker type="text" data-ng-model="backgroundHeaderColor.value" />
            <div class="color-boxes header-bg-color" style="background-color: {{backgroundHeaderColor.value}};"></div>
            <input checked type="radio" id="Radio1" name="options">Background Image
            <input class="form-control image-path" type="text" data-ng-model="backgroundHeaderImageUrl.value" placeholder="http://" />
            <input class="btn btn-primary image-browse" type="file" ng-file-select="onFileSelect($files, $index)"/>
        </label>
    </div>
    <div class="col-md-6">
        <h3>Logo</h3>
        <label for="couponsUrl">Logo Url
            <input class="form-control logo-path" id="couponsUrl" data-ng-model="logoUrl.value" type="text"/>
            <input class="btn btn-primary logo-browse" ng-file-select="onFileSelect($files, $index)" type="file"/>
        </label>
    </div>
</div>
<div class="row body-attributes">
    <h3>Body</h3>
    <label class="">Background Color
        <input class="" colorpicker type="text" data-ng-model="backgroundColor.value" />
        <div class="color-boxes" style="background-color: {{backgroundColor.value}};"></div>
    </label>
    <div class="form-group font-selection">
    <label class="">Font
        <select data-ng-model="selectedFont.value"
            data-ng-options="font.value as font.value for font in fonts"
            data-ui-select2="{ placeholder: '-- Select One --', allowClear: false, dropdownAutoWidth: true }">
        </select>
        <h4>Example:</h4>
        <p style="font-family: {{selectedFont.value}}">Lorem ipsum dolor sit amet, ludus deserunt theophrastus qui no, has ne error vidisse efficiendi. Feugiat constituam nec no, has paulo voluptaria reprehendunt no, adhuc dicant adolescens vel eu. Illum viris possit an eam, ei deseruisse instructior vix, ut assueverit ullamcorper est. Sed erant semper quaestio in, eam id porro euismod, et mel natum augue dissentias.
        </p>
    </label>
</div>