<div class="row">
    <h3>Nav-Bar Text Color</h3>
    <div class="col-md-3">
        <label>Unclicked</label>
        <input colorpicker type="text" ng-model="navBarTextColorsUnclicked.value" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsUnclicked.value}};"></div>
    </div>

    <div class="col-md-3">
        <label>Active</label>
        <input colorpicker type="text" ng-model="navBarTextColorsActive.value" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsActive.value}};"></div>
    </div>

    <div class="col-md-3">
        <label>Clicked</label>
        <input colorpicker type="text" ng-model="navBarTextColorsClicked.value" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsClicked.value}};"></div>
    </div>
</div>