<div class="row">
    <h3>Nav-Bar Text Color</h3>
    <div class="col-md-3">
        <label>Unclicked</label>
        <input colorpicker type="text" ng-model="navBarTextColorsUnclicked" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label>Active</label>
        <input colorpicker type="text" ng-model="navBarTextColorsActive" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsActive}};"></div>
    </div>

    <div class="col-md-3">
        <label>Clicked</label>
        <input colorpicker type="text" ng-model="navBarTextColorsClicked" />
        <div class="color-boxes" style="background-color: {{navBarTextColorsClicked}};"></div>
    </div>
</div>