<div class="row">

    <h3>Nav-Bar Background Color</h3>

    <div class="col-md-3">
        <label class="">Unclicked</label>
        <input class="" colorpicker type="text" ng-model="navBarBackgroundColorsUnclicked.value" />
        <div class="color-boxes" style="background-color: {{navBarBackgroundColorsUnclicked.value}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Active</label>
        <input class="" colorpicker type="text" ng-model="navBarBackgroundColorsActive.value" />
        <div class="color-boxes" style="background-color: {{navBarBackgroundColorsActive.value}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Clicked</label>
        <input class="" colorpicker type="text" ng-model="navBarBackgroundColorsClicked.value" />
        <div class="color-boxes" style="background-color: {{navBarBackgroundColorsClicked.value}};"></div>
    </div>

</div>