/*---------- Chain CSS ----------*/
/* {{facePalm}} requirement*/
.underlined, .underlined > a:focus, .underlined > a:hover  
{
    text-decoration: underline;
}



.noPad
{
  padding: 0;
}

.noPadLeft
{
    padding-left: 0;
}

.noPadRight
{
    padding-right: 0;
}

/*---------- Header ----------*/
.headerBar
{
    background-color: #cfd005;
}

.navbarAccount
{
    margin-bottom: 0;
}

.btnShoppingList
{
    margin-top: -30px;
}

.logo
{
    padding: 6px;
}

.navbar-defaultBronze .navbar-toggleBronze .icon-barBronze
{
    background-color: #000000;
}

.navbar-defaultBronze .navbar-toggleBronze
{
    border-color: #000000;
}

.navbar-toggleBronze
{
    margin-left: 10px;
}

.navStoreLocator > li > a
{
    display: inline-block;
}

.navbar-defaultAccount .navbar-navAccount > li > a
{
    color: #ff8927;
}

.status
{
    margin-top: 8px;
}

.status p
{
    margin: 6px 14px 0;
}

/*---------- Main Navigation ----------*/
.navbarBronze
{
    margin-bottom: 15px;
}

.navbar-navSL.navbar-rightSL:last-child
{
    margin: -42px 10px 0 0;
}

.navbar-defaultBronze
{
    background-color: #ff8927;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a
{
    color: #000000;
}

.mainMenu li a
{
    text-transform: uppercase;
}

.mainMenu li
{
    margin-left: 44px;
}

/*---------- Main Content ----------*/
.featuredContent img
{
    width: 100%;
}

.promoBox
{
    margin-bottom: 15px;
}

/*---------- Footer ----------*/
.footerBar
{
    background-color: #cfd005;
    border-radius: 4px;
    margin-top: 10px;
}

.yourStore
{
    margin-left: 60px;
}

.about ul
{
    margin-left: 50px;
}

.social li
{
    float: left;
    padding: 6px;
}

.about ul, .social ul
{
    padding: 0;
    margin-bottom: 0;
}

.social i
{
    padding: 0;
    margin: 0 5px;
}

.copyPrivacy
{
    text-align: center;
}

/*---------- Store Locator ----------*/

.storeLocations
{
    background-color: #ede7d7;
    margin: 30px 0 0;
    padding: 0;
}

.storeLocationsInfo
{
    padding: 36px 0 0;
}

.storeLocationInfo ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.singleStoreInfo
{
    /*color: #7d6d6a;*/
    margin-bottom: 20px;
}

.singleStoreInfo a
{
    color: #718246;
    padding: 0;
    text-transform: lowercase;
}

.singleStoreInfo .btn, .singleStoreInfo span
{
    text-transform: lowercase;
}

address
{
    margin-bottom: 0;
}

.gMap
{
    height: 280px;
    width: 95%;
}

.infoMarker
{
    height: 110px;
    width: 150px;
}

.storeSearch button
{
    height: 25px;
    background-color: #d5704b;
    color: #ffffff
}

.storeSearch
{
    margin: 66px 0 0;
}

.storeSearch input
{
    margin-bottom: 15px;
}

/*---------- Circular Pagination ----------*/
.pagination > li > a, .pagination > li > span
{
    background-color: lightgray;
}

.pagination > .active > a, .pagination > .active > span, 
.pagination > .active > a:hover,
 .pagination > .active > span:hover, .pagination > .active > a:focus,
 .pagination > .active > span:focus
{
    background-color: #ffffff;
    border-color: #5e7903;
    color: #5e7803;
}

.pagination > li > a:hover, .pagination > li > span:hover, 
.pagination > li > a:focus, .pagination > li > span:focus
{
    color: #000000;
}

.dcircular-pager-bottom, .dcircular-pager-top {
    text-align: left;
}

.dcircular-pager-bottom {
    border-top: 1px solid #704f45;
    display: none; /*not sure if they want pagination on the bottom*/
}

.dcircular-pager-bottom > .pagination {
    margin: 0px;
}

.dcircular-pager-top {              
    border-bottom: 1px solid #704f45;
}

.dcircular-pager-top > .pagination {
    margin-top: 4px;
    margin-bottom: -5px;      
}

.dcircular-content, .dcircular-list-content {
    text-align: center;
}

.dcircular-content img
{
    width: 100%;
}

.ui-tooltip, .qtip{
    position: absolute;
    left: -10000em;
    top: -10000em;
 
    max-width: 580px; /* Change this? */
    min-width: 280px; /* ...and this! */
}

/*---------- Circular Styles ----------*/
.dcircular-list-single
{
    border: 1px solid black;    
    margin: 10px;
    min-height: 280px;
    width: 45%;

}

.thumbnail.dcircular-thumbnail
{
    border: none;
}

.circAd
{
    margin-top: 10px;
}

.circPrint
{
    margin-top: 10px;
    margin-left: 10px;
}

.btnPrintCirc
{
    margin-top: 26px;
}

/*---------- Shopping List ----------*/
.glyphicon
{
    top: 0px;
}

.fa-folder-open:before, .fa-list:before
{
    margin-left: 10px;
}

.shoppingList 
{
  border: 6px solid #646363;
  min-height: 250px;
  position: relative;
}

.shoppingListHeader 
{
  background-color: #646363;
}

.shoppingListHeader h4 
{
    color: #ffffff;
    text-align: center;
    margin: 0 0 5px;
    font-size: 22px;
}

.ownItem 
{
  width: 100%;
  padding: 6px 0px;
  background-color: #646363;
}

.fullList a
{
    margin-left: 55px;
}

.listCount p 
{
  color: #7d6d6a;
  margin-left: 38px;
  width: 100%;
}

.shoppingListButtons ul 
{
  list-style-type: none;
  margin: 6px 14px;
  padding: 0;
}

.shoppingListButtons li 
{
  cursor: pointer;
  float: left;
  margin: 0 3px 0;
}

.shoppingList .input-group .form-control 
{
  border-radius: 0;
  border: none;
  color: #7D6D6A;
  height: 25px;
}

.shoppingList .input-group .input-group-addon 
{
  background-color: #d3d3d3;
  color: #fff;
  border: none;
  border-left: 6px solid #7D6D6A;
  border-radius: 0;
  padding: 5px 12px;
  font-size: 9px;
  height: 25px;
}

.dropdown-menuList 
{
  background-color: #d3d3d3;
  margin-left: 4px;
  min-width: 259px;
  padding: 0;
}

  .dropdown-menuList.active 
  {
    display: block;
  }

.sLDescription, .sLRemove 
{
  padding-left: 0;
}

/*---------- Coupons ----------*/

.pageContent
{
    margin-top: 10px;
    padding: 0;
}

.pageContent h2
{
    text-align: center;
}

.pageContent h4
{
    text-align: center;
}

.savingsInfo, .adPodInfo
{
    border: 1px dashed #000000;
    padding: 0;
    border-radius: 5px;
}

.savingsInfo img
{
   max-height: 87px;
   margin: 5px -2px;
   max-width: 87px;
   font-size: 10px;
}

.coupon
{
    height: 100px;
    overflow-y: scroll;
}

.savingsInfo p
{
    font-size: 11px;
}

.couponFilter
{
    margin: 0 4px 4px;
}
/*---------- Nutrition ----------*/
.nutr-table 
{
    border: 1px solid black;
    max-width: 310px;
}

.nutr-table th, .nutr-table td 
{
    font-size: 8pt;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    border-top: 1px solid black;
    padding: 2px;
}

td.nutr-header 
{
    font-size: 14pt;
    border-bottom: 6px solid black;
}

td.nutr-border 
{        
    border-top: 4px solid black;
}

.nutr-sub-item 
{
    padding-left: 20px;  
    font-weight: normal;
}

.nutr-normal 
{
    font-size: 8pt;
    font-weight: normal;
}

.nutr-value 
{
    font-weight: bold;
    float: right;
    position: relative;
}

.ingredient 
{
    width: 100%;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

/*----- Recipe of the Day -----*/
.rOTD h3
{
    margin: 0 0 10px;
}

.rOTD h4
{
    margin: 0 66px 10px;
}

.instructions h4
{
    margin: 0;
}

.recipeImage
{
    margin: 0 100px 10px;
}

.ingredientOptions
{
    margin: 5px 32px;
}

.recipeOptions
{
    margin: 0 57px;
}

.recipeRating
{
    margin: 5px 57px;
}

.ingredients li input
{
    margin: 0 5px;
}

.preparation
{
    padding: 0;
}

.preparation li
{
    list-style-type: disc;
}

.fb_iframe_widget iframe
{
    height: auto !important;
    width: auto !important;
}

/*----- HTML5 Placeholder Attribute Styling -----*/

::-webkit-input-placeholder {
    /*color: #7D6D6A;*/
}

:-moz-placeholder {
    /*color: #7D6D6A;*/
}

::-moz-placeholder {
    /*color: #7D6D6A;*/
}

:-ms-input-placeholder {
    /*color: #7D6D6A;*/
}
 
/*---------- Email Shopping List ----------*/
.emailContent
{
    background-color: #d3d3d3;
}

.emailContent h3
{
    text-align: center;
}

.emailContent h4
{
    text-align: left;
}

.emailLabel, .emailInput
{
    padding: 0;
}

/*---------- Print Shopping List ----------*/
.printHeader
{
    border-bottom: 3px solid #704F45;
    margin-bottom: 10px;
}

.printListInfo
{
    text-align: center;
}

/*------ Manage Shopping List ------*/
.itemInfo h4
{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.shopping-list-manage .quantity {
    text-align: center;
    border: none;
    box-shadow: 0px 0px 6px #666;
}

.shopping-list-manage .add-field {
    border: none;
    box-shadow: 0px 0px 4px #999;
    line-height: 23px;
}

.options
{
   padding: 0;
}

.options button
{
    margin-left: 5px;
}

.manageList ul
{
    margin-top: 28px;
}

.manageList li
{
    list-style-type: none;
}

.manageList a
{
    /*color: #7d6d6a;*/
}

/*---------- Saved Lists (previous) ----------*/
.saveListsContent
{
    height: 800px;
    overflow: scroll;
}

.savedItem
{
    padding: 0;
}

.filterMenu
{
    left: -90px;
}

.filterMenu li a {
    text-align: left;
}

.savedLists
{
    padding: 0
}

.savedLists a
{
    color: #718246;
    padding: 0 3px;
}

/*---------- Register ----------*/
.emailInvalid, .cardInfo li, .userName p , .password p, .confirm p
{
    color: red;
}

.required
{
    color: red;
}

.validCheck
{
    float: right;
    margin-top: -24px;
}

.userNameRecover, .passwordRecover, .captcha
{
    margin-top: 10px;
}

/*---------- Static Content ----------*/
.staticContentContainer
{
    margin-bottom: 15px;
}

.staticHeader img
{
    width: 100%;
}

.staticContent, .staticHeader
{
    background-color: #d3d3d3;
    padding: 15px;
}

.staticContent h2, .staticContent h3
{
    margin-top: 0;
}

.staticIntro
{
    border-bottom: 3px solid darkgray;
    padding: 10px 12px;
}

.staticIntro img
{
    margin-right: 10px;
}

.staticBlock
{
    margin-bottom: 30px;
}

.staticBlock img
{
    float: left;
    margin-right: 16px;
}

.staticContent p a, .staticContent p span a, .staticContent p span a:hover, .staticContent a
{
    color: #718246;
}

.staticTabs .nav
{
    margin-bottom: 10px;
}

.staticTabs ul
{
    width: 676px;
}

.staticTabs .nav > li
{
    border-bottom: none;
}

.staticTabs .nav > li > a
{
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 0;
    margin: 0 5px;
}

/*---------- Slide Show ----------*/
.slide-container 
{
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide.ng-enter, .slide.ng-leave 
{
  -webkit-transition: left 0.6s ease-in-out 0s;
  -moz-transition: left 0.6s ease-in-out 0s;
  -o-transition: left 0.6s ease-in-out 0s;
  transition: left 0.6s ease-in-out 0s;
  position: relative;
  top: 0;
  width: 100%;
}

.slide img
{
    max-height: 410px;
}

.slide.ng-enter 
{
    left: 100%;
}


.slide.ng-enter.ng-enter-active 
{   
  left: 0;
}

.slide.ng-leave 
{
  left: 0;
  position: absolute;
}

.slide.ng-leave.ng-leave-active 
{
  left: -100%;
}

.carousel-indicatorsBronze
{
    bottom: -10px;
}

.carousel-indicators li 
{
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active 
{
  background-color: #444;
}

.carousel-buttons 
{
  bottom: 0px;  
  position: absolute;
  right: 0px;
  z-index: 15;
}

/*---------- Global CSS ----------*/
* {
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: html;
    -khtml-user-select: html;
    -moz-user-select: html;
    -ms-user-select: html;
    user-select: html;
}

.ng-cloak {
    display: none;
}

html, body, .layout-container
{
    background-color: #f3ede1;
    height: 100%; /* needed for container min-height */
    margin: 0;
    padding: 0 !important;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;  
    -webkit-font-smoothing: antialiased;
}

p
{
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    color: black;
    text-transform: none;
}

a
{
    color: #428BCA;
}

a:hover
{
    text-decoration: none;
}

a:focus
{
    outline: none;
}

ul
{
    list-style-type: none;
}

legend
{
    border: none;
    font-size: 1px;
    margin: 0;
    text-indent: -9999px;
}

.container 
{
    margin: 0 auto;
}

.hidden-meta {
    position: absolute;
    z-index: 999;
    left: -9999px;
    width: 0;
    height: 0;
}

.btnBronze, .btnBronze:hover
{
    background-color: #d3d3d3;
}

.promoBox img
{
    width: 100%;
}

@media (max-width: 480px){
    /*------ Header ------*/
    .logo
    {
        margin-left: 10px;
        padding: 9px 0 0 2px;
        width: 22%;
    }

    .btnShoppingList
    {
        margin-top: -36px;
    }

    .dropdown-menuShoppingList
    {
        margin-left: -156px;
    }

    /*------ Home ------*/
    
    /*------ Footer ------*/
    .yourStore, .about ul, .social
    {
        margin: 0;
        text-align: center;
    }

    .social ul
    {
        margin-left: 84px;
    }

    .topPod
    {
        display: none;
    }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    .navbar-navBronze > li > a 
    {
        padding-left: 6px;
    }
}

#recaptcha_switch_audio 
{
   display: none;
}


