/*------ Container Layouts ------*/

.mainContent 
{
    width: 650px;
}

.sidebarContent 
{
    width: 300px;
}

.l-container
{
    margin: 0 auto;
    position: relative;
    width: 1016px;
}

/*------ Column Layouts ------*/

.l-column
{
    float: left;
    margin-left: 3%;
}

.l-column:first-child
{
    margin-left: 0;
}

.l-column2
{
    width: 48.5%;
}

.l-column3
{
    width: 31.3%;
}

.l-column3-span2
{
    width: 65.6%;
}

.l-column4
{
    width: 22.7%;
}

.l-column4-span2
{
    width: 48.5%;
}

.l-column4-span3
{
    width: 74.2%;
}

.l-column5
{
    width: 17.6%;
}

.l-column5-span4
{
    width: 79.4%;
}

/*------ Drop-down Layouts ------*/

.l-dropDown 
{
    position: absolute;
}

.l-dropDown ul 
{
    display: none;
}

.l-dropDown:hover ul 
{
    display: block;
    left: auto;
}

/*------ Fill Parent Layouts ------*/

.l-fillParent
{
    float: left;
    width: 100%;
}

.l-fillParent-centered 
{
     float: left;
     text-align: center;
     width: 100%; 
}

.l-fillParent-padded
{
    padding: 2%;
    width: 96%;
}

.l-fillParent-padded-extra
{
    padding: 4%;
    width: 92%;
}

.l-fillParent-paddedSides
{
    padding: 0 2%;
    width: 96%;
}

.l-fillParent-paddedSides-extra
{
    padding: 0 4%;
    width: 92%;
}

.l-fillParent-paddedTop
{
    padding: 2% 2% 0;
    width: 96%;
}

.l-fillParent-paddedTopBottom
{
    padding: 2% 0;
    width: 100%;
}

.l-fillParent-paddedTop-extra
{
    padding: 4% 4% 0;
    width: 92%;
}

/*------ Flow Layouts ------*/

.l-flow
{
    float: left;
}

.l-flowReverse
{
    float: right;
}

.l-flow-stacked
{
    clear: left;
}

.l-flowReverse-stacked
{
    clear: right;
}

/*------ Form Layouts ------*/

.l-form input, .l-form label, .l-form textarea, .l-form .field-validation-error, .l-form p
{
    clear: left;
    float: left;
    margin: 0 0 0.5em;
    width: 75%;
}

.l-form input[type="checkbox"]
{
    margin: .5em;
    width: auto;
}

.l-form input[type="checkbox"] + label, .l-form input[type="checkbox"] + input[type="hidden"] + label
{
    clear:none;
}

.l-form input[type="checkbox"] + label, .l-form input[type="checkbox"] + input[type="hidden"] + label:after
{
    content: none;
}

.l-form label
{
    margin: .25em 0;
    width: auto;
}

.l-form label:after
{
    content: ':';
}

.l-form legend span 
{
    margin: .25em 0;
    display:inline-block;
}

.l-form select 
{
    clear:left;
    float:left;
    margin:0 0 0.5em; 
}

.l-form textarea
{
    resize: vertical;
}

.l-form .field-validation-error
{
    color: red;
    font-size: .75em;
    width: auto;
}

/*------ Hidden Content ------*/

.l-hidden
{
    display: none;
}

.l-hiddenText
{
    position: absolute;
    text-indent: -99999px;
}

/*------ Inline List Layouts ------*/

.l-inline
{
    margin:0;
    padding: 0;
}

.l-inline li
{
    display: inline-block;
    vertical-align: top;
}

.l-inline li a
{
    display: block;
    text-decoration: none;
}

.l-inline-icons
{
    margin: .5em 0;
}

.l-inline-icons li
{
    margin: 0 .25em;
}

.l-inline-links
{
    font-size: 0.9em;
    margin: .5em 0;
    text-align: center;
}

.l-inline-links li
{
    padding: 0 .5em;
}

.l-inline-links li:first-child
{
    border-left: none;
}

.l-inline-nav
{
    text-align: center;
}

.l-inline-nav li a
{
    padding: .5em;
    text-decoration: none;
}

/*------ Stacked List Layouts ------*/

.l-stacked
{
    margin: 0;
    padding: 0;
    text-align: left;
}

.l-stacked li
{
    clear: left;
    display: block !important;
    float: left;
    width: 100%;
}

.l-stacked li ul
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.l-stacked-centered li 
{
    text-align: center;
}

.l-stacked-centered li h5
{
    display: inline-block;
    margin: 0;
    padding: .25em 1em;
}

.l-stacked-centered li h5 span
{
    display: inline-block;
    margin: .25em 0;
}

.l-stacked-lineItems li
{
    margin: 0.5em 0;
}

.l-stacked-lineItems li img
{
    display: block;
    margin: 0 auto;
    max-height: 75px;
    max-width: 75px;
}

.l-stacked-lineItems p
{
    margin-top: 0;
}

.l-stacked-links
{
    font-size: 0.9em;
}

.l-stacked-links li
{
    margin: 0 0 .25em;
}

.l-stacked-list 
{
    font-size: 0.9em;
}

.l-stacked-list li
{
    margin: 0 0 .25em;
}

.l-stacked-nav li 
{
    list-style: none outside none;
}

.l-stacked-nav li a, .ui-accordion li a
{
    float: left;
    padding: .25em 2.5% !important;
    text-decoration: none;
    width: 95%;
}

.l-stacked-nav li a span
{
    text-decoration: none;
}

.l-stacked-nav li ul li a, .ui-accordion li ul li a
{
    padding: .25em 5% .25em 7.5% !important;
    width: 87.5%;
}

.l-stacked-nav li ul li ul li a, .ui-accordion li ul li ul li a
{
    padding: .25em 5% .25em 15% !important;
    width: 80%;
}

/*------ Table Layouts ------*/

.l-table > li
{
    display: table-row;
}

.l-table > li > div, .l-table > li > span
{
    display: table-cell;
}

/*------ Manage List Email ------*/

.e-list 
{  
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.25em 0 0;
}

/*------ Input Spinner ------*/

.ui-spinner .ui-spinner-input
{
    text-align: center;
}
.ui-spinner .ui-spinner-button
{
    z-index: 0;
}

/*------ Alert Style ------*/

.s-alert 
{
    background-color: #ffd800;
    border: 1px solid #cccccc;
}

/*------ Loading Spinner Overlay ------*/

.s-overlay 
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */

    background-color: #FFFFFF;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
}

.s-overlay-container 
{
    position: relative !important;
    overflow: hidden !important;
}

/*------ Store Locator ------*/

#StoreLocatorMap
{
    height: 400px;
}

#StoreLocatorMap .openMap 
{
    display: none;
}

#StoreLocatorStores > li
{
    margin: 0 .9%;
}

/*.AdMaster*/
.gsnunit 
{
    margin-top : 10px;
    margin-bottom:10px;
}

/*.adpod1*/
#gsn-auto-gen-id-1 
{
    text-align: center;
}

#Content 
{
    margin-right: 5px;
}

#sticker 
{
    position: fixed;
    top: 8px;
    left: 54%;
    margin-left: 466px;
}

/*************** Main Menu Drop Down Styles ***************/    

.nav
{
    list-style:none;
    float:left;
    width:100%;
    position:relative;
    z-index:50;
    
}

.nav li
{
    float:left;
    margin-right:10px;
    position:relative;
}

.nav a
{
    display:block;
    padding:5px;
    text-decoration:none;
}

.nav a:hover
{
    text-decoration:none;
   
}

.nav ul
{
    background-color:#00884B;
    list-style:none;
    position:absolute;
    left:-9999px; 
    font:14px Open Sans,Arial,Helvetica,sans-serif; 
}

.nav ul li
{
    padding-top:1px; 
    float:none;
    
}

.nav ul a
{
    white-space:nowrap; 
}

.nav li:hover ul
{
    left:0; 
}

.nav li:hover a
{ 
    text-decoration:none;
}

.nav li:hover ul a
{
    text-decoration:none;
    width:100%;
}

.nav li:hover ul li a:hover
{ 
}

.nav ul
{
    list-style:none;
    position:absolute;
    left:-9999px; 
}

.nav ul li
{
    padding-top:1px; 
    float:none;
}

.nav ul a
{
    white-space:nowrap;
}

.nav li:hover ul
{ 
    left:0; 
}

.nav li:hover a
{ 
    background-color:#00884B;
    text-decoration:none;
}