<div class="row footerBar">
	<div class="container container-footer">
		<div class="col-md-4 locatorFooter noPadWidth">
			<button class="btn btn-default btnSilver btnLocations" data-gsn-store-info="[store.StoreName] (View All Stores)" data-ng-click="goUrl('/storelocator')">Locate Your Store</button>
			<div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
		</div>
		<div class="col-md-4 noPadWidth">
			<h3>Your neighborhood food store</h3>
		</div>
		<div class="col-md-4 companyInfo noPadWidth">
			<ul>
				<li data-ng-class="{'underlined': currentPath == '/employment'}"><a data-ng-href="/employment">Careers</a></li>
				<li data-ng-class="{'underlined': currentPath == '/resources'}"><a data-ng-href="/resources">Resources</a></li>
				<li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
			</ul>
			<br/>
			<ul class="mobile">
				<li><a href="#" data-ng-href="/mobile"><i class="fa fa-apple fa-2x"></i></a></li>
				<li><a href="#" data-ng-href="/mobile"><i class="fa fa-android fa-2x"></i></a></li>
			</ul>
		</div>
	</div>
</div>