<div class="row circOptions">
    <div class="pull-left">
        <a class="btn btn-default btn-defaultSilver" data-ng-href="/circular" title="flyer view" data-ng-class="{ 'active': currentPath == '/circular' }">
		    <i class="fa fa-picture-o"></i>
		    <br />ads
	    </a>
        <a class="btn btn-default btn-defaultSilver" data-ng-href="/circular/list" title="list view" data-ng-class="{ 'active': currentPath == '/circular/list' }">
            <i class="fa fa-list"></i>
            <br />list
        </a>
        <a class="btn btn-default btn-defaultSilver" data-ng-href="/circular/Text" title="text only view" data-ng-class="{ 'active': currentPath == '/circular/text' }">
            <i class="fa fa-font"></i>
            <br />text
        </a>
    </div>
    <div class="sponsor" data-gsn-ad-unit="9"></div>
</div>
<div class="row gsn-circular-container" data-gsn-digital-circ="vm.digitalCirc">
    <div data-ng-non-bindable=""></div>
</div>

