<div class="searchTools" data-ng-init="sortByName = 'Department';">
    <span class="searchBy">
        <span>Search By:</span>
        <div class="searchField btn-group">
            <input class="searchfield btn btn-default" type="text" placeholder="Enter keyword" data-ng-model="vm.filterBy" name="filterby" />
        </div>
    </span>
    <span class="sortBy">
        <span>Sort By:</span>
        <div class="btn-group btn-groupSortBy dropdown" dropdown>
            <button type="button" class="btn btn-default btnSilver data-toggle="dropdown" " data-toggle="dropdown" >{{sortByName}} <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="javascript:void(0)" data-ng-click="toggleSort('CategoryName');sortByName='Department'">Department</a></li>
                <li><a href="javascript:void(0)" data-ng-click="toggleSort('BrandName');sortByName='Brand'">Brand</a></li>
            </ul>
        </div>
    </span>
</div>