<div class="shoppingListPlugIn" data-gsn-shopping-list="">
    <div class="shoppingListHeader">
        <h4>My Shopping List</h4>
        <div class="input-group input-groupSilver input-group-sm">
            <input type="text" class="form-control" data-ng-model="addString" placeholder="Add your own item" ui-keypress="{13:'doAddOwnItem()'}" />
            <span class="input-group-addon input-group-addonSilver glyphicon glyphicon-plus" data-ng-click="doAddOwnItem()"></span>
        </div>
        <button class="hidden" data-gsn-modal="getThemeUrl('/views/engine/modal-shopping-list-saved.html')" data-show-if="shoppinglistsaved" data-ng-click="showModal()"></button>
    </div>
    <div class="listOptions" data-ng-show="mylist.hasLoaded()">
        <ul>
            <li data-ng-click="goUrl('/mylist/print', '_blank')"><i title="print" class="fa fa-print fa-2x"></i><span>print</span></li>
            <li data-ng-click="goUrl('/mylist/email')"><i title="email" class="fa fa-envelope fa-2x"></i><span>email</span></li>
            <li class="previous" data-ng-click="goUrl('/savedlists')"><i title="previous lists" class="fa fa-folder-open fa-2x"></i><span>previous</span></li>
            <li data-gsn-modal="getThemeUrl('/views/engine/modal-shopping-list-title.html')" data-ng-click="doIfLoggedIn(showModal)"><i title="save list" class="fa fa-file fa-2x"></i><span>save</span></li>
            <li data-ng-click="goUrl('/mylist')"><i title="manage list" class="fa fa-list fa-2x"></i><span>manage</span></li>
        </ul>
    </div>
    <div data-gsn-spinner="{radius:20, width:4, length: 8}" data-show-if="!mylist.hasLoaded()"></div>
    <div class="listCount">
        <p>You have {{totalQuantity}} items on your list</p>
    </div>
    <div class="sLItems">
        <div data-ng-repeat="item in topitems | pagingFilter:5:0">
            <ul>
                <li class="sLProduct"><img data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" /><span class="price">{{item.PriceString}}</span></li>
                <li class="sLDescription"><span data-ng-bind-html="item.Description | trustedHtml"></span>    
                    <p data-ng-show="item.ItemTypeId == 13">Redeemable one time only.</p>
                    <br />
                    <span data-ng-show="item.IsCoupon">expires: {{item.EndDate | date: 'M / dd / yyyy'}}</span>
                </li>
                <li class="sLRemove"><a href="javascript:void(0)" data-ng-click="doItemRemove(item)"><i class="pull-right glyphicon glyphicon-remove"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="fullList">
        <a data-ng-href="/mylist">View Full Shopping List</a>
    </div>
</div>
