<div class="coupons-panel">
  <div class="row panel-conent">
    <div class="col-md-5 col-xs-5">
      <span class="visible-xs visible-sm">Savings: ${{getClippedSavedAmount()}}</span>
      <div class="col-md-12 hidden-xs hidden-sm">
        <div class="col-md-4">
          Savings:
        </div>
        <div class="col-md-8 savings-indicator">
          <div class="savings-indicator-current" ng-style="getPercentOfClipped()"></div>
          <div class="clipped-amount">${{getClippedSavedAmount()}}</div>
        </div>
      </div>
      <div class="row coupons-panel-printable-description">
        {{clippedCount > 0 && clippedCount || "No" }} printable {{clippedCount == 1 && "coupon" || "coupons" }} clipped
      </div>
    </div>
    <div class="col-md-6 col-xs-5">
      <div class="pull-right visible-xs visible-sm panel-digital-cart" style="text-align: center; cursor: pointer; padding-left: 15px;" data-ng-click="addClippedToList()">
        <i class="fa fa-shopping-cart panel-digital-cart-icon"></i>
        <br />
        <span class="panel-digital-cart-text">+all to List</span>
      </div>
      <div class="pull-right visible-xs visible-sm panel-digital-cart" style="text-align: center; cursor: pointer;" data-ng-click="printClippedCoupons()">
        <i class="fa fa-print panel-digital-cart-icon"></i>
        <br />
        <span class="panel-digital-cart-text">Print</span>
      </div>
      <div class="col-md-7 hidden-xs hidden-sm">
        <div class="col-md-12 btn panel-button" data-ng-click="addClippedToList()"><i class="fa fa-shopping-cart"></i><span>Add All Clipped to List</span></div>
      </div>
      <div class="col-md-5 hidden-xs hidden-sm" style="right: 0">
        <div class="col-md-12 btn panel-button" data-ng-click="printClippedCoupons()"><i class="fa fa-print"></i><span>Print Coupons</span></div>
      </div>
    </div>
    <div class="col-md-1 col-xs-1 panel-scroll-top-container" data-ng-scroll-top="scrollTop" data-offset="50">
      <a class="panel-scroll-top">
        <i class="fa fa-arrow-up"></i>
        <br />
        Top
      </a>
    </div>
  </div>
</div>
