<div class="savingsInfo" ng-class="{greyed:isOnClippedList(item)}">
  <div class="row" data-bindonce="">
    <div class="imageContainer">
      <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" alt="{{item.Description1}}" />
    </div>
    <div class="digital" gsn-coupon-popover="" popover-html="<h5>SAVE ${{item.TopTagLine}}</h5><strong>{{item.BrandName}}</strong><p>{{item.Description2}}</p>">

      <h5>SAVE ${{item.TopTagLine}}</h5>
      <strong data-ng-bind-html="item.BrandName"></strong>
      <!--<i data-ng-bind-html="item.CategoryName"></i>-->
      <p data-ng-bind-html="item.Description2"></p>
    </div>
  </div>

  <div class="row buttons">    
      <div class="col-sm-6"  data-ng-hide="isLoggedIn">
      <button class="btn btn-default btn-xs btn-block" data-gsn-modal="getThemeUrl('/views/modal-login.html')" data-ng-click="preClipCoupon(item); showModal()"><i class="fa fa-scissors"></i>Clip Coupon</button>
        </div>
      <div class="col-sm-6" data-ng-show="isLoggedIn">
        <button class="btn btn-default btn-xs btn-block " data-ng-click="addCouponToCard($event, item)" data-ng-show="!isOnClippedList(item)" data-ng-disabled="!youtech.isAvailable(item.ProductCode) || !youtech.hasValidCard()"><i class="fa fa-scissors"></i>Clip Coupon</button>
        <button class="btn btn-default btn-xs btn-block greyed" data-ng-show="isOnClippedList(item)" disabled><i class="fa fa-scissors"></i>{{ youtech.hasRedeemed(item.ProductCode) ? "Redeemed" : "Clipped" }}</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-default btn-xs btn-block" data-ng-click="doToggleCartItem($event, item)" data-ng-show="!isOnList(item)"><i class="fa fa-shopping-cart"></i>Add To List</button>
        <button class="btn btn-default btn-xs btn-block greyed" data-ng-click="doToggleCartItem($event, item)" data-ng-show="isOnList(item)" ng-mouseover="listHov=true" ng-mouseleave="listHov=false"><i class="fa fa-shopping-cart"></i>{{ listHov && "Remove from List" || "On List"}}</button>
      </div>
  </div>
  <div class="row expirationDate" data-bindonce="">
    <p>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</p>
  </div>
</div>
