<div class="modal-header">
  <h3 class="modal-title">Install the Coupon Printer</h3>
</div>
<div class="modal-body">
  <br />
    <b>Print coupons in 3 easy steps</b> <br />
    <b>Step 1</b>: Click Continue to download the coupon printer. <br />
    <b>Step 2</b>: Follow your computer prompts to complete installation of the coupon printer on your computer. <br />
    <b>Step 3</b>: Print your coupons instantly. <br />
  <br />  
</div>
<div class="modal-footer">
  <button class="btn btnMarianos" ng-click="install()">Continue</button>
  <button class="btn btnMarianos" ng-click="cancel()">Cancel</button>
</div>
