<div>
  <ul class="nav nav-tabs nav-stacked">
    <li class="dropdown" dropdown>
      <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)">Ads &amp; Coupons<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/circular">Ads</a></li>
        <li><a data-ng-href="/coupons">Coupons</a></li>
        <li><a data-ng-href="/mylist">My Shopping List</a></li>
        <li><a data-ng-href="/aisle50">Aisle50</a></li>
        <li><a data-ng-href="/myspecials">Personalized Specials</a></li>
        <li><a data-ng-href="/product">Product Search</a></li>
        <li><a data-ng-href="/freshperks">Fresh Perk Rewards</a></li>
        <li><a data-ng-href="/myaccount">Sign Up for Email</a></li>
        <li><a data-ng-href="/specials">Unadvertised Specials</a></li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)">What's Cooking<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/recipecenter">Recipes</a></li>
        <li class="visible-md visible-lg"><a data-ng-href="/recipevideo">Cooking Videos</a></li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)">Wellness<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/healthkey">Health Key&trade;</a></li>
        <li><a data-ng-href="/pharmacy">Pharmacy</a></li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)">Store Highlights<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/bakery">Bakery</a></li>
        <li><a data-ng-href="/liquor">Beer, Wine &amp; Spirits</a></li>
        <li><a data-ng-href="/deli">Deli &amp; Cheese</a></li>
        <li><a data-ng-href="/floral">Floral</a></li>
        <li><a data-ng-href="/grocery">Grocery Aisles</a></li>
        <li><a data-ng-href="/health">Health &amp; Beauty Care</a></li>
        <li><a data-ng-href="/meatseafood">Meat &amp; Seafood</a></li>
        <li><a data-ng-href="/pharmacy">Pharmacy</a></li>
        <li><a data-ng-href="/produce">Produce</a></li>
        <li><a data-ng-href="/ownbrand">Roundy's Own Brands</a></li>
      </ul>
    </li>
    <li class="dropdown" dropdown>
      <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)">Specialty Brands<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/toddsbbq">Todds BBQ</a></li>
      </ul>
    </li>
    <li><a data-ng-href="/thefeed">The Feed</a></li>
    <li><a data-ng-href="/mypantry">My Shopping History</a></li>
    <li><a data-ng-href="/myaccount">Sign Up for Email</a></li>
  </ul>
</div>
