<div role="form" class="modal-content">
  <div class="modal-header">
    <h4>Tom's Party Playlist</h4>
  </div>
  <div class="modal-body">
    <ul style="list-style-type: none;">
      <li>1. Sunday Drive - Stephane Pompougnac</li>
      <li>2. Alright- Unforscene</li>
      <li>3. One on One - Charles Schillings, Juanita Grande</li>
      <li>4. Mai - Alif Tree</li>
      <li>5. Kisskiss- Parov Stelar</li>
      <li>6. Machine pour les oreilles - Rinocerose</li>
      <li>7. Doo Uap, Doo Uap, Doo Uap - Gabin</li>
      <li>8. So Weit Wie Noch Nie - Jurgen Paape</li>
      <li>9. Take a Ride - Rodney Hunter</li>
      <li>10. The Fear - Marcapasos</li>
    </ul>
  </div>
  <div class="modal-footer signInBox">
    <button type="button" class="btn btn-default btnMarianos" data-ng-click="closeModal()">Close</button>
  </div>
</div>
