<div class="row" data-ctrl-my-pantry="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10">
    <div class="row topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
    <div class="col-md-10 mySpecials">
      <h3>My Shopping History</h3>
      <div class="btn-group dropdown" dropdown data-gsn-watch="{ items: 'vm.productsByCategory' }" data-model="{ title: 'Select A Department' }" data-ng-include="getThemeUrl('/views/control/filter.html')"></div>
      <div class="row" data-ng-include="getThemeUrl('/views/product-group.html')"></div>

    </div>
    <div class="col-md-2 ">
      <div class="row" data-gsn-ad-unit="10"></div>
    </div>
  </div>
</div>
