<div class="hidden" data-gsn-title="{{ChainName}} Recipe Center"></div>
<div data-ctrl-recipe-center="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10">
    <div class="row topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>

    <div class="col-md-10 recipeCenter">
      <h2>Recipe Box</h2>
      <div class="row">
        <div class="col-md-6 rOTD">
          <a data-ng-href="/recipe?id={{vm.featuredRecipe.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{vm.featuredRecipe.RecipeTitle}}" data-analytics-category="Recipe">
            <h3>Recipe of the Day</h3>
            <p>New recipe every day!</p>
            <img data-ng-src="{{vm.featuredRecipe.Images[0].RecipeImageUrl}}">
            <div class="rOTDTitle">{{vm.featuredRecipe.RecipeTitle}}</div>
          </a>
        </div>
        <div class="col-md-6">
          <a data-ng-href="/mealplannerfull">
            <h3>Meal Planner</h3>
          </a>
          <div class="mealPlanner" data-ng-repeat="group in vm.mealPlannerTeasers">
            <h3>{{group.DisplayDate}}</h3>
            <div class="mealByDay" data-ng-repeat="item in group.items">
              <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 recipeBox">
          <div class="recipeMenu">
            <button class="btn col-xs-12 text-left" id="myRecipeBoxMenu" data-ng-click="goUrl('/myrecipes')">
              <div class="pull-left">
                My Recipe Box
              </div>
              <div class="pull-right">
                <span>Saved Recipes</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </button>
          </div>
          <div class="dropdown recipeMenu">
            <button class="btn col-xs-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeQuickSearch.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeQuickSearch" data-analytics-category="Recipe">
              <div class="pull-left">
                Quick Search By Food Type
              </div>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </button>
          </div>
        </div>
        <div class="col-md-6 recipeBox">
          <div class="dropdown recipeMenu">
            <button class="btn col-xs-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeTopFifty.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeTopN" data-analytics-category="Recipe">
              <div class="pull-left">
                Top 50 Recipes
              </div>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </button>
          </div>
          <div class="dropdown recipeMenu">
            <button class="btn col-xs-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeAdvancedSearch.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeAdvanceSearch" data-analytics-category="Recipe">
              <div class="pull-left">
                Advanced Recipe Search
              </div>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="recipeArticle">
            <a data-ng-href="/article?id={{vm.featuredArticle.ArticleId}}" data-analytics-on="click" data-analytics-event="ClickFeaturedArticle" data-analytics-label="{{vm.featuredArticle.Title}}" data-analytics-category="Recipe">
              <h3>{{vm.featuredArticle.Title}}</h3>
              <img data-ng-src="{{vm.featuredArticle.ImageUrl}}">
              <p data-ng-bind="vm.featuredArticle.Teaser"></p>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="recipeArticle">
            <a data-ng-href="/article?id={{vm.cookingTip.ArticleId}}" data-analytics-on="click" data-analytics-event="ClickCookingTip" data-analytics-label="{{vm.cookingTip.Title}}" data-analytics-category="Recipe">
              <h3>{{vm.cookingTip.Title}}</h3>
              <img data-ng-src="{{vm.cookingTip.ImageUrl}}">
              <p data-ng-bind="vm.cookingTip.Teaser"></p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row" data-gsn-ad-unit="10"></div>
    </div>
  </div>
</div>
