<div class="row" data-ctrl-product-by-category="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10">
    <div class="row topPod" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
      <div data-ng-non-bindable="">
        <div class="gsnunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="specials" data-ng-init="vm.saleItemOnly = true">
          <header class="row">
            <h1 class="text-center">Unadvertised Specials</h1>
            <h3 class="text-center">Browse items on sale by department.</h3>
          </header>

          <div class="row" data-ng-include="getThemeUrl('/views/product-content.html')"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row" data-gsn-ad-unit="">
        <div data-ng-non-bindable="">
          <div class="gsnadunit" data-dimensions="180x150" data-targeting='{"tile": "9"}'></div>
        </div>
      </div>
    </div>
  </div>
</div>
