<div class="row footerBar">
<div class="container container-footer">
<h3>The Experts in Digital Shopper Marketing Behavior</h3>
	<div class="col-md-4 locatorFooter">
		<div class="yourStore" data-gsn-store-info="[store.StoreName] <a href='/storelocator'>(View all Stores)</a>">
			<a href='/storelocator'>Locate your Store</a>
		</div>
    	<div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
	</div>
	<div class="col-md-4 companyInfo">
		<ul>
      <li data-ng-class="{'underlined': currentPath == '/aboutus'}"><a data-ng-href="/aboutus">About Us</a></li>
      <li data-ng-class="{'underlined': currentPath == '/careers'}"><a data-ng-href="/careers">Careers</a></li>
      <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
    </ul>
	</div>
	<div class="col-md-4 social">
		<h4>Stay Connected</h4>
	     <ul> 
	      	<li><a href="https://www.facebook.com/groceryshoppingnetwork"><i style="color: #3B5998" class="fa fa-facebook-square fa-2x"></i></a></li>
	     	<li><a href="https://twitter.com/grocerynetwork"><i style="color: #4099FF" class="fa fa-twitter-square fa-2x"></i></a></li>
	     	<li><a href="#"><i style="color: #cb2027" class="fa fa-pinterest fa-2x"></i></a></li> 
	     </ul>
	</div>
</div>
</div>