<div class="row silverContainer footerBar">
<div class="divider"></div>
       <div class="col-md-6 pull-left noPadWidth">
        <button class="btn btn-default btnSilver" data-gsn-store-info="[store.StoreName] (View All Stores)" data-ng-click="goUrl('/storelocator')">(View All Stores)</button>
    </div>
    <div class="col-md 6 pull-right">
     	<ul>
     		<li><a data-ng-href="employment">Careers</a></li>
     		<li><a data-ng-href="contactus">Contact Us</a></li>
     	</ul>
    </div>
</div>