<div class="visible-lg visible-md navbar navbarSilver navbar-default navbar-defaultSilver" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
    <ul class="nav navSilver navbar-nav navbar-navSilver">
        <li data-ng-class="{'active': currentPath == '/'}"><a data-ng-href="/">HOME</a></li>
        <li><a data-ng-class="{'active': currentPath == '/circular'}" data-ng-href="/circular">WEEKLY ADS</a></li>
        <li class="dropdown" data-ng-class="{'active': '/,/wineandspirits,/bakery,/deli,/produce,/floral,/meatandseafood,/pharmacy'.indexOf(currentPath) > 0 }">
             <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>DEPARTMENTS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/wineandspirits">Wine &amp; Spirits</a></li>
                <li><a data-ng-href="/bakery">Bakery</a></li>
                <li><a data-ng-href="/deli">Deli</a></li>
                <li><a data-ng-href="/produce">Produce</a></li>
                <li><a data-ng-href="/floral">Floral</a></li>
                <li><a data-ng-href="/meatandseafood">Meat &amp; Seafood</a></li>
                <li><a data-ng-href="/pharmacy">Pharmacy</a></li>
            </ul>
        </li>
        <li class="dropdown" data-ng-class="{'active': '/,/recipecenter,/recipevideo'.indexOf(currentPath) > 0 }">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>RECIPES</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/recipecenter">Recipes</a></li>
                <li class="visible-md visible-lg"><a data-ng-href="/recipevideo">Videos</a></li>
            </ul>
        </li>
        <li class="dropdown" data-ng-class="{'active': '/,/coupons/printable,/couponpolicy'.indexOf(currentPath) > 0 }">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>COUPONS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/coupons/digital">Coupons</a></li>
                <li><a data-ng-href="/couponpolicy">Coupon Policy</a></li>
            </ul>
        </li>
        <li data-ng-class="{'active': currentPath == '/community'}"><a data-ng-href="/community">COMMUNITY</a></li>
        <li data-ng-class="{'active': currentPath == '/storelocator'}"><a data-ng-href="/storelocator"></i>STORE INFO</a></li>
        <li data-ng-class="{'active': currentPath == '/promotions'}"><a data-ng-href="/Promotions">PROMOTIONS</a></li>
        <li class="dropdown" data-ng-class="{'active': '/,/profile/rewardcard,/rewardscard'.indexOf(currentPath) > 0 }">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>REWARDS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="#" data-ng-click="goUrl('/profile/rewardcard')">Account Info</a></li>
                <li><a data-ng-href="/rewardscardtest">Card Features</a></li>
            </ul>
        </li>
    </ul>
</div>
