/*---------- Global CSS ----------*/
* {
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: html;
  -khtml-user-select: html;
  -moz-user-select: html;
  -ms-user-select: html;
  user-select: html;
}

.ng-cloak {
  display: none;
}

.noPadding
{
  padding: 0;
}

html, body, .layout-container {
  height: 100%; /* needed for container min-height */
  margin: 0;
  padding: 0 !important;
  font-family: Arial;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #ED1B24;
  text-transform: none;
}

a {
  color: #ED1B24;
}

  a:hover {
    text-decoration: none;
  }

  a:focus {
    outline: none;
  }

legend {
  border: none;
  font-size: 1px;
  margin: 0;
  text-indent: -9999px;
}

/*---------- Chain Styles ----------*/
.container {
  margin: 0 auto;
}

.hidden-meta {
  position: absolute;
  z-index: 999;
  left: -9999px;
  width: 0;
  height: 0;
}

.btnMarianos {
  background-color: #ED1B24;
  color: #ffffff;
}

.btnMarianosLeft {
  background-color: #ED1B24;
  color: #ffffff;
  margin-left: 8px;
}

  .btnMarianos:hover, .btnMarianosLeft:hover {
    background-color: #ED1B24;
  }
  .couponNavBtn
  {
    width: 100%;
  }
.couponNavBtn:active, .couponNavBtn.active
{
  background-color: #d3d3d3;
  color: #000000;
  }

.btn-xsVarieties {
  padding: 1px 1px;
}

.amenities li {
  display: inline;
}

.amenities img {
  height: 32px;
  width: 32px;
}

.amenitiesKey img {
  height: 32px;
  width: 32px;
}

.amenitiesKey ul {
  padding: 0;
}

.amenitiesKey li {
  list-style-type: none;
}

.amenitiesDisclaimer p {
  text-align: center;
}

#recaptcha_switch_audio {
  display: none;
}

.staticIntro img {
  margin-right: 10px;
}

#socialControls #fbWrapper, #socialControls #twWrapper {
  float: left;
}

#socialControls #fbWrapper {
  max-width: 130px;
}

.slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  top: 0;
  width: 100%;
}

.slide.ng-enter {
  opacity: 0.5;
}

  .slide.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
  }

.slide.ng-leave {
  position: absolute;
  left: 0;
  opacity: 1;
}

  .slide.ng-leave.ng-leave-active {
    opacity: 0;
  }

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-buttons {
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 15;
}

.controls {
  bottom: -34px;
}

/*---------- Chain CSS ----------*/
.accountBox, .account, .socialLinks, .search,
.searchBoxes, .logoBox, .storeInfoBox, .storeInfo {
  padding: 0;
}

.row {
  margin: 0;
}

/*---------- Header ----------*/
.header {
  border-bottom: 3px solid #37424a;
  margin-bottom: 15px;
}

  .header .row {
    margin-top: 0;
  }

.logo {
  padding: 16px 0;
}

.mylist {
  background-color: #ed1b24;
  margin-top: -10px;
  padding: 5px;
}

.account {
  background-color: #ed1b24;
  float: left\9 !important;
}

  .account img {
    float: left;
    margin-top: -6px;
  }

.accountLoggedOut img {
  float: left;
}

.account p {
  color: #ffffff;
  float: right;
  height: 20px;
}

.accountImage {
  height: 30px;
  margin-right: 4px;
  width: 28px;
}

.account button, .btn-groupAccount, .accountLoggedOut button {
  color: #7d6d6a;
  margin: 0 3px 3px;
  border: none;
}

.noPad {
  padding: 0;
}

.locator {
  margin-top: 28px;
}

  .locator ul {
    list-style-type: none;
  }

.headerbtn-group > .headerbtn:first-child {
  margin: 10px 3px 0 6px;
}

.dropdown-menuSignIn .dropdrown-menu:hover {
  display: block;
}

.dropdown-menuSignIn {
  border: medium none;
  height: 0;
  margin: 0;
  padding: 0;
  top: 57%;
}

.fbSignInIcon {
  height: 18px;
  width: 18px;
}

.open > .dropdown-menuSignIn {
  left: -27px;
}

.headerNav {
  padding: 6px 0;
}

  .headerNav ul {
    margin: 0;
  }

    .headerNav ul li {
      padding-right: 0;
    }

  .headerNav li a {
    font-size: 16px;
    padding-left: 18px;
  }

  .headerNav li a, .searchBoxes a, input {
    color: #7d6d6a;
  }

/* {{facePalm}} requirement*/
.underlined, .underlined > a:focus, .underlined > a:hover {
  text-decoration: underline;
}

.search {
  margin-top: 6px;
}

.searchField a {
  color: #ffffff;
  padding: 0 5px;
}

.searchField input {
  background: url('../images/search.png') no-repeat scroll 4px 4px;
  background-color: #ffffff;
  padding-left: 21px;
  padding-right: 0;
  border: none;
  border: 1px solid #7D6D6A \9; /* IE8 and below only */
  box-shadow: 0px 0px 4px #999;
  font-size: 12px;
}

.socialLinks {
  padding-bottom: 4px;
}

.loggedIn ul {
  list-style-type: none;
}

.notLoggedIn ul {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0 0 0 8px;
}

.notLoggedIn li, .loggedIn li {
  float: left;
}

.location {
  height: 24px;
  width: 24px;
}

.storeLocator {
  margin-right: 15px;
}

.storeName {
  color: #ffffff;
}

.downArrow {
  top: 3px;
}

/* purposely left empty for chain override */
.btn-default .badge.badgeRoundys {
  background-color: #ed1b24;
  font-family: arial;
}

.headerBar, .footerBar {
  background-color: #ed1b24;
  padding: 10px 0;
}

  .headerBar a {
    color: #ffffff;
  }

.loggedInFooter a {
  margin-top: 25px;
}

.refills img {
  height: 50px;
  margin: -17px 0 5px;
  width: 39px;
}

/*---------- Main Nav ----------*/
.getNav {
  padding: 0;
  margin-bottom: 20px;
}

.nav, .nav > li > a:hover, .nav > li > a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #ed1b24;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
  border: none;
}

.nav a {
  color: #ffffff;
  font-size: 13px;
  text-align: right;
}

.nav li {
  list-style-type: none;
}

.nav > li {
  border-bottom: 4px solid #ffffff;
}

  .nav > li > a {
    padding: 5px 9px;
  }

.nav li ul li a {
  color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #37424a;
  color: #ffffff;
}

.dropdown-menu {    
    background-color: #a5acaf;
    left: 32px;
    min-width: 214px;
}

  .dropdown-menu h4 {
    text-align: center;
  }

  .dropdown-menu > li > a {
    text-align: center;
}

/*---------- Main Content ----------*/
.featuredContent {
  padding: 0;
}

  .featuredContent img {
    width: 100%;
  }

.mainContent {
  border-bottom: 3px solid #37424a;
  padding-bottom: 10px;
}

/*---------- Promo Boxes ----------*/
.promoBoxes {
  border-top: 3px solid #37424a;
  padding: 3em 0;
	text-align: center;
}

/*---------- tastemakers ----------*/
.sidebar {
  padding-left: 0;
}

.rightContent {
  padding-left: 0;
}

.chef {
  padding-bottom: 60px;
}

  .chef h4, .q_a h5, .chefRecipe h5 {
    color: #718246;
    font-family: 'MyFont-demi';
  }

.featuredTasteMaker {
  padding: 0 0 92px;
  background-color: #ede7d7;
}

.tasteMakerImage {
  width: 100%;
}

.tasteImages ul {
  list-style-type: none;
}

.main {
  background-color: #ede7d7;
  margin-top: -36px;
  padding: 0;
}

.chefInfo {
  line-height: 25px;
  padding-left: 40px;
}

.chefImageGallery {
  padding: 0 0 5px 40px;
}

.chefThumbnail {
  float: left;
  margin-bottom: 0;
}

.q_a h5 {
  margin-bottom: 0;
}

.chefRecipe a {
  text-align: center;
}

.chefRecipe img {
  height: 150px;
  margin-left: 98px;
  width: 150px;
}

.chefRecipe p {
  color: #7d6d6a;
}

.chefRecipeLorin h4, .chefRecipeLorin h5 {
  margin-left: 15px;
  text-align: left;
}

.tipBlockOne img, .tipBlockTwo img, .tipBlockThree img {
  margin-left: 42px;
}

.tipBlockThreePandel img {
  margin-left: -12px;
}

.q_a {
  padding: 10px;
}

.kiki {
  margin: 10px 0 30px;
}

.hostInfo a {
  color: #718246;
}

.divider {
  border-bottom: 1px solid #704f45;
  clear: both;
  margin: 5px 10px;
}

.side {
  padding: 0;
}

.tasteImages h4 {
  color: #718246;
  font-family: 'MyFont-demi';
  margin-left: 40px;
}

.tasteImages span {
  clear: both;
  color: #7d6d6a;
  float: right;
  padding-right: 54px;
}

.tasteImages img {
  padding: 5px 0;
}

.restaurants ul {
  list-style-type: none;
}

.restaurants li {
  float: left;
}

.stores {
  padding: 0;
}

  .stores h5, .tipBlockTwo a {
    color: #d5704b;
  }

  .stores h5 {
    text-align: center;
  }

.storesChris img {
  margin: 10px 4px 3px;
}

.storesBristol h5 {
  color: #d5704b;
  margin: 10px 30px 3px;
}

.storesBalena h5 {
  color: #d5704b;
  margin: 10px 38px 3px;
}

.storesfishOyster img {
  margin-left: -56px;
}

.storesfishOyster h5 {
  color: #d5704b;
}

.storesBoka h5 {
  color: #d5704b;
  margin: 31px 73px 0;
}

.storesNomi h5 {
  color: #d5704b;
  margin: 10px 34px 3px;
}

.kehoe h5 {
  color: #d5704b;
}

.yum img {
  margin: 20px 28px 0;
}

.naha {
  margin-top: 10px;
  padding-left: 158px;
}

  .naha h5 {
    color: #d5704b;
    margin: 0 32px;
    padding-top: 26px;
  }

.brindille {
  padding-left: 84px;
}

  .brindille h5, .eO h5 {
    color: #d5704b;
    margin-left: 54px;
  }

/*---------- Footer ----------*/
.footer h3 {
  color: #37424a;
  text-align: center;
  margin: 10px;
  font-size: 24px;
}

.footer span {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
}

.footerNav {
  margin-bottom: 12px;
}

.footerBar p {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
}

.footer ul {
  padding-left: 0;
}

.footerNav li {
  list-style-type: none;
  text-align: center;
}

  .footerNav li a {
    color: #7d6d6a;
    text-transform: none;
  }

  .footerNav li:last-child {
    border-right: none;
  }

.footerNav h5 {
  margin-top: 4px;
}

.social {
  margin-left: 50px;
}

.fluidvids {
  width: 100%;
  position: relative;
}

  .fluidvids iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/*---------- Store Locator ----------*/

.storeLocations {
  /*background-color: #d3bf96;*/
  padding: 0;
}

.storeLocationsInfo {
  padding: 36px 0 0;
}

.storeLocationInfo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.singleStoreInfo {
  color: #7d6d6a;
  margin-bottom: 20px;
}

  .singleStoreInfo a {
    color: #ed1b24;
    padding: 0;
  }

address {
  margin-bottom: 0;
}

.gMap {
  height: 280px;
  width: 95%;
}

.infoMarker {
  height: 110px;
  width: 150px;
}

.storeSearch button {
  height: 25px;
  background-color: #ed1b24;
  color: #ffffff;
}

.storeSearch {
  margin: 66px 0 0;
}

  .storeSearch input {
    margin-bottom: 15px;
  }

/*---------- Static Content ----------*/

.staticHeader img {
  width: 100%;
}

.staticContent, .staticHeader {
  /*background-color: #d3bf96;
    opacity: 0.8;*/
  padding: 15px;
}

  .staticContent h2, .staticContent h3 {
    margin-top: 0;
  }

.staticIntro {
  border-bottom: 1px solid #37424a;
  padding: 10px 12px;
}

.staticBlock {
  margin: 15px 0 30px;
}

  .staticBlock img {
    float: left;
    margin-right: 16px;
  }

.staticContent p a, .staticContent p span a, .staticContent p span a:hover, .staticContent a {
  color: #ed1b24;
}

.end {
  padding: 18px 0;
}

/*---------- Circular ----------*/

.topPod {
  margin-bottom: 15px;
}

.textOnly {
  float: right;
}

.pagination > li > a, .pagination > li > span {
  background-color: #ed1b24;
  color: #ffffff;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ffffff;
  border-color: #ed1b24;
  color: #ed1b24;
}

.dcircular-content img {
  border: 4px solid #37424a;
  box-shadow: 10px 8px 6px #37424a;
  margin-left: -18px;
  width: 535px;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
  color: #000000;
}

.textOnly a {
  font-size: 11px;
}

.dcircular-pager-bottom, .dcircular-pager-top {
  padding-left: 50px;
  text-align: left;
  width: 90%;
  }

.dcircular-pager-top > .pagination {
  margin-top: 4px;
  margin-bottom: -5px;
}

.dcircular-content, .dcircular-list-content {
  text-align: center;
}

.ui-tooltip, .qtip {
  position: absolute;
  left: -10000em;
  top: -10000em;
  max-width: 400px;
  min-width: 280px;
}

/*---------- Available Varieties ----------*/
.availableVarieties {
  border: 1px solid #000000;
  border-top: none;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
}

.availableDescription {
  height: 90px;
  overflow: scroll;
}

.varietiesHeader h4 {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.recipeImage {
  margin-left: 5px;
}

.varietiesHeader {
  background-color: #ed1b24;
  border-top: 1px solid #000000;
  margin: -5px -5px 5px;
  padding: 0 0 1px;
}

.availableVarieties ul {
  padding: 0;
}

  .availableVarieties ul li {
    list-style-type: none;
    margin-bottom: 4px;
  }

.availableVarietiesList {
  height: 118px;
  overflow: scroll;
}

  .availableVarietiesList p {
    font-size: 10px;
  }

.varieties {
  padding-right: 0;
}

.recipeSearch a {
  padding: 5px;
}

.listOptions {
  padding-right: 0;
}

/*---------- Text Only View ---------*/
caption {
  color: #5e7803;
  font-size: 15px;
}

.savings {
  color: red;
}

.textItems p, .back {
  padding: 5px;
}

/*---------- Shopping List ----------*/

.shoppingList {
  border: 6px solid #ed1b24;
  min-height: 250px;
  position: relative;
}

.shopping-list {
  width: 256px;
}

.shoppingListHeader {
  background-color: #ed1b24;
}

  .shoppingListHeader h4 {
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 22px;
  }

.quantity {
  float: right;
  margin-bottom: 6px;
  width: 35px;
}

.price {
  color: darkgreen;
}

.description {
  float: left;
}

.shopSearch {
}

  .shopSearch button {
    text-align: left;
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 4px #999;
    color: #ffffff;
    padding: 3px 7px;
  }

.ownItem {
  background-color: #ed1b24;
  margin-top: 6px;
  padding: 6px 0px;
  width: 100%;
}

.listCount p {
  color: #7d6d6a;
  margin-left: 10px;
  width: 100%;
}

.shoppingListButtonsSpacer {
  height: 22px;
  width: 100%;
}

.shoppingListButtons {
  display: block;
}

  .shoppingListButtons ul {
    list-style-type: none;
    margin-left: -33px;
  }

    .shoppingListButtons ul li {
      display: inline;
      list-style: none;
      float: left;
      text-align: center;   
    }

      .shoppingListButtons ul li a {
        display: block;
        cursor: pointer;
        font-size: 10px;
      }

       .shoppingListButtons ul li div {
          font-size: 10px; 
          cursor:default;
          color:#ED1B24
      }
        
  .shoppingListButtons img {
    height: 42px;
    width: 42px;
  }

.disclaimer h6 {
  padding: 2px 16px;
}

.list {
  height: 18px;
  width: 18px;
}

.shoppingList .input-group .form-control {
  border-radius: 0;
  border: none;
  color: #7D6D6A;
  height: 25px;
}

.shoppingList .input-group .input-group-addon {
  background-color: #ff9ca3;
  color: #fff;
  border: none;
  border-left: 6px solid #ed1b24;
  border-radius: 0;
  padding: 5px 12px;
  font-size: 9px;
  height: 25px;
}

.headerbtn-group ul {
  left: -156px !important;
  padding: 0;
}

.line, .line small {
  padding: 0 4px;
}

.dropdown-menuList {
  background-color: #ffffff;
  margin-left: -2px;
}

  .dropdown-menuList.active {
    display: block;
  }

.sLImage {
  padding: 5px 0 2px 5px;
}

.sLDescription, .sLRemove {
  padding-left: 0;
}

.shoppingListImage {
  height: 48px;
  width: 48px;
}

.addOwnItem {
  margin-top: 5px;
}

.myOptions {
  float: right;
}

/*---------- Coupons ----------*/

.col-md-4Coupons {
  width: 32.333%;
  margin: 5px 1px 0 5px;
}

.rowCoupons {
  margin: 0 0 5px;
}

.couponsControls {
  padding: 0 5px 0;
  text-align:right;
}
.couponsControls > .pull-right {
	width:100%;
	position:relative;
	height:30px;
}

.couponsControls > .pull-right > * {
	position:absolute;
}

.couponsControls > .pull-right > button {
	right:0;
}

.couponsControls > .pull-right > form {
	right:165px;
	margin-top:2px;
}

.couponsControls > .pull-right > div {
	right:415px;
}

.couponsControls .btn-group button{
  margin-right: 10px;
}

.couponsControls button {
  margin-right: 10px;
}
.modal-headerCoupons {
  background-color: #EDE7D7;
}

.listHeader {
  background-color: #c6c6c6;
}

.sidePods {
  margin-top: 10px;
}

.pageContent {
  margin-top: 10px;
  padding: 0;
}

  .pageContent h2 {
    text-align: center;
  }

  .pageContent h4 {
    color: #7d6d6a;
    text-align: center;
  }

.help {
  padding: 15px 16px 10px 10px;
  font-size:16px;
}

.helpBlock {
  padding: 0;
}

.coupons {
  padding: 0;
}

.singleCoupon {
  font-size: 12px;
  padding: 0;
}

  .singleCoupon h5 {
    background-color: #6a8c13;
    color: #ffffff;
    margin: 0 3px;
    text-align: center;
  }

  .singleCoupon button {
    margin-bottom: 5px;
  }

.digital button {
  position: absolute;
  right: 0;
  top: 70px;
}

.couponChoice button, .couponChoice {
  text-transform: lowercase;
}

.savingsInfoContainer
{
    padding:5px;
}

.savingsInfoContainer .greyed
{
  background-color:lightgray;
}

.savingsInfoContainer .buttons .greyed
{
  background-color:grey;
}

.savingsInfoContainer .btn
{
    background-color: #ed1b24;
    color: white;
    border-radius:10px;
}

  .savingsInfoContainer .btn-elipsis
  {
    border-radius:0;
    background-color:lightgrey;
    line-height:0.5;
  }

    .savingsInfoContainer .btn-elipsis:hover
  {   
    background-color:#ed1b24;   
  }

.savingsInfoContainer .btn-block
{
    margin:0;
}
.popover.top > .arrow
  {
    left: 94% !important;
  }

 .popover.top {
margin-left: -120px;
}

.savingsInfoContainer .btn:hover
{   background-color: #ed1b24;
    color: black;
}

.savingsInfo, .adPodInfo {
  border: 1px dashed red;
  padding: 0;
  border-radius: 5px;
 
}
	.savingsInfo:hover, .adPodInfo:hover {
		border-style:solid;
		box-shadow:0 0 7px rgba(237, 27, 36, 0.7);
	}

  .savingsInfo .imageContainer
  {
    padding: 5px 15px;
    float: left;
    height: 97px;
    width: 100px;
    position: relative;
  }

  .savingsInfo img
  {
    max-height: 87px;
    max-width: 70px;
    font-size: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

.digital { 
  display:block; 
  padding-top:5px;  
  overflow: hidden;
  position: relative;
  line-height:14px;
}
	.digital .ng-binding {
		padding:2px 0;
	}
	.digital strong,
	.popover-content strong{
		padding-bottom:2px;
	}
	.digital p,
	.popover-content p{
		color:#777;
	}
.popover-content p {
	font-size:11px;
	margin-top:-1px;
}
.ellipsis{
  position: absolute;
  top: 76px;
  right: 0;
  margin: 11px 2px 0 0;
  padding: 0 3px;
  line-height: 13px;
  background-color:lightgray;
  border-radius: 6px;
  border: 1px solid black;
  color:black;
}

  .ellipsis:hover,.ellipsis:focus
  {
    background-color: #ed1b24;
    color: white;
  }

.text-uppercase
{
  text-transform:uppercase;
}

.digital h5, .popover-content h5
{
  color:#777;
  line-height: 14px;
  margin: 0;
  font-weight:bold;
  text-transform:capitalize;
}

.digitalCouponsBtn {
  margin: 5px 8px;
}

.savingsInfo p {
  font-size: 11px;
  margin-top:-1px;
}
.savingsInfo .expirationDate p
{
    text-align:center;
}
.savingsInfo .buttons
{
    padding:5px 0;
}
.savingsInfo button i
{
padding-right: 5px;
}

.shortDescription {
  float: left;
  clear: both;
}

.couponDetails {
  margin-top: 35px;
}

.savingsPrintInfo p {
  font-size: 11px;
  margin-bottom: 20px;
  padding-left: 10px;
  max-height: 25px;
}


.banner img {
  padding: 10px 2px;
}

.validation {
  margin-top: 20px;
}

.validation p {
  text-align: center;
}
.coupons-digital-help {
  margin-top: -20px;
}
.sort {
  margin: 2px 63px 0 0;
  /* IE Hack */
  margin: 2px -186px 0 225px\9;
}

.expires p {
  margin-left: 10px;
}

/*---------- Nutrition ----------*/
.nutr-table {
  border: 1px solid black;
  max-width: 310px;
}

  .nutr-table th, .nutr-table td {
    font-size: 8pt;
    font-weight: bold;
    font-family: Franklin Gothic Medium;
    border-top: 1px solid black;
    padding: 2px;
  }

td.nutr-header {
  font-size: 14pt;
  border-bottom: 6px solid black;
}

td.nutr-border {
  border-top: 4px solid black;
}

.nutr-sub-item {
  padding-left: 20px;
  font-weight: normal;
}

.nutr-normal {
  font-size: 8pt;
  font-weight: normal;
}

.nutr-value {
  font-weight: bold;
  float: right;
  position: relative;
}

.ingredient {
  width: 100%;
  padding-top: 2pt;
  padding-bottom: 2pt;
}

/*---------- Community ----------*/
.feedArticle {
  margin: 0 5px;
}

.mariano-feed-content img {
  height: 100px;
  margin-left: 58px;
  width: 100px;
}

.mariano-feed-contentFeatured img {
  height: 100px;
  margin: 25px 46px 10px;
  width: 100px;
}

.rssFeed {
  height: 798px;
  overflow-y: scroll;
}

.blogBlock {
  height: 200px;
}

.features {
  background-image: url('../images/rssBox.png');
  background-repeat: no-repeat;
  border-bottom: 1px solid #7d6d6a;
  margin-bottom: 10px;
}

.events {
  background-image: url('../images/eventsBox.png');
  background-repeat: no-repeat;
}

  .events ul {
    padding: 0;
  }

  .events li {
    list-style-type: none;
  }

.featuredDescription {
  text-align: center;
  margin-bottom: 5px;
}

.community {
  padding: 10px;
  color: #7D6D6A;
  margin-bottom: 20px;
}

  .community > h2 {
    margin-top: 0;
  }

  .community h4, .community h3 {
    color: #7D6D6A;
  }

  .community .community-article, .community .community-events {
    background-color: #FFF;
    border: 1px solid #7D6D6A;
    padding: 10px;
    margin-top: 20px;
  }

    .community .community-article .community-article-header, .community .community-events-header {
      border-top: #7D6D6A 15px solid;
      margin: -18px 0 10px;
      text-align: center;
      color: #7D6D6A;
    }

    .community .community-article .community-article-header {
      font-size: 21px;
    }

    .community .community-article .community-article-content {
      font-family: 'MyFont-demi';
    }

      .community .community-article .community-article-content img {
        width: 100%;
      }

  .community .community-events-header {
    font-size: 24px;
  }

  .community .community-events ul {
    padding-left: 15px;
  }

    .community .community-events ul li {
      list-style-type: none;
    }

      .community .community-events ul li a {
        color: #7D6D6A;
      }

  .community .community-events > p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .community .community-feed-content img {
    max-width: 100%;
    max-height: 130px;
  }

  .community .community-feed-description {
    text-align: center;
    color: #7D6D6A;
  }

  .community .rssFeed {
    margin-top: 20px;
  }

/*----- Social Widget -----*/

.social-widget {
  background-color: #7D6D6A;
  border: 6px solid #7D6D6A;
  min-height: 250px;
}

  .social-widget h3 {
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 5px;
  }

  .social-widget .widget-follow {
    display: block;
    width: 100%;
    background-color: white;
    color: #7D6D6A;
    text-align: center;
    margin-bottom: 6px;
  }

  .social-widget .textwidget {
    background-color: #fff;
    overflow: hidden;
  }

.fbsection {
  margin-top: 0;
  margin-bottom: 10px;
}

.twittersection {
  /*max-height: 250px;*/
  margin-bottom: 10px;
}

.instagramsection {
  margin-bottom: 10px;
}

#instafeed {
  height: 295px;
  overflow-y: scroll;
}

.instagram img, .instagram a {
  height: 100px;
  margin: 2px;
  width: 100px;
}

.feed {
  width: 24%;
}

.pins {
  padding: 0 16px;
}

.bahf img {
  margin: 10px 0 0 -27px;
}

.bahf h5 {
  color: #7D6D6A;
  text-align: center;
}

.bahf span {
  color: #718246;
}

/* google search control stuff */
#cse {
  width: 100%;
}

.gsc-adBlock, .gsc-adBlockVertical {
  display: none;
}

/*----- Recipe Center -----*/
.recipeCenter h2, .recipeCenter h3, .rOTD h3, .rOTD p, .rOTDTitle, .recipeArticle p
{
  text-align: center;
}

.recipeArticle
{
  background-color: #FFFFFF;
  border: 1px solid #7D6D6A;
  float: none;
  margin-top: 14px;
  min-height: 270px;
  padding: 10px;
}

.recipeArticle img
{
  display: block;
  margin: 0 auto;
  max-height: 125px;
}

.recipeArticle h3
{
  border-top: 15px solid #ED1B24;
  margin: -18px 0 10px;
  text-align: center;
}

.rOTD img
{
  display: block;
  margin: 0 auto;
  max-height: 150px;
}

.rOTDTitle
{
  background-color: #ED1B24;
  color: #ffffff;
  margin-top: 10px;
  padding: 10px 0;
}

.mealPlanner h3
{
  border-bottom: 1px solid #000000;
  font-size: 18px;
}

.mealByDay a
{
  color: #000000;
}

.recipeBox
{
  margin: 10px 0;
}

.recipeMenu button
{
  background-color: #ED1B24;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 10px;
}

/*----- Recipe Detail -----*/

.recipe-detail .recipe-figure {
  padding: 0;
}

.recipe-figure .recipe-image-container {
  margin: 0;
  padding: 0;
}

.recipe-detail .recipe-figure h3 {
  color: #fff;
  margin: 10px 5px;
}

.recipe-detail .buttons {
  margin: 5px 0;
}

.recipeImage img
{
  display: block;
  margin: 0 auto;
  max-height: 150px;
}

.ingredientOptions
{
    margin: 5px 80px;
}

.recipeOptions
{
    margin: 0 104px;
}

.recipeRating
{
  cursor: pointer;
  text-align: center;
}

.socialRecipe
{
  margin-left: 58px;
}

/*----- HTML5 Placeholder Attribute Styling -----*/

::-webkit-input-placeholder {
  color: #7D6D6A;
}

:-moz-placeholder {
  color: #7D6D6A;
}

::-moz-placeholder {
  color: #7D6D6A;
}

:-ms-input-placeholder {
  color: #7D6D6A;
}

/*----- Specials -----*/

.specials header h1, .product-search h3.product-search-header {
  margin: 0;
}

.specials header h3 {
  color: #7d6d6a;
  margin: 0;
}

.specials label {
  color: #ed1b24;
  font-size: 16px;
  padding: 2px 4px;
}

.specials .arrow {
  color: #ed1b24;
}

.specials .column-headers, .product-search .column-headers, .shopping-list-manage .column-headers {
  color: #fff;
  margin-top: 20px;
  background-color: #ed1b24;
}

.specials .add-button, .product-search .add-button, .shopping-list-manage .buttons, .recipe-detail .buttons {
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 3px 9px;
  box-shadow: 0px 0px 6px #666;
}

.specials .result, .product-search .result, .shopping-list-manage .result {
  color: #7d6d6a;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid #7d6d6a;
}

.product-search-price {
  color: #D5704B;
}

/*---------- Email Shopping List ----------*/
.emailContent h3 {
  text-align: center;
}

.emailContent h4 {
  text-align: left;
}

.emailLabel, .emailInput {
  padding: 0;
}

/*---------- Print Shopping List ----------*/
.printHeader {
  border-bottom: 3px solid #704F45;
  margin-bottom: 10px;
}

.printListInfo {
  text-align: center;
}

/*------ Manage Shopping List ------*/
.itemInfo h4 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.itemInfo > div.circular-item> div:nth-child(2):before {
  content: url('../images/checkbox.png');
  position: relative;
  top: 4px;
}

.shopping-list-manage .quantity {
  text-align: center;
  border: none;
  box-shadow: 0px 0px 6px #666;
}

.shopping-list-manage .add-field {
  box-shadow: 0px 0px 4px #999;
  line-height: 23px;
}

.options {
  padding: 0;
}

  .options button {
    margin-left: 5px;
  }

.manageList ul {
  margin-top: 28px;
}

.manageList li {
  list-style-type: none;
}

.manageList a {
  color: #7d6d6a;
}

/*---------- Personalized Specials /myspecials ----------*/
.mySpecials {
  padding: 0 0 10px;
}

  .mySpecials h3, .mySpecials h4 {
    text-align: center;
  }

  .mySpecials img {
    max-height: 100px;
    max-width: 80px;
  }

.mySpecialsBlocks {
  margin-bottom: -5px;
}

  .mySpecialsBlocks:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

.imageInfo {
  height: 168px;
  padding: 10px 0;
}

  .imageInfo img {
    margin: 0 28px;
  }

.myDescription {
  text-align: center;
}

.myPrice {
  margin: 14px 0 4px;
}

.myCategory {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

  .myCategory:last-child {
    border: none;
  }

.department {
  background-color: #ed1b24;
  color: #ffffff;
}

.product {
  margin-right: 20px;
}

/*---------- Saved Lists (previous) ----------*/
.saveListsContent {
  height: 800px;
  overflow: scroll;
}

.savedItem {
  padding: 0;
}

.filterMenu {
  left: -90px;
}

  .filterMenu li a {
    text-align: left;
  }

.savedLists {
  padding: 0;
}

  .savedLists a {
    color: #718246;
    padding: 0 3px;
  }

/*---------- Search ----------*/
.searchDisclaimer p {
  font-size: 10px;
}

.productDisclaimer {
  font-size: 11px;
  text-align: center;
}

.itemMatchesPager {
  margin-left: 0 13px;
}

/*---------- Register ----------*/
.emailInvalid, .cardInfo li, .userName p, .password p, .confirm p {
  color: red;
}

.required {
  color: red;
}

.registerSubmit {
  margin-bottom: 10px;
}

.validCheck {
  float: right;
  margin-top: -24px;
}

.password {
  margin-top: 10px;
}

.circplus img {
  width: 100%;
}

/*---------- Static Pages ----------*/
.staticTabs .nav 
{
  margin-bottom: 10px;
}

.staticTabs .nav > li 
{
    border-bottom: none;
}

.staticTabs .nav > li > a 
{
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 0;
  margin: 0 5px;
}

.staticTabs li a:hover
{
  color: #000000;
  cursor: pointer;
}
/*---------- media queries ----------*/

@media (max-width: 480px) {
  .logo {
    padding: 0;
    width: 35%;
  }

  .locator
  {
    margin-top: 0;
  }
          
  .navAd {
    margin: 0 68px;
  }

  .box
  {
    margin-bottom: 10px;
  }

  .promoBoxes
  {
    border-top: none;
  }

  .account p
  {
    float: none;
  }

  .account button
  {
    margin: 22px 3px 3px;
  }

}

@media (min-width: 992px) and (max-width: 1199px){
    div.sidebar{
        padding-right: 2px;
    }
}

@media (min-width: 1200px) {
    div.sidebar {
        padding-left: 0px;
        padding-right: 35px;
    }
}

@media print {
  .printHeader > .col-md-3,
  .printHeader > .printListInfo
  {
    float:left;
  }

  .printHeader > .printListInfo
  {
    width: 40%;
  }

  button[data-analytics-event="ClickPrint"]
  {
    display:none;
  }  

  .itemInfo
  {
    padding-top: 2px;
  }

  .itemInfo > span
  {
    font-size: 12px;
  }

  .itemInfo > h4
  {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 2px;
    padding-bottom: 1px;
  }

  .itemInfo > div.circular-item
  {
    font-size: 12px;
  }

  .itemInfo img
  {
    height: 18px;
  }

  .itemInfo > div.circular-item > div.pull-right
  {
    padding-left: 6px;
  }

  .itemInfo > div.circular-item > div:nth-child(2)
  {
    max-height: 38px;
    overflow: hidden;
  }
}

/*---------- coupon tabs ----------*/

.tabs-conent
{
  z-index: 2;
}

.tab
{
	display: inline-block;
	border: 1px solid #999;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	background: #d3d3d3;
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #d3d3d3 80%, #bfbfbf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(80%,#d3d3d3), color-stop(100%,#bfbfbf));
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 80%,#bfbfbf 100%);
	background: -o-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 80%,#bfbfbf 100%);
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#d3d3d3 80%,#bfbfbf 100%);
	background: linear-gradient(to bottom,  #d3d3d3 0%,#d3d3d3 80%,#bfbfbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#bfbfbf',GradientType=0 );

}
	.tab:hover {
		background: #e5e5e5;
		background: -moz-linear-gradient(top,  #e5e5e5 0%, #e5e5e5 80%, #d6d6d6 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(80%,#e5e5e5), color-stop(100%,#d6d6d6));
		background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 80%,#d6d6d6 100%);
		background: -o-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 80%,#d6d6d6 100%);
		background: -ms-linear-gradient(top,  #e5e5e5 0%,#e5e5e5 80%,#d6d6d6 100%);
		background: linear-gradient(to bottom,  #e5e5e5 0%,#e5e5e5 80%,#d6d6d6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d6d6d6',GradientType=0 );

	}

.tab-left
{
	border-top-right-radius: 0px;
	border-right-width:0;
	padding-left:55px;
}
.tab-left.tab-active
{
	border-top-right-radius: 4px;
	border-right-width:1px;
	padding-left:60px;
}
	.tab-left img {
		height: 80%;
		position: absolute;
		top: 4px;
		left: 5px;
	}
.tab-right {
	  border-top-left-radius: 0px;
	  border-left-width:0;
}
	.tab-right.tab-active {
		border-top-left-radius: 4px;
		border-left-width:1px;
	}

.tab-active
{
	margin-top:0;
	background: #fff;
	border-bottom: 1px solid #fff;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom-width:0px;
	cursor:default;
}
	.tab-active:hover {
		background:#fff;
	}

.coupons-content
{
  margin-top: -1px;
  padding: 0;
  border:1px solid #999;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/*---------- coupon panel ----------*/

.coupons-panel
{
  padding: 0px;
  text-decoration: none;
  background-color: #ed1b24;
  height: auto;
  font-weight: bold;
  z-index: 2;
  padding-top: 5px;
}

.panel-button
{
  background-color: white;
  border: solid 1px;
  border-radius: 10px;  
  text-align: center;
  display: table;
  cursor: pointer;
}

.panel-button span 
{
    vertical-align:middle;
    display: table-cell;
}

.panel-conent
{
  top: 5px;
}

.panel-scroll-top-container
{
  text-align: center;
  cursor: pointer;
}

.panel-scroll-top
{
  color: black;
}

.savings-indicator
{
  background-color: white;
  border: solid 1px;
  height: 20px;
  padding: 0;
}

.savings-indicator-current
{
  background-color: lightgray;
  height: 100%;
  width: 0%;
}

.saving-total
{
  top: -2px;
  font-size: xx-small;
}

.coupons-panel-description
{
  font-size: small;
}

.clipped-amount
{
  left: 0;
  top: 0;
  position: absolute;
  font-size: x-small;
}

.panel-digital-cart-icon
{
  font-size: 2em;
}

/*---------- media queries ----------*/
@media (max-width: 480px) {
  .logo {
    padding: 0;
    width: 35%;
  }
  .locator
  {
    margin-top: 0;
  }
  .navAd {
    margin: 0 68px;
  }
  .box
  {
    margin-bottom: 10px;
  }
  .promoBoxes
  {
    border-top: none;
  }
  .account p
  {
    float: none;
  }
  .account button
  {
    margin: 22px 3px 3px;
  }
}

/*---------- dropdown submenu ----------*/
dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/*---------- bootstrap auto width ----------*/
@media (min-width: 992px) and (max-width: 1199px){
    div.sidebar{
        padding-right: 2px;
    }
}

@media (min-width: 1200px) {
    div.sidebar {
        padding-left: 0px;
        padding-right: 35px;
    }
}

@media (max-width: 750px) {
    .couponsControls > .pull-right {
		width:100%;
		height:auto;
	}
		.couponsControls > .pull-right > * {
			margin-bottom:10px;
			display:block;
			position:static;
		}
		.couponsControls > .pull-right > div {
			display:block;
		}
			.couponsControls > .pull-right > *:after {
				content:'';
				display:table;
				clear:both;
			}
		.couponsControls > .pull-right button {
			margin-left:25%;
		}
}

.message {
	padding:15px;
}

.fieldset-normal {
	padding:15px;
	border:1px solid #999;
	margin-bottom:15px;
}
	.fieldset-normal legend {
		font-size:1em;
		text-indent:0;
		display:inline-block;
		width:auto;
		padding:0 10px;
		margin-left:-10px;
	}
.add-card-btn
{
  margin-top:15px;
}

.alert
{
  border-radius: 15px;
}
.padding-top-sm
{
  padding-top:10px;  
}

.padding-top-lg
{
  padding-top: 25px;
}

.cssSlideUp {
    transition: .5s linear all;
    padding: 15px;
    height:100%;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    padding:0;    
    height:0;
}
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.ecard-new-notif {
	background-color: rgba(243, 107, 113, 0.66);
}

.roundyaccount-email {
  color: black;
}

.searchField {
	margin-right: 10px;
}

/* Show More Coupons */
.show-more-coupons-box {
  padding: 5px 0 5px;
  text-align: center;
}

.show-more-coupons-text {
  background-color: #ed1b24;
  color: white;
  border-radius: 10px;
  height: 23px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/*---------- bootstrap auto width ----------*/
@media (min-width: 0px) {
    .col-xs-auto { width: auto; }  
}
@media (min-width: 750px) {
    .col-sm-auto { width: auto; }
}
@media (min-width: 970px) {
    .col-md-auto { width: auto; }
}
@media (min-width: 1170px) {
    .col-lg-auto { width: auto; }
}
