<div class="row footerBar">
  <div class="col-md-5 col-sm-4">
    <div class="yourStore" data-gsn-store-info="[store.StoreName] <a href='/storelocator'>(View all Stores)</a>"><a href='/storelocator'>Locate your Store</a></div>
    <div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
  </div>

  <div class="col-md-5 col-sm-4 about">
    <ul>
      <li data-ng-class="{'underlined': currentPath == '/aboutus'}"><a data-ng-href="/aboutus">About Us</a></li>
      <li data-ng-class="{'underlined': currentPath == '/careers'}"><a data-ng-href="/careers">Careers</a></li>
      <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
    </ul>
  </div>

  <div class="col-md-2 col-sm-4 social">
    Stay Connected
      <ul> 
        <li><a href="https://www.facebook.com/groceryshoppingnetwork"><i style="color: #3B5998" class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="https://twitter.com/grocerynetwork"><i style="color: #4099FF" class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="#"><i style="color: #cb2027" class="fa fa-pinterest fa-2x"></i></a></li> 
      </ul>
  </div>   
</div>
<div class="row copyPrivacy">
  <a data-ng-href="/privacy">privacy policy & terms of use</a>
      Copyright &copy; 1996-2014 Grocery Shopping Network |
      <a href="http://patft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=7734514.PN.&amp;OS=PN/7734514&amp;RS=PN/7734514" target="_blank">Patent No US 7,734,514 B2.</a>
</div>
