<div class="visible-lg visible-md navbar navbarBronze navbar-default navbar-defaultBronze" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
    <ul class="nav navBronze navbar-nav navbar-navBronze">
      <li><a data-ng-href="/">Home</a></li>
      <li><a data-ng-href="/storelocator">Store Locator</a></li>
      <li><a data-ng-href="/circular">Weekly Ad</a></li>
      <li><a data-ng-href="/coupons/printable">Coupons</a></li>
      <li data-ng-init="getFeaturedRecipe()"><a data-ng-href="/recipe?id={{vm.featuredRecipe.RecipeId}}">Recipes</a></li>
      <li><a data-ng-href="/departments">Employment</a></li>
    </ul>
</div>
