<div class="row" data-ctrl-home="">
    <div class="col-md-12 featuredContent" data-gsn-partial="Home"> 
        <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
        <!-- Wrapper for slides -->
            <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()" data-ui-event="{'mouseover': 'stop()', 'mouseout': 'play()'}">
                <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
            </div>
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-ng-repeat="item in slides" data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="1">
        <div class="homeMod">
            <a data-ng-href="/circular">
                <div class="col-md-6 col-sm-6 col-xs-6 homeCircPreview">
                    <h4>THIS WEEKS AD</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">    
                    <img class="homeCircThumb" data-ng-src="{{getContentUrl('/images/homeCirc.jpg')}}" alt="weekly ad" />
                </div>
            </a>
        </div>        
    </div>
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="2">
        <div class="homeMod">
            <a data-ng-href="/deli">
                <img data-ng-src="{{getContentUrl('/images/meatPlatter.png')}}" alt="deli" />
                <h4>DELI TRAYS</h4>
                <p>At Country Mart, we can't think of a better way to simplify the holidays than letting us do the work for you. Contact your local Country Mart store and let the friendly associates assist you with your entertaining needs</p>
            </a>
        </div>        
    </div>
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="3">
        <div class="homeMod">
            <a data-ng-href="/bakery">
                <img data-ng-src="{{getContentUrl('/images/cake.png')}}" alt="cakes" />
                <h4>SPECIALTY CAKES</h4>
                <p>Customize the perfect cake and order it today. Cakes are available with your choice of flavors, icing and a personalized message. Choose from dozens of colorful DecoPac™ designs.</p>
            </a>
        </div>        
    </div>
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="4">
        <div class="homeMod">
            <a data-ng-href="/cardfeatures">
                <img data-ng-src="{{getContentUrl('/images/rewardsCard.png')}}" alt="rewards card" />
                <h4>COUNTRY MART REWARDS</h4>
                <p>Sign up for a My Country Mart Rewards card and start earning  promotional points today!</p>
            </a>
        </div>        
    </div>
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="5">
        <div class="homeMod">
            <a data-ng-href="/coupons/digital">
                <img data-ng-src="{{getContentUrl('/images/digitalCoupons.png')}}" alt="coupons" />
                <h4>DIGITAL COUPONS</h4>
                <p>No Clipping!  Add coupons directly to your country mart rewards card.</p>
          </a>
        </div>        
    </div>
    <div class="col-md-4 col-sm-6" data-gsn-ft-content="" data-content-position="6">
        <div class="homeMod">
            <a data-ng-href="/registration">
                <img class="email" data-ng-src="{{getContentUrl('/images/email.png')}}" alt="coupons" />
                <h4>SIGN UP NOW!</h4>
                <p>Sign Up for Our Weekly Emails!</p>
            </a>
        </div>        
    </div>
</div>


