<div class="row footerBar">
    <div class="col-md-4 col-sm-4">
        <div class="yourStore" data-gsn-store-info="[store.StoreName] <a href='/storelocator'>(View all Stores)</a>"><a href='/storelocator'>Locate your Store</a></div>
        <div data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone] <br/>[store.OpenHoursDisplay]"></div>
    </div>
    <div class="col-md-4 col-sm-4 about">
        <ul>
            <li data-ng-class="{'underlined': currentPath == '/careers'}"><a data-ng-href="/employment">Employment</a></li>
            <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-4 social">
        <h4>Stay Connected</h4>
        <ul>
            <li><a href="#" data-ng-href="/mobileapp"><i class="fa fa-apple fa-2x"></i></a></li>
            <li><a href="#" data-ng-href="/mobileapp"><i class="fa fa-android fa-2x"></i></a></li>
            <li><a href="#" data-ng-href="/textoptin"><i class="fa fa-weixin fa-2x"></i></a></li> 
            <li><a href="#" data-ng-href="https://twitter.com/mycountrymart" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="#" data-ng-href="https://www.facebook.com/mycountrymart?v=app_4949752878" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        </ul>
    </div>
</div>