<div class="visible-lg visible-md" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
    <ul class="nav navSilver">
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>STORE INFO</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/storelocator">Store Locator</a></li>
                <li><a data-ng-href="/giftcards">Gift Cards</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>DEPARTMENTS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/bakery">Bakery</a></li>
                <li><a data-ng-href="/deli">Deli</a></li>
                <li><a data-ng-href="/meat">Meat</a></li>
                <li><a data-ng-href="/produce">Produce</a></li>
                <li><a data-ng-href="/storebrands">Store Brands</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>ONLINE SAVINGS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/circular">Weekly Ad Specials</a></li>
                <li><a data-ng-href="/mylist">Shopping List</a></li>
                <li><a data-ng-href="/coupons/digital" data-gsn-ft-config="disable-coupon-digital" data-ng-hide="item.Description">Digital Coupons</a></li>
                <li><a data-ng-href="/coupons/printable" data-gsn-ft-config="disable-coupon-printable" data-ng-hide="item.Description">Printable Coupons</a></li>
                <li><a data-ng-href="/couponpolicy">Coupon Policy</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>RECIPES</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/recipecenter">Recipes</a></li>
                <li class="visible-lg visible-md"><a data-ng-href="/recipevideo">Videos</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>REWARDS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="#" data-ng-click="goUrl('/profile/rewardcard')">Account Info</a></li>
                <li><a data-ng-href="/cardfeatures">Card Features</a></li>
            </ul>
        </li>
    </ul>
</div>
