<div class="row" data-ctrl-home="">
    <div class="col-md-12 featuredContent" data-gsn-partial="Home"> 
        <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
        <!-- Wrapper for slides -->
            <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()" data-ui-event="{'mouseover': 'stop()', 'mouseout': 'play()'}">
                <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
            </div>
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-ng-repeat="item in slides" data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
            </ol>
        <!-- Controls -->
            <div class="carousel-buttons btn-group">
                <button type="button" class="btn btn-default btn-xs" data-ng-hide="isPlaying()" data-ng-click="play()">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" data-ng-show="isPlaying()" data-ng-click="stop()">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" data-ng-click="next()">
                    <span class="glyphicon glyphicon-forward"></span>
                </button>
            </div>
        </div>
    </div>
</div>


