<div class="visible-lg visible-md" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
    <ul class="nav navSilver">
        <li><a data-ng-class="{'active': currentPath == '/circular'}" data-ng-href="/circular">WEEKLY ADS</a></li>
        <li class="dropdown" dropdown>
             <a data-ng-class="{'active': '/placeholder,/wineandspirits,/bakery,/deli,/produce,/floral,/meatandseafood,/pharmacy'.indexOf(currentPath) > 0 }" class="data-toggle="dropdown" " data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>DEPARTMENTS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/wineandspirits">Wine &amp; Spirits</a></li>
                <li><a data-ng-href="/bakery">Bakery</a></li>
                <li><a data-ng-href="/deli">Deli</a></li>
                <li><a data-ng-href="/produce">Produce</a></li>
                <li><a data-ng-href="/floral">Floral</a></li>
                <li><a data-ng-href="/meatandseafood">Meat &amp; Seafood</a></li>
                <li><a data-ng-href="/pharmacy">Pharmacy</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-ng-class="{'active': '/placeholder,/recipecenter,/recipevideo'.indexOf(currentPath) > 0 }" data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>RECIPES</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/recipecenter">Recipes</a></li>
                <li class="visible-md visible-lg"><a data-ng-href="/recipevideo">Videos</a></li>
            </ul>
        </li>
        <li class="dropdown" dropdown>
            <a class="data-toggle="dropdown" " data-ng-class="{'active': '/placeholder,/coupons/printable,/couponpolicy'.indexOf(currentPath) > 0 }" data-toggle="dropdown"  href="javascript:void(0)"><i class="fa faSilver fa-caret-down pull-right"></i>COUPONS</a>
            <ul class="dropdown-menu dropdown-menuSilver">
                <li><a data-ng-href="/coupons/printable">Coupons</a></li>
                <li><a data-ng-href="/couponpolicy">Coupon Policy</a></li>
            </ul>
        </li>
        <li><a data-ng-class="{'active': currentPath == '/community'}" data-ng-href="/community">COMMUNITY</a></li>
        <li><a data-ng-class="{'active': currentPath == '/storelocator'}" data-ng-href="/storelocator"></i>STORE INFO</a></li>
        <li><a data-ng-class="{'active': currentPath == '/promotions'}" data-ng-href="/Promotions">PROMOTIONS</a></li>
    </ul>
</div>
