<div class="row">
    <h3>Button Background Color</h3>
    <div class="col-md-3">
        <label class="">Unclicked</label>
        <input class="" colorpicker type="text" ng-model="bbcUnclicked" />
        <div class="color-boxes" style="background-color: {{bbcUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Active</label>
        <input class="" colorpicker type="text" ng-model="bbcActive" />
        <div class="color-boxes" style="background-color: {{bbcActive}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Clicked</label>
        <input class="" colorpicker type="text" ng-model="bbcClicked" />
        <div class="color-boxes" style="background-color: {{bbcClicked}};"></div>
    </div>

</div>