<div class="row">
    <h3>Button Text Color</h3>
    <div class="col-md-3">
        <label>Unclicked</label>
        <input colorpicker type="text" ng-model="btcUnclicked" />
        <div class="color-boxes" style="background-color: {{btcUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label>Active</label>
        <input colorpicker type="text" ng-model="btcActive" />
        <div class="color-boxes" style="background-color: {{btcActive}};"></div>
    </div>

    <div class="col-md-3">
        <label>Clicked</label>
        <input colorpicker type="text" ng-model="btcClicked" />
        <div class="color-boxes" style="background-color: {{btcClicked}};"></div>
    </div>
</div>