<div class="row">

    <h3>Nav-Bar Background Color</h3>

    <div class="col-md-3">
        <label class="">Unclicked</label>
        <input class="" colorpicker type="text" ng-model="nbbcUnclicked" />
        <div class="color-boxes" style="background-color: {{nbbcUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Active</label>
        <input class="" colorpicker type="text" ng-model="nbbcActive" />
        <div class="color-boxes" style="background-color: {{nbbcActive}};"></div>
    </div>

    <div class="col-md-3">
        <label class="">Clicked</label>
        <input class="" colorpicker type="text" ng-model="nbbcClicked" />
        <div class="color-boxes" style="background-color: {{nbbcClicked}};"></div>
    </div>

</div>