<div class="row">
    <h3>Nav-Bar Text Color</h3>
    <div class="col-md-3">
        <label>Unclicked</label>
        <input colorpicker type="text" ng-model="nbtcUnclicked" />
        <div class="color-boxes" style="background-color: {{nbtcUnclicked}};"></div>
    </div>

    <div class="col-md-3">
        <label>Active</label>
        <input colorpicker type="text" ng-model="nbtcActive" />
        <div class="color-boxes" style="background-color: {{nbtcActive}};"></div>
    </div>

    <div class="col-md-3">
        <label>Clicked</label>
        <input colorpicker type="text" ng-model="nbtcClicked" />
        <div class="color-boxes" style="background-color: {{nbtcClicked}};"></div>
    </div>
</div>