<table width="100%" border="0" cellpadding="0" cellspacing="0" id="fullwidth">
  <tr align="center" valign="top">
    <td><table width="600" border="0" cellpadding="0" cellspacing="0" id="mainWrapper">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="0" id="teaser" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; color:#000000;">
              <tr>
                <td style="padding-bottom:6px;" align="center" valign="top">If you have trouble seeing the images, view as <a href="%%view_email_url%%" target="_blank" style="color:#010101; text-decoration:underline;">Web page</a></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td style="padding:18px; border:1px solid #dddddd;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="contentWrapper" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000;">
              <tr>
                <td style="padding:0 0 16px 12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="header" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000;">
                    <tr>
                      <td id="logo" rowspan="2" align="left" valign="middle"><a href="http://www.marianos.com" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/logo_marianos_160x56.png" alt="Mariano's logo" width="160" height="56" border="0"></a></td>
                      <td width="99%" align="right" valign="top" id="firstName">%%=v(@namesubject)=%%</td>
                      <td id="signIn" align="left" valign="top" style="padding:0 0 0 8px;"><a href="http://www.marianos.com" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/btn_signIn_48_MA.png" alt="Sign In" width="48" height="20" border="0"></a></td>
                    </tr>
                    <tr>
                      <td align="right" valign="bottom"><table id="sendDate" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000;">
                          <tr>
                            <td height="20" align="right" valign="top">%%=v(@sendDate)=%%</td>
                          </tr>
                        </table></td>
                      <td align="left" valign="bottom" style="padding:0 0 0 8px;"><table id="socialMedia" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding:0 4px 0 0;"><a href="https://www.facebook.com/marianosmarket" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_Facebook_20.png" width="20" height="20" alt="Facebook" border="0"></a></td>
                            <td style="padding:0 4px 0 0;"><a href="http://twitter.com/marianosmarket" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_Twitter_20.png" width="20" height="20" alt="Twitter" border="0"></a></td>
                            <td style="padding:0 4px 0 0;"><a href="http://pinterest.com/marianosmarket" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_Pinterest_20.png" width="20" height="20" alt="Pinterest" border="0"></a></td>
                            <td><a href="http://instagram.com/marianosmarket" target="_blank"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/7/icon_instagram_3b5998_20.png" width="20" height="20" alt="Instagram" border="0"></a></td>
                          </tr>
                        </table></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td align="center" valign="middle" bgcolor="#99a97d" style="padding:8px 0;"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_welcome_MA.png" width="172" height="16" alt="Welcome ot Mariano's!"></td>
              </tr>
              <tr>
                <td style="padding:16px 0 0;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="content">
                    <tr> 
                      <!-- left column left border -->
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="1" height="1" border="0"></td>
                      <!-- left colum without borders width -->
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="363" height="1" border="0"></td>
                      <!-- left column right border -->
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="1" height="1" border="0"></td>
                      <!-- gutter width -->
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="16" height="1" border="0"></td>
                      <!-- right column width -->
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="183" height="1" border="0"></td>
                    </tr>
                    <tr>
                      <td colspan="5" style="padding:0 12px 12px;"><p style="margin:0; padding:0; font-size:125%;">Congratulations, <strong>%%=v(@namesubject)=%%</strong>, on registering with Mariano&#8217;s online! Visit our website any time to start taking advantage of your exclusive member benefits.</p></td>
                    </tr>
                    <!-- First header begins -->
                    <tr>
                      <td colspan="3" align="center" valign="middle" style="padding:6px 0;" bgcolor="#6d5047"><a href="http://www.marianos.com/registration" target="_blank"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_marianosRewards.png" width="118" height="13" alt="Mariano's Rewards" border="0"></a></td>
                      <td><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="16" height="8"></td>
                      <td align="center" valign="middle" style="padding:6px 0;" bgcolor="#988f86"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_otherInterests_MA-MM.png" width="95" height="13" alt="Other Interests"></td>
                    </tr>
                    <!-- First header ends -->
                    <tr>
                      <td colspan="3" align="left" valign="top" style="height: 100%;"><div style="height: 100%;"><!-- to fix Firefox row height problem -->
                          <table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeft">
                            <tr>
                              <td style="padding-bottom:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow1" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000; border:1px solid #6d5047;">
                                  <tr>
                                    <td align="left" valign="top" style="padding:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow1Content">
                                        <tr>
                                          <td rowspan="2" align="left" valign="top" style="padding:8px 8px 0 0;"><p style="margin:0 0 .5em 0; padding:0;">Using your Mariano's Rewards card for purchases will earn you extra savings over regular prices. You will also be eligible for additional incentives like special offers, giveaways, and bonus programs.</p>
                                            <p style="margin:0; padding:0;">Click <a href="http://www.marianos.com/registration" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>here</strong></a> to register your card so you don&#8217;t miss any offers.</p></td>
                                          <td align="right" valign="top" style="padding:8px 0 0;"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/marianosRewardsCard.png" alt="Mariano's Rewards card" width="110" height="69"></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="bottom" style="padding:12px 0 0;"><a href="http://www.marianos.com/registration" target="_blank"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="16" height="16" alt="Learn More" border="0"></a></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td style="padding-bottom:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow2" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000; border:1px solid #6d5047;">
                                  <tr>
                                    <td align="center" valign="middle" style="padding:6px 0;" bgcolor="#6d5047"><a href="http://www.marianos.com/coupons" target="_blank"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_e-clips_MA-MM.png" width="141" height="16" alt="e-clips digital coupons" border="0"></a></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="padding:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow2Content">
                                        <tr>
                                          <td rowspan="2" align="left" valign="top" style="padding:8px 0 0 0;"><p style="margin:0 0 .5em 0; padding:0 8px 0 0;"> Download valuable coupons to your Mariano&#8217;s Rewards card for automatic savings when you shop.</p>
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0" id="e-clip-steps">
                                              <tr>
                                                <td align="left" valign="top">1.&nbsp;</td>
                                                <td align="left" valign="top" style="padding:0 0 4px 0;">Pick the items after signing in at: <strong><a href="http://www.marianos.com/coupons" target="_blank" style="text-decoration:none; color:#6a7f10;">marianos.com/coupons</a></strong>.</td>
                                              </tr>
                                              <tr align="left" valign="top">
                                                <td>2.&nbsp;</td>
                                                <td style="padding:0 0 4px 0;">Click the <span style="color:#ffffff; background-color:#d5704b; font-weight:bold; padding:1px 4px;">Add</span> button.</td>
                                              </tr>
                                              <tr align="left" valign="top">
                                                <td>3.&nbsp;</td>
                                                <td>Save money automatically when you present your card during checkout.</td>
                                              </tr>
                                            </table></td>
                                          <td align="right" valign="top" style="padding:8px 0 0;"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/e-clips_steps_MA.png" alt="e-clips steps" width="101" height="121" border="0"></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="bottom" style="padding:12px 0 0;"><a href="http://www.marianos.com/coupons" target="_blank"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="16" height="16" alt="Learn More" border="0"></a></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td style="padding-bottom:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow3" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000; border:1px solid #6d5047;">
                                  <tr>
                                    <td align="center" valign="middle" style="padding:6px 0;" bgcolor="#6d5047"><a href="http://www.marianos.com/ownbrand" target="_blank"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_roundysBrand_MA-MM.png" width="97" height="16" alt="Roundy's brand" border="0"></a></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="padding:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRow3Content">
                                        <tr>
                                          <td width="99%" rowspan="2" align="left" valign="top" style="padding:8px 8px 0 0;"><p style="margin:0 0 .5em 0; padding:0;">Roundy&#8217;s brings superior quality, freshness, variety and value to you. Our brands offer the same or better quality as national brands at only a fraction of the cost. </p>
                                            <p style="margin:0 0 .5em 0; padding:0;">The brands are: <strong>Roundy&#8217;s Select</strong> (premium), <strong>Simply Roundy&#8217;s Organic</strong>, <strong>Roundy&#8217;s Italian Classics</strong>, <strong>Roundy&#8217;s Fisherman&#8217;s Reserve</strong> (seafood), <strong>Roundy&#8217;s Fresh</strong> (produce and deli), <strong>Tippy Toes</strong> (baby care), <strong>TopCare</strong> (health and beauty), and <strong>Clear Value</strong> (value price).</p>
                                            <p style="margin:0; padding:0;">Take the <strong>Roundy&#8217;s Brand Challenge</strong> and save up to 30%!</p></td>
                                          <td align="right" valign="top" style="padding:8px 0 0;"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/logo_roundysBrand_80.png" alt="Roundy's Own Brand logo" width="80" height="80" border="0"></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="bottom" style="padding:12px 0 0;"><a href="http://www.marianos.com/ownbrand" target="_blank"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="16" height="16" alt="Learn More" border="0"></a></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                            </tr>
                            <tr>
                              <td><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRowLast" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000000; border-right:1px solid #6d5047; border-left:1px solid #6d5047; border-top:1px solid #6d5047;">
                                  <tr>
                                    <td align="center" valign="middle" style="padding:6px 0;" bgcolor="#6d5047"><a href="http://www.marianos.com/circular" target="_blank"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/head_weeklyCircular_MA-MM.png" width="97" height="16" alt="weekly circular" border="0"></a></td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="padding:12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnLeftRowLastContent">
                                        <tr>
                                          <td rowspan="2" align="left" valign="top" style="padding:8px 8px 0 0;"><p style="margin:0 0 .5em 0; padding:0;">Receive the Weekly Circular email the same day the print version is available at the stores. It highlights special offers, complementary recipes, incentive programs, special events, and more.</p>
                                            <p style="margin:0 0 .5em 0; padding:0;">The ads link to the homepage or directly to the full version of the <a href="http://www.marianos.com/circular" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>circular online</strong></a>, where you can add items to your <a href="http://www.marianos.com/mylist" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>shopping list</strong></a>. It&#8217;s that convenient!</p></td>
                                          <td align="right" valign="top" style="padding:8px 0 0;"><img style="display:block; margin:0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/circularSample_MM.jpg" alt="weekly circular" width="109" height="214" border="0"></td>
                                        </tr>
                                        <tr>
                                          <td align="right" valign="bottom" style="padding:12px 0 0;"><a href="http://www.marianos.com/circular" target="_blank"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="16" height="16" alt="Learn More" border="0"></a></td>
                                        </tr>
                                      </table></td>
                                  </tr>
                                </table></td>
                            </tr>
                          </table>
                        </div></td>
                      <td rowspan="2" style="font-size:0px; line-height:0%;"></td>
                      <td rowspan="2" align="right" valign="top" style="border-left:1px solid #988f86; border-right:1px solid #988f86; padding:0 11px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRight">
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow1" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top" style="padding:8px 0 0;"><a href="http://www.marianos.com/recipevideo" target="_blank" style="text-decoration:none; color:#6a7f10;">
                                    <h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="12" height="12" alt="Learn More" border="0" align="right">recipes/cooking videos</h3>
                                    </a>
                                    <p style="margin:0 0 .5em 0; padding:0;">Try our <a href="http://www.marianos.com/recipecenter" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>Recipe of the Day</strong></a> or use our <a href="http://www.marianos.com/mealplannerfull" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>Meal Planner</strong></a> for an entire week of great recipes. Save hundreds of favorite recipes to your very own <a href="http://www.marianos.com/myrecipes" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>Recipe Box</strong></a>.</p>
                                    <p style="margin:0; padding:0;">Watch our chefs demonstrate cooking techniques in our <a href="http://www.marianos.com/recipevideo" target="_blank" style="text-decoration:none; color:#6a7f10;"><strong>5&#8209;Minute Cooking Classes</strong></a>.</p></td>
                                </tr>
                              </table>
                              <hr style="background-color: #988f86; border: 0 none; color: #988f86; height: 1px; margin: 6px auto 8px; width: 90%;"></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow2" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top"><h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;">social media</h3>
                                    <p style="margin:0 0 .5em 0; padding:0;">Like us on <strong><a style="text-decoration:none; color:#3b5a97;" href="https://www.facebook.com/marianosmarket" target="_blank">Facebook</a></strong> or follow us on <strong><a style="text-decoration:none; color:#00acec;" href="http://twitter.com/marianosmarket" target="_blank">Twitter</a></strong>, and share beautiful things with us on <strong><a style="text-decoration:none; color:#ca2028;" href="http://pinterest.com/marianosmarket" target="_blank">Pinterest</a></strong> and <strong><a style="text-decoration:none; color:#3b5998;" href="http://instagram.com/marianosmarket" target="_blank">Instagram</a></strong>. Don&#8217;t miss the last-minute happenings and the latest buzz!</p></td>
                                </tr>
                              </table>
                              <hr style="background-color: #988f86; border: 0 none; color: #988f86; height: 1px; margin: 6px auto 8px; width: 90%;"></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow3" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top"><a href="http://www.marianos.com/careers" target="_blank" style="text-decoration:none; color:#6a7f10;"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="12" height="12" alt="Learn More" border="0" align="right">
                                    <h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;">careers</h3>
                                    </a>
                                    <p style="margin:0 0 .5em 0; padding:0;">We value the contributions of our team members. We have opportunities in our stores, home office, distribution centers, and commissary.</p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;">&bull; <a style="text-decoration:none; color:#6a7f10;" href="http://www.marianos.com/careers" target="_blank"><strong>explore job opportunities</strong></a></p></td>
                                </tr>
                              </table>
                              <hr style="background-color: #988f86; border: 0 none; color: #988f86; height: 1px; margin: 6px auto 8px; width: 90%;"></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow4" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top"><a href="http://www.marianos.com/roundysfoundation" target="_blank" style="text-decoration:none; color:#6a7f10;"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="12" height="12" alt="Learn More" border="0" align="right">
                                    <h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;">Roundy&#8217;s Foundation</h3>
                                    </a>
                                    <p style="margin:0 0 .5em 0; padding:0;">Chartered in 2003, the Roundy&#8217;s Foundation was created to further our commitment to the communities we serve. The Foundation is dedicated to hunger relief, domestic abuse prevention, and development of talent within the grocery industry. It has given more than $5.4 million to food banks and women and family violence shelters.</p>
                                    <p style="margin:0; padding:0;">download:</p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;"> &bull; <a style="text-decoration:none; color:#6a7f10;" href="http://upload.gsngrocers.com/elvs/content/Roundy's%20Annual%20Report%202013%20WEB.PDF" target="_blank"><strong>annual report</strong></a></p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;"> &bull; <a style="text-decoration:none; color:#6a7f10;" href="http://upload.gsngrocers.com/elvs/content/162756grantapplication.doc" target="_blank"><strong>grant application form</strong></a></p></td>
                                </tr>
                              </table>
                              <hr style="background-color: #988f86; border: 0 none; color: #988f86; height: 1px; margin: 6px auto 8px; width: 90%;"></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow5" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top"><h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;">other banners</h3>
                                    <p style="margin:0 0 .5em 0; padding:0;">Roundy&#8217;s Supermarkets, Inc. operates in four retail banners: Pick &#8216;n Save, Metro Market, and Copps throughout Wisconsin and Mariano&#8217;s in Illinois. Click on a logo to learn more.</p>
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="bannerLogos">
                                      <tr>
                                        <td width="50%" align="center" valign="middle" style="padding:0 0 6px;"><a href="http://www.picknsave.com" target="_blank"><img src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/logo_picknSave_74.png" width="74" height="15" alt="Pick 'n Save" longdesc="http://www.marianos.com" border="0"></a></td>
                                        <td width="50%" align="center" valign="middle" style="padding:0 0 6px;"><a href="http://www.metromarket.net" target="_blank"><img src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/logo_metroMarket_64.png" width="64" height="26" alt="Metro Market" longdesc="http://www.metromarket.net" border="0"></a></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2" align="center" valign="top" style="padding:0 0 4px;"><a href="http://www.copps.com/" target="_blank"><img src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/logo_copps_64.png" width="64" height="22" alt="Copps" longdesc="http://www.copps.com/" border="0"></a></td>
                                      </tr>
                                    </table>
                                    <hr style="background-color: #988f86; border: 0 none; color: #988f86; height: 1px; margin: 6px auto 8px; width: 90%;"></td>
                                </tr>
                              </table></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="columnRightRow6" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000;">
                                <tr>
                                  <td align="left" valign="top"><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-IRHome" target="_blank" style="text-decoration:none; color:#6a7f10;"><img style="display:block; margin:0 0 0 auto;" src="http://image.s6.exacttarget.com/lib/fe9e127074640c7d77/m/6/icon_learnMore_16_MM.png" width="12" height="12" alt="Learn More" border="0" align="right">
                                    <h3 style="margin:0 0 .25em 0; padding:0; font-size:12px; color:#6d5047;">investors&nbsp;&nbsp;&nbsp;<span style="font-weight:normal; font-size:75%; color:#000000;">NYSE: <strong>RNDY</strong></span></h3>
                                    </a>
                                    <p style="margin:0 0 .5em 0; padding:0;">If you are an investor or interested in becoming one, click a link below.</p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;">&bull; <a style="text-decoration:none; color:#6a7f10;" href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-IRHome" target="_blank"><strong>Investor Relations</strong></a></p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;">&bull; <a style="text-decoration:none; color:#6a7f10;" href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-stockQuote" target="_blank"><strong>Stock Quote</strong></a></p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;">&bull; <a style="text-decoration:none; color:#6a7f10;" href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-newscorporate&nyo=0" target="_blank"><strong>Corporate News</strong></a></p>
                                    <p style="margin:0 0 0 .7em; padding:0; text-indent:-.7em;">&bull; <a style="text-decoration:none; color:#6a7f10;" href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-alerts&t=&id=&" target="_blank"><strong>Roundy&#8217;s corporate email alerts</strong></a></p></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table></td>
                    </tr>
                    <!-- height filler -->
                    <tr>
                      <td bgcolor="#6d5047"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="1" height="1"></td>
                      <td bgcolor="#ffffff"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="363" height="1"></td>
                      <td bgcolor="#6d5047"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="1" height="1"></td>
                    </tr>
                    <tr>
                      <td colspan="3" align="left" valign="top" style="border-top:1px solid #6d5047;"><img style="display:block;" src="http://image.s6.exacttarget.com/lib/fea212707465057c76/m/1/spacer.gif" width="1" height="1"></td>
                      <td style="font-size:0px; line-height:0%;"></td>
                      <td align="right" valign="top" style="border-top:1px solid #988f86;"></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="left" valign="top" style="padding:10px 12px;"><table width="100%" border="0" cellpadding="0" cellspacing="0" id="footer" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; color:#666666; line-height:120%;">
              <tr>
                <td align="left" valign="top"><p style="margin:0 0 .5em 0; padding:0; font-size:12px;"><a href="http://www.marianos.net/myaccount" target="_blank" style="text-decoration:none; color:#6d5047;">unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.marianos.com/privacy" target="_blank" style="text-decoration:none; color:#6d5047;">privacy policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.marianos.com/contactus" target="_blank" style="text-decoration:none; color:#6d5047;">contact us</a></p>
                  <p style="margin:0 0 .5em 0; padding:0;">NOTE: To ensure delivery to your inbox (not bulk or junk folders), please add <a href="mailto:marianos@email-marianos.com " target="_blank" style="text-decoration:none; color:#000000;">marianos@email-marianos.com</a> to your address book or safelist. Weekly circular email is an opt-in, recurring email from Mariano&#8217;s. This email address was obtained through email sign-up on our website located at <a href="http://www.marianos.com" target="_blank" style="text-decoration:none; color:#000000;">www.marianos.com</a> .</p>
                  <p style="margin:0 0 .5em 0; padding:0;">Roundy&#8217;s Supermarkets | P.O. Box 473, Milwaukee, WI 53201</p>
                  &#169; 2014 Roundy&#8217;s Supermarkets Inc. All Rights Reserved.
                  <p>
                  </p></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>