<link type="text/css" href="//www.google.com/cse/style/look/default.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2 sidebar">

        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div> 
        <div class="row" data-ng-non-bindable="">                          
            <div class="gsnunit" data-dimensions="160x600" data-targeting='{"kw": "community", "tile": "9", "dept": []}'></div>
        </div>
    </div>
    <div class="col-md-9 topPod" data-gsn-ad-unit="">
            <div class="row">
                <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"kw": "productsearch", "tile": "1", "dept": []}'></div>
            </div>
        </div> 
    <div class="col-md-8">
        <div id="cse" data-gsn-site-search="" data-query="q">Loading</div>  
    </div>
    <div class="col-md-2">
        <div class="row" data-gsn-ad-unit="">
            <div class="gsnadunit" data-dimensions="180x150" data-targeting='{"kw": "coupon", "tile": "9", "dept": []}'></div> 
        </div>
      </div>
</div>