<ul class="amenities">
  <!--Vero Coffee-->
  <li data-ng-if="[4199, 4733, 4435, 4432, 4862, 4747, 4832, 4802, 4810, 4728, 4924, 4528, 4903, 4408, 4863, 4901, 4902, 4904, 4923, 4973, 4900, 4921, 5012, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/vero.png')}}" title="Vero Coffee & Gelato" /></a></li>
  <!--Oki Sushi-->
  <li data-ng-if="[4199, 4733, 4435, 4432, 4862, 4747, 4832, 4802, 4810, 4728, 4924, 4528, 4903, 4408, 4863, 4901, 4902, 4904, 4973, 4900, 4919, 4920, 4918, 4983, 4921, 4922, 5010, 5012, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/sushi.png')}}" title="Oki Sushi" /></a></li>
  <!--Squeez'd-->
  <li data-ng-if="[4435, 4432, 4862, 4747, 4832, 4802, 4810, 4728, 4924, 4408, 4863, 4901, 4902, 4904, 4923, 4973, 4733, 4900, 4919, 4983, 5010, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/squeezd.png')}}" title="Squeez'd" /></a></li>
  <!--Todd's BBQ-->
  <li data-ng-if="[4802, 4810, 4923, 4924, 4863, 4973, 5010, 5012, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/bbq.png')}}" title="Todds BBQ" /></a></li>
  <!--Pharmacy-->
  <li data-ng-if="[4199, 4919, 4920, 4918, 4900, 4733, 4901, 4832, 4802, 4921, 4810, 4728, 4924, 4902, 4528, 4903, 4922, 4408, 4923, 4904, 4863, 4901, 4904, 4973, 4919, 4920, 4918, 4983, 4921, 4922, 5010, 5012, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/pharmacy.png')}}" title="Pharmacy" /></a></li>
  <!--Oyster Bar-->
  <li data-ng-if="[4747, 4923, 4973, 4983].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/oysterBar.png')}}" title="Oyster Bar" /></a></li>
  <!--Spice Shop-->
  <li data-ng-if="[4862, 4747, 4901, 4973, 4920, 4983].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/spiceShop.png')}}" title="Spice Shop" /></a></li>
  <!--Kitchen Classroom-->
  <li data-ng-if="[4747, 4832].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/classroom.png')}}" title="Kitchen Classroom" /></a></li>
  <!--Patio-->
  <li data-ng-if="[4435, 4832, 4528, 4973].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/patio.png')}}" title="Patio" /></a></li>
  <!--Demo Kitchen-->
  <li data-ng-if="[4199, 4733, 4747, 4832, 4810, 4528, 4408, 4863].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/demoKitchen.png')}}" title="Demo Kitchen" /></a></li>
  <!--Sweet Shop-->
  <li data-ng-if="[4435, 4862, 4747, 4973, 4920, 4923, 4983, 5010, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/sweetShop.png')}}" title="Sweet Shop" /></a></li>
  <!--Wine Bar-->
  <li data-ng-if="[4435, 4747, 4903, 4923, 4973, 4983, 5010, 5012].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/wineBar.png')}}" title="Wine Bar" /></a></li>
  <!--Delivery-->
  <li data-ng-if="[4733, 4435, 4432, 4862, 4747, 4810, 4901, 4973, 4900].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/delivery.png')}}" title="Delivery" /></a></li>
  <!--Oil/Vinegar Bar-->
  <li data-ng-if="[4924, 4904, 4973, 4983, 4920].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/oliveOil.png')}}" title="Oil/Vinegar Bar" /></a></li>
  <!--Grilling Station-->
  <li data-ng-if="[4199, 4733, 4435, 4862, 4747, 4832, 4802, 4810, 4728, 4924, 4528, 4408, 4863, 4901, 4973, 4900, 4918, 4919, 4920, 4921, 4922, 4923, 4983, 5010, 5060].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/grilling.png')}}" title="Grilling Station" /></a></li>
</ul>
