<div class="row" data-ctrl-article="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <h3 data-ng-show="article.ArticleTypeId == 1">Ask the Chef</h3>
      <h3 data-ng-show="article.ArticleTypeId == 2">Featured Article</h3>
      <h3 data-ng-show="article.ArticleTypeId == 3">Cooking Tip</h3>
      <img data-ng-src="{{article.ImageUrl || getContentUrl('/images/no_image.jpg')}}" />
      <p>{{article.Title}}</p>
    </div>
    <article data-ng-bind-html="article.Body | removeAspx | trustedHtml"></article>
  </div>
</div>
