<div class="col-md-8">
  <div class="row" data-ng-include="getContentUrl('/views/circular-view-menu.html')">
  </div>
  <div class="row gsn-circular-container" data-gsn-digital-circ="vm.digitalCirc">
    <div data-ng-non-bindable=""></div>
  </div>
</div>
<div class="col-md-4 listOptions">
  <div class="row" data-ng-non-bindable="" style="margin-left: 25px; padding-bottom: 5px">
    <div class="circplus"></div>
  </div>
  <div class="available-varieties" data-ng-include="getContentUrl('/views/available-varieties.html')" style="margin-left: 25px"></div>
</div>
