<div class="col-md-12">   
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" data-ng-include="getContentUrl('/views/circular-view-menu.html')"></div>
    <div class="col-md-6 col-sm-6  col-xs-12" data-ng-include="getContentUrl('/views/circular-view-tool.html')"></div>
  </div>
  <div class="row pageContent">
    <div class="row textItems" data-infinite-scroll="loadMore()">
      <div data-ng-repeat-start="item in allItems" data-ng-class="{ 'row': $index == 0 || allItems[$index-1][sortBy] != item[sortBy] }">
        <div data-ng-if="$index == 0 || allItems[$index-1][sortBy] != item[sortBy]">{{item[sortBy]}}</div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail" style="height: 300px; overflow: hidden;" title="{{item.Description + ' ' + item.ItemDescription}}">
          <h4 class="row">{{item.BrandName}}&nbsp;</h4>
          <div style="height: 100px; text-align: center;">
            <img data-gsn-popover="" data-selector=".productImagePopOver" data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" alt="{{item.Description}}" style="max-height: 100px" />
          </div>
          <div class="caption">
            <p style="height: 80px; overflow-y: scroll">{{item.Description}}<br />
              {{item.ItemDescription}}</p>
            <button class="btn btn-default btn-xs btnMarianos pull-right" style="margin-top: 20px" data-ng-click="doToggleCircularItem($event, item)">{{ isOnList(item) && "Remove" || "Add"}}</button>
            <div style="font-weight: 500; font-size: 24px; color: #718246;">{{item.PriceString}}</div>
            <div class="savings" data-ng-show="item.Savings">
              SAVINGS - {{item.SavingsString}}
            </div>
          </div>
        </div>
      </div>
      <div data-ng-repeat-end="" data-ng-class="{ 'row': $index == allItems.length || allItems[$index+1][sortBy] != item[sortBy] }"></div>
      <p>
        We reserve the right to limit quantities and correct all printed errors. 
    Prices subject to state and local taxes, if applicable. No sales to dealers. 
    Purchase requirements exclude discounts, coupons, gift cards.
      </p>
    </div>
  </div>
</div>
