<div class="col-md-8">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" data-ng-include="getContentUrl('/views/circular-view-menu.html')"></div>
    <div class="col-md-6 col-sm-6 col-xs-12" data-ng-include="getContentUrl('/views/circular-view-tool.html')"></div>
  </div>
  <div class="row pageContent">
    <div class="row textItems" data-infinite-scroll="loadMore()">
      <div data-ng-repeat-start="item in allItems" data-ng-class="{ 'row': $index == 0 || allItems[$index-1][sortBy] != item[sortBy] }">
        <div class="row" data-ng-if="$index == 0 || allItems[$index-1][sortBy] != item[sortBy]">
          <strong>{{item[sortBy]}}</strong>
          <br />
          Description
        </div>
      </div>
      <div class="row" data-body="">
        <div class="col-md-8 col-xs-8">
          <div class="thumbnail pull-left" style="width: 50px; margin-right: 10px" data-ng-if="currentPath.indexOf('text') < 0">
            <img data-gsn-popover="" data-selector=".productImagePopOver" data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" style="max-width: 40px; max-height: 50px" />
          </div>
          <p>{{item.Description}}<br />
              {{item.ItemDescription}}</p>
        </div>

        <div class="col-md-4 col-xs-4">
          <button class="btn btn-default btn-xs btnMarianos pull-right" data-ng-click="doToggleCircularItem($event, item)">{{ isOnList(item) && "Remove" || "Add"}}</button>
          <div class="SalePrice" data-ng-show="item.PriceString">
            {{item.PriceString}}
          </div>
          <div class="savings" data-ng-show="item.Savings">SAVINGS - {{item.SavingsString}}</div>
        </div>
      </div>
      <div class="row" data-ng-repeat-end=""></div>
      <p>
        We reserve the right to limit quantities and correct all printed errors. 
    Prices subject to state and local taxes, if applicable. No sales to dealers. 
    Purchase requirements exclude discounts, coupons, gift cards.
      </p>

    </div>
  </div>
</div>

<div class="col-md-4 listOptions">  
  <div class="row" data-ng-non-bindable="" style="margin-left: 25px; padding-bottom: 5px">
    <div class="circplus"></div>
  </div>
  <div class="available-varieties" data-ng-include="getContentUrl('/views/available-varieties.html')" style="margin-left: 25px"></div>
</div>
