<div class="row">
  <form name="searchForm">
    <div class="searchField">
      <span style="padding-left: 5px;">search by:</span>                                             
      <input type="text" placeholder="enter keyword" data-ng-model="vm.filterBy" name="filterby" />
    </div>
  </form>
</div>

<div class="row">
  <span style="padding-left: 5px;">sort by:</span>
  <div class="btn-group">
    <button type="button" class="btn btn-default btnMarianos btn-xs dropdown-toggle" data-toggle="dropdown">
      {{sortByName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="javascript:void(0)" data-ng-click="toggleSort('CategoryName');sortByName='department'">department</a></li>
      <li><a href="javascript:void(0)" data-ng-click="toggleSort('BrandName');sortByName='brand'">brand</a></li>
    </ul>
  </div>
</div>