<div class="row">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <div data-ng-hide="contactSuccess">
      <div class="generalInfo">
        <h3>Thank you for your interest in
          <!--{{vm.ChainName}}-->
          Mariano's!</h3>
        <div>Looking for our Coupon Policy? <a href="javascript:void(0);" data-ng-href="/couponpolicy" target="_blank">Click here.</a></div>
        <div>Questions about <a href="javascript:void();" data-ng-click="goUrl('/givingback')">Charitable Contributions?</a></div>
        <div>
          Please note, regarding gift cards:
          <ul>
            <li>All gift card sales are final</li>          
            <li>Lost or stolen cards cannot be replaced.</li>
          </ul>
        </div>
        <h3>Two Ways to Contact Us</h3>
        <div>
          (Please include UPC number, product expiration date, lot code number, date of purchase, product description and store where purchased 
          for any product-related inquiries.)
        </div>
        <h3>Call Our Customer Experience Center</h3>
        <div>Hours are 7:45 a.m. – 5:00 p.m. Monday through Friday.</div>
        <div>1-866-279-6269</div>
      </div>
      <h3>Send Us an Email</h3>
      <form role="form" name="myContactUsForm" data-ng-submit="doSubmit()">
        <h4>Contact Information</h4>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="firstname">
              First Name: <span class="required" data-ng-show="myContactUsForm.firstname.$invalid">Required</span><span data-ng-show="myContactUsForm.firstname.$valid"></span>
            </label>
            <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="vm.FirstName" data-ng-required="true" />

          </div>
          <div class="col-md-6">
            <label for="lastname">
              Last Name: <span class="required" data-ng-show="myContactUsForm.lastname.$invalid">Required</span><span data-ng-show="myContactUsForm.lastname.$valid"></span>
            </label>
            <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="vm.LastName" data-ng-required="true" />

          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="addressLine1">
              Address:
            </label>
            <input type="text" class="form-control" name="addressLine1" placeholder="Enter address" data-ng-model="vm.AddressLine1" />

          </div>
          <div class="col-md-6">
            <label for="city">
              City:
            </label>
            <input type="text" class="form-control" name="city" placeholder="Enter city" data-ng-model="vm.City" />

          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="state">
              State:
            </label>
            <input name="state" class="form-control" data-ng-model="vm.State" type="text" maxlength="2" size="2" />
          </div>
          <div class="col-md-6">
            <label for="zip">
              Zip:
            </label>
            <input type="text" class="form-control" name="zip" placeholder="Enter zip" data-ng-model="vm.PostalCode" size="5" maxlength="10" />

          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="phone">
              Phone:
            </label>
            <input type="text" class="form-control" name="phone" placeholder="Enter phone" data-ng-model="vm.Phone" />

          </div>
          <div class="col-md-4">

            <label for="email">
              Email: <span class="required" data-ng-show="myContactUsForm.email.$invalid">Required</span><span data-ng-show="myContactUsForm.email.$valid"></span>
            </label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" data-ng-model="vm.Email" data-ng-required="true" />

          </div>
          <div class="col-md-4">
            <label for="confirmEmail">
              Confirm: <span class="required" data-ng-show="myContactUsForm.confirmEmail.$invalid">Required</span><span data-ng-show="myContactUsForm.confirmEmail.$valid"></span>
            </label>
            <input type="email" class="form-control" name="confirmEmail" placeholder="Confirm email" data-ng-model="vm.ConfirmEmail" data-ui-validate=" '$value==vm.Email' " data-ui-validate-watch=" 'vm.Email' " />

          </div>
        </div>
        <div class="form-group row">
          <br />
          <div class="col-md-12">
            <label for="rewardcard">
              Mariano's Rewards Card: <span data-ng-show="myContactUsForm.rewardcard.$invalid"></span><span data-ng-show="myContactUsForm.rewardcard.$valid"></span>
            </label>
            <input type="text" class="form-control" name="rewardcard" data-ng-required="false" data-ng-pattern="/(^48)/" data-ng-minlength="11" placeholder="Enter 11 digit rewards card number" data-ng-model="vm.ExternalId" data-ng-maxlength="11" />
            <ul data-ng-show="myContactUsForm.rewardcard.$viewValue">
              <li data-ng-show="myContactUsForm.rewardcard.$error.pattern">Must start with a 48.   
              </li>
              <li data-ng-show="myContactUsForm.rewardcard.$viewValue.length != 11">Must be 11 digits.
              </li>
            </ul>
            <p class="help-block">
              Existing Members - Please enter the 11 digit number from the back without spaces, periods, or dashes. Your card number should start with a "48" and should not be your telephone number.
            </p>
          </div>
        </div>

        <h3>Your Comments</h3>
        <div class="form-group row">
          <br />
          <div class="col-md-12">

            <label for="topic">
              1. Select Main Topic: <span class="required" data-ng-show="myContactUsForm.topic.$invalid">Required</span><span data-ng-show="myContactUsForm.topic.$valid"></span>
            </label>

            <select name="topic" class="form-control" data-ng-model="vm.Topic" data-ng-options="p.Value as p.Text for p in parentTopics.items | orderBy:'Text'" data-ng-required="true">
              <option value="">Select</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label for="subTopic">
              2. Select Specific Topic: <span class="required" data-ng-show="myContactUsForm.subTopic.$invalid">Required</span><span data-ng-show="myContactUsForm.subTopic.$valid"></span>
            </label>
            <select class="form-control" name="subTopic" data-ng-model="vm.SubTopic" data-ng-options="p.Value as p.Text for p in getSubTopics().items | orderBy:'Text'" data-ng-required="true">
              <option value="">Select</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label for="store">
              3. Select Your Store: <span class="required" data-ng-show="myContactUsForm.store.$invalid">Required</span><span data-ng-show="myContactUsForm.store.$valid"></span>
            </label>

            <select class="form-control" name="store" data-ng-model="vm.PrimaryStoreId" data-ng-options="store.StoreId as getStoreDisplayName(store) group by getFullStateName(store) for store in stores" data-ng-required="true">
              <option value="">Select</option>
            </select>

          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label>
              4. Comment: <span class="required" data-ng-show="myContactUsForm.Message.$invalid">You entered more than 8000 characters.</span><span data-ng-show="myContactUsForm.Message.$valid"></span>
            </label>
            <textarea class="form-control" name="Message" cols="48" rows="6" data-ng-model="vm.Message" placeholder="Enter comment" maxlength="8000"></textarea>
            <div>{{8000 - vm.Message.length}} characters left.</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label>
              5. Enter Captcha: <span class="required" data-ng-hide="captcha.response">Required</span><span data-ng-show="captcha.response"></span>
            </label>
            <div data-vc-recaptcha="" data-ng-model="captcha" data-theme="clean" data-key="6Ld3EOwSAAAAAIIYpQM7e9DnKPQ7o6GHYiQTM2Jz"></div>
          </div>
        </div>

        <div class="form-group row" data-ng-show="errorResponse">
          <div class="col-md-12 alert alert-danger">
            {{errorResponse}}
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-default btnMarianos">Submit</button>
            <button type="button" class="btn btn-default btnMarianos" data-ng-click="doReset()">Reset</button>
            <button type="button" class="btn btn-default btnMarianos" data-ng-click="goBack()">Cancel</button>
          </div>
        </div>
      </form>
    </div>

    <div data-ng-show="contactSuccess" data-ng-include="getContentUrl('/views/email/contact-us.html')"></div>
    <div data-ng-show="contactSuccess">
      <button type="button" class="btn btn-default btnMarianos" data-ng-click="reload()">submit another contact us</button>
    </div>
  </div>
</div>
