<div class="row" data-bindonce="">
  <div class="thumbnail col-md-5 col-xs-5" data-bindonce="">
    <img data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" alt="{{item.Description1}}" />
  </div>
  <div class="digital col-md-7 col-xs-7" data-bindonce="">
    SAVE ${{item.TopTagLine}}<br />
    <strong data-ng-bind-html="item.BrandName" data-bindonce=""></strong>
    <br />
    <p data-ng-bind-html="item.Description2" data-bindonce=""></p>  
    <p>Redeemable one time only.</p>
  </div>
</div>
<div class="row expires" data-bindonce="">
  <p>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</p>
</div>
<div class="row">
  <div data-ng-show="isLoggedIn && youtech.hasValidCard()">
    <button class="btn btn-default btnMarianos btn-xs digitalCouponsBtn" data-ng-click="addCouponToCard($event, item)" data-ng-show="youtech.isAvailable(item.ProductCode)">add</button>
    <button class="btn btn-default btnMarianos btn-xs digitalCouponsBtn" data-ng-click="doToggleCartItem($event, item)" data-ng-show="youtech.isOnCard(item.ProductCode) && !isOnList(item)">add to list</button>
    <button class="btn btn-default btnMarianos btn-xs digitalCouponsBtn" data-ng-click="doToggleCartItem($event, item)" data-ng-show="isOnList(item)">remove from list</button>
  </div>                                                                                                                                                                         
  <button class="btn btn-default btnMarianos btn-xs digitalCouponsBtn" data-gsn-modal="getThemeUrl('/views/modal-login.html')" data-ng-hide="isLoggedIn" data-ng-click="showModal()">sign in to add</button>
</div>
