<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
<div class="row" data-ctrl-coupon-roundy="" data-ng-init="checkPrinter = false">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10" data-ng-init="sortByName = 'About to Expire';">
    <div class="row topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
    <div class="col-md-12 tabs-conent noPadding">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-5 tab tab-left tab-active" data-ng-click="goUrl('/coupons')">
            <img src="{{getContentUrl('/images/e-clips-logo.png')}}" />
            Digital Coupons
          </div>
          <div class="col-md-5 tab tab-right hidden-xs" data-ng-click="goUrl('/coupons/printable')">Printable Coupons</div>
        </div>
      </div>
    </div>
    <div class="col-md-12 coupons-content">
      <div class="row validation">
        <div data-ng-show="youtech.isOldRoundyCard()">
          <p>We've noticed you have an out-of-date Roundy's Rewards card number in your profile. To use loadable coupons, you must <a data-ng-href="/profile">update your profile</a> with your current Mariano's number.</p>
        </div>
        <div data-ng-show="!youtech.isOldRoundyCard() && !youtech.hasValidCard()">
          <p>Your loyalty card number could not be validated. Please <a data-ng-href="/profile">update your profile</a> or visit a store to sign up for a card.</p>
        </div>
      </div>
      <div class="coupons">
        <div class="row hidden-xs coupons-digital-help">
          <div class="help pull-right">
            <a href="/digitalcouponhelp">
              <i class="fa fa-question-circle"></i>Coupon Help
            </a>
          </div>
        </div>
        <div class="row couponsControls">
          <div class="pull-right">
            <div>
              <span class="col-xs-4 col-sm-auto col-md-auto" style="padding: 0;">Sort By:</span>
              <div class="btn-group col-xs-8 col-sm-auto col-md-auto" style="padding: 0;">
                <button type="button" class="btn btn-default btnMarianos btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span data-ng-bind-html="sortByName"></span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire';filterByComplex=''">About to Expire</a></li>
                  <li><a href="javascript:void(0)" data-ng-click="sortBy = '-StartDate';sortByName='Newest';filterByComplex=''">Newest</a></li>
                  <li><a href="javascript:void(0)" data-ng-click="sortBy = '-TopTagLine';sortByName='Savings';filterByComplex=''">Savings</a></li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0)" data-ng-click="sortBy = 'BrandName';sortByName='Brand';filterByComplex=''">Brand</a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="brand in brands">
                        <a href="javascript:void(0)" data-ng-click="changeFilter({BrandName: '{{brand.key}}'}, '{{brand.key}}')" data-ng-bind-html="brand.key"></a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department';filterByComplex=''">Department</a>
                    <ul class="dropdown-menu">
                      <li ng-repeat="department in extDepartments">
                        <a href="javascript:void(0)" data-ng-click="changeFilter({ExtCategory: '{{department}}'}, '{{department}}')">{{department}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <form name="searchForm">
              <div class="searchField">
                <span class="col-xs-4 col-sm-auto col-md-auto" style="padding: 0; padding-right: 5px;">Search By:</span>
                <input class="col-xs-8 col-sm-auto col-md-auto" type="text" placeholder="Enter Keyword" data-ng-model="filterBy" name="filterby" />
              </div>
            </form>
            <span class="visible-xs pull-left">
                <a href="/couponhelp">
                    <i class="fa fa-question-circle"></i> Coupon Help
                </a>
            </span>
            <button class="btn btn-default btnMarianos btn-xs" data-ng-click="selectedCoupons.clippedCouponOnly = !selectedCoupons.clippedCouponOnly">
              <i class="fa fa-square-o" data-ng-hide="selectedCoupons.clippedCouponOnly"></i><i class="fa fa-check-square-o" data-ng-show="selectedCoupons.clippedCouponOnly"></i>
              Show Clipped Coupons
            </button>
          </div>
        </div>
        <div style="display: none" data-gsn-modal="getThemeUrl('/views/modal-loading.html')" data-show="selectedCoupons.items.length <= 0 && !filterBy"></div>
        <div data-ng-show="selectedCoupons.items.length == 0">No items found</div>

        <div class="row" data-ng-show="selectedCoupons.targeted.length > 0 && sortBy == 'EndDate'">
          limited time e-clips
          <br />
          <div class="savingsInfoContainer col-lg-4 col-md-6 col-xs-12 col-sm-6 "
            data-ng-include="getThemeUrl('/views/coupons-digital-item.html')"
            data-ng-repeat="item in selectedCoupons.targeted">
          </div>
        </div>
        <div class="row" data-infinite-scroll="loadMore()">
          <div class="savingsInfoContainer col-lg-4 col-md-6 col-xs-12 col-sm-6 "
            data-ng-include="getThemeUrl('/views/coupons-digital-item.html')"
            data-ng-repeat="item in selectedCoupons.items">
          </div>
        </div>
        <div data-ng-include="getThemeUrl('/views/coupons-digital-panel.html')" gsn-flexible-width gsn-sticky-with-anchor data-bottom="0" data-reload-on-change="selectedCoupons.items.length"></div>
      </div>
    </div>
  </div>
</div>
