<div class="row">
  <h1>Mariano's Card Found</h1>

		<p class="col-md-12">We've found your Mariano's card information. Please review the information to make sure that it is accurate. If you see anything you don't expect, call our Customer Experience Center at 1-866-279-6269 for assistance.</p>
  <div class="col-md-10 col-md-offset-3 alert alert-danger" data-ng-show="validateErrorMessage">
    <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Error</strong>
    <p class="col-md-12">{{validateErrorMessage}}</p>
  </div>
  <div class="col-md-8 col-md-offset-2 padding-top-lg">
		<form class="form-horizontal">
			<fieldset class="fieldset-normal">
				<legend>Mariano's Information</legend> 
        <div class="row">      
        <div class="col-md-6"><strong>Account Number</strong></div><div class="col-md-6">{{foundProfile.ExternalId}}</div>
          </div> <div class="row"> 
        <div class="col-md-6"><strong>Name</strong></div><div class="col-md-6">{{foundProfile.FirstName}} {{foundProfile.LastName}}</div>
            </div> <div class="row"> 
        <div class="col-md-6"><strong>Address</strong></div><div class="col-md-6">{{foundProfile.AddressLine1}}<br />{{foundProfile.AddressLine2}}<br />{{foundProfile.City}}, {{foundProfile.State}} {{foundProfile.PostalCode}} </div> 
              </div> <div class="row">                                                            
        <div class="col-md-6"><strong>Phone</strong></div><div class="col-md-6">{{foundProfile.Phone | tel}}</div>		
                </div>		
			</fieldset>
     <div class="checkbox pull-left col-md-12">
    <label>
      <input type="checkbox" data-ng-model="input.updateProfile"> Update my account with my Mariano's information
    </label>
  </div>
			<p class="text-right col-md-12">
				<button type="button" class="btn btn-default btnMarianos" data-ng-click="close()">Cancel</button>
				<button type="button" class="btn btn-default btnMarianos" data-ng-click="goAddCardScreen()"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				<button type="button" class="btn btn-default btnMarianos" data-ng-click="mergeAccounts()"><span class="glyphicon glyphicon-ok"></span> Finish</button>
			</p>
		</form>
    </div>
</div>