<div class="row slide" style="padding: 20px;">
  <h1>My Account</h1>
  <div class="row">
  <div class="col-md-10 col-md-offset-1 alert alert-danger" data-ng-show="validateErrorMessage">
    <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Please verify your card number</strong>
    <p class="col-md-12">{{validateErrorMessage}}</p>
  </div>
	<div class="col-md-10 col-md-offset-1 alert alert-danger" data-ng-show="showMismatchErrorMessage">
    <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Please verify your card number</strong>
    <p class="col-md-12">The last name on your account does not match the last name to which this Mariano's card is registered. Please verify your card number is typed correctly and try again. If you continue to see this message, please call our Customer Experience Center at 1-866-279-6269</p>
  </div>
  <div class="col-md-10 col-md-offset-1 alert alert-danger cssSlideUp" data-ng-show="myForm.cardnumber.$viewValue &&( myForm.cardnumber.$error.pattern || myForm.cardnumber.$viewValue.length != 11)">
    <p class="col-md-12 text-center" data-ng-show="myForm.cardnumber.$error.pattern">
      Must start with a 48 and contain digits only.   
    </p>
    <p class="col-md-12 text-center" data-ng-show="myForm.cardnumber.$viewValue.length != 11">
      Must be 11 digits.
    </p>
	  <p class="col-md-12 text-center" data-ng-show="myForm.cardnumber.$viewValue > 48399999999">
        Max 48399999999.
      </p>
    </div>
  </div>
  <form name="myForm">
  <div class="row">
    <div class="row padding-top-lg form-group">
      
        <label for="cardnumber">Mariano's Account Number</label>
        <div class="row">
          <div class="col-md-6">
            <input class="form-control" type="text" data-gsn-auto-fill-sync="" id="cardnumber" name="cardnumber" placeholder="Enter card number" data-ng-pattern="/(^48[0-9]*$)/" required data-ng-minlength="11" maxlength="11" placeholder="Enter rewards card number" data-ng-model="foundProfile.FreshPerksCard" min="48300000000" max="48399999999" />
          </div>
        </div>            
    </div>
  </div>
  <p class="col-md-12">Please enter the 11 digit number from the back without spaces, periods, or dashes. Your card number should start with a "48" and should not be your telephone number.</p>
  <button type="submit" class="btn btnMarianosLeft pull-right" data-ng-disabled="!myForm.$valid" data-ng-click="validateCardNumber()">Next</button>
  <button type="button" class="btn btnMarianosLeft pull-right" data-ng-click="close()">Cancel</button>
  <button type="button" class="btn btnMarianos pull-right" data-ng-click="removeLoyaltyCard()" data-ng-show="foundProfile.FreshPerksCard">Remove Account</button>
 </form>
</div>
