<div class="row">
  <h1>Mariano's Card Registration</h1>
		<p style="padding-bottom:15px;">This card has not yet been registered.  Please provide the following information to complete the card registration.
		Your account will be uploaded with this information automatically.</p>
    <div class="col-md-10 col-md-offset-1 alert alert-danger" data-ng-show="validateErrorMessage">
      <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Error</strong>
      <p class="col-md-12">{{validateErrorMessage}}</p>
    </div>
		<form name="MyForm" ng-init="setNewCardFormScope(this)" class="row col-md-12 form-horizontal noPadding">

			<fieldset class="fieldset-normal">
				<legend>Mariano's Information</legend>

				<div class="form-group">
					<div class="col-md-12">
						<label style="margin-right:20px;">Account Number</label>{{foundProfile.ExternalId}}
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
						<label>Phone Number</label>
						<input type="tel" class="form-control" id="phonenumber" data-ng-model="foundProfile.Phone" data-ui-mask="999-999-9999" />
					</div>
					<div class="col-md-6">
						<p class="bg-success message" style="margin-top:20px;min-height: 35px;"><small>You can use this number at checkout instead of scanning your card.</small></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6" data-ng-class="{'has-success': !MyForm.firstname.$invalid, 'has-error': MyForm.firstname.$invalid && submitClick}">
						<label>First Name *</label>
						<input type="text" class="form-control" name="firstname" id="firstname" data-ng-model="foundProfile.FirstName" maxlength="30" placeholder="Enter first name" required/>
					</div>
					<div class="col-md-6" data-ng-class="{'has-success': !MyForm.lastname.$invalid, 'has-error': MyForm.lastname.$invalid && submitClick}">
						<label>Last Name *</label>
						<input type="text" class="form-control" name="lastname" id="lastname" data-ng-model="foundProfile.LastName" maxlength="40" placeholder="Enter last name" required/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<label for="">Address</label>
						<input type="text" class="form-control" id="addressline1" data-ng-model="foundProfile.AddressLine1" maxlength="55" placeholder="Enter address line 1">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="text" class="form-control" id="addressline2" data-ng-model="foundProfile.AddressLine2" maxlength="20" placeholder="Enter address line 2">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-5">
						<label for="">City</label>
						<input type="text" class="form-control" id="city" data-ng-model="foundProfile.City" maxlength="30" placeholder="Enter city">
					</div>
					<div class="col-md-3">
						<label>State</label>
						<select class="form-control" name="state" data-ng-model="foundProfile.State" data-ng-options="state.Abbreviation as state.Abbreviation for state in states">
            </select>  
					</div>
					<div class="col-md-4" data-ng-class="{'has-error': MyForm.zipcode.$invalid}">
						<label>Zip Code</label>
						<input type="text" class="form-control" id="postalcode" name="zipcode" ui-mask="?99999-9999" data-ng-model="foundProfile.PostalCode"/>
					</div>
				</div>
			</fieldset>
			<div class="row text-right">
				<button type="button" class="btn  btnMarianos" data-ng-click="close()">Cancel</button>
				<button type="button" class="btn  btnMarianos" data-ng-click="goAddCardScreen()"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
				<div style="display:inline-block;" ng-click="submitClick=true;">	
					<button type="button" class="btn  btnMarianos" data-ng-disabled="!MyForm.$valid" data-ng-click="registerLoyaltyCard()"><span class="glyphicon glyphicon-ok"></span> Finish</button>
				</div>
			</div>
		</form>
</div>