<div class="row" data-ctrl-home="">
  <div class="col-md-3 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9 featuredContent"><a data-ng-href="/anniversary" data-analytics-on="click" data-analytics-event="ClickFeaturedContent" data-analytics-label="Galdones" data-analytics-category="Home">
    <img alt="Huge Galdones" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/anniversary.jpg')}}" /></a></div>
</div>

<div class="row promoBoxes">
  <div class="col-md-4 box"><a data-ng-href="/storelocator" data-analytics-on="click" data-analytics-event="ClickBox1" data-analytics-label="BoxStoreLocator" data-analytics-category="Home">
    <img alt="New Store" data-ng-src="{{getContentUrl('/images/newStores.jpg')}}" /></a></div>
  <div class="col-md-4 box"><a data-ng-href="/coupons" data-analytics-on="click" data-analytics-event="ClickBox3" data-analytics-label="BoxCoupons" data-analytics-category="Home">
    <img alt="e clips" data-ng-src="{{getContentUrl('/images/eClips.jpg')}}" /></a></div>
  <div class="col-md-4 box"><a data-ng-href="/healthkey" data-analytics-on="click" data-analytics-event="ClickBox3" data-analytics-label="BoxHealth" data-analytics-category="Home">
    <img alt="Health Keys" data-ng-src="{{getContentUrl('/images/healthKey.jpg')}}" /></a></div>
</div>
