<div class="row" data-ctrl-home="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-10 featuredContent" data-gsn-partial="Home"> 
    <div data-gsn-carousel=""class="carousel slide" data-interval="5000" data-slides="partialContents" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
      <!-- Wrapper for slides -->
      <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()">
        <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | trustedHtml" class="slide"></div>
      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators controls">
        <li data-ng-repeat="item in slides"  data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
      </ol>

      <!-- Controls -->
      <div class="carousel-buttons btn-group">         
        <button type="button" class="btn btn-default btn-xs" data-ng-hide="isPlaying()" data-ng-click="play()">
            <span class="glyphicon glyphicon-play"></span>   
         </button>
        <button type="button" class="btn btn-default btn-xs" data-ng-show="isPlaying()" data-ng-click="stop()">     
            <span class="glyphicon glyphicon-pause"></span>
        </button>           
        <button type="button" class="btn btn-default btn-xs" data-ng-click="next()">
            <span class="glyphicon glyphicon-forward"></span>   
         </button>
      </div>
    </div>
  </div>
</div>

<div class="row promoBoxes">
  <div class="col-md-4 box"><a data-ng-href="/storelocator" data-analytics-on="click" data-analytics-event="ClickBox1" data-analytics-label="BoxStoreLocator" data-analytics-category="Home">
    <img alt="New Store" data-ng-src="{{getContentUrl('/images/newStores.jpg')}}" /></a></div>
  <div class="col-md-4 box"><a data-ng-href="/coupons" data-analytics-on="click" data-analytics-event="ClickBox3" data-analytics-label="BoxCoupons" data-analytics-category="Home">
    <img alt="e clips" data-ng-src="{{getContentUrl('/images/eClips.jpg')}}" /></a></div>
  <div class="col-md-4 box"><a data-ng-href="/healthkey" data-analytics-on="click" data-analytics-event="ClickBox3" data-analytics-label="BoxHealth" data-analytics-category="Home">
    <img alt="Health Keys" data-ng-src="{{getContentUrl('/images/healthKey.jpg')}}" /></a></div>
</div>
