<div class="hidden-meta" data-gsn-meta-description="Shop for groceries with our meal planning solutions, save hundreds of dollars with printable coupons and find all recipes and meal ideas."></div>
<div class="hidden-meta" data-gsn-meta-keywords="cheese, chicago fresh markets, chicago tastemakers, chicagoland grocery, flowers at mariano's, fresh food at mariano's, fresh market, grocery in chicago, juice bar, low prices mariano's, mariano's, mariano's chicago, mariano's deli, mariano's fresh market, mariano's grocery, mariano's low prices, mariano's online, mariano's prepared foods, mariano's squeeze'd juice bar squeezed, mariano's sushi, meat & seafood, nutrition, oki sushi, organic, oysters, produce, roundy's, roundy's fresh, roundy's grocery, roundy's italian classics, roundy's organics, roundy's pharmacy, smoothies, squeezed juice bar squeeze'd, sweet shop at mariano's, sweetshop, todds bbg at mariano's bbq, todds bbq, vero, vero mariano's"></div>
<div class="hidden-meta" data-gsn-meta-google-site-verification="PPfVAA9krD4cr38f2dYu6zlqC2mMstxhO3RVxhdyQDI"></div>
<div class="hidden-meta" data-gsn-title="{{ChainName}}"></div>
<div class="container header noPadding">
  <div class="headerBar row">
    <div class="col-md-5 col-xm-12 col-xs-12 notLoggedIn" data-ng-if="!isLoggedIn">
      <ul class="accountLoggedOut">
        <li>
          <button class="btn btn-default btn-xs" data-ng-click="goUrl('/registration')">register</button></li>
        <li>
          <div class="btn-group btn-groupAccount">
            <button class="btn btn-default btn-xs headerbtn" data-gsn-modal="getThemeUrl('/views/modal-login.html')" data-show-if="gvm.loginCounter" data-ng-click="showModal()">sign in</button>
            <button type="button" class="btn btn-default btn-xs headerbtn dropdown-toggle" data-ng-click="doFacebookLogin()" data-analytics-on="click" data-analytics-event="ClickFacebookLogin" data-analytics-category="HeaderLink">
              <span>
                <img class="fbSignInIcon" data-ng-src="{{getContentUrl('/images/fbSignIn.jpg')}}" alt="facebook sign-in button"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-5 col-xm-12 col-xs-12 loggedIn" data-ng-if="isLoggedIn">
      <ul class="account">
        <li data-gsn-profile-info=""></li>
        <li>
          <button class="btn btn-default btn-xs" data-ng-click="goUrl('/myaccount')">my account</button></li>
        <li>
          <button class="btn btn-default btn-xs" data-ng-click="logout()" data-analytics-on="click" data-analytics-event="ClickSignout" data-analytics-category="HeaderLink">sign out</button></li>
      </ul>
    </div>
    <div class="col-md-7 visible-lg visible-md">
      <div class="pull-right searchField">
        <input type="text" placeholder="site search" data-ng-model="search.site" name="sitesearch" data-ui-keyup="{'enter':'doSiteSearch()'}" />
        <a href="javascript:void(0)" data-ng-click="doSiteSearch()" data-analytics-on="click" data-analytics-event="ClickSiteSearch" data-analytics-category="HeaderLink">go</a>
      </div>
      <div class="pull-right searchField">
        <input type="text" placeholder="item search" data-ng-model="search.item" name="itemsearch" data-ui-keyup="{'enter':'doItemSearch()'}" />
        <a href="javascript:void(0)" data-ng-click="doItemSearch()" data-analytics-on="click" data-analytics-event="ClickItemSearch" data-analytics-category="HeaderLink">go</a>
      </div>
      <div class="pull-right col-md-3 socialNav">
        <ul class="list-inline">
          <li><a class="pull-left socialLinks" href="https://www.facebook.com/marianosmarket" target="_blank" data-analytics-on="click" data-analytics-event="ClickFacebook" data-analytics-category="HeaderLink">
                  <img alt="facebook" data-ng-src="{{getContentUrl('/images/facebookIcon22px.png')}}" /></a>
          </li>
          <li><a class="pull-left socialLinks" href="http://twitter.com/marianosmarket" target="_blank" data-analytics-on="click" data-analytics-event="ClickTwitter" data-analytics-category="HeaderLink">
                  <img alt="twitter" data-ng-src="{{getContentUrl('/images/twitterIcon22px.png')}}" /></a>
          </li>
          <li>
           <a class="pull-left socialLinks" href="http://pinterest.com/marianosmarket" target="_blank" data-analytics-on="click" data-analytics-event="ClickPInterest" data-analytics-category="HeaderLink">
                  <img alt="pinterest" data-ng-src="{{getContentUrl('/images/pinterestIcon22px.png')}}" /></a>
          </li>
          <li><a class="pull-left socialLinks" href="http://instagram.com/marianosmarket#" target="_blank" data-analytics-on="click" data-analytics-event="ClickInstagram" data-analytics-category="HeaderLink">
                  <img alt="Instagram" data-ng-src="{{getContentUrl('/images/instagramIcon22px.png')}}" /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right locator" style="padding-bottom: 28px">
      <a data-ng-class="{'underlined': currentPath == '/careers'}" data-ng-href="/careers">careers</a> |
      <a data-ng-class="{'underlined': currentPath == '/storelocator'}" class="storeLocator" href='/storelocator'>
        <img alt="" class="location" data-ng-src="{{getContentUrl('/images/location.png')}}" />
        store locator
      </a>
    </div>
    <div class="logoBox">
      <div class="row">
        <a href="javascript:void(0)" data-ng-click="goUrl('/')" data-analytics-on="click" data-analytics-event="ClickLogo" data-analytics-category="HeaderLink">
          <img alt="{{ChainName}} logo" class="logo" data-ng-src="{{getContentUrl('/images/logo.png')}}" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-right">
      <div class="mylist btn-group btn-groupList pull-right">
        <button type="button" class="btn btn-default headerbtn" data-ng-click="goUrl('/mylist')">my list</button>
        <button type="button" class="btn btn-default headerbtn" data-ng-click="gvm.shoppingListActive = !gvm.shoppingListActive">
          <span class="glyphicon glyphicon-chevron-down downArrow"></span>
          <span class="badge badgeCount">{{getShoppingListCount()}}</span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menuList" role="menu" data-ng-class="{ 'active': gvm.shoppingListActive }">
          <li data-ng-if="gvm.shoppingListActive">
            <div class="shopping-list" data-ng-include="getContentUrl('/views/shopping-list-plugin.html')"></div>
          </li>
        </ul>
      </div>
      <div class="mylist btn-group btn-groupList pull-right hidden-lg hidden-md">
        <a class="btn btn-default headerbtn" data-ng-click="gvm.menuInactive = !gvm.menuInactive"><i class="fa fa-bars"></i> menu</a>
      </div>
    </div>
    <div data-gsn-store-info="[store.StoreName] [store.PrimaryAddress] [store.City], [store.StateName] [store.PostalCode] [store.Phone] <a href='/storelocator'>change store</a>"></div>
  </div>
</div>

<!-- Main content starts-->
<div class="container mainContent noPadding" data-ng-view=""></div>
<!--Main content ends -->

<div class="container footer row noPadding">
  <h3 class="font-bold">shop well. eat well. live well.<span class="font-book">&trade;</span></h3>
  <div class="col-md-4 footerNav">
    <ul>
      <li><a data-ng-href="/aboutus">about Mariano's</a></li>
      <li><a data-ng-href="/storelocator">store locator</a></li>
      <li><a data-ng-href="/contactus">contact us</a></li>
      <li><a data-ng-href="/careers">careers</a></li>
    </ul>
  </div>
  <div class="col-md-4 footerNav">
    <ul>
      <li><a data-ng-href="/privacy">privacy policy & terms of use</a></li>
      <li><a data-ng-href="/couponpolicy">coupon policy</a></li>
      <li><a data-ng-href="/productrecall">product recall</a></li>
      <li><a data-ng-href="/givingback">giving back</a></li>
    </ul>
  </div>
  <div class="col-md-4 footerNav">
    <ul>
      <li><a data-ng-href="/suppliers">for our suppliers</a></li>
      <li><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-IRHome" target="_blank" data-analytics-on="click" data-analytics-event="Investor Relations" data-analytics-category="FooterLink">investor relations</a></li>
	  <li><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-factbook" target="_blank" data-analytics-on="click" data-analytics-event="Roundy Fact Book" data-analytics-category="FooterLink" >Roundy's 2015 fact book</a></li>
      <li><a href="http://www.roundys.com/ess.aspx" target="_blank" data-analytics-on="click" data-analytics-event="ClickForOurEmployees" data-analytics-category="FooterLink">for our employees</a></li>
    </ul>
  </div>
</div>
<div class="container row footerBar">
  <p>Copyright &copy; 2015 Roundy's Supermarkets Inc</p>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="overflow: hidden">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title">&nbsp;</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">X</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true"></button>
          <h4 class="modal-title">&nbsp;</h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
