<div class="row" data-ctrl-meal-planner="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <div class="row" data-ng-repeat="group in vm.mealPlanners | orderBy:'key'">
      <h3>{{group.items[0].DisplayDate}}</h3>
      <div class="col-md-12" data-ng-repeat="item in group.items">

        <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>

      </div>
    </div>

    <button data-ng-click="goBack()">Back</button>
  </div>
</div>
