<div class="visible-lg visible-md" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }">
  <ul class="nav nav-tabs nav-stacked">
    <li class="hidden-lg hidden-md">
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="site search" data-ng-model="search.site" name="sitesearch" data-ui-keyup="{'enter':'doSiteSearch()'}" />
        <span class="input-group-btn">
          <button type="button" data-ng-click="doSiteSearch()" class="btn btn-default">go</button>
        </span>
      </div>
      <div class="input-group searchField">
        <input type="text" class="form-control" placeholder="item search" data-ng-model="search.item" name="itemsearch" data-ui-keyup="{'enter':'doItemSearch()'}" />
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="doItemSearch()">go</button>
        </span>
      </div>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>good taste</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/tastemakers"><i class="fa fa-chevron-right pull-right hidden"></i>tastemakers</a></li>
        <li><a data-ng-href="/recipecenter"><i class="fa fa-chevron-right pull-right hidden"></i>recipes</a></li>
        <li class="visible-md visible-lg"><a data-ng-href="/recipevideo"><i class="fa fa-chevron-right pull-right hidden"></i>cooking videos</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>store highlights</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/amenities"><i class="fa fa-chevron-right pull-right hidden"></i>amenities</a></li>
        <li><a data-ng-href="/bakery"><i class="fa fa-chevron-right pull-right hidden"></i>bakery</a></li>
        <li><a data-ng-href="/liquor"><i class="fa fa-chevron-right pull-right hidden"></i>beer, wine &amp; spirits</a></li>
        <li><a data-ng-href="/catering"><i class="fa fa-chevron-right pull-right hidden"></i>catering</a></li>
        <li><a data-ng-href="/preparedfoods"><i class="fa fa-chevron-right pull-right hidden"></i>deli &amp; prepared foods</a></li>
        <li><a data-ng-href="/floralteam"><i class="fa fa-chevron-right pull-right hidden"></i>floral</a></li>     
        <li><a data-ng-href="/glutenfree"><i class="fa fa-chevron-right pull-right hidden"></i>gluten free</a></li>
        <li><a data-ng-href="/grocery"><i class="fa fa-chevron-right pull-right hidden"></i>grocery aisles</a></li>
        <li><a data-ng-href="/health"><i class="fa fa-chevron-right pull-right hidden"></i>health &amp; beauty care</a></li>
        <li><a data-ng-href="/meatseafood"><i class="fa fa-chevron-right pull-right hidden"></i>meat &amp; seafood</a></li>
        <li><a data-ng-href="/pharmacy"><i class="fa fa-chevron-right pull-right hidden"></i>pharmacy</a></li>
        <li><a data-ng-href="/produce"><i class="fa fa-chevron-right pull-right hidden"></i>produce</a></li>
        <li><a data-ng-href="/ownbrand"><i class="fa fa-chevron-right pull-right hidden"></i>Roundy's own brands</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>specialty brands</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/vero"><i class="fa fa-chevron-right pull-right hidden"></i>Vero Coffee &amp; Gelato</a></li>
        <li><a data-ng-href="/okisushi"><i class="fa fa-chevron-right pull-right hidden"></i>Oki Sushi</a></li>
        <li><a data-ng-href="/squeezd"><i class="fa fa-chevron-right pull-right hidden"></i>Squeez'd</a></li>
        <li><a data-ng-href="/toddsbbq"><i class="fa fa-chevron-right pull-right hidden"></i>Todds BBQ</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>circulars &amp; coupons</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/circular"><i class="fa fa-chevron-right pull-right hidden"></i>circular</a></li>
        <li><a data-ng-href="/coupons"><i class="fa fa-chevron-right pull-right hidden"></i>coupons</a></li>
        <li><a data-ng-href="/mylist"><i class="fa fa-chevron-right pull-right hidden"></i>my shopping list</a></li>
        <li><a data-ng-href="/myspecials"><i class="fa fa-chevron-right pull-right hidden"></i>personalized specials</a></li>
        <li><a data-ng-href="/product"><i class="fa fa-chevron-right pull-right hidden"></i>product search</a></li>
        <li><a data-ng-href="/rewards"><i class="fa fa-chevron-right pull-right hidden"></i>rewards</a></li>
        <li><a data-ng-href="/myaccount"><i class="fa fa-chevron-right pull-right hidden"></i>sign up for email</a></li>
        <li><a data-ng-href="/specials"><i class="fa fa-chevron-right pull-right hidden"></i>unadvertised specials</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-caret-down pull-right"></i>wellness</a>
      <ul class="dropdown-menu">
        <li><a data-ng-href="/pharmacy"><i class="fa fa-chevron-right pull-right hidden"></i>pharmacy</a></li>
        <li><a data-ng-href="dietitians"><i class="fa fa-chevron-right pull-right hidden"></i>dietitians</a></li>
        <li><a data-ng-href="/healthkey"><i class="fa fa-chevron-right pull-right hidden"></i>health key&trade;</a></li>
        <li><a data-ng-href="runners"><i class="fa fa-chevron-right pull-right hidden"></i>for runners</a></li>
      </ul>
    </li>
    <li><a data-ng-href="/storelocator?show=event&fromUrl={{currentPath}}"><i class="fa fa-chevron-right pull-right hidden"></i>store events</a></li>
    <li><a data-ng-href="/community"><i class="fa fa-chevron-right pull-right hidden"></i>community</a></li>
    <li><a data-ng-href="/mypantry"><i class="fa fa-chevron-right pull-right hidden"></i>my shopping history</a></li>
  </ul>
</div>
