<div role="form" class="modal-content modal-contentTastemaker">
  <div class="modal-header">
    <h4>Huge's photo tip</h4>
  </div>
  <div class="modal-body">
    <h5>raw photo</h5>
    <img alt="unedited photo" data-ng-src="{{getContentUrl('/images/hugeGaldones/photoTipBefore.jpg')}}" />
    <h5>photo with tips</h5>
    <img alt="photo with tips" data-ng-src="{{getContentUrl('/images/hugeGaldones/photoTipMarkUp.jpg')}}" />
  </div>
  <div class="modal-footer signInBox">
    <button type="button" class="btn btn-default btnMarianos" data-ng-click="closeModal()">Close</button>
  </div>
</div>
