<div class="row" data-ctrl-my-pantry="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="10"></div>
  </div>
  <div class="topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  <div class="col-md-10 mySpecials">
    <h3>my shopping history</h3>
    <div class="btn-group" data-gsn-watch="{ items: 'vm.productsByCategory' }" data-model="{ title: 'select a department' }" data-ng-include="getContentUrl('/views/control/filter.html')"></div>
    <div class="row" data-ng-include="getContentUrl('/views/product-group.html')"></div>

  </div>
</div>
