<div class="row" data-ctrl-my-recipes="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-10">
    <div data-ng-show="vm.recipes.length <= 0">You do not have any saved recipes.</div>
    <ul>
      <li data-ng-repeat="item in vm.recipes">
        <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeInfo.RecipeTitle}}</a>
        <div data-ng-if="item.Comment">Comment: {{item.Comment}}</div>
      </li>
    </ul>
  </div>
</div>
