<div class="row" data-ctrl-my-specials="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div data-gsn-ad-unit="10"></div>
  </div>
  <div class="topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  <div class="col-md-9 mySpecials">
    <h3>my specials</h3>
    <h4>Items chosen for you based on previous purchases</h4>
    <div class="personalized-circular-items">
      <div class="row " data-ng-repeat="idx in [] | range:0:getPageCount(vm.specials,3)">
        <div class="col-md-4 mySpecialsBlocks" data-ng-repeat="item in vm.specials | pagingFilter:3:idx">
          <div class="imageInfo">
            <img data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" alt="[Product Image]" />
            <div class="myDescription">{{item.Description}}</div>
          </div>
          <div class="myPrice">
            {{item.PriceString}}
            <button class="btn btn-default btn-xs pull-right btnMarianosLeft" data-ng-click="doToggleCartItem($event, item)">{{ isOnList(item) && "Remove" || "Add"}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row personalized-circular-items">
      <div data-ng-repeat="groupItem in vm.productsByCategory">
        <h6>These products are authorized for sale at your Mariano’s store. It is possible that items on this list are currently out of season or out of stock.</h6>
        <div>{{groupItem.key}}</div>
        <div class="row department">
          <div class="col-md-2">Quantity</div>
          <div class="col-md-7">Item</div>
          <div class="col-md-3">Price</div>
        </div>
        <div class="row myCategory" data-ng-repeat="item in groupItem.items" data-ng-include="getContentUrl('/views/product-item.html')"></div>
      </div>
    </div>
  </div>
</div>
