<div class="row" data-ctrl-reward-card-roundy="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <div data-ng-show="!showRewardUpdate">
      <div data-ng-show="updateSuccess">
        <h3>Your profile update is complete!</h3>
        <button class="btn btn-default btnMarianosLeft" data-ng-click="goUrl('/')">Return to Home Page</button>
      </div>
      <div data-ng-hide="updateSuccess">
        Would you like to update your reward card profile?
        <button class="btn btn-default btnMarianosLeft" data-ng-click="updateSuccess = true">No</button>
        <button class="btn btn-default btnMarianosLeft" data-ng-click="showRewardUpdate = !showRewardUpdate">Yes</button>
      </div>
    </div>
    <div data-ng-show="showRewardUpdate">
      <iframe data-ng-src="{{rewardUpdateUrl}}" frameborder="0" width="590" height="850" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </div>
  </div>
</div>