<div class="row" data-ctrl-change-password="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <form role="form" name="myForm" data-ng-submit="changePassword()" data-ng-hide="hasSubmitted && isValidSubmit">
      <div class="form-group">
        <label for="currentPassword">
          Current Password:
        </label>
        <input type="password" class="form-control" name="currentPassword" placeholder="Enter current password" data-ng-model="profile.currentPassword" data-ng-required="true" />
      </div>

      <div class="form-group">
        <label for="password">
          New Password:
        </label>
        <input type="password" class="form-control" name="password" placeholder="Enter new password" data-ng-minlength="6" data-ng-model="profile.newPassword" data-ng-required="true" />
        <p class="help-block" data-ng-show="myForm.password.$error.minlength">
          * Must be at least 6 characters. 
        </p>
      </div>

      <div class="form-group">
        <label for="confirmPassword">
          Confirm New Password:
        </label>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm new password" data-ng-model="profile.confirmPassword" data-ui-validate=" '$value==profile.newPassword' " data-ui-validate-watch=" 'profile.newPassword' " data-ng-required="true" />
        <p class="help-block" data-ng-show="myForm.confirmPassword.$error.validator">
          * Confirm password must match.
        </p>
      </div>
      <div class="form-group" data-ng-show="hasSubmitted && !isValidSubmit">
        <div class="alert alert-danger">
          Password change was unsuccessful, please check and make sure that you've provided the correct current password.
        </div>
      </div>
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <div>
        <button type="button" class="btn btn-default btnMarianos" tabindex="-1" data-ng-click="goBack()">cancel</button>
        <button type="submit" class="btn btn-default btnMarianos">submit</button>
        <button type="submit" class="btn btn-default btnMarianos" data-ng-click="goUrl('/recoverpassword')">forgot password</button>
      </div>
    </form>

    <div data-ng-show="hasSubmitted && isValidSubmit">
      <h4>You have successfully changed your password.</h4>
    </div>
  </div>
</div>
