<div class="row" data-ctrl-account="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9">
    <form role="form" name="myForm" data-ng-submit="updateProfile()" data-ng-hide="profileUpdated">
      <div class="form-group">
        <label for="firstname">
          First Name:
        </label>
        <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="profile.FirstName" data-ng-required="true" />
      </div>

      <div class="form-group">
        <label for="lastname">
          Last Name:
        </label>
        <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="profile.LastName" data-ng-required="true" />
      </div>

      <div class="form-group" data-ng-if="!isFacebook">
        <label for="email">
          Email address:
        </label>
        <input type="email" class="form-control" name="email" placeholder="Enter email address" data-ng-model="profile.Email" data-gsn-valid-user="required" data-ng-required="true" />
        <p class="help-block" data-ng-show="myForm.email.$error.gsnValidUser">
          Email is invalid or not available.
        </p>
      </div>

      <div class="form-group">
        <label for="username">
          Username:
        </label>
        <input type="text" class="form-control" name="username" placeholder="Enter username" data-ng-model="profile.UserName" data-gsn-valid-user="" />
        <p class="help-block" data-ng-show="myForm.username.$error.gsnValidUser">
          Username is invalid or not available.
        </p>
      </div>

      <div class="checkbox">
        <label for="receiveemail">
          <input type="checkbox" name="receiveemail" data-ng-model="profile.ReceiveEmail">
          Receive Email
        </label>
        <p class="help-block"><a data-ng-href="/privacy">Privacy Policy</a></p>
      </div>

      <div class="form-group">
        <label for="rewardcard">
          Mariano's Rewards Card:
        </label>
        <input type="text" class="form-control" name="rewardcard" data-ng-required="false" data-ng-pattern="/(^48)/" data-ng-minlength="11" placeholder="Enter rewards card number" data-ng-model="profile.ExternalId" data-ng-maxlength="11" />
        <ul data-ng-show="myForm.rewardcard.$viewValue">
          <li data-ng-show="myForm.rewardcard.$error.pattern">Must start with a 48.   
          </li>
          <li data-ng-show="myForm.rewardcard.$viewValue.length != 11">Must be 11 digits.
          </li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <p class="help-block">
              Existing Members - Please enter the 11 digit number from the back without spaces, periods, or dashes. Your card number should start with a "48" and should not be your telephone number.

                    If you do not have a Rewards Card, please visit the customer service desk at your store to get your FREE Mariano’s Rewards Card.
            </p>
          </div>
          <div class="col-md-6">
            <img alt="" data-ng-src="{{getContentUrl('/images/marianosrewards_back.jpg')}}" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="primarystoreid">
          Choose a store:
        </label>
        <select name="primarystoreid" data-ng-model="profile.PrimaryStoreId" data-ng-options="store.StoreId as store.StoreName for store in stores" data-ng-required="true">
          <option value="">-- choose a store --</option>
        </select>
      </div>
      <div>
        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>

        <button type="button" class="btn btn-default btnMarianos" tabindex="-1" data-ng-click="goBack()">Cancel</button>
        <button type="submit" class="btn btn-default btnMarianos">Update</button>
        <button type="button" class="btn btn-default btnMarianos" data-ng-click="goUrl('/changepassword')">Change Password</button>
      </div>
    </form>

    <div data-ng-show="profileUpdated">Thank you for updating your profile.</div>
  </div>
</div>
