<div class="hidden" data-gsn-title="{{ChainName}} Recipe Center"></div>
<div class="row" data-ctrl-recipe-center="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="10"></div>
  </div>
  <div class="col-md-10 topPod">
    <div class="row" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  </div>
  <div class="col-md-10 recipeBox">
    <div class="row">
      <h2 class="text-center font-book">Recipe Box</h2>
      <div class="col-md-6 recipeOTD text-center">
        <a data-ng-href="/recipe?id={{vm.featuredRecipe.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{vm.featuredRecipe.RecipeTitle}}" data-analytics-category="Recipe">
          <h3 class="text-center font-demi">Recipe of the Day</h3>
          <p>New recipe every day!</p>
          <img data-ng-src="{{vm.featuredRecipe.Images[0].RecipeImageUrl}}">
          <div>{{vm.featuredRecipe.RecipeTitle}}</div>
        </a>
      </div>
      <div class="col-md-6 recipePlanner">
        <a data-ng-href="/mealplannerfull">
          <h3 class="text-center font-demi">Meal Planner</h3>
        </a>
        <div class="row" data-ng-repeat="group in vm.mealPlannerTeasers">
          <h3>{{group.DisplayDate}}</h3>
          <div class="col-md-12" data-ng-repeat="item in group.items">
            <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row recipeMenu">
          <button class="btn col-md-12 text-left" id="myRecipeBoxMenu" data-ng-click="goUrl('/myrecipes')">
            <div class="pull-left">
              my recipe box
            </div>
            <div class="pull-right">
              <span>saved recipes</span>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </button>
        </div>

        <div class="row dropdown recipeMenu">
          <button class="btn col-md-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeQuickSearch.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeQuickSearch" data-analytics-category="Recipe">
            <div class="pull-left">
              quick search by food type
            </div>
            <div class="pull-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row dropdown recipeMenu">
          <button class="btn col-md-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeTopFifty.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeTopN" data-analytics-category="Recipe">
            <div class="pull-left">
              top 50 recipes
            </div>
            <div class="pull-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </button>
        </div>
        <div class="row dropdown recipeMenu">
          <button class="btn col-md-12 text-left" id="myRecipeBoxMenu" data-gsn-modal="getThemeUrl('/views/modal-recipeAdvancedSearch.html')" data-ng-click="showModal()" data-analytics-on="click" data-analytics-event="ClickRecipeAdvanceSearch" data-analytics-category="Recipe">
            <div class="pull-left">
              advanced recipe search
            </div>
            <div class="pull-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row recipeArticles">
      <div class="recipeArticle text-center">
        <a data-ng-href="/article?id={{vm.featuredArticle.ArticleId}}" data-analytics-on="click" data-analytics-event="ClickFeaturedArticle" data-analytics-label="{{vm.featuredArticle.Title}}" data-analytics-category="Recipe">
          <h3 class="font-demi">{{vm.featuredArticle.Title}}</h3>
          <img data-ng-src="{{vm.featuredArticle.ImageUrl}}">
          <p data-ng-bind="vm.featuredArticle.Teaser"></p>
        </a>
      </div>
      <div class="recipeArticleSpacer"></div>
      <div class="recipeArticle text-center">
        <a data-ng-href="/article?id={{vm.cookingTip.ArticleId}}" data-analytics-on="click" data-analytics-event="ClickCookingTip" data-analytics-label="{{vm.cookingTip.Title}}" data-analytics-category="Recipe">
          <h3 class="font-demi">{{vm.cookingTip.Title}}</h3>
          <img data-ng-src="{{vm.cookingTip.ImageUrl}}">
          <p data-ng-bind="vm.cookingTip.Teaser"></p>
        </a>
      </div>
    </div>
    <!--<div data-ng-include="getContentUrl('/views/recipe-center-search.html')"></div> this is advanced feture stuff-->
  </div>
</div>
