<div class="row" data-ctrl-recipe="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-7 recipe-detail" data-ng-init="recipeQuantity = 1" data-ng-include="getContentUrl('/views/recipe-content.html')"></div>
  <div class="col-md-3 recipeSidebar">
  </div>

  <table class="nutr-table" data-ng-hide="true">
    <tbody>
      <tr>
        <td class="nutr-header">Nutrition Facts
                            <div class="nutr-normal">
                              Serving Size: 1
                              <br />
                              Servings: {{vm.recipe.YieldQuantity}}
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="nutr-normal">Amount Per Serving</div>
          <div class="clearfix">
            <span>Calories {{nutrients['Calories'].DisplayAmount}}</span>
            <span class="pull-right nutr-normal">Calories from Fat {{nutrients['Calories From Fat'].DisplayAmount}} </span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="nutr-border">
          <span class="nutr-value">% Daily Value*</span>
        </td>
      </tr>
      <tr>
        <td>Total Fat {{nutrients['Total Fat'].DisplayAmount}}{{nutrients['Total Fat'].MeasureUnit}}
                            <span class="nutr-value">{{nutrients['Total Fat'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td><span class="nutr-sub-item">Saturated Fat {{nutrients['Saturated Fat'].DisplayAmount}}{{nutrients['Saturated Fat'].MeasureUnit}} </span>
          <span class="nutr-value">{{nutrients['Saturated Fat'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td>Cholesterol {{nutrients['Cholesterol'].DisplayAmount}}{{nutrients['Cholesterol'].MeasureUnit}}
                            <span class="nutr-value">{{nutrients['Cholesterol'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td>Sodium {{nutrients['Sodium'].DisplayAmount}}{{nutrients['Sodium'].MeasureUnit}}
                            <span class="nutr-value">{{nutrients['Sodium'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td>Total Carbohydrates {{nutrients['Carbohydrates'].DisplayAmount}}{{nutrients['Carbohydrates'].MeasureUnit}}
                            <span class="nutr-value">{{nutrients['Carbohydrates'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td><span class="nutr-sub-item">Dietary Fiber {{nutrients['Dietary Fiber'].DisplayAmount}}{{nutrients['Dietary Fiber'].MeasureUnit}}</span>
          <span class="nutr-value">{{nutrients['Dietary Fiber'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="nutr-sub-item">Sugar {{nutrients['Sugars, total'].DisplayAmount}}{{nutrients['Sugars, total'].MeasureUnit}}</span>
          <span class="nutr-value">{{nutrients['Sugars, total'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td>Protein {{nutrients['Protein'].DisplayAmount}}{{nutrients['Protein'].MeasureUnit}}
                            <span class="nutr-value">{{nutrients['Protein'].PctDailyValue}}%</span>
        </td>
      </tr>
      <tr>
        <td class="nutr-border">
          <span class="nutr-normal">* Percent Daily Values are based on 2,000 calorie diet.  Your Daily Values may be higher or lower depending on your calorie needs.</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>