<div class="hidden" data-gsn-title="{{ChainName}} Recipe Center"></div>
<div class="row" data-ctrl-recipe-center="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="10"></div>
  </div>
  <div class="col-md-10 topPod">
    <div class="row" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  </div>
  <div class="col-md-10 recipeBox" data-gsn-flow-player="VideoPlayerTarget" data-swf="http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf" data-base-url="http://upload.gsngrocers.com/recipe/video/flv/">
    <div class="col-md-6">
      <h3>5 Minute Cooking Classes</h3>
      <div class="videoColumn" id="VideoPlayer">
        <h3>{{videoTitle}}</h3>
        <a id="VideoPlayerTarget" class="VideoPlayerTarget" style="display: block; width: 325px; height: 250px;"></a>
      </div>
    </div>
    <div class="col-md-6" data-ng-init="videoTitle = 'Artichokes'; videoName = 'GSN-Artichokes';">
      <h3>Videos</h3>
      <div style="display: block; height: 300px; overflow-y: scroll;" class="">
        <div class="list-group">
            <div  data-ng-repeat="video in vm.videos | orderBy : 'Title' ">
                <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == '{{video.Title}}'}" title="{{video.Title}}" data-ng-click="play('{{video.Url}}','{{video.Title}}');">{{video.Title}}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  flowplayer("VideoPlayerTarget", "http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf", {
    clip: {
      // these two configuration variables does the trick
      autoPlay: false,
      autoBuffering: true // <- do not place a comma here
    }
  });
</script>
