<div class="row" data-ctrl-roundy-profile="">
  <div style="display: none" data-gsn-modal="getThemeUrl('/views/modal-loading.html')" data-show="isLoading"></div>
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10 rightContent">
  	<div class="row hidden-xs coupons-digital-help" style="margin-bottom: -50px;">
      <div class="help pull-right">
        <a href="/accounthelp">
          <i class="fa fa-question-circle"></i>Account Help
        </a>
      </div>
    </div>
    <form  role="form" name="MyForm" ng-Submit="saveProfile()">
      <h1>My Account</h1>
      <div class="row myaccount">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 alert alert-danger" data-ng-show="validateErrorMessage">
              <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Error</strong>
              <p class="col-md-12">{{validateErrorMessage}}</p>                     
            </div>            
            <div class="col-md-8 col-md-offset-2 alert alert-danger cssSlideUp" data-ng-show="MyForm.zipcode.$invalid">                           
              <p class="col-md-12 text-center">Zip Code must be in XXXXX or XXXXX-XXXX format.</p>
            </div>             
            <div class="col-md-8 col-md-offset-2 alert alert-success" data-ng-show="updateSuccessful">                           
              <p class="col-md-12 text-center">Profile saved</p>
            </div>
          </div>
          <div class="row" data-ng-show="!profile.FreshPerksCard">
            <strong>Mariano's Card</strong>
            <p>You do not currently have a Mariano's card associated with your account. To obtain a Mariano's card, please visit the customer service desk at any {{ChainName}} store or sign up for an eCard below!</p>
			<div class="row text-center">
			  <button type="button" class="btn btnMarianos add-card-btn " data-ng-click="goChangeCardScreen(true)" data-ng-disabled="!MyForm.$valid">Get a Mariano's eCard</button>
			  <button type="button" class="btn btnMarianos add-card-btn " data-ng-click="goChangeCardScreen()" data-ng-disabled="!MyForm.$valid">Add my Mariano's card</button>
			</div>
          </div>
          <div class="row" data-ng-hide="!profile.FreshPerksCard">
            <div class="row">
              <strong class="col-md-4">Mariano's Card</strong>
              <p class="col-md-4">{{profile.FreshPerksCard}}</p>
              <div class="col-md-4">
                <button type="button" class="btn btn-xs btnMarianos" data-ng-click="goChangeCardScreen()" data-ng-disabled="!MyForm.$valid">Change</button>
              </div>
            </div>
            <div class="row padding-top-sm">
              <strong class="col-md-4">Phone Number</strong>
              <p class="col-md-4" >{{profile.Phone | tel}}</p>
              <div class="col-md-4">
                <button type="button" class="btn btn-xs btnMarianos" data-ng-click="changePhoneNumber()">Change</button></div>
            </div>
          </div>
          <div class="row padding-top-lg">
            <div class="form-group col-md-6" data-ng-class="{'has-success': !MyForm.email.$invalid, 'has-error': MyForm.email.$invalid}">
              <label for="email">Email Address</label>
              <input tabindex=1 class="form-control" type="email" name="email" placeholder="Enter email address" data-ng-model="profile.Email" maxlength="255" data-ng-required="true" data-ng-disabled="loggedInWithFacebook" />
              <div class="checkbox">
                <label for="receiveemail">
                  <input tabindex=3 type="checkbox" name="receiveemail" data-ng-model="profile.ReceiveEmail">
                  Receive emails
                </label>
                <p class="pull-right"><a data-ng-href="/privacy">Privacy Policy</a></p>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <button type="button" class="btn btnMarianos padding-top-sm " data-ng-click="goUrl('/changepassword')">Change Password</button>
              </div>

            </div>
            <div class="form-group col-md-6">
              <label for="primarystoreid">
                Favorite Store
              </label>
              <select tabindex=2 class="form-control" name="primarystoreid" data-ng-model="profile.PrimaryStoreId" data-ng-options="store.StoreId as store.StoreName for store in stores" data-ng-required="true">
                <option value="">-- choose a store --</option>
              </select>
            </div>
          </div>
          <div class="row padding-top-sm">
            <div class="col-md-6">
              <div class="form-group "  data-ng-class="{'has-success': !MyForm.firstname.$invalid, 'has-error': MyForm.firstname.$invalid}">
                <label for="firstname">First Name *</label>
                <input tabindex=4 class="form-control" type="text" name="firstname" placeholder="Enter first name" maxlength="30" data-ng-model="profile.FirstName" data-ng-required="true" />
              </div>
              <div class="form-group ">
                <label for="addressline1">Address</label>
                <input tabindex=6 class="form-control" type="text" name="addressline1" placeholder="Enter address line 1"  maxlength="55" data-ng-model="profile.AddressLine1" />
              </div>
              <div class="form-group ">

                <input tabindex=7 class="form-control" type="text" name="addressline2" placeholder="Enter address line 2" maxlength="20" data-ng-model="profile.AddressLine2" />
              </div>
            </div>
            <div class="form-group col-md-6"  data-ng-class="{'has-success': !MyForm.lastname.$invalid, 'has-error': MyForm.lastname.$invalid}">
              <label for="lastname">Last Name *</label>
              <input tabindex=5 class="form-control" type="text" name="lastname" placeholder="Enter last name" maxlength="40" data-ng-model="profile.LastName" data-ng-required="true" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-5">
              <label for="city">City</label>
              <input tabindex=8 class="form-control" type="text" name="city" placeholder="Enter city" maxlength="30" data-ng-model="profile.City" />
            </div>
            <div class="form-group col-md-3">
              <label for="state">
                State
              </label>
              <select tabindex=9 class="form-control" name="state" data-ng-model="profile.State" data-ng-options="state.Abbreviation as state.Abbreviation for state in states">
              </select>
            </div>
            <div class="form-group col-md-4" data-ng-class="{'has-error': MyForm.zipcode.$invalid}">
              <label for="zipcode">Zip Code</label>
              <input tabindex="10" class="form-control" type="text" name="zipcode"  ui-mask="?99999-9999" data-ng-model="profile.PostalCode" />
            </div>
          </div>          
        </div>
        <div class="col-md-4">
          <img alt="" data-ng-src="{{getThemeUrl('/images/marianosrewards_back.jpg')}}" />
        </div>
        <div class="btnMarianos-outer">
          <button type="submit" class="btn btnMarianos" data-ng-disabled="!MyForm.$valid">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>


