<form role="form" class="form-horizontal" name="myPhoneForm" data-ng-submit="save()">
  <div class="modal-header">
    <h3 class="modal-title">Change Phone Number</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      This is the phone number tied to your Mariano's card. You can enter this number at checkout (instead of scanning your card) to activate your Mariano's account. You may use any phone number that is currently not used by someone else.
    </div> 
    <div class="row">
       <div class="col-md-10 col-md-offset-1 alert alert-danger" data-ng-show="validateErrorMessage">
      <strong class="col-md-12 text-center"><i class="fa fa-exclamation-triangle text-center"></i>Error</strong>
      <p class="col-md-12 text-center">{{validateErrorMessage}}</p>
    </div>
    </div>  
    <div class="form-group" style="margin-top: 15px;" data-ng-class="{'has-success': input.PhoneNumber.length==10, 'has-error':input.PhoneNumber.length<10 && input.PhoneNumber.length!=0 }">
      <div class="col-md-3" style="font-weight: 700; margin-top: 5px;">
        Phone Number:
      </div>
      <div class="col-md-7" >        
         <input type="text" class="form-control" name="phonenumber" data-ng-model="input.PhoneNumber" data-ui-mask="?999-999-9999" />
      </div>      
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btnMarianos" type="button" data-ng-click="cancel()">Cancel</button>
    <button class="btn btnMarianos" type="button" data-ng-click="remove()" data-ng-hide="isECard">Remove Phone Number</button>
    <button class="btn btnMarianos" data-ng-disabled="!myPhoneForm.$valid || input.PhoneNumber.length<10"type="submit">Change Phone Number</button>
  </div>
</form>
