<div class="row">  
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-ng-include="getThemeUrl('/views/layout-sidebar-bottom.html')"></div>
  </div>
  <div class="col-md-10 rightContent">
    <h1>We're down for maintenance</h1>
    <div class="row">
      The Account page is down for maintenance.  Please come back later.  If you need to update your profile information urgently, please call the Customer Experience Center at 1-866-279-6269.
    </div>
  </div>
</div>