<div class="row" data-ctrl-shopping-list="">
  <div class="col-md-3">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-9 saveListsContent">
    <div class="row">
      <div class="col-md-4 savedLists" data-ng-show="listviewList.length > 0">
        <a data-ng-click="setSelectedShoppingListId(list.ShoppingListId)" data-ng-repeat="list in listviewList" href="javascript:void(0);" data-ng-class='{"active": list.ShoppingListId == selectedShoppingListId }'>
          <span>{{list.getTitle()}}</span><br />
        </a>
      </div>

      <div class="col-md-8" data-gsn-shopping-list="savedlists">
        <h4>{{title}}</h4>

        <button class="btn btn-default btnMarianos" data-ng-click="doDeleteList()">Delete List</button>
        <button class="btn btn-default btnMarianos" data-ng-click="doSelectAll()">Select All</button>
        <button class="btn btn-default btnMarianos" data-ng-click="doAddSelected()">Add Selected</button>


        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="!mylist.hasLoaded()"></div>
        <div data-ng-repeat="groupItem in allItems" data-ng-hide="groupItem.fitems.length <= 0">
          <div class="line">{{groupItem.key}}</div>

          <div class="row" data-ng-repeat="item in groupItem.fitems">

            <input class="col-md-1" type="checkbox" data-ng-model="item.selected" />
            <div class="col-md-9">
              <div>{{item.Description}}</div>
              <div data-ng-hide="item.IsCoupon">
                <span>{{item.PriceString}}</span>
              </div>
              <div data-ng-show="item.ItemTypeId == 13">Card Coupon</div>
            </div>
            <div class="col-md-2"><a href="javascript:void(0)" data-ng-click="doItemRemove(item)"><i class="glyphicon glyphicon-remove"></i></a></div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
