<div class="row" data-gsn-shopping-list="">
  <div class="row printHeader">
    <div class="col-md-3">
      <img alt="Mariano's" class="logo" data-ng-src="{{getThemeUrl('/images/logo.png')}}" />
    </div>
    <div class="col-md-7 printListInfo">
      <h3>My Shopping List</h3>
                <p>
                  Ad Prices Valid from {{circular.Circulars[0].StartDate | date: 'M/dd/yyyy' }} through {{circular.Circulars[0].EndDate | date: 'M/dd/yyyy' }} at:
                </p>
      <p data-gsn-store-info="[store.StoreName] [store.PrimaryAddress], [store.City] location only"></p>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-xs btnMarianos pull-right" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList">Print</button>
    </div>
  </div>

  <div data-ng-init="canPrint = false">
    <div data-ng-repeat="groupItem in allItems" data-ng-hide="groupItem.fitems.length <= 0">
      <div class="col-md-6 col-xs-6 itemInfo">
        <span class="pull-right">Quantity</span>
        <h4>{{groupItem.key}}</h4>
        <div class="circular-item" data-ng-repeat="item in groupItem.fitems">
          <div class="pull-right">{{item.Quantity}}</div>
            <div>
                <img data-ng-src="{{getContentUrl('/images/eClipsicon.png')}}" data-ng-show="item.ItemTypeId == 13">
                <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.ItemTypeId == 2">
                <span data-ng-bind-html="item.Description | trustedHtml"></span>
                <p data-ng-show="item.ItemTypeId == 13">Redeemable one time only.</p>
            </div>
            <span style="font-size: x-small;padding-left: 10px;" data-ng-show="item.Comment">({{item.Comment}})</span>
          <div data-ng-hide="item.IsCoupon">
            <span>{{item.PriceString}}</span>
          </div>
          <span data-ng-show="item.IsCoupon">expires: {{item.EndDate | date: 'M / dd / yyyy'}}</span>
          <div data-ng-if="item.ItemTypeId == 2"><span class="coupon-message coupon-message-{{item.ProductCode}}" data-ng-bindonce=""></span></div>
        </div>
      </div>
    </div>
    <!-- Ad Pods -->
    <div class="row" data-gsn-ad-unit="2" data-ng-if="',visible-lg,visible-md,visible-sm'.indexOf(bsDisplayMode) > 0"></div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <h5>Manufaturer Coupon Print Status (must submit all coupons to redeem savings)</h5>
    </div>
    <div class="col-md-2">
      <button class="btn btn-default btn-xs btnMarianos pull-right" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList">Print</button>
    </div>
  </div>
</div>
<div class="row">
  <p>
    Trouble printing manufacturer coupons? Download and install the Coupon Printing Plugin:<br />
    <a href="http://cdn.coupons.com/ftp.coupons.com/Partners/CouponPrinter.exe">Windows Coupon Printing Plugin</a>
    <span>| </span>
    <a href="http://cdn.coupons.com/ftp.coupons.com/safari/MacCouponPrinter.dmg">Mac Coupon Printing Plugin</a>
  </p>
</div>










