<div class="hidden" data-gsn-title="{{ChainName}} my shopping list"></div>
<div class="row" data-ctrl-shopping-list="">
  <div class="row" data-gsn-shopping-list="">
    <div class="col-md-2 sidebar">
      <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
      <div class="row navAd" data-gsn-ad-unit="10"></div>
    </div>
    <div class="col-md-9 rightContent">
      <div class="row topPod"  data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
      <div class="col-md-8 shopping-list-manage">
        <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="!mylist.hasLoaded()"></div>
        <div class="row">
          <h4 style="text-align: center">current list</h4>
          <div class="row addOwnItem">
            <input class="add-field pull-left" type="text" data-ng-model="addString" placeholder="add item" ui-keypress="{13:'doAddOwnItem()'}" />
            <button class="btn btn-default btn-xs btnMarianosLeft" data-ng-click="doAddOwnItem()">Add</button>
          </div>
		  <div class="row">
              <p>
                Ad Prices Valid from {{circular.Circulars[0].StartDate | date: 'M/dd/yyyy' }} through {{circular.Circulars[0].EndDate | date: 'M/dd/yyyy' }} at:
              </p>
            <p data-gsn-store-info="[store.StoreName] [store.PrimaryAddress], [store.City] location only"></p>
          </div>
          <div data-ng-repeat="groupItem in allItems" data-ng-if="groupItem.fitems.length > 0">
            <div class="row column-headers">
              <div class="col-md-8 col-xs-8">
                {{groupItem.key}}
              </div>
              <div class="col-md-4 col-xs-4 text-right">
                Quantity
              </div>
            </div>
            <div class="row result" data-ng-repeat="item in groupItem.fitems">
              <div class="col-md-8 col-xs-8">
                <div class="thumbnail pull-left" style="width: 50px; margin-right: 10px">
                  <img data-ng-src="{{item.SmallImageUrl || getContentUrl('/images/no_image.jpg')}}" style="max-width: 40px; max-height: 50px" />
                </div>
				<div style="padding-left: 60px;">
					<span data-ng-if="item.IsCoupon">
					  <img data-ng-src="{{getContentUrl('/images/eClipsicon.png')}}" data-ng-show="item.ItemTypeId == 13">
					  <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.ItemTypeId == 2">
					  {{item.PriceString}}
					</span>
					<span data-ng-bind-html="item.Description | trustedHtml"></span>
					<div data-ng-hide="item.IsCoupon" class="price">{{item.PriceString}}</div>
					<div data-ng-show="item.ItemTypeId == 13">Redeemable one time only.</div>
					<input style="height: 20px;" placeholder="Comment" data-ng-hide="item.IsCoupon" data-ng-model="item.Comment" ui-keypress="{13:'doUpdateQuantity(item)'}" />  
					<!-- may need this data from stored procedure
				  <div class="savings" data-ng-show="item.SavingsString">SAVINGS - {{item.SavingsString}}</div>
					-->
				</div>
              </div>

              <div class="col-md-4 col-xs-4 text-right">
                <input style="width: 35px" data-ng-show="!item.IsCoupon" name="quantity" data-ng-model="item.NewQuantity" />
                <button class="btn btn-default btnMarianos btn-xs" data-ng-click="doUpdateQuantity(item)" data-ng-hide="item.IsCoupon">Update</button>
                <button class="btn btn-default btnMarianos btn-xs" data-ng-click="doItemRemove(item)">Remove</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-gsn-ad-unit="2" data-ng-if="',visible-lg,visible-md,visible-sm'.indexOf(bsDisplayMode) > 0"></div>
      </div>
      <div class="col-md-4 manageBar">
        <div data-ng-include="getContentUrl('/views/manageSidebar.html')" data-ng-show="mylist.hasLoaded()"></div>
      </div>
    </div>
  </div>
</div>
