<div class="row" data-ctrl-email="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="10"></div>
  </div>
  <div class="topPod" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  <div class="col-md-9 col-xs-9 emailContent">
    <div data-gsn-text-capture="vm.Message" data-ng-include="getContentUrl('/views/email/shopping-list.html')" class="hidden"></div>
    <h3>email my shopping list</h3>
    <form role="form" name="myForm" data-ng-submit="emailShoppingList()" data-ng-hide="hasSubmitted && isValidSubmit">
      <h4>From:</h4>
      <div class="row form-group">
        <div class="col-md-3 emailLabel">
          <label for="name">Your Name: </label>
        </div>
        <div class="col-md-7 pull-left emailInput">
          <input class="form-control" placeholder="Your Name" type="text" name="name" data-ng-model="vm.Name" data-ng-required="true" />
        </div>
        <div class="col-md-2">
          <span class="required" data-ng-show="myForm.name.$invalid">Required</span>
          <span data-ng-show="myForm.name.$valid">
            <img alt="OK" data-ng-src="{{getContentUrl('/images/pReg_valid.png')}}" /></span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3 emailLabel">
          <label for="emailfrom">Your Email:</label>
        </div>
        <div class="col-md-7 emailInput">
          <input class="form-control" placeholder="Your Email" type="email" name="emailfrom" data-ng-model="vm.EmailFrom" data-ng-required="true" />
        </div>
        <div class="col-md-2">
          <span class="required" data-ng-show="myForm.emailfrom.$invalid">Required</span>
          <span data-ng-show="myForm.emailfrom.$valid">
            <img alt="OK" data-ng-src="{{getContentUrl('/images/pReg_valid.png')}}" /></span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-3 emailLabel">
          <label for="subject">Subject:</label>
        </div>
        <div class="col-md-7 emailInput">
          <input class="form-control" placeholder="Subject" type="text" name="subject" data-ng-model="vm.Subject" data-ng-required="true" />
        </div>
        <div class="col-md-2">
          <span class="required" data-ng-show="myForm.subject.$invalid">Required</span>
          <span data-ng-show="myForm.subject.$valid">
            <img alt="OK" data-ng-src="{{getContentUrl('/images/pReg_valid.png')}}" /></span>
        </div>
      </div>
      <h4>To:</h4>
      <div class="row form-group">
        <div class="col-md-3 emailLabel">
          <label for="emailto">Email:</label>
        </div>
        <div class="col-md-7 emailInput">
          <input class="form-control" placeholder="Email Address" type="email" name="emailto" data-ng-model="vm.EmailTo" data-ng-required="true" />
        </div>
        <div class="col-md-2">
          <span class="required" data-ng-show="myForm.emailto.$invalid">Required</span>
          <span data-ng-show="myForm.emailto.$valid">
            <img alt="OK" data-ng-src="{{getContentUrl('/images/pReg_valid.png')}}" /></span>
        </div>
      </div>
      <div class="row">
        <textarea class="col-md-12" name="message" rows="14" cols="60" data-ng-model="vm.Message" data-ng-required="true"></textarea>
        <span data-ng-show="myForm.message.$invalid"></span>
        <span data-ng-show="myForm.message.$valid"></span>
      </div>

      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <div>
        <button type="submit" class="btn btn-default btnMarianos">Send</button>
        <button type="button" class="btn btn-default btnMarianos" data-ng-click="goBack()">Cancel</button>
      </div>
    </form>


    <div data-ng-show="hasSubmitted && isValidSubmit">
      <h4>Your shopping list has been sent.</h4>
    </div>
  </div>
</div>
