<div class="row" data-ctrl-product-by-category="">
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    <div class="row" data-gsn-ad-unit="10"></div>
  </div>
  <div class="col-md-9 topPod">
    <div class="row" data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
  </div>
  <div class="col-md-9" data-ng-init="vm.saleItemOnly = true">
    <div class="row">
      <div class="specials">
        <header class="row">
          <h1 class="font-book text-center">unadvertised specials</h1>
          <h3 class="font-demi text-center">Browse items on sale by department.</h3>
        </header>
        <div class="row" data-ng-include="getContentUrl('/views/product-content.html')"></div>
      </div>
    </div>
  </div>
</div>
