<div class="hidden-meta" data-gsn-title="{{ChainName}} store locator"></div>
<div class="row" data-ctrl-store-locator="">
  <button class="hidden" data-gsn-modal="getThemeUrl('/views/modal-storelocator-message.html')" data-show-if="showIntermission" data-ng-click="showModal()"></button>
  <div class="col-md-2 sidebar">
    <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
  </div>
  <div class="col-md-10 storeLocations" data-ng-init="searchIcon = 'http://maps.google.com/mapfiles/ms/micons/green.png'">
    <div class="row">
      <div class="col-md-3 storeSearch">
        <form name="myStoreLocatorForm">
          Zip or City, State: 
          <input type="text" name="search" data-ng-model="search.storeLocator" style="width: 150px">
          Find stores within
          <br />                                                                                                     
          <input type="text" name="searchRadius" data-ng-model="searchRadius" style="width: 50px">
          miles
          <br />
          <button class="btn btn-xs" data-ng-click="doSearch()">Search</button>
          <button class="btn btn-xs" data-ng-click="doClear()">Clear</button>
          <br />
        </form>
        <br />
        <div data-ng-if="searchFailed">
          Unable to locate a store within the specified search radius.  Displaying first closest store below.
        </div>
        <button class="btn btn-default btnMarianos btn-xs" data-ng-click="pharmacyOnly = !pharmacyOnly">
          <i class="fa fa-square-o" data-ng-hide="pharmacyOnly"></i><i class="fa fa-check-square-o" data-ng-show="pharmacyOnly"></i>
          store with pharmacy
        </button>
      </div>
      <div class="col-md-9">
        <h3>locate your favorite store</h3>
        <div id="map_canvas" data-ui-map="myMap" class="map-container gMap" data-ui-options="mapOptions" style="height: 280px;"></div>
        <div class="infoMarker" data-ui-map-info-window="myInfoWindow">
          <div data-ng-show="currentMarker.location">
            <strong>{{currentMarker.location.StoreName}}</strong><br />
            <address>
              {{currentMarker.location.PrimaryAddress}}<br />
              {{currentMarker.location.City}}, {{currentMarker.location.StateName}} {{currentMarker.location.PostalCode}}  
            </address>
            <a href="javascript:void(0)" data-ng-click="selectStore(currentMarker)">Select Store</a>
          </div>
          <div data-ng-show="!currentMarker.location">
            <br />
            search result for: {{search.storeLocator}}<br />
          </div>
        </div>
      </div>
    </div>
    <div class="row storeLocationsInfo">
      <div class="row" data-ng-repeat="idx in [] | range:0:getPageCount(myMarkers,3)">
        <div class="col-md-4 singleStoreInfo" data-ng-repeat="marker in myMarkers | pagingFilter:3:idx" data-ng-include="getContentUrl('/views/store-locator-item.html')"></div>
      </div>
    </div>
    <div class="row amenitiesKey">
      <h4>Amenities Key:</h4>
      <div class="col-md-3">
        <ul>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/vero.png')}}"><span>Vero Coffee & Gelato</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/sushi.png')}}"><span>Oki Sushi</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/squeezd.png')}}"><span>Squeez'd</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/delivery.png')}}"><span>delivery</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/bbq.png')}}"><span>Todds BBQ</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/pharmacy.png')}}"><span>pharmacy</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/oysterBar.png')}}"><span>oyster bar</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/grilling.png')}}"><span>grilling station</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/spiceShop.png')}}"><span>spice shop</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/classroom.png')}}"><span>kitchen classroom</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/patio.png')}}"><span>patio</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/oliveOil.png')}}"><span>oil/vinegar bar</span></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/demoKitchen.png')}}"><span>demo kitchen</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/sweetShop.png')}}"><span>sweet shop</span></li>
          <li>
            <img data-ng-src="{{getContentUrl('/images/icons/wineBar.png')}}"><span>wine bar</span></li>
        </ul>
      </div>
    </div>
    <div class="amenitiesDisclaimer">
      <p>Store features may be added or updated to improve your local store experience!</p>
    </div>
  </div>
</div>
