<div class="tasteImages">
  <h4>meet our tastemakers</h4>
  <ul class="noPadding">
    <li><a data-ng-href="/madia">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerDonnie.jpg')}}" /><span>Donnie Madia</span></a></li>
    <li><a data-ng-href="/shred415">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerBonnieAndTracy.png')}}" /><span>Shred415</span></a></li>
    <li><a data-ng-href="/psaltis">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerDoug.jpg')}}" /><span>chef Doug Psaltis</span></a></li>
    <li><a data-ng-href="/tentori">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerGiuseppe.jpg')}}" /><span>chef Giuseppe Tentori</span></a></li>
    <li><a data-ng-href="/nahabedian">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerCarrie.jpg')}}" /><span>chef Carrie Nahabedian</span></a></li>
    <li><a data-ng-href="/aglibot">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerRodelio.jpg')}}" /><span>chef Rodelio Aglibot</span></a></li>
    <li><a data-ng-href="/galus">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerMeg.jpg')}}" /><span>chef Meg Galus</span></a></li>
    <li><a data-ng-href="/kim">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerBill.jpg')}}" /><span>chef Bill Kim</span></a></li>
    <li><a data-ng-href="/jordan">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerSarah.jpg')}}" /><span>chef Sarah Jordan</span></a></li>
    <li><a data-ng-href="/pandel">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerChris.jpg')}}" /><span>chef Chris Pandel</span></a></li>
    <li><a data-ng-href="/adolph">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerLorin.jpg')}}" /><span>chef Lorin Adolph</span></a></li>
    <li><a data-ng-href="/ortiz">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerRickAsh.jpg')}}" /><span>chefs Rick & Ashley Ortiz</span></a></li>
    <li><a data-ng-href="/priolo">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerTony.jpg')}}" /><span>chef Tony Priolo</span></a>
    </li>
    <li><a data-ng-href="/kehoe">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerTom.jpg')}}" /><span>designer Tom Kehoe</span></a>
    </li>
    <li><a data-ng-href="/troost">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerMatt.jpg')}}" /><span>chef Matt Troost</span></a>
    </li>
    <li><a data-ng-href="/galdones">
      <img alt="past tastemakers" data-ng-src="{{getContentUrl('/images/tastemakersSidebar/tasteMakerHuge.jpg')}}" /><span>Huge Galdones</span></a>
    </li>
  </ul>
</div>
