<div class="hidden-meta" data-gsn-title="{{ChainName}}"></div>
<div class="hidden-meta" data-gsn-meta-description="Shop for groceries with our meal planning solutions, save hundreds of dollars with printable coupons and find all recipes and meal ideas."></div>
<div class="hidden-meta" data-gsn-meta-keywords="Weekly Specials, Recipes, Coupons, Meal Planning, Cooking Videos, Low Prices, Shop Online"></div>
<div class="hidden-meta" data-gsn-meta-google-site-verification="PPfVAA9krD4cr38f2dYu6zlqC2mMstxhO3RVxhdyQDI"></div>

<!-- Header -->
<div class="header container" data-ng-include="getContentUrl('/views/layout-header.html')"></div>

<!-- Main Content-->
<div class="container mainContent" data-ng-view=""></div>

<!-- Footer -->
<div class="footer container"  data-ng-include="getContentUrl('/views/layout-footer.html')"></div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" style="overflow: hidden">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title">&nbsp;</h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">X</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true"></button>
          <h4 class="modal-title">&nbsp;</h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
