<div class="row footerBar">
<div class="container container-footer">
    <div class="col-md-2 locatorFooter noPadWidth">
        <button class="btn btn-default btnSilver btnLocations" data-gsn-store-info="[store.StoreName] (View All Stores)" data-ng-click="goUrl('/storelocator')">Locate Your Store</button>
        <div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
    </div>
    <div class="col-md-8 noPadWidth">
        <h3>The Experts in Digital Shopper Marketing Behavior</h3>
    </div>
    <div class="col-md-2 companyInfo noPadWidth">
        <ul>
      <li data-ng-class="{'underlined': currentPath == '/resources'}"><a data-ng-href="/aboutus">About Us</a></li>
      <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
    </ul>
    </div>
</div>
</div>