<div class="row">
  <div data-ng-hide="contactSuccess">
    <div class="generalInfo">
      <h3>Thank you for your interest in {{vm.ChainName}}</h3>
    <h3>Send Us an Email</h3>
    <form role="form" name="myContactUsForm" data-ng-submit="doSubmit()">
      <h4>Contact Information</h4>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="firstname">
            First Name: <span data-ng-show="myContactUsForm.firstname.$invalid">Required</span><span data-ng-show="myContactUsForm.firstname.$valid"></span>
          </label>
          <input type="text" class="form-control" name="firstname" placeholder="Enter first name" data-ng-model="vm.FirstName" data-ng-required="true"/>

        </div>
        <div class="col-md-6">
          <label for="lastname">
            Last Name: <span class="required" data-ng-show="myContactUsForm.lastname.$invalid">Required</span><span data-ng-show="myContactUsForm.lastname.$valid"></span>
          </label>
          <input type="text" class="form-control" name="lastname" placeholder="Enter last name" data-ng-model="vm.LastName" data-ng-required="true"/>

        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="addressLine1">
            Address:
          </label>
          <input type="text" class="form-control" name="addressLine1" placeholder="Enter address" data-ng-model="vm.AddressLine1" />

        </div>
        <div class="col-md-6">
          <label for="city">
            City:
          </label>
          <input type="text" class="form-control" name="city" placeholder="Enter city" data-ng-model="vm.City"/>

        </div>
      </div> 
      <div class="form-group row">
        <div class="col-md-6">
          <label for="state">
            State:
          </label>
          <input name="state" class="form-control" data-ng-model="vm.State" type="text" maxlength="2" size="2" />
        </div>
        <div class="col-md-6">
          <label for="zip">
            Zip:
          </label>
          <input type="text" class="form-control" name="zip" placeholder="Enter zip" data-ng-model="vm.PostalCode" size="5" maxlength="10" />

        </div>
      </div>     
      <div class="form-group row">
        <div class="col-md-4">
          <label for="phone">
            Phone:
          </label>
          <input type="text" class="form-control" name="phone" placeholder="Enter phone" data-ng-model="vm.Phone" />

        </div>
        <div class="col-md-4">
                
          <label for="email">
            Email: <span class="required" data-ng-show="myContactUsForm.email.$invalid">Required</span><span data-ng-show="myContactUsForm.email.$valid"></span>
          </label> 
          <input type="email" class="form-control" name="email" placeholder="Enter email" data-ng-model="vm.Email" data-ng-required="true"/>
 
        </div> 
        <div class="col-md-4">  
          <label for="confirmEmail">
            Confirm: <span class="required" data-ng-show="myContactUsForm.confirmEmail.$invalid">Required</span><span data-ng-show="myContactUsForm.confirmEmail.$valid"></span>
          </label> 
          <input type="email" class="form-control" name="confirmEmail" placeholder="Confirm email" data-ng-model="vm.ConfirmEmail" data-ui-validate=" '$value==vm.Email' " data-ui-validate-watch=" 'vm.Email' "/>
 
        </div>
      </div>          
      <div class="form-group row">    
        <div class="col-md-12">
          <label>
            Share your experience! <br />
            What do you like or not like about us?
          </label>
          <textarea class="form-control" name="Message" cols="48" rows="6" data-ng-model="vm.Message" placeholder="Enter comment"></textarea> 
        </div>
      </div>
		 
      <div class="form-group row" data-ng-show="errorResponse">
        <div class="col-md-12 alert alert-danger">
          {{errorResponse}}
        </div>
      </div>		
                
      <div class="form-group row">
        <div class="col-md-12">                                                          
          <button type="submit" class="btn btn-default">Submit</button>           
          <button type="button" class="btn btn-default" data-ng-click="doReset()">Reset</button>      
          <button type="button" class="btn btn-default" data-ng-click="goBack()">Cancel</button>
        </div> 
      </div>
    </form>
  </div>                           

  <div data-ng-show="contactSuccess" data-ng-include="getThemeUrl('/views/email/contact-us.html')"></div>     
  <div data-ng-show="contactSuccess">
    <button type="button" class="btn btn-default" data-ng-click="reload()">submit another contact us</button></div>             
</div>
