<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
    <div class="row" data-ctrl-coupon-classic="">
        <div class="col-md-2">
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"kw": "coupon", "tile": "9", "dept": []}'></div>
                </div>
            </div>
        </div>
        <div class="col-md-8 noPadLeft" data-ng-init="couponType = 'printable';sortByName = 'About to Expire';">
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"kw": "coupon", "tile": "1", "dept": []}'></div>
                </div>
            </div>
            <div class="row">
                <h2>Printable Coupons</h2>
                <div class="pull-right couponFilter">
                    <form name="searchForm">
                        <div class="searchField">
                            <span>Search By:</span><input type="text" placeholder="Enter Keyword" data-ng-model="filterBy" name="filterby" />
                        </div>
                    </form>
                </div>
                <div class="pull-right couponFilter">
                    <span>Filter By:</span>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btnBronze btn-xs dropdown-toggle" data-toggle="dropdown">
                            {{sortByName}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire'">About to Expire</a></li>
                            <li><a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department'">Department</a></li>
                        </ul>
                    </div>
                </div>
                <span class="pull-left">Total Savings - ${{selectedCoupons.totalSavings}}</span>
            </div>
            <div class="row">
                <div class="coupons">
                    <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="preSelectedCoupons.items.length <= 0 || selectedCoupons.noCircular"></div>
                    <div class="row" data-infinite-scroll="loadMore()">
                        <div class="col-md-4 col-xs-12 savingsInfo" data-ng-repeat="item in selectedCoupons.items" data-bindonce="">
                            <div class="row" data-bindonce="">
                                <div class="col-md-5 col-xs-5">
                                    <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}" />
                                </div>
                                <div class="col-md-7 col-xs-7 coupon">
                                    {{item.Description1}}
                                    <p>{{item.Description2}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-default btnBronze btn-xs printCouponsBtn" data-ng-click="doToggleCartItem($event, item)">{{ isOnList(item) && "Remove" || "Add To List"}}</button>
                                    <button class="btn btn-default btnBronze btn-xs" data-ng-click="printManufacturerCoupon($event, item)">Print Now</button>
                                    <p class="pull-right coupon-message coupon-message-{{item.ProductCode}}" data-ng-bindonce=""></p>
                                </div>
                                <div class="col-md-12" data-bindonce="">
                                    <p>expires: {{item.EndDate | date: 'M / dd / yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="circAd" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200">
                <div data-ng-non-bindable=""  data-bindonce="">
                    <div class="gsnadunit" data-dimensions="180x150" data-targeting='{"kw": "weeklyad", "tile": "1", "dept": []}'></div>
                </div>
            </div>
            <!--<div class="circAd" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200">
                <div data-ng-non-bindable=""  data-bindonce="">
                    <div class="gsnadunit" data-dimensions="180x150" data-targeting='{"kw": "weeklyad", "tile": "1", "dept": []}'></div>
                </div>
            </div>-->
        </div>
    </div>