<div class="row" data-ctrl-home="">
    <div class="col-md-3 col-xs-3 noPadLeft">
        <div class="promoBox" data-gsn-ft-content="" data-content-position="1"></div>
        <div class="promoBox" data-gsn-ft-content="" data-content-position="3"></div>
    </div>
    <div class="col-md-6 col-xs-6 noPad" data-gsn-partial="Home">
        <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
            <!-- Wrapper for slides -->
            <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()">
                <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicatorsBronze controls">
                <li data-ng-repeat="item in slides"  data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
            </ol>
        </div> 
    </div>
    <div class="col-md-3 col-xs-3 noPadRight">
        <div class="promoBox" data-gsn-ft-content="" data-content-position="2"></div>
        <div class="promoBox" data-gsn-ft-content="" data-content-position="4"></div>
    </div>
</div>