<div class="modal-content">
  <div class="modal-header">
    <h4>We need a little more information from you to get you to the right page. </h4>
  </div>
  <div class="modal-body">
    To see the weekly ad & coupons for your preferred store, please search for your store and select the ‘my store’ link. 
    You can search for a store by ZIP Code or City, State.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="closeModal()">Close</button>
  </div>
</div>
