<div class="row">
	<div>
		<h2>Privacy Policy</h2>
		<p>Grocery Shopping Network (GSN) has created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and dissemination practices for this website.
		This site uses cookies to keep track of your login name and recipe search preferences. Functionality within the site will not work properly if your browser does not accept cookies. The registration forms require you to give us contact information (like your name and email address). We use your contact information to send you information about our website. The contact information is also used to contact you when necessary to resolve a service- related problem. You may opt-out of receiving future e-mail; see the choice/opt-out section below. The personally identifiable parts of this information are not shared with any outside party. Non-identifying demographic and profile information, however, is shared with advertisers, business partners and investors on an aggregate basis.</p>

		<h3>Choice/Opt-Out</h3>
		<p>GSN provides you with the opportunity to opt-out of receiving communications from us at the point where we request registration information. You can change this preference at any time by selecting username to 'Manage your Account' and then uncheck "Weekly Email" to stop receiving emails. If you would like to remove your information from our database, e-mail this request to <a href="mailto:optout@groceryshopping.net">optout@groceryshopping.net.</a></p>

		<h3>Correct/Update</h3>
		<p>This site gives you the following options for correcting and updating information previously provided.</p>
		<ol>
			<li>For registration or personal profile information, select username to 'Manage your Account' and update your information.</li>
			<li>Email <a href="mailto:optout@groceryshopping.net">optout@groceryshopping.net.</a></li>
			<li>Send mail to the following postal address:
				<ul>
					<li>Grocery Shopping Network</li>
					<li>900 Lumber Exchange Building</li>
					<li>10 South Fifth Street</li>
					<li>Attn: Customer Service</li>
				</ul>
			</li>
		</ol>

		<h3>Changes in Use of Personally Identifiale Information</h3>
		<p>If GSN decides to change how it uses the personally identifiable information it collects from users, the changes will be highlighted in this privacy statement and prior consent via e-mail will be obtained from users who have previously provided information.</p>

		<h3>Contacting the Web Site</h3>
		<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, you can contact:</p>
		<ul>
			<li>Grocery Shopping Network</li>
			<li>900 Lumber Exchange Building</li>
			<li>10 South Fifth Street</li>
			<li>Attn: Customer Service</li>
			<li><a href="mailto:optout@groceryshopping.net">optout@groceryshopping.net.</li>
		</ul>
	</div>
</div>