<div class="row" data-ctrl-recipe="">
    <div class="col-md-8 rOTD">
        <h2>Recipe of the Day</h2>
        <h3>{{vm.recipe.RecipeTitle}}</h3>
            <div data-ng-show="vm.recipeRating.userCount > 0">
                Rated
                <div data-rating="" data-value="vm.recipeRating.rating" data-readonly="true" data-max="5"></div>
                by {{vm.recipeRating.userCount}} user(s) 
            </div>
        <div class="row">
            <div class="col-md-6">
            <h4>Ingredients</h4>
                <ul class="ingredients">
                    <li data-ng-repeat="item in vm.recipe.Ingredients">
                        <label>
                            <input type="checkbox" data-ng-model="item.selected">{{item.StandardText}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="recipeImage">
                    <img data-ng-src="{{vm.recipe.Images[0].RecipeImageUrl}}" data-ng-if="vm.recipe.Images[0].RecipeImageUrl">
                    <i class="fa fa-cutlery fa-5x" data-ng-if="!vm.recipe.Images[0].RecipeImageUrl"></i>
                </div>
                <div data-ng-hide="currentPath.indexOf('print') > 0">
                    <div class="ingredientOptions">
                        <button class="btn btn-default btn-xs btnBronze" data-ng-click="addSelectedIngredients()">Add Checked to List</button>
                        <button class="btn btn-default btn-xs btnBronze" data-ng-click="selectAllIngredients();addSelectedIngredients()">Add All Ingredients to List</button>
                    </div>
                    <div class="recipeOptions">
                        <button class="btn btn-default btn-xs btnBronze" data-gsn-modal="getThemeUrl('/views/modal-recipe-comment.html')" data-item="vm.savedRecipe" data-ng-click="doIfLoggedIn(showModal)">Save To My Recipe Box</button>
                        <button class="btn btn-default btn-xs btnBronze" data-ng-click="goUrl('/recipe/print?id=' + vm.recipe.RecipeId, '_blank')">Print Recipe</button>
                    </div>
                    <div class="recipeRating">
                        <div  data-ng-show="vm.recipeRating.myRating > 0">You have rated this recipe. <span data-rating="" data-value="vm.recipeRating.myRating" data-max="5"></span></div>
                        <div data-ng-hide="vm.recipeRating.myRating > 0">Please rate this recipe. <span data-rating="" data-value="vm.recipeRating.myRating" data-max="5"></span></div>
                    </div>
                </div>
                <div id="socialControls" data-ng-if="vm.recipe.RecipeTitle">
                    <div class="pull-left">
                        <a data-gsn-twitter-share="{ text: vm.recipe.RecipeTitle + ' at ' + ChainName, count: 'horizontal' }" data-url="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}"></a>
                    </div>
                    <div class="pull-left">
                        <div data-fb-like="" class="fb-like fb_iframe_widget" data-href="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-fb-xfbml-state="rendered"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="instructions">
        <h4>Preparation</h4>
            <ul class="preparation">
                <li data-ng-repeat="item in vm.recipe.Instructions">{{item.RecipeInstructionDescription}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="recipePod" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200">
            <div data-ng-non-bindable=""  data-bindonce="">
                <div class="gsnadunit" data-dimensions="300x250" data-targeting='{"kw": "weeklyad", "tile": "1", "dept": []}'></div>
            </div>
        </div>
        <div class="recipePod" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200">
            <div data-ng-non-bindable=""  data-bindonce="">
                <div class="gsnadunit" data-dimensions="300x250" data-targeting='{"kw": "weeklyad", "tile": "1", "dept": []}'></div>
            </div>
        </div>
    </div>
</div>





