<div class="row" data-ctrl-recipe="">
    <div class="col-md-8">
        <h2>Recipe of the Day</h2>
        <h3>{{vm.recipe.RecipeTitle}}</h3>
            <div data-ng-show="vm.recipeRating.userCount > 0">
                Rated
                <div data-rating="" data-value="vm.recipeRating.rating" data-readonly="true" data-max="5"></div>
                by {{vm.recipeRating.userCount}} user(s) 
            </div>
        <div class="row">
            <div class="col-md-6">
            <h4>Ingredients</h4>
                <ul>
                    <li data-ng-repeat="item in vm.recipe.Ingredients">
                        <label>
                            <input type="checkbox" data-ng-model="item.selected">{{item.StandardText}}
                        </label>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div style="margin: 0 60px 10px;">
                    <img data-ng-src="{{vm.recipe.Images[0].RecipeImageUrl}}" data-ng-if="vm.recipe.Images[0].RecipeImageUrl">
                    <i class="fa fa-cutlery fa-5x" data-ng-if="!vm.recipe.Images[0].RecipeImageUrl"></i>
                </div>
                <div data-ng-hide="currentPath.indexOf('print') > 0">
                    <div>
                        <button class="btn btn-default btn-xs" data-ng-click="addSelectedIngredients()">Add checked to List</button>
                        <button class="btn btn-default btn-xs" data-ng-click="selectAllIngredients();addSelectedIngredients()">Add all to List</button>
                        <button class="btn btn-default btn-xs" data-ng-click="goUrl('/recipe/print?id=' + vm.recipe.RecipeId, '_blank')">Print</button>
                    </div>
                    <div>
                        
                    </div>
                    <div>
                        <div  data-ng-show="vm.recipeRating.myRating > 0">You have rated this recipe. <span data-rating="" data-value="vm.recipeRating.myRating" data-max="5"></span></div>
                        <div data-ng-hide="vm.recipeRating.myRating > 0">Please rate this recipe. <span data-rating="" data-value="vm.recipeRating.myRating" data-max="5"></span></div>
                    </div>
                </div>
                <div id="socialControls" data-ng-if="vm.recipe.RecipeTitle">
                    <div class="pull-left">
                        <a data-gsn-twitter-share="{ text: vm.recipe.RecipeTitle + ' at ' + ChainName, count: 'horizontal' }" data-url="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}"></a>
                    </div>
                    <div class="pull-left">
                        <div data-fb-like="" class="fb-like fb_iframe_widget" data-href="{{getFullPath('/recipe') + '?id=' + vm.recipe.RecipeId}}" data-layout="standard" data-action="like" data-show-faces="false" data-share="false" data-fb-xfbml-state="rendered"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
          <h4>Preparation</h4>
          <ul>
              <li data-ng-repeat="item in vm.recipe.Instructions">{{item.RecipeInstructionDescription}}</li>
          </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200"></div>
        <div data-gsn-ad-unit="5" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 500"></div>
    </div>
</div>





