<div class="hidden-meta" data-gsn-title="{{ChainName}} store locator"></div>
<div class="row" data-ctrl-store-locator="">
    <button class="hidden" data-gsn-modal="getThemeUrl('/views/engine/modal-storelocator-message.html')" data-show-if="showIntermission" data-ng-click="showModal()"></button>
    <div class="col-md-4">
        <h3>Locate Your Favorite Store</h3>
        <div class="row">
        <div class="form-group col-md-6">
          <label for="search">Zip or City, State:</label>
          <div>
            <input type="text" name="search" data-ng-model="search.storeLocator">
          </div>
          <button class="btn btn-default btn-xs btnBronze" data-ng-click="doSearch()">Search</button>
          <button class="btn btn-default btn-xs btnBronze" data-ng-click="doClear()">Clear</button>
        </div>
        <div class="form-group col-md-6">
          <label class="bronze-label" for="searchRadius">Find stores within:</label>
          <div>
            <input type="number" name="searchRadius" data-ng-model="searchRadius" data-min="5">
            miles
          </div>
        </div>
        </div>
        <div class="row">
            <div data-ng-repeat="idx in [] | range:0:getPageCount(myMarkers,2)">
            <div class="col-md-6" data-ng-repeat="marker in myMarkers | pagingFilter:2:idx" data-ng-include="getThemeUrl('/views/engine/store-locator-item.html')"></div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="map_canvas" data-ui-map="myMap" class="map-container gMap" data-ui-options="mapOptions"></div>
        <div class="infoMarker" data-ui-map-info-window="myInfoWindow" style="width: 200px; height: 130px">
            <strong>{{currentMarker.location.StoreName}}</strong><br />
                <address>
                    {{currentMarker.location.PrimaryAddress}}<br />
                    {{currentMarker.location.City}}, {{currentMarker.location.StateName}} {{currentMarker.location.PostalCode}}<br />
                    {{currentMarker.location.Phone}}  
                </address>
            <a href="javascript:void(0)" data-ng-click="selectStore(currentMarker)" class="btn btn-default" data-ng-class="{ 'btn-success': isCurrentStore(currentMarker) }">
                <i class="fa fa-square-o" data-ng-hide="isCurrentStore(currentMarker)"></i>
                <i class="fa fa-check-square-o" data-ng-show="isCurrentStore(currentMarker)"></i> My Store
            </a>
        </div>
    </div>
    <div class="col-md-2">
        <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200">
            <div data-ng-non-bindable=""  data-bindonce="">
                <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"kw": "weeklyad", "tile": "1", "dept": []}'></div>
            </div>
        </div>
    </div>
</div>