<ul class="amenities">
  <!--Vero Coffee-->
  <li data-ng-if="[4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/vero.png')}}" title="Vero Coffee & Gelato" /></a></li>
  <!--Oki Sushi-->
  <li data-ng-if="[4197, 4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/sushi.png')}}" title="Oki Sushi" /></a></li>
  <!--Squeez'd-->
  <li data-ng-if="[4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/squeezd.png')}}" title="Squeez'd" /></a></li>
  <!--Todd's BBQ-->
  <li data-ng-if="[4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/bbq.png')}}" title="Todds BBQ" /></a></li>
  <!--Pharmacy-->
  <li data-ng-if="[4197, 4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/pharmacy.png')}}" title="Pharmacy" /></a></li>
  <!--Oyster Bar-->
  <li data-ng-if="[4197, 4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/oysterBar.png')}}" title="Oyster Bar" /></a></li>
  <!--Spice Shop-->
  <li data-ng-if="[].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/spiceShop.png')}}" title="Spice Shop" /></a></li>
  <!--Kitchen Classroom-->
  <li data-ng-if="[].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/classroom.png')}}" title="Kitchen Classroom" /></a></li>
  <!--Patio-->
  <li data-ng-if="[4197, 4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/patio.png')}}" title="Patio" /></a></li>
  <!--Demo Kitchen-->
  <li data-ng-if="[].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/demoKitchen.png')}}" title="Demo Kitchen" /></a></li>
  <!--Sweet Shop-->
  <li data-ng-if="[4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/sweetShop.png')}}" title="Sweet Shop" /></a></li>
  <!--Wine Bar-->
  <li data-ng-if="[].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/wineBar.png')}}" title="Wine Bar" /></a></li>
  <!--Delivery-->
  <li data-ng-if="[4198].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/delivery.png')}}" title="Delivery" /></a></li>
  <!--Oil/Vinegar Bar-->
  <li data-ng-if="[].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/oliveOil.png')}}" title="Oil/Vinegar Bar" /></a></li>
  <!--Grilling Station-->
  <li data-ng-if="[4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/grilling.png')}}" title="Grilling Station" /></a></li>
	<!--Seasonal grilling on patio-->
  <li data-ng-if="[4197, 4242].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/seasonal.png')}}" title="Seasonal Grilling on Patio" /></a></li>
	<!--Kosher specialist on staff-->
  <li data-ng-if="[4242].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/kosher.png')}}" title="Kosher Specialist on Staff" /></a></li>
	<!--Catering-->
  <li data-ng-if="[4197, 4198, 4242, 4984].indexOf(marker.location.StoreId) > -1"><a href="javascript:void(0)">
    <img data-ng-src="{{getContentUrl('/images/icons/catering.png')}}" title="Catering" /></a></li>
</ul>
