<div class="storeLocationInfo">
  <a href="javascript:void(0)" data-ng-click="selectStore(marker)">
    <h4>{{marker.location.StoreName}}</h4>
  </a>
  <ul>
    <!--<li>{{marker.location.StoreId}}</li>-->
    <li>
      <address>
        {{marker.location.PrimaryAddress}}<br />
        {{marker.location.City}}, {{marker.location.StateName}} {{marker.location.PostalCode}}<br />
        {{marker.location.Phone}}
        <i data-ng-if="searchCompleted">{{marker.location.zDistance}} miles</i>
      </address>
    </li>
    <li><strong>store hours:</strong></li>
    <li data-ng-bind-html="marker.location.OpenHoursDisplay"></li>
    <li data-ng-show="marker.location.Settings[21].SettingValue"><strong>pharmacy hours:</strong><br />
      <span data-ng-bind-html="marker.location.Settings[21].SettingValue"></span>
      <br />
      <span data-ng-bind-html="marker.location.Settings[22].SettingValue"></span>
      <span class="test" data-ng-bind-html="marker.location.Settings[20].SettingValue"></span>
    </li>
    <li data-ng-include="getContentUrl('/views/amenities.html')"></li>
    <li><a href="javascript:void(0)" data-ng-click="selectStore(marker)" class="btn">Select Store</a></li>
  </ul>
</div>
