.gsnsw {
    float: left;
}

.sw-msg {
}

@media (max-width: 768px){

    .gsnsw{
        float:none !important;
    }

    .sw-header-cta{
        display:none !important;
    }

    .sw-header-break{
        display:none !important;
    }

    .sw-pop{
        width:220px !important;
        left:0 !important;
        margin-left:0 !important;
    }

    /*for coborns & cashwise*/
    .sw-header-right-img{
        display:none !important;
    }

    .sw-header-left-img{
    }

    .sw-header-dismiss{
        position: static !important;
        left:0 !important;
        top:0 !important;
        vertical-align: middle !important;
        text-align: center !important;
    }

    .sw-close{
        padding:1px !important;
    }
}
