/*---------- Chain CSS ----------*/
body 
{
  background-image: url('../images/Andrea-tileable_wood_texture.jpg');
  color: #ffffff;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5 
{
  color: #000000;
}

a 
{
  color: #402C1F;
}

a:hover, a:focus
{
  color:#333333;
}

input
{
  color: #000000;
}


p {
  color: #ffffff;
  margin: 0;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*---------- Bootstrap Overrides ----------*/
.hidden-meta 
{
  position: absolute;
  z-index: 999;
  left: -9999px;
  width: 0;
  height: 0;
}

.noPadWidth
{
  padding-left: 0;
  padding-right: 0;
}

.noPadLeft
{
  padding-left: 0;
}

.noPadRight
{
  padding-right: 0;
}

.btn-default[disabled]
{
  background-color: #f58220;
}

.btnSilver, .btn-defaultSilver 
{
  background-color: #f58220;
  border-color: #baa789;
  color: #ffffff;
}

.btnSilver:hover
{
  background-color: #009b68;
  color: white;
}

.btn-defaultSilver:hover, .btn-defaultSilver:focus, 
.btn-defaultSilver:active, .btn-defaultSilver.active, 
.open .dropdown-toggle.btn-defaultSilver
{
  background-color: #009b68;
}

.glyphicon
{
  top: 0;
}

.mainContent
{
  background-color: rgba(186, 167, 137, 0.6);
  margin-bottom: 10px;
}

/*---------- Header ----------*/
.headerBar, .footerBar
{
  background-color: rgba(186, 167, 137, 0.6);
  margin-bottom: 20px;
  padding: 5px;
}

.account li
{
  display: inline;
  margin: 0 2px;
}

.status p
{
  padding: 5px;
}

.status li:first-child
{
  margin-right: 6px;
}

.navbar-toggleAccount
{
  border-color: 1px solid #000000;
  margin-top: -34px;
  padding: 6px 10px;
}

/*---------- Shopping List Plug In ----------*/
.dropdown-menuList 
{
  background-color: #baa789;
  border: 6px solid #009b68;
  width: 300px;
  padding: 0;
  /*text-align: center;*/
}

.dropdown-menuList.active 
{
  display: block;
}

.input-groupSilver
{
  border-top: 6px solid #009b68;
  border-bottom: 6px solid #009b68;
  width: 100%;
}

.input-group-addonSilver
{
  width: 50px;
}

.shoppingListHeader
{
  background-color: #f58220;
}

.shoppingListHeader h4
{
  color: #ffffff;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.listOptions li
{
  float: left;
  margin: 5px 9px;
}

.listOptions i
{
  color: #000000;
  display: block;
}

.listOptions span
{
  color: #ffffff;
  text-align: center;
}

.listCount p
{
  color: #402c1f;
  margin-bottom: 10px;
}

.sLItems
{
  padding: 6px;
}

.sLItems ul
{
  display: table;
  margin-bottom: 4px;
  width: 100%;
}

.sLItems li
{
  display: table-cell;
}

.sLProduct
{
  width: 25%;
}

.sLProduct img
{
  height: 48px;
  margin-bottom: 4px;
  width: 48px;
}

.sLProduct span
{
  float: left;
  margin-bottom: 4px;
}

.sLDescription
{
  width: 65%;
}

.sLDescription span
{
  position: relative;
  top: -16px;
}

.sLRemove
{
  width: 10%;
}

.listCount, .listOptions, .fullList
{
  text-align: center;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.btnShoppingList
{
  margin-top: 26px;
}

/*---------- Main Navigation ----------*/
.navSilver
{
  margin-top: 26px;
}

.navbar-navSL.navbar-rightSL:last-child
{
  margin-right : 1px;
}

.faSilver
{
  margin-top: 3px;
}

.navSilver > li
{
  float: left;
}

.navSilver >li > a
{
  color: #ffffff;
  font-weight: bold;
  padding: 10px 8px;
}

.navSilver > li > a:hover, .navSilver > li > a:focus,
.navSilver .open > a, .navSilver .open > a:hover, .navSilver .open > a:focus
{
  background-color: transparent;
  color: #000000;
}

.dropdown-menuSilver
{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dropdown-menuSilver li
{
  background-color: #f58220;
  margin-bottom: 5px;
}

.dropdown-menuSilver li:last-child
{
  margin-bottom: 0;
}

.dropdown-menuSilver > li > a
{
  color: #ffffff;
  padding: 8px 20px;
  text-align: center;
}

.dropdown-menuSilver > li > a:hover, .dropdown-menuSilver > li > a:focus
{
  background-color: #009b68;
  color: #ffffff;
}

/*---------- Home ----------*/
.homeMod
{
  background-color: rgba(186,167,137,.85);
  margin: 15px 0;
  height: 325px;
}

.homeMod h4, .homeMod p
{
  padding: 0 8px;
  text-align: center;
}

.homeMod img
{
  display: block;
  margin: 0 auto;
}

.homeCircPreview
{
  background-color: #f58220;
}

.homeCircPreview h4
{
  margin-bottom: 136px;
  margin-top: 150px;
  text-align: center;
}

.email
{
  padding-top: 10px;
}

/*---------- Slideshow ----------*/
.slide-container 
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 402px;
}

.slide.ng-enter, .slide.ng-leave 
{
  -webkit-transition: left 0.6s ease-in-out 0s;
  -moz-transition: left 0.6s ease-in-out 0s;
  -o-transition: left 0.6s ease-in-out 0s;
  transition: left 0.6s ease-in-out 0s;
  position: relative;
  top: 0;
  width: 100%;
}

.slide.ng-enter 
{
    left: 100%;
}


.slide.ng-enter.ng-enter-active 
{   
  left: 0;
}

.slide.ng-leave 
{
  position: absolute;
  left: 0;
}

.slide.ng-leave.ng-leave-active 
{
  left: -100%;
}


.carousel-indicators li 
{
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active 
{
  background-color: #444;
}

.carousel-buttons 
{
  bottom: 0px;  
  right: 0px;
  position: absolute;
  z-index: 15;
}

.controls 
{
  bottom: -8px;
}

/*---------- Footer ----------*/
.footerBar h3
{
  text-align: center;
}

.yourStore
{
  color: #000000;
  font-size: 18px;
  font-weight: bold;
}

.yourStore a
{
  font-size: 14px;
}

.about li
{
  text-align: center;
}

.social h4
{
  text-align: right;
  margin-top: 0;
}

.social li
{
  display: inline-block;
  float: right;
  padding: 4px 0 0 4px;
  text-align: right;
}

/*---------- Engine Pages ----------*/

/*---------- Store Locator ----------*/
.storeLocator h3
{
  margin-left: 20px;
}

.search
{
  margin-bottom: 10px;
  width: 100%;
}

.radius
{
  width: 20%;
}

.region h3
{
  margin-left: 30px;
}

/*---------- Google Map ----------*/
.gMap 
{
  height: 280px;
  width: 95%;
}

.gm-style .gm-style-iw
{
  color: #000000;
}

.infoMarker 
{
  height: 110px;
  width: 150px;
}

.infoMarker a
{
  color: #000000;
}

.storeDetails
{
  padding-top: 10px;
}

address 
{
  margin-bottom: 0;
}

.modalInfoBox
{
  background-color: rgb(186,167,137);
  color: #000000;
}

.modal-header h4
{
  text-align: center;
}

/*---------- Single Store Info ----------*/
.singleStoreInfo 
{
  color: #ffffff;
  height: 250px;
  margin-bottom: 20px;
}

.singleStoreInfo h5 
{
  color: #000000;
}

.allStores 
{
  padding: 36px 0 0;
}

/*---------- circular ----------*/
.circOptions
{
  margin: 10px 0;
}

.dcircular-content, .dcircular-list-content 
{
  text-align: center;
}

.dcircular-list-single
{
    border: 1px solid #ffffff;    
    margin: 10px;
    min-height: 280px;
    width: 45%;
}

.thumbnail
{
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0;
}

.thumbnail.dcircular-thumbnail
{
    border: none;
}

.thumbnail > img, .thumbnail a > img
{
  margin: 0 auto;
  padding: 10px;
}

.caption h3
{
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}

.dcircular-pager-top
{
  padding-bottom:10px;
}

.dcircular-pager-bottom, .dcircular-pager-top 
{
  text-align: center;
  width: 100%;
}

.dcircular-pager-top > .pagination 
{
  margin-top: 4px;
  margin-bottom: -5px;
}

.pagination > li > a, .pagination > li > span 
{
  background-color: rgba(245,130,32,.85);
  color: #ffffff;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus,
.pagination > .active > span:focus 
{
  background-color: white;
  border-color: black;
  color: black;
}

.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus 
{
  color: #000000;
}

.dcircular-content img 
{
  border: 4px solid #37424a;
  cursor: pointer;
  box-shadow: 10px 8px 6px #37424a;
  margin-left: -18px;
  width: 535px;
}

/*---------- Text Only/List View ---------*/
.searchTools
{
  margin-top: 20px;
}

.searchBy
{
  margin-right: 10px;
}

.searchField a 
{
    padding: 0 5px;
}

.searchField input
{
    background: url('../images/search.png') no-repeat scroll 25px 10px;
    background-color: #ffffff;
    padding-right: 0;
    border: none;
    border: 1px solid #7D6D6A \9; /* IE8 and below only */
    box-shadow: 0px 0px 4px #999;
}

.list
{
  margin-top: 30px;
}

.list h5
{
  color: #ffffff;
}

.list img
{
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 5px;
  padding: 5px;
  width: 50px;
}

.items
{
  border-bottom: 1px dashed #000000;
  margin-bottom: 5px;
  margin-right: 32px;
  padding-bottom: 8px;
}

.savings
{
  color: red;
}

caption
{
  color: #5e7803;
  font-size: 15px;
}

.disclaimer
{
  margin-left:10px;
  text-wrap:normal;
  font-style:italic;
}

/*---------- Available Varieties ----------*/
.availableVarieties 
{
  background-color: rgb(186,167,137);
  border: 1px solid #000000;
  border-top: none;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: -15px;
  padding: 5px;
  max-height: 472px;
  width: 300px;
}

.varietiesHeader 
{
  background-color: #f58220;
  border-top: 1px solid #000000;
  margin: -5px -5px 5px;
  padding: 0 0 1px;
}

.varietiesHeader h4 
{
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.availableVarietiesImage 
{
  margin-left: 46px;
}

.availableDescription 
{
  height: 90px;
  overflow: hidden;
}

.availableVarietiesList 
{
  height: 118px;
  overflow: scroll;
}

.availableVarieties ul 
{
  padding: 0;
}

.availableVarieties ul li 
{
  list-style-type: none;
}

.varieties li 
{
  padding-bottom: 4px;
}

.varieties button 
{
  background-color: #d5704b;
  color: #ffffff;
}

.recipeIdeas a
{
  color: #009b68;
}

.recipeSearch a {
  padding: 5px;
}

/*---------- Coupons ----------*/
.singleCoupon
{
  border: 1px dashed black;
  height: 300px;
  margin: 5px;
}

.singleCoupon h4, .singleCoupon h5
{
  text-align: center;
  margin: 0;
  padding: 5px;
}

.singleCoupon img
{
  display: block;
  margin: 6px auto;
  height: 87px;
  width: 87px;
}

.description p
{
  padding: 10px 0 0;
  text-align: center;
}

.printCouponBtns
{
  margin-left: 81px;
}

.digitalCouponBtns button
{
  display: block;
  margin: 0 auto;
}

/*----- Recipe Center -----*/
.recipeContent
{
  margin-top: 10px;
}

.recipeCenter h2, .recipeCenter h3, .rOTD h3, .rOTD p, .rOTDTitle, .recipeArticle p
{
  text-align: center;
}

.recipeSearch, .advancedSearch, .top50Recipe
{
  background-color: #baa789;
}

.recipeCenter, .recipeContent, .myRecipeContent
{
  background-color: rgba(186,167,137,.85);
}

.course, .prepTime, .skill
{
  margin-bottom: 10px;
}

.recipeArticle
{
  background-color: #FFFFFF;
  border: 1px solid #7D6D6A;
  float: none;
  margin-top: 14px;
  min-height: 270px;
  padding: 10px;
}

.recipeArticle p
{
  color: #000000;
}

.recipeArticle img
{
  display: block;
  margin: 0 auto;
  max-height: 125px;
}

.recipeArticle h3
{
  border-top: 15px solid #f58220;
  margin: -18px 0 10px;
  text-align: center;
}

.rOTD img
{
  display: block;
  margin: 10px auto;
  max-height: 150px;
}

.rOTDTitle
{
  background-color: #f58220;
  color: #ffffff;
  padding: 10px 0;
}

.mealPlanner h3
{
  border-bottom: 1px solid #000000;
  font-size: 18px;
}

.mealByDay a
{
  color: #000000;
}

.recipeBox
{
  margin: 10px 0;
}

.recipeMenu button
{
  background-color: #f58220;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 10px;
}

.tips
{
  margin-bottom: 10px;
}

.quickSearch h3, .advanced h3, .advanced a
{
  color:white;
}

.quickSearch li a, .topFifty a
{
  color: #000000;
}

.myRecipeInfo h2, .myRecipeInfo h3, .myRecipeInfo h4, .myRecipeInfo h5
{
  color:white;
}

.advanced select, .advanced option
{
  color: #000000;
}

/*----- Recipe Detail -----*/

.recipe-detail .recipe-figure 
{
  padding: 0;
}

.recipe-figure .recipe-image-container 
{
  margin: 0;
  padding: 0;
}

.recipe-detail .recipe-figure h3 
{
  color: #fff;
  margin: 10px 5px;
}

.recipe-detail .buttons 
{
  margin: 5px 0;
}

.ingredientOptions 
{
  margin: 5px 20px;
}

.recipeOptions 
{
  margin: 0 48px;
}

.recipeRating 
{
  margin: 5px 0;
  text-align: center;
}

.ingredients li input 
{
  margin: 0 3px;
}

.back
{
  margin: 5px;
}

/*---------- Nutrition ----------*/
.nutrition
{
  margin-bottom: 10px;
}

.nutr-table 
{
  border: 1px solid black;
  max-width: 310px;
}

.nutr-table th, .nutr-table td 
{
  font-size: 8pt;
  font-weight: bold;
  font-family: Franklin Gothic Medium;
  border-top: 1px solid black;
  padding: 2px;
}

td.nutr-header 
{
  font-size: 14pt;
  border-bottom: 6px solid black;
}

td.nutr-border 
{
  border-top: 4px solid black;
}

.nutr-sub-item 
{
  padding-left: 20px;
  font-weight: normal;
}

.nutr-normal 
{
  font-size: 8pt;
  font-weight: normal;
}

.nutr-value 
{
  font-weight: bold;
  float: right;
  position: relative;
}

.ingredient 
{
  width: 100%;
  padding-top: 2pt;
  padding-bottom: 2pt;
}

/*---------- Recipe Video -----------------*/

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus
{
  background-color: rgba(245,130,32,.9);
  border: none;
}

.VideoPlayerTarget
{
  display: block; 
  width: 100%; 
  height: 250px;
}

/*---------- Featured Article/Cooking Tip ----------*/
.articleImage, .articleContent,
.recipeCenterFeatures h3
{
  padding: 20px;
}

/*------Manage Shopping List ------*/
.manageOptions i
{
  display: block;
}

.manageOptions a
{
  text-align: center;
}

.manageOptions li
{
  float: left;
  padding: 0 5px;
}

.addItemManage
{
  margin-top: 16px;
}

.manageItem
{
  border: 1px solid #ffffff;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 5px;
  width: 50px;
}

/*---------- Print Shopping List ----------*/
.printHeader
{
    border-bottom: 3px solid #704F45;
    margin-bottom: 10px;
}

.printListInfo
{
    text-align: center;
}

.printHeader, .printBody, .printFooter
{
  background-color: rgba(186, 167, 137, 0.6);
}

.printFooter, .printBody h4
{
  padding: 0 10px;
}

/*---------- Email Shopping List ----------*/
textarea
{
  color: #000000;
}

.emailList input
{
  margin-bottom: 10px;
}

.emailSend
{
  margin: 10px 0;
}

/*---------- Careers / Careers Apply ----------*/

.Employment-Header p
{
  margin: 10px 0px 10px 0px;
}

.Employment-Description
{
   margin: 10px 0px -10px;
}

.Employment-Jobs a
{
  margin-left:15px;
}

.Employment-Jobs ul
{
  padding: 0;
}

/*---------- Careers Apply ----------*/

.ApplicationFormHeader h4, .ApplicationForm h4
{
  margin: 10px 0px 10px 0px;
  font-weight:bold;
}

.ApplicationFormHeader p
{
  margin: 10px 0px 10px 0px;
}

.ApplicationForm input
{
  margin-bottom:5px;
}

.ApplicationForm select
{
  width:100%;
}

.ApplicationForm textarea
{
  width:100%;
  resize: none;
}

.ApplicationFormSubmit button
{
  margin-top:10px;
}

.EmploymentDisclaimer
{
  margin-left:10px;
  text-wrap:normal;
  font-style:italic;
}

/*---------- Modals ----------*/
.create p
{
  margin: 6px 10px 0 0;
}

.modal-footer h5
{
  color: #ffffff;
}

.signIn, .saveList
{
  background-color: rgb(186, 167, 137);
}

.modalMessageBox-header
{
  border-bottom-style:none;
}

.modalMessageBox-footer
{
  border-top-style:none;
}

/*---------- Static Content ----------*/
.staticContent, .staticTabs
{
  margin-bottom: 10px;
}

.staticHeader
{
  margin-bottom: -18px;
  margin-top: 18px;
}

.staticContent h3
{
  margin-top: 0;
}

.staticContent ul
{
  list-style-type: disc;
}

.staticContent li
{
  margin-left: 20px;
}

.staticHeader img
{
  margin-top: 15px;
  width: 100%;
}

.staticIntro
{
  margin-bottom: 25px;
}

.staticBlock img
{
  float: left;
  margin-right: 16px;
  margin-bottom: 20px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus
{
  background-color: #009b68;
}

/*---------- Contact Us ----------*/
.ContactUsControls
{
  padding: 10px 0;
}

/*---------- Registration/Profile ----------*/
.required, .has-error .form-control-feedback
{
    color: #d5000a;
    font-weight: bolder;
}

.has-error .form-control
{
  border-color: #d5000a;
}

.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, .has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline
{
  color: #d5000a;
}

.dropList
{
  color:#333333;
  height:34px;
  padding-top:5px;
  padding-right:2px;
  padding-bottom:3px;
  border-radius:3px;
}

.submit
{
  padding: 10px 0;
}

.form-group.cardInfo li 
{
  color: #d5000a;
  font-weight: bolder;
}
.form-group
{
  margin: 0 10px;
}

.profileInfo
{
  padding-top: 20px;
}

.profileButtons
{
  padding-bottom: 20px;
}

/*------- Registration / Loyalty Card Page -----------*/
.registration
{
  padding: 20px 0;
}

.registerButtons
{
  padding: 10px 0;
}

.checkbox input
{
  margin-left: -10px !important;
  margin-right: 5px !important;
}

.recaptcha_only_if_privacy a
{
  color: white;
}

.recaptcha_only_if_privacy a:hover
{
  color: black;
}


.SilverRegistrationTopMargin
{
  margin-top:10px;
}

.SilverClubBox
{
  min-height:850px;
  border:solid 3px white;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left:2px;
  margin-right:2px;
  color:white;
}

.SilverClubBoxBullets
{
  list-style-type:disc;
  font-weight:bold;
  padding-left:4px;
}

.SilverClubBoxBullets span
{
  color: white;
}

.SilverProfileMargin, .McmLocatorMargin
{
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 20px;
}

.SilverClubBoxCallout, .SilverProfileCallout
{
  color:#FFFFFF;
}

.SilverClubDisclaimer
{
  margin-left:10px;
  text-wrap:normal;
  font-style:italic;
}

.SilverClubBoxImg
{
  width:100%;
}

.SilverProfileImg
{
  width:100%;
  max-height:150px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
  background-color: rgba(186,167,137,.9);
  color:#ffffff;
  font-weight:bold;
}

.nav-tabs
{
  border-bottom-style: none;
}

.nav-tabs > li > a
{
   color: #FFFFFF;
}

.nav-tabs > li > a 
{
  background-color: #f58220;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
  color:white;
}

/*---------- Media Queries ----------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*------ Nav & Header ------*/
  .navbar-toggleAccount {
    margin-right: -6px;
  }

  .btnLocations {
    margin-left: -5px;
  }

  .btn-groupMenu {
    margin-left: -5px;
  }

  .btn-groupList
  {
    margin-top: -34px;
    margin-left: 9px;
  }

  .logo {
    width: 100%;
  }

  .dropdown-menuList {
    left: -180px;
  }

  /*------ Home ------*/
  .homeMod img.homeCircThumb {
    height: 325px;
    width: 129px;
  }

  .slide-container {
    height: 100px;
  }

  /*------ Footer ------*/
  .about {
    float: left;
  }

  .social {
    clear: left;
    float: left;
  }

  .social h4 {
    float: left;
  }

  .social ul {
    float: left;
    clear: left;
  }

  /*------ Weekly Ad ------*/
    .dcircular-list-single {
    margin: 10px 10px 10px 0;
    min-height: 280px;
    width: 100%;
  }

  .searchField {
    margin-top: 10px;
  }

  .searchBy {
    float: left;
    margin-left: -20px;
  }

  .sortBy {
    margin-left: -20px;
  }

  .btn-groupSortBy {
    margin-left: 18px;
  }

  .totalSavings {
    margin-left: -22px;
    margin-bottom: 5px;
  }

  .searchTools .sortBy {
    float: left;
    margin-left: -10px;
    margin-top: 10px;
  }

  .searchTools .searchBy {
    margin-left: -10px;
  }

  /*------ Coupons ------*/
  .couponsOnCard {
    margin-left: 73px;
    margin-bottom: 10px;
  }

  .noCoupons {
    clear: left;
  }

  .printCouponBtns {
    margin-left: 69px;
  }

  /*------ Shopping List ------*/
  .manageOptions {
    margin-left: 12px;
    margin-top: 10px;
  }

  .manageOptions li {
    padding: 0 4px;
  }

    .manageListItems {
    margin-bottom: 10px;
  }

  .manageListItems button {
    margin: 3px 0;
  }

  /*------ Recipe Center ------*/

  .ingredientOptions, .recipeOptions {
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  /*------ Header & Nav ------*/
  .slide-container {
    height: 278px;
  }

  .btn-groupMenu {
    margin-top: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
  /*------ Header & Nav ------*/
  .slide-container {
    height: 278px;
  }

  .btn-groupList {
    margin-right: -22px;
  }

  .btnShoppingList {
    margin-right: -15px;
    margin-top: 20px;
  }

  .navSilver > li > a {
    font-size: 13px;
    margin-left: 3px;
    padding: 10px 2px;
  }

  .btnShoppingList {
    margin-right: 0;
    margin-top: 26px;
  }

  .homeCircThumb {
    height: 325px;
    width: 131px;
  }
}

/*---------- AdPod Spacing ----------*/
.circularTopPod
{
  margin-left: -30px;
  margin-top: -1px;
}

.circularRightPod
{
  margin-left: -16px;
}

.circularLeftPod
{
  margin-left: -44px;
}

.shoppingListRightPod, .emailRightPod
{
  margin-left: -22px;
}

.shoppingListTopPod, .emailTopPod
{
  margin-left: -15px;
  margin-top: -1px;
}

.shoppingListLeftPod, .emailLeftPod
{
  margin-left: -15px;
}

.couponTopPod
{
  margin-left: -15px;
}

.couponRightPod
{
  margin-left: 20px;
  margin-top: -41px;
}

.recipePod
{
  margin-left: 74px;
}

.recipePod:first-child
{
  margin-bottom: 10px;
  margin-top: -1px;
}

.recipeTopPod
{
  margin-left: 220px;
}

.recipeLeftPod
{
  margin-top: -90px;
}

.recipeResultsTopPod
{
  margin-left: -30px;
  margin-top: -1px;
}

.recipeResultsLeftPod
{
  margin-left: -45px;
}

.recipeResultsRightPod
{
  margin-left: -15px;
}

.saveListPod
{
  margin-left: 80px;
}

.saveListPod:first-child
{
  margin-bottom: 10px;
  margin-top: -1px;
}

.towerPod
{
  padding-top: 20px;
}

.circplus {
  margin-left: -15px;
  padding-bottom: 5px;
}

.circplusWeekly
{
  margin-left: 0;
}

.circplusCoupons
{
  margin-left: -139px;
}




