<div class="hidden-meta" data-gsn-title="{{ChainName}} | recipe search"></div>
<div data-ctrl-recipe-search="" class="col-md-8"> 
  <h1>Recipe Search Result</h1>
  <button class="btn btn-default btn-xs" data-ng-click="goBack()">Back</button><br />
  <ul class="pagination" data-ng-init="vm.currentPage = 1">
    <li>
      <a href="javascript:void(0)" aria-label="Previous" data-ng-click="vm.currentPage = (vm.currentPage <= 1) ? vm.currentPage = 20 : vm.currentPage - 1">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  	<li data-ng-repeat="item in [] | range:0:totalItems/itemsPerPage" data-ng-class="{'active': item == (vm.currentPage - 1)}">
  	  <a href="javascript:void(0)" data-ng-click="vm.currentPage = item + 1">{{$index + 1}}</a>
  	</li>
  	<li>
      <a href="javascript:void(0)" aria-label="Next" data-ng-click="vm.currentPage = (vm.currentPage >= totalItems/itemsPerPage) ? vm.currentPage = 1 : vm.currentPage + 1">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
  <div class="recipeSearchResults" data-ng-repeat="item in vm.searchResult | orderBy:'Relevance':true | pagingFilter:itemsPerPage:(vm.currentPage-1)">
      <a href="javascript:void(0)" data-ng-click="goUrl('/recipe/' + item.RecipeId)">{{item.RecipeTitle}}</a>
  </div>
</div>
<div id="lucy" style="display: none;" class="col-md-4">
  <div data-ng-show="item.Description" data-gsn-ft-config="lucy" data-ng-cloak="">
    <img src="{{item.Description}}" />
  </div>	
</div>

<style>
.recipeSearchResults a {
  color: #000 !important;
}
</style>

<script>
	if(location.search.split('q=SearchTerm:')[1] == 'lucy%27s%3B') {
		//Show Lucy
		$("#lucy").show();
	}
</script>