<div class="row" data-ctrl-home="">
    <div class="col-md-3 col-xs-3 noPadLeft">
        <div class="promoBox" data-gsn-ft-content="" data-content-position="4">
          <a data-ng-href="/circular" href="javascript:void(0)" >
            <img data-ng-src="{{getThemeUrl('/images/weeklyAd.jpg')}}" alt="Weekly Ad" title="Weekly Ad">
          </a>
        </div>
        <div class="promoBox" data-gsn-ft-content="" data-content-position="6">
          <a href="javascript:void(0)" data-ng-href="/coupons/printable">
            <img data-ng-src="{{getThemeUrl('/images/coupons.jpg')}}" title="Coupons" alt="Coupons">
          </a>
        </div>
    </div>
    <div class="col-md-6 col-xs-6 noPad" data-gsn-partial="Home">
        <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
            <!-- Wrapper for slides -->
            <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()">
                <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators carousel-indicatorsBronze controls">
                <li data-ng-repeat="item in slides"  data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
            </ol>
        </div> 
    </div>
    <div class="col-md-3 col-xs-3 noPadRight">
        <div class="promoBox" data-gsn-ft-content="" data-content-position="5">
          <a href="javascript:void(0)" data-ng-href="/registration">
            <img data-ng-src="{{getThemeUrl('/images/email.jpg')}}" title="Sign Up" alt="Sign Up">
          </a>
        </div>
        <div class="promoBox" data-gsn-ft-content="" data-content-position="7">
          <a href="javascript:void(0)" data-ng-href="/recipe/featured">
            <img data-ng-src="{{getThemeUrl('/images/recipe.jpg')}}" title="Recipe of the Day" alt="Recipe of the Day">
          </a>
        </div>
    </div>
</div>