<div class="visible-lg visible-md navbar navbarBronze navbar-default navbar-defaultBronze" data-ng-class="{ 'visible-sm visible-xs': gvm.menuInactive }"  data-gsn-ft-content="" data-content-position="3">
    <ul class="nav navBronze navbar-nav navbar-navBronze">
      <li data-ng-class="{'active': currentPath == '/'}"><a data-ng-href="/">Home</a></li>
      <li data-ng-class="{'active': currentPath == '/storelocator'}"><a data-ng-href="/storelocator">Store Locator</a></li>
      <li data-ng-class="{'active': currentPath == '/circular'}"><a data-ng-href="/circular">Weekly Ad</a></li>
      <li data-ng-class="{'active': currentPath == '/coupons/printable'}"><a data-ng-href="/coupons/printable">Coupons</a></li>
      <li data-ng-class="{'active': currentPath == '/recipe/featured'}" data-ng-init="getFeaturedRecipe()"><a data-ng-href="/recipe?id={{vm.featuredRecipe.RecipeId}}">Recipes</a></li>
      <li data-ng-class="{'active': currentPath == '/careers'}"><a data-ng-href="/careers">Employment</a></li>
    </ul>
</div>
