<div data-ctrl-home="">
  <div class="row">
    <div class="col-md-9 noPadWidth">
     <div data-gsn-partial="Home"> 
        <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
        <!-- Wrapper for slides -->
            <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()" data-ui-event="{'mouseover': 'stop()', 'mouseout': 'play()'}">
                <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
            </div>
        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-ng-repeat="item in slides" data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
            </ol>
        <!-- Controls -->
            <div class="carousel-buttons btn-group">
                <button type="button" class="btn btn-default btn-xs" data-ng-hide="isPlaying()" data-ng-click="play()">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" data-ng-show="isPlaying()" data-ng-click="stop()">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" data-ng-click="next()">
                    <span class="glyphicon glyphicon-forward"></span>
                </button>
            </div>
        </div>
    </div>
      <div class="row rowFeatured">
        <div class="col-md-4" data-gsn-ft-recipe="" data-content-position="1">
          <div class="featured recipeHome">
            <a data-ng-href="/recipe?id={{item.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{item.RecipeTitle}}" data-analytics-category="Recipe">
              <img data-ng-src="{{item.ImageUrl}}">
              <h3>Recipe of the Day</h3>
              <div class="">{{item.RecipeTitle}}</div>
            </a>
          </div>
        </div>
        <div class="col-md-4" data-gsn-ft-article="" data-content-position="2">
          <div class="featured articleHome">
            <a data-ng-href="/article?id={{item.ArticleId}}" data-analytics-on="click" data-analytics-event="ClickFeaturedArticle" data-analytics-label="{{item.Title}}" data-analytics-category="Recipe">
              
              <img data-ng-src="{{item.ImageUrl}}">
              <h3>Featured Article</h3>
              <p>{{item.Title}}</p>
              <!--<p data-ng-bind="item.Teaser"></p>-->
            </a>
          </div>
        </div>
        <div class="col-md-4" data-gsn-ft-video="" data-content-position="3">
          <div class="featured tipHome">
            <a data-ng-href="/recipevideo?title={{item.Title}}" data-analytics-on="click" data-analytics-event="ClickFeaturedVideo" data-analytics-label="{{item.Title}}" data-analytics-category="Recipe">
              
              <img data-ng-src="{{item.Thumbnail}}">
              <h3>Featured Video</h3>
              <p>{{item.Title}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 slideShowSideBar noPadWidth">
      <div class="promoColumn">
        <a href="/registration">
          <img style="width: 100%;max-width:275px;" data-ng-src="{{getContentUrl('/images/emailBox2.jpg')}}" alt="" class="" />
          <h3>Email Club</h3>
        </a>
      </div>
      <div class="promoColumn">
        <div class="" data-gsn-ft-content="" data-content-position="3">
          <a data-ng-href="/circular">
            <img class="homeCirc" data-ng-src="{{getContentServiceUrl('GetCircularImage')}}" />
            <h3>Weekly Ad</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row storeFeatures">
    <div class="col-md-9 noPadWidth">
      <div class="col-md-8 subFeature noPadWidth">
        <div class="storeFeatureLeft">
          <a href="/tickets">
            <img data-ng-src="{{getContentUrl('/images/tickets.jpg')}}" alt="" class="" style="width: 100%;" />
            <div class="row">
              <div class="col-md-3">

                <h3>Dahl's
                  <br />
                  Tickets</h3>
              </div>
              <div class="col-md-9">
                <p>Looking for tickets to concerts, family shows, sports or other events in the area? Visit your favorite Dahl's store ticket outlet or buy online. Find more information on the Dahl's Tickets page.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="storeFeatureMiddle">
          <a href="/catering">
            <img data-ng-src="{{getContentUrl('/images/catering.jpg')}}" alt="" class="" />
            <h3>Catering</h3>
            <p>Let us help you create the perfect menu for your event. Choose from our breakfast, lunch, dinner, grilled and smoked, appetizers or party platter menus.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 subFeature noPadRight">
      <div class="storeFeatureRight">
        <a href="/pharmacyservices">
          <img data-ng-src="{{getContentUrl('/images/pharm.jpg')}}" alt="" class="" />
          <h3>Pharmacy</h3>
          <p>Whether you need a prescription filled or an immunization, you can count on our licensed pharmacists to help you maintain optimum health.</p>
        </a>
      </div>
    </div>
  </div>
</div>
