<h3 class="font-bold">New Every Day<span class="font-book">&trade;</span></h3>
<div class="col-md-3 footerNav">
  <ul>
    <li data-ng-class="{'underlined': currentPath == '/aboutus'}"><a data-ng-href="/aboutus">About Pick 'n Save</a></li>
    <li data-ng-class="{'underlined': currentPath == '/storelocator'}"><a data-ng-href="/storelocator">Store Locator</a></li>
    <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
    <li data-ng-class="{'underlined': currentPath == '/careers'}"><a data-ng-href="/careers">Careers</a></li>
  </ul>
</div>
<div class="col-md-3 footerNav">
  <ul>
    <li><a data-ng-href="/privacy">Privacy Policy & Terms of Use</a></li>
    <li><a data-ng-href="/couponpolicy">Coupon Policy</a></li>
    <li><a data-ng-href="/productrecall">Product Recall</a></li>
    <li><a data-ng-href="/givingback">Giving Back</a></li>
  </ul>
</div>
<div class="col-md-3 footerNav">
  <ul>
    <li><a data-ng-href="/suppliers">For Our Suppliers</a></li>
    <li><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-IRHome" target="_blank" data-analytics-on="click" data-analytics-event="Investor Relations" data-analytics-category="FooterLink">Investor Relations</a></li>
    <li><a href="http://www.roundys.com/ess.aspx" target="_blank" data-analytics-on="click" data-analytics-event="ClickForOurEmployees" data-analytics-category="FooterLink">For Our Employees</a></li>
  </ul>
</div>
<div class="col-md-3 footerNav">
  <div class="row social">
    <ul>
      <li><a class="col-md-3 socialLinks" href="https://www.facebook.com/PickNSaveStores" target="_blank" data-analytics-on="click" data-analytics-event="ClickFacebook" data-analytics-category="HeaderLink">
        <img alt="facebook" data-ng-src="{{getThemeUrl('/images/facebookIcon.png')}}" /></a></li>
      <li><a class="col-md-3 socialLinks" href="https://twitter.com/PicknSaveStores" target="_blank" data-analytics-on="click" data-analytics-event="ClickTwitter" data-analytics-category="HeaderLink">
        <img alt="twitter" data-ng-src="{{getThemeUrl('/images/twitterIcon.png')}}" /></a></li>
    </ul>
  </div>
  <div class="row social">
    <ul>
      <li><a class="col-md-3 socialLinks" href="http://www.pinterest.com/picknsave/" target="_blank" data-analytics-on="click" data-analytics-event="ClickPInterest" data-analytics-category="HeaderLink">
        <img alt="pinterest" data-ng-src="{{getThemeUrl('/images/pinterestIcon.png')}}" /></a></li>
      <!--<li><a class="col-md-3 socialLinks" href="http://instagram.com/marianosmarket#" target="_blank" data-analytics-on="click" data-analytics-event="ClickInstagram" data-analytics-category="HeaderLink"><img alt="Instagram" data-ng-src="{{getThemeUrl('/images/instagramIcon.png')}}" /></a></li>-->
    </ul>
  </div>
</div>
