<div data-ctrl-home="">
    <div class="row">
        <div class="col-md-8 noPadWidth slideShow">
            <div data-gsn-partial="Home Slideshow"> 
                <div data-gsn-carousel="" class="carousel slide" data-interval="5000" data-slides="partialContents">
                    <!-- Wrapper for slides -->
                    <div class="slide-container" data-ng-swipe-left="next()" data-ng-swipe-right="prev()" data-ui-event="{'mouseover': 'stop()', 'mouseout': 'play()'}">
                        <div data-ng-repeat="item in slides | pagingFilter:1:currentIndex()" data-ng-bind-html="item.Description | removeAspx | trustedHtml" class="slide"></div>
                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-ng-repeat="item in slides" data-ng-class="{ 'active': $index == currentIndex() }" data-ng-click="selectIndex($index)"></li>
                    </ol>
                </div>
            </div>
            <img data-ng-src="{{getContentUrl('/images/plate.png')}}" alt="Plate" class="slide-background" />
        </div>
        <div class="col-md-4 promoColumn">
            <div class="promoBlock promoBlockOne" data-gsn-ft-content="" data-content-position="3">
                <a data-ng-href="/circular">
                    <!--<img class="homeCirc" data-ng-src="{{getContentServiceUrl('GetCircularImage')}}" />-->
                    <img data-ng-src="{{getContentUrl('/images/circularThumb.png')}}" alt="Weekly Ad" class="circular-link" />
                    <h3>Weekly Ad</h3>
                </a>
            </div>
            <div class="promoBlock promoBlockTwo">
                <a data-ng-href="/coupons/printable">
                    <img data-ng-src="{{getContentUrl('/images/btnPrintCoupons.png')}}" alt="Printable Coupons" class="" />
                    <h3>Printable <br/> Coupons</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row storeFeatures">
        <div class="col-md-4 col-sm-4 two  one" data-gsn-ft-recipe="" data-content-position="2">
        <div class="featuredBlock">
        <div class="pull-left">
           <img class="featuredImage" data-ng-src="{{item.ImageUrl}}" />
           </div>
           <div class="">
           <h3>Featured Recipe</h3>
            <p>{{item.RecipeTitle}}</p>
            <a data-ng-href="/recipe?id={{item.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{item.RecipeTitle}}" data-analytics-category="Recipe"><img data-ng-src="{{getContentUrl('/images/btnStrawberry.png')}}" alt="Plate" class="blockButton visible-lg visible-md" /><span class="visible-xs visible-sm">more</span></a>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 two" data-gsn-ft-article="" data-content-position="3">
        <div class="featuredBlock">
        <div class="pull-left">
            <img class="featuredImage" data-ng-src="{{item.ImageUrl}}" />
            </div>
            <div class="">
           <h3>Featured Article</h3>
            <p>{{item.Title}}</p>
            <a data-ng-href="/recipe?id={{item.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{item.RecipeTitle}}" data-analytics-category="Recipe"><img data-ng-src="{{getContentUrl('/images/btnOrange.png')}}" alt="Plate" class="blockButton visible-lg visible-md" /><span class="visible-xs visible-sm">more</span></a>
            </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 three" data-gsn-ft-video="" data-content-position="4">
        <div class="featuredBlock">
        <div class="pull-left">
            <img class="featuredImage" data-ng-src="{{item.Thumbnail}}" />
            </div>
            <div class="">
           <h3>Featured Video</h3>
            <p>{{item.Title}}</p>
            <a data-ng-href="/recipe?id={{item.RecipeId}}" data-analytics-on="click" data-analytics-event="ClickRecipeOfTheday" data-analytics-label="{{item.RecipeTitle}}" data-analytics-category="Recipe"><img class="visible-lg visible-md blockButton" data-ng-src="{{getContentUrl('/images/btnApple.png')}}" alt="Plate" /><span class="visible-xs visible-sm">more</span></a>
            </div>
        </div>
        </div>
    </div>
</div>

