<div>
	<h3><span style="font-weight: bold; color: #094016;">BE</span><span style="color: #094016;">FRUGAL.</span><span style="font-weight: bold; color: #a51200;">SAVE</span><span style="color: #a51200;">CASH.</span></h3>
	<div class="col-md-4 location">
		<div>
			<button class="btn btn-default btnSilver btnLocations" data-gsn-store-info="[store.StoreName] (View All Stores)" data-ng-click="goUrl('/storelocator')">Locate Your Store</button>
			<div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
		</div>
	</div>
	<div class="col-md-4 company-info">
		<ul>
				<li data-ng-class="{'underlined': currentPath == '/employment'}"><a data-ng-href="/employment">Careers</a></li>
				<li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
			</ul>
	</div>
	<div class="col-md-4 social">
		<h4>Stay Connected</h4>
			<ul class="col-md-6 first-list">
				<li><a href="https://www.facebook.com/CASHSAVERABILENE" target="_blank"><i class="fa fa-facebook-square"></i>Abilene</li></a>
				<li><a href="https://www.facebook.com/AmarilloCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Amarillo</li></a>
				<li><a href="https://www.facebook.com/pages/Anson-Cash-Saver/1538284783069030" target="_blank"><i class="fa fa-facebook-square"></i>Anson</li></a>
				<li><a href="https://www.facebook.com/BreckenridgeCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Breckenridge</li></a>
				<li><a href="https://www.facebook.com/OdessaCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Odessa</li></a>
				<li><a href="https://www.facebook.com/RallsCashSaver?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i>Ralls</li></a>
				<li><a href="https://www.facebook.com/SeminoleCashSaver?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i>Seminole</li></a>
				<li><a href="https://www.facebook.com/StamfordCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Stamford</li></a>
				<li><a href="https://www.facebook.com/CashSaverWichitaFalls" target="_blank"><i class="fa fa-facebook-square"></i>Wichita Falls</li></a>
				<li><a href="https://www.facebook.com/pages/Winters-Cash-Saver/1496825000582246" target="_blank"><i class="fa fa-facebook-square"></i>Winters</li></a>
			</ul>
	</div>
</div>