<div>
	<h3><span style="font-weight: bold; color: #094016;">BE</span><span style="color: #094016;">FRUGAL.</span><span style="font-weight: bold; color: #a51200;">SAVE</span><span style="color: #a51200;">CASH.</span></h3>
	<div class="col-md-4 col-sm-4 location">
		<div>
			<button class="btn btn-default btnSilver btnLocations" data-gsn-store-info="[store.StoreName] (View All Stores)" data-ng-click="goUrl('/storelocator')">Locate Your Store</button>
			<div class="yourStore" data-gsn-store-info="[store.PrimaryAddress] <br/> [store.City], [store.StateName] [store.PostalCode] <br/>[store.Phone], <br/>[store.OpenHoursDisplay]"></div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 company-info">
		<ul>
				<li data-ng-class="{'underlined': currentPath == '/employment'}"><a data-ng-href="/employment">Careers</a></li>
				<li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
			</ul>
	</div>
	<div class="col-md-4 col-sm-4 social">
		<h4>Stay Connected</h4>
			<ul class="pull-left">
				<li><a href="https://www.facebook.com/CASHSAVERABILENE" target="_blank"><i class="fa fa-facebook-square"></i>Abilene</a></li>
				<li><a href="https://www.facebook.com/AmarilloCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Amarillo</a></li>
				<li><a href="https://www.facebook.com/pages/Anson-Cash-Saver/1538284783069030" target="_blank"><i class="fa fa-facebook-square"></i>Anson</a></li>
				<li><a href="https://www.facebook.com/BreckenridgeCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Breckenridge</a></li>
				<li><a href="https://www.facebook.com/OdessaCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Odessa</a></li>
				</ul>
				<ul class="pull-left"> 
				<li><a href="https://www.facebook.com/RallsCashSaver?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i>Ralls</a></li>
				<li><a href="https://www.facebook.com/SeminoleCashSaver?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i>Seminole</a></li>
				<li><a href="https://www.facebook.com/StamfordCashSaver" target="_blank"><i class="fa fa-facebook-square"></i>Stamford</a></li>
				<li><a href="https://www.facebook.com/pages/Winters-Cash-Saver/1496825000582246" target="_blank"><i class="fa fa-facebook-square"></i>Winters</a></li>
				<li><a href="https://www.facebook.com/CashSaverWichitaFalls" target="_blank"><i class="fa fa-facebook-square"></i>Wichita Falls</a></li>
			</ul>
	</div>
	<div class="copyrightBar col-md-12 col-sm-12" >
	© 2015 Grocery Shopping Network | <a href="http://patft1.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&amp;Sect2=HITOFF&amp;d=PALL&amp;p=1&amp;u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&amp;r=1&amp;f=G&amp;l=50&amp;s1=7734514.PN.&amp;OS=PN/7734514&amp;RS=PN/7734514" target="_blank">
	Patent No US 7,734,514 B2.</a>
</div>
</div>