<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/iHqMbZz0hL0?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Lorin Adolph" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/lorinAdolph/lorinAdolphHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Chef Lorin Adolph is a lifelong Chicago resident and private chef for client Sam Zell. After honing his skills in fine dining, he became a private chef because he can create inventive dishes in varying styles every night.
                    Chef Lorin shops Mariano’s almost every day to keep his kitchen fresh and stocked. Among his favorites are local bratwurst, produce, veal, and American lamb.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'lorinAdolph'">
                <span data-model="{ id: '01', title: 'Limes are great for awakening most dishes with a citrus zing', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Limes are great for awakening most dishes with a citrus zing.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '03', title: 'Chef Lorin examines a white eggplant, which are a bit more tender than traditional eggplants.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '04', title: 'One of the brightest displays in all of Mariano’s has to be the pepper section.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '05', title: 'There’s nothing like the texture of a fresh fig. Lorin selects a few.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '06', title: 'Strawberries are a regular addition to Chef Adolph’s shopping cart. And Mariano’s strawberries never disappoint', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '07', title: 'Chef Adolph talks about specialty salt and finishing salt in front of the Mariano’s spice wall.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '08', title: 'Lorin is a big fan of dry rubs and lamb. One of his go-to lamb spices – smoked paprika.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '09', title: 'Don’t worry, all the jars on the spice wall are easy to open. But help is there if you need it.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '10', title: 'Chef Lorin Adolph selects amongst the many kinds of shrimp Mariano’s has to offer, all flown in daily.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '11', title: 'Since Lorin shops almost every day, he buys lighter meat portions for maximum freshness.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '12', title: 'The employees at Mariano’s are like Lorin’s co-workers, informing him on what’s new and different in the store.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '13', title: 'Chef Adolph gathers some olives from the olive bar to use as a garnish.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '14', title: 'The exquisite and colorful treats behind the bakery counter are hard to resist.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '15', title: 'Lorin takes a lunch break. Mariano’s is essentially his workplace, and a chef has to eat.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '16', title: 'Pairing wine is something that Chef Lorin excels at because he’s continually changing dishes and wine possibilities.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '17', title: 'Sometimes, you’ve got to pick up a few essentials for the house. Like garbage bags.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '18', title: 'Creating a little ambience for the evening meal is never a bad idea.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="chefRecipeLorin chefRecipe">
                    <h4>Lorin's lamb shanks recipe</h4>
                    <a href="recipe?id=71167">
                        <img alt="" data-ng-src="{{getContentUrl('/images/lorinAdolph/adolphRecipe.jpg')}}" />
                        <h5>braised lamb shanks with butternut squash mash</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/lorinAdolph/porkBelly.png')}}" />
                        <h4>braised pork belly</h4>
                        <p>I love pork belly because it’s season-less. For winter, take apples, apple cider and bourbon, then braise and serve as a first course. Also, never pour bourbon directly from the bottle into the pan. Always take a separate container and then pour it over the meat. You don’t want flame to come to the bottle. </p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/lorinAdolph/herbs.png')}}" />
                        <h4>Lorin Adolph's food tip</h4>
                        <h5>herbs de provence</h5>
                        <p>Many people love fried chicken, but it’s not something you should eat everyday. With dried herbs, you can get that crunch people really love. A good herb for chicken or lamb might be Herbs de Provence. It has an incredible versatility. It’s a mixture with rosemary, lavender, thyme and sometimes salt.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/lorinAdolph/capers.png')}}" />
                        <h4>capers</h4>
                        <p>You should always have capers on hand. They go great on smoked salmon, grilled chicken, salads, and even bagels. They make a great garnish with a nice bright vinegar flavor. And they have an amazing shelf life.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I shop the Mariano’s West Loop and South Loop stores. I’m in the Loop!</p>
                    <h5>Do you do most of the shopping yourself?</h5>
                    <p>I do. It’s a challenge because I have to balance what I have in my client’s pantry and what I’m going to make. If I don’t have what I need or time, I have to make it work.</p>
                    <h5>How does cooking in a home differ from your restaurant experience?</h5>
                    <p>When you cook at home, you can be any restaurant you want to be. One night you can be Asian influenced, one night you can be Italian. You’re not tied down to any one particular food style.</p>
                    <h5>What do you like about shopping at Mariano’s?</h5>
                    <p>I think the staff is wonderful. I love the environment, the lighting, and the aisles are nice and wide. And the selection. I’m a specialty shopper. And there are so many things here that are specialty items.</p>
                    <h5>What’s the first step in trying to recreate a dish at home?</h5>
                    <p>I would first ask someone familiar with the style for guidance. Beyond that, you have to use the knowledge that you have. That’s where your confidence lies.</p>
                    <h5>Is there a good time saving-tip for getting everything done at once?</h5>
                    <p>First figure out what takes the longest. Over the years I’ve been able to create a way of cooking that’s part intuitive but also, knowing how to do things in advance without sacrificing quality.</p>
                    <h5>Tell us about a unique ingredient you’ve used recently?</h5>
                    <p>I like buratta, which is the outside of mozzarella wrapped around a creamy center of cream and mozzarella. It’s showing up on more and more restaurant menus and at Mariano’s too! I use it in both sweet and savory dishes. For savory, I like to serve with slow-cooked cherry tomatoes and a splash of olive oil and balsamic vinegar. For sweet, I like buratta with roasted pears or apples, cinnamon and toasted slivered almonds and a drizzle of honey. So good!</p>
                    <h5>What surprises you most when you shop Mariano’s?</h5>
                    <p>Great local products. And some things you see in magazines that Mariano’s showcases. It’s a way to show Chicagoans that they’re on the pulse and keeping up with the times.</p>
                    <h5>Do you have help or can you prepare a whole party yourself?</h5>
                    <p>I have people come in to help me serve, but no one helps me in the kitchen. That’s all me.</p>
                    <h5>Do you sometimes feel like you’re a well-kept secret?</h5>
                    <p>I see things in the news that someone just made, and I can’t help but say, ‘Hey, I just made that too!’ But I respect who I work for and their private nature. But there’s a part of me that wants to show the world what I do.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

