<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/I5E8_4vBEns?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Rodelio Aglibot" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/rodelioAglibot/rodelioAglibotHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Known the world over as “The Food Buddha,” Chef Rodelio Aglibot has cultivated a distinct philosophy of balance and respect for ingredients. Since opening his newest ventures,  Yum Cha in Chicago and e+o in Mount Prospect, Rodelio is constantly on the lookout for new and unusual ingredients to create dishes for upcoming projects.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'rodelioAglibot'">
                <span data-model="{ id: '01', title: 'Chef Aglibot divulges his love of Mariano’s seasonal fruit in the West Loop store.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '02', title: 'Chef Rodelio tends to wander the store “at least a few times” to make sure he doesn’t miss anything.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Chef Rodelio is creating a Mexican inspired meal; which calls for a fresh chicken breast.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'When it comes to steak, skirt steak is his preference.  “It has a little more fat,” but wonderful flavoring.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Chef Rodelio inspects the many excellent steaks in the meat department.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'While scouting out the cheese section, Rodelio discovers a new triple cream cheese.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'The nice thing about being a Mariano’s explorer – you’re bound to find plenty of free samples.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Never pass up a new cheese opportunity.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'Chef Rodelio selects a chili powder from the spice wall to add some punch to his Mexican meal idea.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'When testing a spice, you need to fully immerse yourself as you would a glass of wine.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '12', title: 'Organic offerings are plentiful in the produce section.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'Shopping at Mariano’s is a full sensory experience.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'Chef Rodelio jokes with the camera crew in the produce section.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'Produce is Chef Rodelio’s favorite section.  “I could shop here for hours if I didn’t have to be at the restaurant.”', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'Rodelio goes over his mental checklist at the checkout.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Rodelio's restaurants</h4>
                    <div class="row">
                        <div class="col-md-6 stores eo">
                            <a href="http://www.eofoodanddrink.com/reservations/" target="_blank">
                                <img alt="e & o food and drink" data-ng-src="{{getContentUrl('/images/rodelioAglibot/e-o-logo.png')}}" />
                                <h5>e + o food & drink</h5>
                            </a> 
                        </div>
                       <div class="col-md-6 stores yum">
                            <a href="http://www.yumchachicago.com/" target="_blank">
                                <img alt="Yum Cha Dim Sum Parlor" data-ng-src="{{getContentUrl('/images/rodelioAglibot/yumChaLogo.jpg')}}" />
                                <h5>Yum Cha Dim Sum Parlor</h5>
                            </a> 
                        </div>
                        <!--<div class="col-md-4 stores">
                            <a href="#">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/urbanBelly.png')}}" />
                                <h5>urbanbelly</h5>
                            </a> 
                        </div>-->
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="/recipe?id=71172">
                        <img alt="" data-ng-src="{{getContentUrl('/images/rodelioAglibot/aglibotRecipe.jpg')}}" />
                        <h5>Rodelio's recipe</h5>
                        <p>Chef Aglibot’s Miso and Lemongrass Roasted Chilean Sea Bass with Tomato Salad</p>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/rodelioAglibot/dragonFruit.png')}}" />
                        <h4>Rodelio on dragon fruit</h4>
                        <p>If you love jicama, dragon fruit is a great thing to substitute in your salads. You may think the little specs are seeds, but they’re not, they’re actually easy to eat. It’s a beautiful fruit to use as a garnish.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <!--<img alt="food tip" data-ng-src="{{getContentUrl('/images/foodTip.png')}}" />-->
                        <h4>What’s your favorite way to cook chicken?</h4>
                        <p>Poaching. You can poach with aromatics like ginger, garlic, onions, celery, carrots. Bring the water up to a full boil. Drop your chicken breasts in the water and let go for about 3-4 minutes. Turn it off and let it sit for 45 minutes.</p>
                    </div>
                    <!--<div class="col-md-4 tipBlockThree">
                            <img alt="food tip" data-ng-src="{{getContentUrl('/images/foodTipTwo.png')}}" />
                            <h4>popcorn with some zip</h4>
                            <p>Instead of salt, Chef Bill Kim recommends curry powder on popcorn for a savory treat. Great for work-day snacks or late night munchies.</p>
                        </div>-->
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I normally shop Mariano’s Arlington Heights. My restaurant is in Mount Prospect, so it’s nearby.</p>
                    <h5>What produce were you surprised to find at Mariano’s?</h5>
                    <p>Mini-pineapples. I had these growing up in Hawaii.</p>
                    <h5>Who is your biggest influence?</h5>
                    <p>My dad.  He was a navy cook. He taught me how to peel potatoes and cook chicken and burgers.</p>
                    <h5>What kind of ingredients did you experiment with as a kid?</h5>
                    <p>Eggs. I did eggs every which way. I just love fried eggs on rice.</p>
                    <h5>How often do you change your restaurant menu?</h5>
                    <p>I don’t make full changes, but I create new dishes every week.</p>
                    <h5>What’s in your fridge at home right now?</h5>
                    <p>Romaine lettuce, brown eggs and condiments. I’m a spice condiment freak.</p>
                    <h5>What essentials should you always have on hand?</h5>
                    <p>Olive oil, honey, flour and salt. Fresh peppercorn. Those are my base foundations.</p>
                    <h5>Any tips on making quicker meals?</h5>
                    <p>If you shop Mariano’s, a lot of the stuff is already precooked or pre-portioned. It doesn’t get any faster.
                    </p>
                    <h5>What do you love about Mariano’s?</h5>
                    <p>It’s like shopping in the European markets. You get help from real artisans who know what’s going on. </p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

