<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
        <div class="row" data-ng-non-bindable="">
            <div class="gsnunit" data-dimensions="180x150" data-targeting='{"kw": "community", "tile": "9", "dept": []}'></div>
        </div>
    </div>

    <div class="col-md-7 community">
        <h2 class="text-center font-book">our community</h2>
        <h4 class="text-center font-demi">the latest and greatest news in town</h4>
        <div class="row">
            <div class="col-md-6">
                <div data-gsn-rss-feed="http://community.marianos.com/rss-feed/" data-ng-model="marianosFeed" data-max-result="2">
                    <a data-ng-repeat="item in marianosFeed.entries" data-ng-href="{{item.link}}" target="_blank">
                        <div class="community-article col-md-12 col-xs-9">
                            <div class="community-article-header font-book">{{item.title}}</div>
                            <div data-ng-bind-html="item.content | removeAspx | trustedHtml" class="community-article-content"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-xs-10 bahf">
            <h5>Get cooking tips from Mariano’s official ambassador</h5>
               <a href="http://beautyandherfeast.com" target="_blank"><img data-ng-src="{{getContentUrl('/images/bahf.png')}}"></a>
               <a href="/storelocator?show=event&fromUrl={{currentPath}}"><h5>Beauty visits Mariano’s stores each month.<br/> <span>See events calendar for dates.</span></h5></a>
            </div>
        </div>
        <div class="row">
            <div class="rssFeed" data-gsn-rss-feed="http://community.marianos.com/rss-feed/" data-ng-model="marianosFeed2" data-max-result="-1">
                <a data-ng-if="$index > 1" data-ng-repeat="item in marianosFeed2.entries" class="col-md-6 blogBlock" data-ng-href="{{item.link}}" target="_blank">
                    <div data-ng-bind-html="item.content | removeAspx | trustedHtml" class="community-feed-content text-center"></div>
                    <div class="community-feed-description">{{item.title}}</div>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="row fbsection">
            <div id="text-4" class="widget widget_text social-widget">
                <h3 class="fb-widget-title font-book text-center">Facebook</h3>
                <a href="https://www.facebook.com/marianosmarket" target="_blank" class="widget-follow">find us on Facebook</a>
                <div class="textwidget">
                    <div data-fb-like-box="" class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/marianosmarket?ref=ts&amp;fref=ts" data-width="214" data-height="300" data-show-faces="false" data-border-color="AAAAAA" data-stream="true" data-header="true" data-fb-xfbml-state="rendered"></div>
                </div>
            </div>
        </div>
        <div class="row twittersection">
            <div id="text-5" class="widget widget_text social-widget">
                <h3 class="twitter-widget-title font-book text-center">Twitter</h3>
                <a href="http://twitter.com/marianosmarket" target="_blank" class="widget-follow">follow@MarianosMarket</a>
                <div class="textwidget" data-gsn-twitter-timeline="319482810542989312" data-href="https://twitter.com/MarianosMarket" data-title="Tweets by @MarianosMarket"></div>
            </div>
        </div>
        <div class="row instagramsection">
            <div id="text-5" class="widget widget_text social-widget">
                <h3 class="font-book text-center">Instagram</h3>
                <a href="http://instagram.com/marianosmarket#" target="_blank" class="widget-follow">follow MarianosMarket</a>
                <div class="textwidget instagram" id="instafeed"></div>
            </div>
        </div>
        <div class="pinterestsection">
            <div id="text-5" class="widget widget_text social-widget">
                <h3 class="font-book text-center">Pinterest</h3>
                <a href="http://www.pinterest.com/marianosmarket/" target="_blank" class="widget-follow">follow MarianosMarket</a>
                <div class="pins">
                    <a data-pin-do="embedUser" href="http://www.pinterest.com/marianosmarket/" data-pin-scale-width="80" data-pin-scale-height="200" data-pin-board-width="250"></a>
                    <!-- Please call pinit.js only once per page -->
                    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
                </div>
            </div>   
        </div>
    </div>
</div>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 322031578,
        accessToken: '322031578.467ede5.c41bcd11335247f387827bd63c32daec'
    });
    feed.run();
</script>
