<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/9yrWdjaK_6A?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Tom Kehoe" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/hugeGaldones/hugeGaldonesHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Huge Galdones is a Chicago-based food and lifestyle photographer with such notable clients as Top Chef Stephanie Izard, Tony Mantuano and Rick Bayless. But it’s the career that almost wasn’t. While earning a PhD in Pharmacology and Therapeutics, Huge found himself becoming increasingly interested in photography and cooking, constantly snapping food photos with his iPhone. After buying a “decent” camera, he made the leap to his true passion—and never looked back. Today, national clients keep him traveling and capturing events like Aspen Food &amp; Wine Festival and Cochon555 Tour, as well as the Four Seasons Hotel Brand and Fiji Water. When Huge isn’t working, he is home cooking with his wife Rachel and two kids, Callan and Nora.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'hugeGaldones'">
                <span data-model="{ id: '01', title: 'Huge Galdones picks up some bright red strawberries to go with his Southern barbeque theme.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'These are Mini Babybel cheeses, made by Laughing Cow. Perfect for a quick, low-calorie snack.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Huge is a lighthearted photographer and shopper, constantly cracking jokes as he looks for inspiration.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'A little bit of yogurt for the kids.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Huge Galdones gets a carton of heavy whipping cream. Not for photography purposes, but perhaps coffee', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'An easy way to get steamed vegetables with half the work? Steamfresh microwavable packages.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'Huge Galdones selects some coconut water, which is gaining popularity among health nuts.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Garbage bags. Not the most glamorous item at Mariano’s. But hey, we all need them. Especially when you have kids.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'For flour, Huge goes with the standard, tried and true white flour. Pillsbury.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '10', title: 'Whole peeled tomatoes in the can are once again preferred amongst our Mariano’s Tastemakers for creating a delicious pasta dish, which is one of Huge Galdone’s favorite subjects to shoot.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'Arborio rice is a short, Italian-style grain that works well with risotto. Huge gets a couple containers.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'With his shopping cart at near capacity, Huge Galdones searches for just a few more items.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'One of those items—Crystal hot sauce. Huge says it is a necessity for fried chicken. “It’s like liquid gold.”', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'The array of sweets in the Mariano’s bakery can be dizzying. It might be easier to close your eyes and point.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'In the end, Huge Galdones went with a few cookies for his kids as a surprise treat after the photo shoot.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 restaurants">
                    <!--<h4>Tony's restaurants</h4>-->
                    <div class="row">
                        <div class="galdones">
                            <a href="http://galdones.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/hugeGaldones/galdonesLogo.png')}}" />
                                <h5>Galdones Photography</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <div class="col-md-4 restaurants">
                    <div class="row">
                        <!--<div class="storesNomi" style="margin-top: 39px;">
                            <a href="http://piccolosognodue.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/piccolosognodue.png')}}" />
                                <h5>Piccolo Sogno Due</h5>
                            </a> 
                        </div>-->
                    </div>    
                </div>
                <div class="col-md-4 photoTip">
                    <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-photo-tip.html')" data-ng-click="showModal()">
                        <img alt="" data-ng-src="{{getContentUrl('/images/hugeGaldones/galdonesRecipe.png')}}" style="margin-left: 40px;" />
                        <h5>Huge's photo tip</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="garnish" data-ng-src="{{getContentUrl('/images/hugeGaldones/tip1.png')}}" />
                        <h4>the power of garnish</h4>
                        <p>It’s always great having fresh herbs handy. Whether chopped up or de-stemmed, a little color can go a long way. I also like the use of non-vegetable garnishes (croutons for instance) that may not contribute to the color, but rather elevate the dish's texture.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="offsetting color" data-ng-src="{{getContentUrl('/images/hugeGaldones/tip2.png')}}" />
                        <h4>offsetting the color</h4>
                        <p>If you’re creating your own plate to shoot, choose colors that offset other colors. If you have a yellow, find a green. If you have a green, find a red. It’s all about balance.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="the right light" data-ng-src="{{getContentUrl('/images/hugeGaldones/tip3.png')}}" />
                        <h4>the right light</h4>
                        <p>Try a light that’s behind the subject. Most think you have to have a light on your subject, but I like to use indirect light. When using the flash, you lose a lot of information and dimension.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>which Mariano’s do you shop?</h5>
                    <p>I shop Mariano's Ravenswood.</p>
                    <h5>when did you start getting into photography?</h5>
                    <p>When I bought my first ‘semi-professional’ SLR camera in 2007, I was bitten by the photo bug and haven’t looked back.</p>
                    <h5>what is it about your photography that attracts clients?</h5>
                    <p>With such a diverse client base, it’s a little hard to answer this. But
                    I like to think that my workflow and efficiency speak for themselves. I try to get what I (and they) need without belaboring it. I don’t usually spend hours shooting the same dish or person.</p>
                    <h5>who is someone you look up to in the photography world?</h5>
                    <p>There are so many talented photographers who inspire me. Penny De Los Santos comes to mind; I’m envious of her job and admire how she sees and captures the world of food through her lens.</p>
                    <h5>do you have a favorite food to photograph?</h5>
                    <p>I certainly don’t discriminate. I enjoy making images of foods that are small (caviar, for instance) but through macro photography, transform them into more grandiose subjects.</p>
                    <h5>what elements are key to a perfect shot, or perfect plate?</h5>
                    <p>I think a lot goes into making a shot look, dare I say “perfect.” Visually, I think it’s all about balance…colors, quantities, shapes/geometries, lighting, etc. But at the end of the day, no matter how the food may look, I feel a dish has to taste good. Period.</p>
                    <h5>you cover a lot of events. Which one is at the top of your list?</h5>
                    <p>The FOOD &amp; WINE Classic in Aspen is, in my eye, THE food event. I’ve been lucky enough to document it for several years now and love every minute of it.</p> 
                    <h5>outside of food, what other subject(s) do you like to shoot?</h5>
                    <p>I’m equally passionate about photographing people and the stories that underlie the dishes. I feel there are so many stories to tell beyond the dish itself.</p>
                    <h5>why do you shop Mariano’s?</h5> 
                    <p>Mariano's is a one-stop shop for everything my family and I need. It’s close, convenient and of higher quality. Not to mention, the International Food Aisle is pretty awesome.</p> 
                    <h5>what are a couple quick things you typically grab from Mariano’s?</h5>
                    <p>Lots of seafood and raw protein from the butcher’s case. Dairy products for the kids… and the fried chicken!</p>
                    <h5>do you, like so many on Pinterest FB and Instagram, ever find yourself snapping shots of restaurant foods?</h5>
                    <p>100% guilty! That’s pretty much how I started doing what I do. If something catches my eye visually or impresses me flavor-wise, you will likely find me shooting (and Instagramming) it with my iPhone in hand.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

