 <div class="col-md-4 kiki">
    <img alt ="Kiki Luthringshausen" data-ng-src="{{getContentUrl('/images/kiki.jpg')}}" />
</div>
<div class="col-md-8 hostInfo">
    <h4>meet your host</h4>
    <p>Kiki Luthringshausen is a reformed interior designer of 15 years who fell into her dream job in 2010 as an Epicurean Entertainer. 
        Prior to her big career change, Kiki was a lifestyle expert and writer for local publications and a contributor for live news segments for local affiliates ABC, NBC, WGN and CBS. 
        She is now the official ambassador of Mariano’s and can be seen hosting culinary events around town. 
        As a freelance food and lifestyle writer, she’s also the author behind the popular food blog <a href="http://beautyandherfeast.com" target="_blank">Beauty and Her Feast</a>. 
        Entrenched in the food industry, Kiki frequents the city’s hottest restaurants while clinking glasses with the most sought after chefs. 
        It’s why she’s the perfect host for Mariano’s Tastemaker series.
    </p>
</div>
