<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/51DTa1Jki0Y?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Sarah Jordan" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/sarahJordan/sarahJordanHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Chef Sarah Jordan is celebrated for her out-of-the-box desserts that incorporate savory elements. She blends everything from crunch, creamy, warm, cold, sweet and sour to somehow balance it into a single dessert. In 2013, she was named one of Food & Wine’s “Best New Pastry Chefs in America”, one of the highest honors in the culinary world.
                </p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'sarahJordan'">
                <span data-model="{ id: '01', title: 'Sarah shops the dairy section for Irish butter, known for being smoother and containing just a little more fat.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Buns and parties go together no matter what. Sarah picks up a few packs.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Chef Sarah picks up a few pastry staples in the bakery aisle.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'Flour definitely has a place in every pastry chef’s kitchen.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Another friend of Chef Jordan’s, whole bean espresso.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'Hours for pastry chefs are typically super early or super late. This could come in handy.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'Chef Sarah Jordan peruses the chocolate. In her dishes, she’s currently using a lot of Valrhona chocolate.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'The beer section, one of Chef Jordan’s favorites. Since she’s an Irish girl at heart, she loves a good Guinness.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'At Mariano’s, you can mix and match your favorites to create your own pack. Sarah takes advantage.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'Chef Jordan grabs a nice big pork shoulder roast for her “Sunday Funday”.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'Chef Sarah Jordan poses with her very savory looking pork shoulder roast.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'There are treats galore in the sweets section of the store. Sarah thinks over the white and dark fudges.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'Chef Sarah Jordan picks up some of Mariano’s homemade Italian sausage.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'In the produce section, Chef Sarah gathers some sweet corn. Earlier in the day, she talked about corn ice cream. Why does that sound so delicious?', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'When you have the best that local has to offer, you really can’t go wrong in choosing corn.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '16', title: 'And finally, some rolls to top off her cart and her party shopping excursion.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Sarah's restaurants</h4>
                    <div class="row">
                        <div class="col-md-6 storesfishOyster">
                            <a href="http://www.opentable.com/gt-fish-and-oyster-reservations-chicago?restref=58459" target="_blank">
                                <img alt=""  data-ng-src="{{getContentUrl('/images/sarahJordan/fishOysterLogo.png')}}" />
                                <h5>GT Fish & Oyster</h5>
                            </a> 
                        </div>
                        <div class="col-md-6 storesBoka">
                            <a href="http://www.opentable.com/boka-reservations-chicago?rid=2581&restref=2581" target="_blank">
                                <img alt=""  data-ng-src="{{getContentUrl('/images/sarahJordan/bokaLogo.png')}}" />
                                <h5>Boka</h5>
                            </a> 
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="/recipe?id=71169">
                        <img alt="" data-ng-src="{{getContentUrl('/images/tasteFeatureRecipe.png')}}" />
                        <h5>Chef Jordan's caramel tart</h5>
                        <p>bake Sarah's go-to indulgence at home</p>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/sarahJordan/irishBreakfast.png')}}" />
                        <h4>irish breakfast</h4>
                        <p>In moderation, try a hearty Irish breakfast, which Chef Sarah calls a “heart attack on a plate.” Sausage, rashers (bacon), black pudding (meat, blood, fat, oatmeal, and bread), white pudding (same thing minus the blood), and Irish bacon.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/sarahJordan/plating.png')}}" />
                        <h4>Sarah Jordan's food tip</h4>
                        <p>Play with your plating</p>
                        <p>I think my approach to plating could be considered whimsical. It needs to look good and be artistic, but obviously you need to work on flavor first. When it comes to plating I’ll try things a couple different times. Sometimes it comes together naturally and other times it may need a little extra love. But definitely experiment.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip"  data-ng-src="{{getContentUrl('/images/sarahJordan/easyTreat.png')}}" />
                        <h4>easy treat</h4>
                        <p>Pavlova—a meringue made from egg whites, sugar, whipped cream and any fresh fruit. Chef Sarah Jordan says, “It’s an easy go-to and a real crowd pleaser.” </p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I mainly shop the Roscoe Village store, especially for Sunday Fundays.</p>
                    <h5>Who does the shopping for your Sunday Fundays?</h5>
                    <p>I usually do it, especially if we’re having a debate on what we’re having.</p>
                    <h5>When did you decide to become a chef?</h5>
                    <p>I don’t know if I decided as much as I figured out that I could make a living out of doing what I love.</p>
                    <h5>Do you have any advice for aspiring pastry chefs?</h5>
                    <p>Keep it simple. It’s all about ratios, really. Breads and cakes aren’t too different. Just different ratios of different ingredients. Once you understand that, it’s easy. In terms of water, flour, eggs and butter it’s all different ratios.</p>
                    <h5>How do you determine what would make a tasty combination?</h5>
                    <p>Sometimes you try one item and eventually you realize what would work. And sometimes it doesn’t work at all. Bacon goes pretty well with most stuff.</p>
                    <h5>What are your favorite sweet/savory pairings?</h5>
                    <p>I love thyme and apple. It’s a really, really good combination. This week, I was messing around with blueberries and sake. It really works.</p>
                    <h5>What is your favorite thing in the produce section?</h5>
                    <p>I’m a sucker for corn. I love a good corn ice cream. </p>
                    <h5>Why is Mariano’s is a good place for a pastry chef to shop?  </h5>
                    <p>They have a really wide range of produce, especially if you enjoy making pies and tarts. And they have everything you need. All the staples.</p>
                    <h5>What is your favorite kind of chocolate to use?</h5>
                    <p>Currently, I use a lot of Valrhona chocolate. It’s good stuff.</p>
                    <h5>If you aren’t having dessert, what’s a great after dinner cocktail?</h5>
                    <p>I am a whiskey girl, so I love having a nice Old Fashioned.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

