<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/ti-AtqQ6Kj0?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Tom Kehoe" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/tomKehoe/tomKehoeHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Tom found his true passion by chance; a simple stop into a local flower store to buy some flowers for his mom. He later acquired the store along with valuable skills in event planning. 
                Today, Kehoe Designs is a nationally recognized company and one of the largest event firms in Chicago, which thrives on design challenges and pushing the limits. He is known for transforming spaces into legendary events and one-of-a-kind galas, captivating partygoers with his food displays and sense of ambience for more than 17 years.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'tomKehoe'">
                <span data-model="{ id: '01', title: 'Selecting crackers can be just as important as cheese. Tom Kehoe likes Rustic Bakery’s flatbread, known for enhancing the cheese’s flavor.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Tom selects a few choice cheeses for his ready-to-serve cheese platter, expertly assembled by Mariano’s right in the store.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'A cluster of sugarcane sticks will add some intrigue to his table setting.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'Rambutans are interesting, delicious, and fun to eat. Start by squeezing until the skin breaks. Then, pull apart the skin to find the center, which looks and tastes like a large grape.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Dried nectarines will make a colorful appearance in Tom’s assorted dried fruits.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'Tom also plans on plating a variety of nuts. Among them, cashews, walnuts, pistachios and almonds.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'Fig spread and honey are amazing complements to any cheese and cracker platter.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Tom selects a picturesque pineapple to put on a pedestal.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'Natural elements add color and interest to any table. Here, Tom picks out a few decorative aloe plant leaves.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '10', title: 'For this particular event, Kiki helped Tom select a Mediterranean wine (Cannonau di Sardegna) known for structure and aromas of forest berry and walnut nuttiness.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'Tom likes to set out whole produce in some areas and sliced in others. Here, he opts to place two whole passion fruits for all to admire.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'The setting is coming along nicely. Notice the varying heights placed all along the table. Tom chose Azure blue and white hydrangeas as the focal flowers.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'These wide trays hold more than their fair share of sliced dry fruits, colorfully arranged in rows.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'Tom also places many different nuts in rows as well, each with its own beautiful, natural tone.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'This cheese arrangement was completed by Mariano’s after Tom and Kiki selected what they liked. All they had to do was set it on the table.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '16', title: 'The table setting becomes more a work of art with every piece added. ', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 restaurants">
                    <!--<h4>Tony's restaurants</h4>-->
                    <div class="row">
                        <div class="kehoe">
                            <a href="http://www.kehoedesigns.com/index.php#page=home&" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tomKehoe/kehoeDesignLogo.png')}}" />
                                <h5>Kehoe Designs</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <div class="col-md-4 restaurants">
                    <div class="row">
                        <!--<div class="storesNomi" style="margin-top: 39px;">
                            <a href="http://piccolosognodue.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/piccolosognodue.png')}}" />
                                <h5>Piccolo Sogno Due</h5>
                            </a> 
                        </div>-->
                    </div>    
                </div>
                <div class="col-md-4 chefRecipe">
                    <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-playlist.html')" data-ng-click="showModal()">
                        <img alt="" data-ng-src="{{getContentUrl('/images/tomKehoe/kehoeRecipe.png')}}" style="margin-left: 40px;" />
                        <h5>Tom's Party Playlist</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/tomKehoe/tip1.png')}}" />
                        <h4>lighting is everything</h4>
                        <p>One thing that can instantly improve any space is lighting. You can have a beautiful environment, but if the lighting is bad everything else suffers.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/tomKehoe/tip2.png')}}" />
                        <h4>have fun with the unexpected</h4>
                        <p>Tom doesn’t just shop Mariano’s for food and flowers. He’ll find fun things to use for decoration. Try kitchen and bath scrubbies to put underneath food trays like a ruffle.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/tomKehoe/tip3.png')}}" />
                        <h4>start with color</h4>
                        <p>It’s hard to know where to start when planning an event. Try something as simple as a color. Pick one as your theme and build around that with produce or whatever else inspires you.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I shop at Mariano’s West Loop store and occasionally Mariano’s Lakeshore East. And on weekends I take my dad to Mariano’s Arlington Heights by his home.</p>
                    <h5>How did you transition from flower shop to event designer? </h5>
                    <p>It evolved over time from just flowers to include fabric treatments, lighting, stage design, furniture and more. As we grew, we added more capabilities to go with what we dreamt up.</p>
                    <h5>What’s a popular event theme right now?</h5>
                    <p>We’ve designed a number of events around the radiant orchid. It’s a really strong color, so we can use that rich magenta-purple-plum color story with linens, flowers, lighting, furniture – and saturate the whole event.</p>
                    <h5>How do you approach designing an event like a wedding?</h5>
                    <p>We try to capture an aspect of the bride and groom’s personality so everything from the rehearsal dinner to the wedding and reception has their signature on it.</p>
                    <h5>What is your favorite flower and why?</h5>
                    <p>I like Bougainvillea primarily for its rich color.</p>
                    <h5>What’s an easy thing you can do to spice up a boring space?</h5>
                    <p>Bring in natural elements like fruits and vegetables that bring in great color and texture. It adds an unexpected element that people naturally gravitate toward.</p>
                    <h5>How do you make an average kitchen table feel classier?</h5>
                    <p>Add a candle – or several – to the table to add warm light and make the meal feel special.</p>
                    <h5>How important is music when hosting an event? </h5>
                    <p>Music is critical and so is volume. I like to start music louder, then as more people show up and the noise level rises, I bring it down so guests can talk without shouting.</p>
                    <h5>What’s the most important factor for hosting a successful party at home? </h5>
                    <p>Two things. One – know your guests so you can cater to their needs. Two – stimulate all the senses – music, food, drink, lighting, decor. Make it a total experience.</p>
                    <h5>Can you tell us about the flowers on the table in the video?  How did you choose them?</h5>
                    <p>Azure blue and white hydrangeas were the focal flowers, nestled into the design like little private gardens were clusters of muscari, deep blue delphinium, purple anemones, giant white phalaenopsis orchids and cascading vines of olives.</p>
                    <h5>What's a good tip when trying to create your own centerpiece bouquet for a party? </h5>
                    <p>Stick to oversized bright flower heads in petite vases/containers to give your table a pow of color with minimal effort in design and accessories for height.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

