<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div> 
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/FF1rZVSsh9Y?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Bill Kim" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/billKim/billKimHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Chef Bill Kim realized early that his passion for cooking lies with his Korean heritage. 
                    He opened his first restaurant, Urbanbelly, that spawned a foodie fan base around Chicago. 
                    Since then, with the help of his wife, he’s opened two more restaurants and launched a line of Asian sauces. 
                    Bill’s ultimate goal is to break boundaries with home cooks and demystify Asian cooking.
                </p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'billKim'">
                <span data-model="{ id: '01', title: 'Chef Bill Kim peruses the large variety of jarred olives in Mariano’s.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '02', title: 'Chef Bill Kim prefers to cook with grapeseed oil. He also uses a lot of extra virgin olive oil at home.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Bill selects Pirro pasta in the pasta section, possibly for his Ssam salad.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'Chef Kim poses in the International aisle.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Bill picks out a few different kinds of beer, which he prefers to drink when cooking on the grill.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'His favorite brand? Kiuchi Hitachino Nest. A Japanese beer that Bill says is hard to find in liquor stores.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'The full spectrum of color is on display in the produce section as Chef Kim eyes a tomato.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'You never know where you might find a cheese suggestion.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'With over 200 varieties of organic produce, it’s easier to find your favorite fruits and vegetables au naturel.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'One thing Chef Kim comments on is how the Mariano’s produce is always well-tended.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '11', title: 'The cucumbers almost seem camouflaged in a sea of green.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'Chef Bill Kim selects a perfectly ripe avocado for a salad.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'All colors of produce are represented in Chef Kim’s cart; including this organic purple passion asparagus', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'Last stop in the produce section: the peppers.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'It’s hard not to be awed by the enormity of the spice wall. Behind Chef Kim are seeds and grains.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '16', title: 'A true grill connoisseur, Chef Bill Kim looks over the different cuts of beef to make the perfect Friday night.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '17', title: 'Chef Kim chooses a few different mushrooms. He’s careful not to select too many so that they won’t go to waste.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Bill's restaurants</h4>
                    <div class="row">
                        <div class="col-md-4 stores">
                            <a href="http://www.bellyqchicago.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/bellyQ.png')}}" />
                                <h5>bellyQ</h5>
                            </a> 
                        </div>
                        <div class="col-md-4 stores">
                            <a href="https://crgchicago-public.sharepoint.com/BellyShack" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/bellyShack.png')}}" />
                                <h5>Belly Shack</h5>
                            </a> 
                        </div>
                        <div class="col-md-4 stores">
                            <a href="http://www.cornerstonerestaurants.com/urban-belly" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/urbanBelly.png')}}" />
                                <h5>urbanbelly</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="/recipe?id=71170">
                        <img alt="" data-ng-src="{{getContentUrl('/images/billKim/billKimRecipe.jpg')}}" />
                        <h5>chef Kim's quinoa ssam salad with lemongrass chicken and asian pear-fennel kimchi</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/billKim/grill.png')}}" />
                        <h4>it's nice to get out</h4>
                        <p>grilling is Chef Kim's mainstay method of cooking at home because he's in the kitchen all day, almost every day.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/billKim/foodTip.png')}}" />
                        <h4>Bill Kim's food tip</h4>
                        <p>try some Thai. thai chili peppers are some of my favorites. they're so versatile. you can crush them in a mortar and pestle and make your own unique curry sauce.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/billKim/foodTipTwo.png')}}" />
                        <h4>popcorn with some zip</h4>
                        <p>instead of salt, chef Bill Kim recommends curry powder on popcorn for a savory treat. great for work-day snacks or late night munchies.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>West Loop</p>
                    <h5>What does the restaurant name Belly represent?</h5>
                    <p> Belly is comforting. All humans come from the belly. So the word Belly means something approachable and comforting.</p>
                    <h5>Where do you begin if you’re new to Asian cooking?</h5>
                    <p>First you have to get used to tasting all these sauces, seeking out certain brands. So if you’re using soy sauce, use gluten-free soy sauce.</p>
                    <h5>Why gluten-free soy sauce?</h5>
                    <p>I like to stay preservative-free as much as possible. I created all of our retail sauces to compete with others who have preservatives.</p>
                    <h5>What’s the easiest Korean dish to make?</h5>
                    <p>Bibimbap. It’s rice with chili sauce on top and a fried egg.</p>
                    <h5>Is there a simple tip for people to improve their Asian cooking?</h5>
                    <p>Most people cook with sesame oil. I don’t. I think it’s more of a finishing oil. You don’t really cook with it. You flavor items with it.</p>
                    <h5>What oil do you prefer to cook with at home?</h5>
                    <p>Grapeseed. I use a lot of extra virgin olive oil at home too.</p>
                    <h5>Favorite beverage to pair with Asian food?</h5>
                    <p>I drink mostly beer or cider. I LOVE Hitochino Nest, a Japanese beer. It is THE best beer. And it’s here at Mariano’s.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

