<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div> 
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:'http://www.youtube.com/embed/G_jDvVjzxHM?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Rick & Ashley Ortiz" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/rickAsh/rickAshHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Chef Rick Ortiz met his wife Ashley in one of the most distinguished places in all of Chicago: Soldier Field. They worked well creatively and soon found     themselves in a strong, romantic relationship. 
                With Ashley’s amazing sense of repurposing and Rick’s culinary prowess, the concept of Antique Taco was born. Today they share their passion for hosting parties with friends and family.
                </p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'rickAsh'">
                <span data-model="{ id: '01', title: 'Chef Oritz picks up a pack of sparkling water, always nice when entertaining guests.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '02', title: 'Mariano’s takes pride in the quality and inspection of all our eggs. But Rick likes to inspect too before putting eggs in his cart.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Chef Rick Ortiz looks over a spice packet in the international aisle.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'You’re bound to find something new and interesting each time you search through the varieties of pasta.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Ashley Ortiz inspects a package of Craisins, which make a fun and colorful snack.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'Pickled jalapenos can provide a nice and easy zing to any dish in an emergency.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'Ashley admires the jellybeans in the sweets section, which is packed with other irresistables.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Rick and Ashley make their way to the cheese area to find the perfect complement to their ceviche meal.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'Ashley picks up a spread cheese candidate for their water crackers.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'Chef Rick Ortiz weighs out how much pealed and veined shrimp they’ll need to host the weekend party.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '11', title: 'Fresh Seafood is flown in daily to Mariano’s. And it tastes as good as it looks.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'Rick and Ashley look over the artisan bread and try to come to a consensus.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'The Mariano’s soup bar is nothing short of amazing with rich variety and aroma. Ashley takes advantage.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'The last stop for many of our TasteMakers is often the wine.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '15', title: 'Ashley Ortiz is a huge fan of hydrangeas.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '16', title: 'Ashley recommends mixing the tall and short stems with “found” vases when doing a table arrangement.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Rick & Ashley's restaurant</h4>
                    <div class="row">
                        <div class="col-md-4 stores">
                            <a href="http://antiquetaco.com" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/rickAsh/tacoLogo.png')}}" />
                                <h5>Antique Taco</h5>
                            </a> 
                        </div>
                       <!--<div class="col-md-4 stores">
                            <a href="#">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/bellyShack.png')}}" />
                                <h5>Belly Shack</h5>
                            </a> 
                        </div>
                        <div class="col-md-4 stores">
                            <a href="#">
                                <img alt="" data-ng-src="{{getContentUrl('/images/billKim/urbanBelly.png')}}" />
                                <h5>urbanbelly</h5>
                            </a> 
                        </div>-->
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="/recipe?id=71287">
                        <img alt="" data-ng-src="{{getContentUrl('/images/rickAsh/rickAshRecipe.jpg')}}" />
                        <h5>Chef Rick's Antique Taco Ceviche recipe</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/rickAsh/citrus.png')}}" />
                        <h4>citrus and seafood</h4>
                        <p>when working with seafood, you can marinate portions in citrus rather than chopping it up. the citrus can do all the work. Then you can shred it with a fork after it's done. </p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/rickAsh/rosemary.png')}}" />
                        <h4>rosemary margarita</h4>
                        <p>we put a little spin or our margarita, where we add a little rosemary to the sweetener. plus fresh lime juice, fresh orange juice, salt, and of course, lots and lots of tequila. it adds a little variety and it's very fresh.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/rickAsh/jar.png')}}" />
                        <h4>table setting with jars</h4>
                        <p>I don't think we ever use a traditional vase for flower arrangements. try a pickle jar, salsa jar or mason jar. cut a few flowers short. try some long. the variety can make the table beautiful.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>Rick: Mariano’s West Loop is our go-to store.</p>
                    <h5>What do you love most about Mariano’s?</h5>
                    <p>Rick: The raw bar. And the cheese selection. The food is so fresh. That’s my draw to going there. 
                    Ashley: I love all the sampling. Food is on the mind when you’re here, so it’s kind of nice to sample something.</p>
                    <h5>How often do you have people over for food?</h5>
                    <p>Ashley: I’d say two times a month usually. 
                    Rick: If I pick up a little extra food I may invite my cousin or dad.</p>
                    <h5>Do you have guests bring food or do you make it all yourself?</h5>
                    <p>Ashley: We tell them to just bring themselves. They usually end up bringing something to drink. Sometimes people feel intimidated bringing food over to a chef’s house. But it’s silly, because he and I will eat anything. </p>
                    <h5>Who are your culinary influences?</h5>
                    <p>Rick: I’d say my father. He cooked a lot growing up. His main thing was going to the store and only buying what we were going to make that evening. Just to keep it fresh. And that’s what we do to this day. </p>
                    <h5>What’s a good tip for salsa?</h5>
                    <p>Rick: We like to incorporate fresh garlic. Sometimes when your salsa becomes too hot you can add a little bit of fresh garlic and it will tone it down.</p>
                    <h5>What’s the most popular pepper in Mexican cuisine?</h5>
                    <p>Rick: The jalapeño. But I love guajillo chiles. I make a lot of pastes and dry rubs with them. A lot of people put them on meats, but we love to put them on mushrooms. </p>
                    <h5>How do you make your gatherings more memorable?</h5>
                    <p>Ashley: I think we do a good job of making a little takeaway for people. I’m a very crafty person, so I’m always stamping or putting a tag on something. 
                    Rick: We might make a spice mix.  
                    Ashley: It’s fun to add to the table and fun for someone to bring it home. It’s unexpected and people really enjoy it
                    </p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

