<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/XQiP_JzeAZw?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Chris Pandel" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/chrisPandel/chrisPandelHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>
                    Born and raised in Riverside IL, Chris jokes that he’s the Polish kid who cooks Italian. Today he’s the owner and head chef at The Bristol, which received the coveted Michelin Bib Gourmand Award. He is also an owner of another heralded Chicago restaurant, Balena.
                    Chris and his wife Linnzie have two sons and are big fans of forming early healthy eating habits by creating baby foods using fresh produce and meats.
                </p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'chrisPandel'">
                <span data-model="{ id: '01', title: 'Chris enjoys a little coffee break with his 2-year-old son, James.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Instead of traditional jelly, Chris opts for natural honey to put on sandwiches.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'A free sample of popcorn. A good idea for all.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '04', title: 'Would James eat a can of chili? Probably. His parents encourage trying new foods early, especially healthier options.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '05', title: 'James lends a hand picking out a package of granola.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '06', title: 'Chris Pandel selects some Wagner’s Pure Maple syrup. Possibly for his spaghetti squash pancakes.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '07', title: 'The chorizo sausage is in high demand. James takes a number just in case.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '08', title: 'Make that two.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '09', title: 'There are healthy teachable moments at Mariano’s, and then there are just moments.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '10', title: 'Chris picks out a rambutan, a spiky fruit that resembles a large grape when peeled.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '11', title: 'Green gage plubs are amongst the variety of fruits that keep the Pandels interested in trying the unique produce Mariano’s has to offer.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '12', title: 'Chris and James grip a spaghetti squash, that’s likely to turn into a more nutritious pancake.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '13', title: 'Some say if you listen close enough to a poblano pepper, you can hear bubbling chili.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '14', title: 'At two, James has probably tried more kinds of fruits, vegetables and grain than most adults.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '15', title: 'James and Chef Pandel sample some more kinds of granola near the spice wall.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '16', title: 'Chris Pandel studies a summer sausage, conveniently located next to the immense cheese section.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
                <span data-model="{ id: '17', title: 'A 2-year-old can only stay in a cart for so long. Same goes for a busy chef.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>   
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Chris' restaurants</h4>
                    <div class="row">
                        <div class="col-md-6 storesBristol">
                            <a href="http://www.opentable.com/the-bristol-reservations-chicago?rid=72625&restref=72625" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/chrisPandel/theBristolLogo.png')}}" />
                                <h5>The Bristol</h5>
                            </a> 
                        </div>
                        <div class="col-md-6 storesBalena">
                            <a href="http://www.opentable.com/balena-reservations-chicago?rid=82564&restref=82564" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/chrisPandel/balenaLogo.png')}}" />
                                <h5>Balena</h5>
                            </a> 
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="/recipe?id=71168">
                        <img alt="" data-ng-src="{{getContentUrl('/images/chrisPandel/pandelRecipe.jpg')}}" />
                        <h5>Chef Pandel's recipe</h5>
                        <p>spaghetti squash pancakes</p>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/chrisPandel/freshFruit.png')}}" />
                        <h4>start them early</h4>
                        <p>You shouldn’t feel limited in what foods you introduce to your children. They don’t know any better. Whatever you feed them is what they know. To change any bad habits or patterns, start to introduce fruits in their oatmeal. Or maybe blueberries in their cereal. Go with a fresh approach and build from there. </p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/chrisPandel/farro.png')}}" />
                        <h4>Chris Pandel's food tip</h4>
                        <p>The texture in farro is great for cold salads, and trail mix. Cook the dried grains, cool them, set them out overnight, and then mix in some peanuts, raisins, nuts, berries or whatever you have around. </p>
                    </div>
                    <div class="col-md-4 tipBlockThreePandel">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/chrisPandel/spinach.png')}}" />
                        <h4>spinach quinoa baby food</h4>
                        <p>Cook the quinoa until it’s super soft and then put it in a food processor with some raw spinach. Cool it down in a few ice cube trays and store it. The cubes also make it super easy to reheat on the stove or in a microwave. Make a big batch and it will last for a week.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>We shop the Roscoe store in the city during the week and Arlington Heights when we visit (Chris’) parents on the weekend.</p>
                    <h5>How do you plan your family meals? </h5>
                    <p> Actually, we just wing it unless we have had a craving for something.</p>
                    <h5>Who was your biggest cooking influence growing up? </h5>
                    <p>Grandmother Adamaina is the best cook ever. She has to get the credit she is due.</p>
                    <h5>How hard is it to be a successful chef in the city of Chicago? </h5>
                    <p>I will let you know when I figure that out! It’s a tough job no matter what.</p>
                    <h5>What’s your/her favorite style to cook at home? </h5>
                    <p>We cook a ton of Asian and Latin American food at home. </p>
                    <h5>What do you like about the Mariano’s International aisle? </h5>
                    <p>What's not to like? From Eastern European to Southeast Asian it’s an incredibly diverse section of the store, which provides lots of inspiration to take your meals off of the beaten path.</p>
                    <h5>What is your kids' favorite snack at home? </h5>
                    <p> I’d say a sandwich on whole wheat with lots of veggies.  A nice piece of fruit with some rice crackers will get the kids through the next few hours of school without a sugar rush/crash</p>
                    <h5>How did you get into making baby food? </h5>
                    <p>We had a baby. It just seems like a natural progression.</p>
                    <h5>Is there an ingredient that would make a nice baby food on its own? </h5>
                    <p>Babies like plain food, so anything that is fairly neutral will suffice. We have done everything from fruits and veggies to whole grains and oats</p>
                    <h5>What surprising thing is in your fridge right now? </h5>
                    <p>A carrot cake muffin!</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

