<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/1klSAkt9IVM?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Meg Galus" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/tonyPriolo/tonyPrioloHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Starting at the tender age of eight, Chef Tony Priolo has been immersed in authentic Italian cooking. From his Sicilian grandmother’s kitchen in Chicago to a two-Michelin-starred restaurant in Tuscany, Tony has developed a very distinct and clean rustic cooking style, and even had a hand in the development of Mariano’s signature Sicilian pizza and sauce. 
                Today he focuses on finding the best ingredients possible to elevate his recipes and provide guests of Piccolo Sogno with a true Italian dining experience.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'tonyPriolo'">
                <span data-model="{ id: '01', title: 'To create a signature Bolognese sauce, Chef Tony Priolo chooses San Marzano tomatoes.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'For pasta, Tony prefers a short tubular brand called la Molisana to go with his sauce.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Chef Tony inspects the ready-made Italian items at Mariano’s.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'There are four different types of meat in his sauce. Chicken liver, veal pork and beef. Chef Priolo looks over the many beef choices available.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'Where do you find chicken liver? Right next to the chicken, of course. According to Tony, “Not many stores have chicken liver.”', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'Tony is an excellent wine selector, but it never hurts to have a second opinion provided by a Mariano’s wine expert.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'The onions and other various roots are looking quite appealing to this classic Italian chef.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Tony picks up a bit of parsley, a common accompaniment to any Italian meal.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'The Sicilian Olive Oil from Piccolo Sogno  (the blue cap) is Chef Priolo’s go-to choice for extra virgin olive oil.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'Chef Tony picks up some heavy cream, most likely for the finishing touch on his signature sauce.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'The Mariano’s cheese section always seems to impress any Mariano’s Tastemaker. Chef Tony Priolo selects fresh parmesan cheese to grate over his pasta.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'Chef Priolo admits, his favorite place in Mariano’s is actually the bakery for its donuts, muffins, cookies and breads.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 restaurants">
                    <h4>Tony's restaurants</h4>
                    <div class="row">
                        <div class="storesNomi">
                            <a href="http://piccolosognorestaurant.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/piccolosogno.png')}}" />
                                <h5>Piccolo Sogno</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <div class="col-md-4 restaurants">
                    <div class="row">
                        <div class="storesNomi" style="margin-top: 39px;">
                            <a href="http://piccolosognodue.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/piccolosognodue.png')}}" />
                                <h5>Piccolo Sogno Due</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <div class="col-md-4 chefRecipe">
                    <a href="/recipe?id=71452">
                        <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/tonyPrioloRecipe.png')}}" style="margin-left: 40px;" />
                        <h5>Chef Priolo’s recipe</h5>
                        <p>Ragu di Bolognese</p>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/tonyPriolo/tip1.png')}}" />
                        <h4>reheating pasta</h4>
                        <p>I recommend if you are cooking pasta with the intention of left overs, let it cool without rinsing or tossing it in olive oil. then reheat it in the sauce after the sauce is already hot.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/tonyPriolo/tip2.png')}}" />
                        <h4>chicken liver</h4>
                        <p>Chef Tony’s little secret to creating a great bolognese sauce is to add chicken liver along with veal, pork and beef.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/tonyPriolo/tip3.png')}}" />
                        <h4>recommended olive oil</h4>
                        <p>My favorite is the Sicilian olive oil from Piccolo Sogno. I cook with it at the restaurants and in my home, and it’s sold at Mariano’s.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I usually shop at the Mariano’s Harwood Heights and also Mariano’s Park Ridge.</p>
                    <h5>What is your favorite department at Mariano’s?</h5>
                    <p>A secret passion of mine is the baked good section. I fill my cart with fresh croissants, muffins, and chocolate chip butter cookies.</p>
                    <h5>What type of pasta noodle do you recommend?</h5>
                    <p>Penne rigate is a good choice because it holds sauce well.</p>
                    <h5>We’ve heard you say that pasta shouldn’t be rinsed after it’s cooked. Why?</h5>
                    <p>To rinse the pasta after it is cooked is like a sin. The starch that adheres to the pasta after it is cooked keeps the sauce stuck on the pasta.</p>
                    <h5>What’s your secret to a great tomato sauce?</h5>
                    <p>I cook the tomato sauce for 2-3 hours, stirring occasionally. The concentrated tomato flavor of a zesty marinara is the best.</p>
                    <h5>What kind of tomatoes do you use in your sauce?</h5>
                    <p>For pasta sauce, I use the San Marzano brand from Italy. It comes in cans and Mariano's sells it. It’s the same brand I use in my restaurants.</p>
                    <h5>What’s your favorite thing to cook at home?</h5>
                    <p>Besides pasta, I am a big fan of making soups - especially chicken soup.</p>
                    <h5>We heard you helped with the development of Mariano’s popular Sicilian pizza. True story?</h5>
                    <p>I helped develop the dough, the sauce and cooking method. The recipes are authentic. Also, they wanted a crispy crust so I specified the pans to hold heat and keep the pizza crisp.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

