<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/lXPUpePjYzw?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Doug Psaltis" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/dougPsaltis/dougPsaltisHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef psaltis">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>As a native of Long Island NY, Chef Doug Psaltis began his career working in his grandfather’s diner at the age of 10. From there, he’s worked in some of the most acclaimed restaurants in the world under chef Alain Ducasse, including New York’s Mix, where Doug was the chef de cuisine.  He is the first American chef ever to be given that title in a Ducasse restaurant.</p>
				<p>In Chicago, Chef Psaltis is mostly known for his Italian cuisine and highly successful restaurant, RPM, a destination in Chicago for locals and tourists. He is one of the busiest chefs in the city, spending much of his time working on concepts for his many restaurants under the Lettuce Entertain You brand.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'dougPsaltis'">
                <span data-model="{ id: '01', title: 'Chef Doug Psalits is a busy man. So he didn’t have too much time to shop. But at Mariano’s, a quick stop at the cheese section is irresistible.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Chef Psaltis checks out a package of gluten-free pasta, which has increased in demand over the years.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '03', title: 'Here’s something you don’t see everyday. A purple mangosteen. Grown in Southeast Asia, the fruit is known for its sweet tanginess.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '04', title: 'Doug looks over some very green offerings.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '05', title: 'Last stop, the whiskey aisle. And it never disappoints any of our Tastemakers. Chef Psaltis looks over a bottle of Larceny whiskey before heading out to check on his restaurants.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>doug's restaurants</h4>
                    <div class="row">
                        <div class="col-md-6 stores eo">
                            <a href="http://rpmitalian.com/" target="_blank">
                                <img alt="RPM Italian" data-ng-src="{{getContentUrl('/images/dougPsaltis/RPM.png')}}" />
                                <h5>RPM Italian</h5>
                            </a> 
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 chefRecipe">
                    <a href="recipe?id=71759">
                        <img alt="" data-ng-src="{{getContentUrl('/images/dougPsaltis/psaltisRecipe.jpg')}}" />
                        <h5>Check Doug's mediterranean grilled chicken baba <br>ghanoush, zaatar & harissa recipe</h5>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/dougPsaltis/knife.png')}}" />
                        <h4>Scoring</h4>
                        <p>When you score meatier vegetables, it allows for caramelization on the outside, bringing out more flavor.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/dougPsaltis/chicken.png')}}" />
                        <h4>Chicken pinching</h4>
                        <p>When determining if a whole chicken is fully cooked on the grill, just pinch between the two bones on the wing. If your fingers can meet, then it’s done. This is an old trick that works for any size bird and hasn’t proven Chef Psaltis wrong yet.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/dougPsaltis/spice.png')}}" />
                        <h4>Za’atar</h4>
                        <p>It’s a Mediterranean mixture of dried oregano, sesame seed and sumac. It’s also one of Chef Psaltis’s favorite little secrets on chicken, fish and even salad. He always has this spice on hand when cooking at home.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>Mariano’s West Loop.</p>
                    <h5>Who does the shopping?</h5>
                    <p>Myself and my wife.</p>
                    <h5>What’s it like creating menus for so many types of cuisine?</h5>
                    <p>Very exciting and inspiring...I am always learning and teaching, which is my true passion.</p>
                    <h5>What sparks your creativity?</h5>
                    <p>Travel.</p>
                    <h5>What’s a typical meal you cook at home on Sundays?</h5>
                    <p>Roasted chicken, homemade dim sum or BBQ when the weather is right.</p>
                    <h5>If there was one tip you could give when it comes to experimentation, what would it be?</h5>
                    <p>Study and understand the basics and foundations of the cuisine you are looking to experiment with first.</p>
                    <h5>Is there a style of cooking you have been meaning to attempt?</h5>
                    <p>Moroccan cuisine. I was part of a Moroccan concept in NYC and was intrigued and inspired by their rich culinary history. I’ve always been interested in learning more about their spices and cooking methods.</p>
                    <h5>What’s your favorite style to cook?</h5>
                    <p>Mediterranean.</p>
                    <h5>What do you do when you’re not feeling very creative?</h5>
                    <p>Read and travel.</p>
                    <h5>Any guilty pleasures?</h5>
                    <p>Tons. Great cheese, Nutella, chicken wings and pepperoni pizza.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

