<link type="text/css" href="//www.google.com/cse/style/look/default.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div> 
        <div class="row" data-ng-non-bindable="">                          
            <div class="gsnunit" data-dimensions="180x150" data-targeting='{"kw": "community", "tile": "9", "dept": []}'></div>
        </div>
    </div> 
    <div class="col-md-10">
        <div id="cse" data-gsn-site-search="" data-query="q">Loading</div>  
    </div>
</div>