<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/REkvdRCNHJw?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Bonnie and Tracy of Shred415" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/shred415/shred415Header.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo shred415Info">
                <p>Bonnie and Tracy are longtime friends who have always shared a passion for exercise, with 20+ years in fitness training and expertise.  In April of 2011, they turned their passion into a business, opening up the first Shred415 in Lincoln Park. In just 4 years, the number of studios has grown to six. Today, Bonnie and Tracy are considered to be two of Chicago’s top fitness experts.</p>
				<p>&nbsp;</p>
				<p>“The Shred Girls” shop Mariano’s almost every day to support their healthy lifestyle, spreading the word to all of their clientele that eating right is 80% of the battle when trying to lose weight.</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'shred415'">
                <span data-model="{ id: '01', title: 'Tracy reaches for a package of On the Go Fruit Loops cereal. It’s for her kids. Really.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'And of course, who can forget the Pirate’s Booty popcorn. An organic, more healthy popcorn selection.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '03', title: 'If you’re a soda-holic, both Bonnie and Tracy recommend flavored sparkling water for an easier transition. Here, they pose by a stack of LaCroix.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '04', title: 'Bonnie doesn’t get 100% of her healthy glow from exercise. A little moisturizer helps.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '05', title: 'She also scoops up one of her favorites, CeraVe.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '06', title: 'With an active lifestyle, good carbs are essential. Bonnie picks out some mini Farfalle pasta, made by Barilla.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '07', title: 'Olive oils are filled with monounsaturated fatty acids, which can lower your risk of heart disease. And they’re also delicious.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '08', title: 'Organic almond butter is an amazing alternative for standard peanut butter. And it’s gluten free.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '09', title: 'You can’t get enough green. Bonnie picks up a package of organic greens and herbs. Possibly to mix into a homemade smoothie.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '10', title: 'Tracy selects a pair of pears.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '11', title: 'Bonnie and Tracy visit the Mariano’s sushi bar for a quick meal. They both eat sushi 3-4 times a week.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '12', title: 'Wine is one of the more healthy alcoholic beverages you can drink due to its natural antioxidants. Bonnie and Tracy debate over a white wine.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '13', title: 'It seems almost all our tastemakers finish up their shopping here in the wine section. Tracy settles on a Groth Sauvignon blanc.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="row shred415">
					<div class="col-md-4" data-ng-init="item2 = {src:  'http://www.youtube.com/embed/OMHyAHKvfdw?html5=1'}">
						<a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video2.html')" data-ng-click="showModal()"><h4>shop well</h4><img alt="shop well" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/shred415/shopWell.jpg')}}" /></a>
					</div>
					<div class="col-md-4" data-ng-init="item3 = {src:  'http://www.youtube.com/embed/4AwqIqvZdHk?html5=1'}">
						<a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video3.html')" data-ng-click="showModal()"><h4>eat well</h4><img alt="eat well" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/shred415/eatWell.jpg')}}" /></a>
					</div>
					<div class="col-md-4" data-ng-init="item4 = {src:  'http://www.youtube.com/embed/1TvZKXg3III?html5=1'}">
						<a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video4.html')" data-ng-click="showModal()"><h4>live well</h4><img alt="live well" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/shred415/liveWell.jpg')}}" /></a>
					</div>
                </div>
                <div class="divider"></div>
				<div class="row shred415">
                    <div class="col-md-2">
					</div>
                    <div class="col-md-4">
                        <a href="http://www.shred415.com" target="_blank">
							<img alt="food tip" data-ng-src="{{getContentUrl('/images/shred415/shred415.png')}}" />
							<h5>Shred415</h5>
						</a>
                    </div>
                    <div class="col-md-4 shred415Recipe">
						<a href="recipe?id=71795">
							<img alt="" data-ng-src="{{getContentUrl('/images/shred415/recipe.png')}}" />
							<h5>bonnie’s slow cooked vegan oatmeal</h5>
						</a>
                    </div>
                    <div class="col-md-2">
					</div>
				</div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

