<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
   <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/JY3xw7SJ1-k?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Giuseppe Tentori" class="tasteMakerImage" data-ng-src="{{getContentUrl('/images/giuseppeTentori/giuseppeTentoriHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-6 chefInfo">
                <p>A chef loved and revered by Chicago, he was born and raised in a small town outside of Milan. At just 19 years old, he received an invitation to learn from Gabriel Viti and work in his restaurant in Highland Park. From there, Giuseppe spent 9 years honing his skills and philosophy at the famous Charlie Trotter's, creating complex dishes that excite, but don't overwhelm the diner.</p>
                <p>Today Chef Giuseppe Tentori is kept exceptionally busy. He's the executive chef at GT Fish and Oyster, earning three stars from the Chicago Tribune and Chicago Sun Times.</p>
            </div>
            <div id="chef" class="col-md-6 chefImageGallery" data-ng-init="tasteMakerName = 'giuseppeTentori'">
                <span data-model="{ id: '01', title: 'Chef Giuseppe Tentori, like so many other chefs, really loves the Mariano’s produce section for the freshness and variety.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Giuseppe chooses some purple asparagus, similar in taste to green or white varieties, but just a bit more tender.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '03', title: 'Avocados are becoming more essential for game day because guacamole is a surefire fan favorite.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '04', title: 'Chef Tentori considers a juicy pork loin for the grill. In the end, he goes with the chicken, steak and crab legs. That should be enough for two!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '05', title: 'Crab legs can be enjoyed on the grill with almost no work. Just ask your butcher to prepare them “no claw.” They’re also not as expensive as you might think.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '06', title: 'Chef Tentori looks over the vast array of seafood in the display case. As one of the founders of GT Fish & Oyster, he knows his stuff when it comes to creatures from the sea.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '07', title: 'For marinating the meat, Chef Tentori recommends a less expensive grapeseed olive oil, better for withstanding high heat.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '08', title: 'It’s never a bad idea to have some quick and easy barbeque sauce on hand. Giuseppe looks over a bottle of Sweet Baby Ray’s Sweet and Spicy.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '09', title: 'When it comes to chicken, Giuseppe Tentori prefers chicken from the case. It’s not as moist as packaged chicken, and that can lead to a crispier skin.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '10', title: 'What’s even more essential to any amazing tailgating experience? Beer. Giuseppe goes with the Daisy Cutter pale ale, a local favorite.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '11', title: 'Chef Tentori salts up two different kinds of steak, the t-bone and the porterhouse.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '12', title: 'Butter and hot sauce. A simple, yet very tasty marinade.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '13', title: 'In addition to salt, Chef Tentori also presses some garlic and rosemary into his steaks.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '14', title: 'The Big Green Egg grill can adjust temperatures quickly when cooking various meats.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
                <span data-model="{ id: '15', title: 'And finally, the best part of tailgating. Sit back, enjoy the food, and enjoy the game. Go Bears!', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>  
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="chefRecipeTentoriLeft chefRecipe col-md-6">
                    <a href="http://gtoyster.com/">
                        <img alt="" data-ng-src="{{getContentUrl('/images/giuseppeTentori/gt.jpg')}}" />
                    </a>
                    <h4>GT Fish & Oyster</h4>
                </div>
                <div class="chefRecipeTentoriRight chefRecipe col-md-6">
                    <a href="recipe?id=71724">
                        <img alt="" data-ng-src="{{getContentUrl('/images/giuseppeTentori/tentoriRecipe.jpg')}}" />
                    </a>
                    <h5>Giuseppe Tentori’s recipe</h5>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="grilling" data-ng-src="{{getContentUrl('/images/giuseppeTentori/tipCrab.png')}}" />
                        <h4>no claw</h4>
                        <p>Don’t be intimidated by the prep work when grilling king crab legs. Giuseppe recommends the easier route. When ordering, ask you Mariano’s butcher for "no claw." They prep it just right so it’s ready to grill.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/giuseppeTentori/tipSteak.png')}}" />
                        <h4>the Big Green Egg</h4>
                        <p>When grilling at home, Chef Giuseppe chooses the Big Green Egg grill, a domed ceramic cooker with a temperature control. "It’s a great grill. It’s A++. Its versatility as a grill or smoker makes it great."</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="food tip" data-ng-src="{{getContentUrl('/images/giuseppeTentori/tipChicken.png')}}" />
                        <h4>chicken from the case</h4>
                        <p>I like chicken in the case better because the skin is a little more dry. Not moist like in a bag. It will make the chicken skin a little crispier.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>Mariano’s Roscoe Village</p>
                    <h5>How did chef Gabriel Viti convince you to come to the US?</h5>
                    <p>He didn’t have to convince me. He asked and I said yes. I was 19 at the time.</p>
                    <h5>How do you tell when a steak is done by touch only?</h5>
                    <p>Lots and lots of practice. If you’re a beginner start by using a thermometer.</p>
                    <h5>What’s the best way to cook a common fish like Tilapia on the grill?</h5>
                    <p>With an herb and chili marinade, on a super hot grill (so the fish doesn’t stick).</p>
                    <h5>What is your favorite section of Mariano’s?</h5>
                    <p>I love the produce section.</p>
                    <h5>Is there a surprising meal you like to cook at home?</h5>
                    <p>Homemade gnocchi with marinara, fresh mozzarella, and basil.</p>
                    <h5>How do you balance out complicated dishes so well?</h5>
                    <p>With texture, acid, and creativity.</p>
                    <h5>Why should you, or shouldn’t you chew oysters?</h5>
                    <p>It depends on the size of the oyster. If it’s your first oyster, you probably don’t want to chew it.</p>
                    <h5>When did you start tailgating? Do you do it often?</h5>
                    <p>10 years ago at Soldier Field. Unfortunately, I don’t do it as often as I’d like.</p>
                    <h5>Give us your ideal Chicago bratwurst creation. Toppings and all.</h5>
                    <p>Boiled in a stout, grilled, toasted bun, caramelized onions, homemade mustard. Then eat it like cookie monster... nom nom nom.</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

