<div class="row">
    <div class="col-md-2 sidebar">
        <div class="getNav" data-ng-include="getContentUrl('/views/menu.html')"></div>
    </div>
    <div class="col-md-10 featuredTasteMaker" data-ng-init="item = {src:  'http://www.youtube.com/embed/w7hA_kXfq80?html5=1'}">
        <a href="javascript:void(0)" data-gsn-modal="getThemeUrl('/views/modal-video.html')" data-ng-click="showModal()"><img alt="Matt Troost" class="tasteMakerImage"  data-ng-src="{{getContentUrl('/images/mattTroost/mattTroostHeader.jpg')}}" /></a>
    </div>
</div>
<div class="clearfix"> 
    <div class="row chef">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 main pull-right">
            <div class="col-md-5 chefInfo">
                <p>Matt Troost joined the farm-to-table movement while working at the prestigious Montagna at The Little Nell in Aspen CO. There he learned artisan crafts such as curing meats and making cheese. After four years he made his move to Chicago and spent time at The Peninsula Hotel and then Fianco as executive chef. In 2010, his dream became reality when he opened the Chicago favorite Three Aces, known for it’s funky, low-key vibe and outstanding burgers.</p>
                <p>Since then he’s won the Golden Rasher at the 2012 Baconfest and the People’s Choice at the 2012 Chicago Gourmet Hamburger Hop. Matt continues to push the envelope with interesting combinations rooted in comfort food while still staying true to local purveyors. His philosophy: “What grows together, goes together.”</p>
            </div>
            <div id="chef" class="col-md-7 chefImageGallery" data-ng-init="tasteMakerName = 'mattTroost'">
                <span data-model="{ id: '01', title: 'To start, Chef Matt Troost selects one of his favorite bourbons: Buffalo Trace. It’s a sweet and smooth bourbon with hints of brown sugar.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '02', title: 'Ginger beer is often associated with the popular “dark and stormy” cocktail. Or, he may try to incorporate it into a burger somewhere down the road. You never know with Matt.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '03', title: 'Chef Matt selects some organic cremini mushrooms amongst the 15 varieties of mushrooms available in the produce department.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '04', title: 'Key takeaway from all of our Mariano’s Tastemakers—limes are essential in cooking to provide that extra citrus zing.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '05', title: 'When is the last time you had a burger with prosciutto? Probably never. That’s what Matt Troost is banking on, interesting ingredients that sound irresistible.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '06', title: 'Chef Matt Troost considers the perfect Muenster cheese to top his burger. Whatever the cheese, he prefers it thick and hand-sliced.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '07', title: 'Chef Troost likes to custom-grind a variety of meats together. Here, he picks out a combination of chuck meat and sirloin. Matt prefers his sirloin to contain a lot of marbling so it boosts the fat content on the overall burger.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '08', title: 'Matt stocks up on the hard-to-find Green River, a lime flavored soda that’s a Chicago tradition.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '09', title: 'It’s never an easy decision in the condiment aisle for Matt. As you might imagine, he doesn’t exclusively use ketchup.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '10', title: 'This Sicilian Extra Virgin Olive Oil from Partanna is produced once a year and comes in a tin for a mellower flavor.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '11', title: 'Matt Troost selects some interestingly shaped pasta. Do we sense some intricately gooey mac and cheese in the future? Sources say yes.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '12', title: 'Like Chef Topny Priolo, Chef Matt Troost opts for canned tomatoes when creating signature sauces.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '13', title: 'When you’re a chef working at all odd hours, a fresh bag of whole bean coffee is never a bad idea. Mariano’s carries many varieties, including popular Vero blends.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span>
                <span data-model="{ id: '14', title: 'Everyone has a weakness/guilty pleasure. The Double Stuff Oreos frequently beckon Chef Matt Troost to the cookie aisle.', name: tasteMakerName }" data-ng-include="getContentUrl('/views/custom/gallery-item.html')" data-gsn-watch="" ></span> 
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-6 restaurants">
                    <h4>Matt's restaurant</h4>
                    <div class="row">
                        <div class="threeAces">
                            <a href="http://threeaceschicago.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/mattTroost/threeAcesLogo.jpg')}}" />
                                <h5>Three Aces</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>
                <!--<div class="col-md-4 restaurants">
                    <div class="row">
                        <div class="storesNomi" style="margin-top: 39px;">
                            <a href="http://piccolosognodue.com/" target="_blank">
                                <img alt="" data-ng-src="{{getContentUrl('/images/tonyPriolo/piccolosognodue.png')}}" />
                                <h5>Piccolo Sogno Due</h5>
                            </a> 
                        </div> 
                    </div>    
                </div>-->
                <div class="col-md-6 troost">
                    <a href="/recipe?id=71636">
                        <img alt="" data-ng-src="{{getContentUrl('/images/mattTroost/mattTroostRecipe.png')}}" />
                        <h5>Chef Troost’s recipe</h5>
                        <p>The Spice Is Right Burger</p>
                    </a>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-4 tipBlockOne">
                        <img alt="burger patty" data-ng-src="{{getContentUrl('/images/mattTroost/tip1.png')}}" />
                        <h4>keep it moist</h4>
                        <p>Consider where your moisture is coming from. Buns are dry and so is lean or well-cooked hamburger. So lean towards a melty cheese vs. a drier one. Aioli, mayo and tomatoes also add moisture.</p>
                    </div>
                    <div class="col-md-4 tipBlockTwo">
                        <img alt="bacon jam" data-ng-src="{{getContentUrl('/images/mattTroost/tip2.png')}}" />
                        <h4>bacon jam</h4>
                        <p>Matt developed bacon jam as a spread because he wanted there to be bacon in every bite. 
                        “Often, when bacon isn’t crispy enough, you pull a whole slice out of the hamburger on your first bite. So while the first bite is wonderful, the rest of burger has little bacon flavor. Bacon jam solves that problem”
                        Just grind some bacon, cook it down and add a little vinegar, wine and a fair amount of sugar. Use it as a spread on the bottom bun of the burger.</p>
                    </div>
                    <div class="col-md-4 tipBlockThree">
                        <img alt="gratuitous seasoning" data-ng-src="{{getContentUrl('/images/mattTroost/tip3.png')}}" />
                        <h4>gratuitous seasoning</h4>
                        <p>The most important part of the burger is the seasoning. Go for some nice (and heavy) salting and peppering. You only get the opportunity to season the burger once and you want to make sure you do it right.</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="q_a">
                    <h4>Q & A</h4>
                    <h5>Which Mariano’s do you shop?</h5>
                    <p>I shop at Mariano’s West Loop store on Halstead.</p>
                    <h5>You’re known for your burgers. What do you look for in ground beef?</h5>
                    <p>I look for fat content. Fat is where the flavor is, so I stay away from lean meats. I don’t hold back when I cook or eat.</p>
                    <h5>Do you personally visit the local farm your meat is sourced from?</h5>
                    <p>Most of our meats are from Slagel Family Farm in Fairbury and I’ve been down to see the farm and have actually cooked a couple dinners down there with them.</p>
                    <h5>Where did “farm to plate” come from?</h5>
                    <p>It’s an old world concept that a lot of restaurants are trying to get back into. It’s healthier and you get a higher quality product.</p>
                    <h5>What word best describes Mariano’s meat department?</h5>
                    <p>Vast. Between the cured meats and the fresh meats, there’s just so much to choose from.</p>
                    <h5>What’s your favorite bar snack?</h5>
                    <p>Big, soft pretzels.</p>
                    <h5>Who were you inspired by to begin cooking?</h5>
                    <p>My mom. She taught me how to make coffee cake when I was really young.</p>
                    <h5>What are some unexpected meats you can use for a burger?</h5>
                    <p>I’ve used ground duck. I’ve done ground pork. We did a lamb burger called “Mary Got Hungry.” (note: he’s not joking)</p>
                    <h5>How do you personally take your burger?</h5>
                    <p>Medium rare.</p>
                    <h5>Your menu is adventurous. How can grillers at home keep things interesting? Is there one simple thing?</h5>
                    <p>Too many grillers under-season their burgers. Season generously. And ketchup and mustard are fine, but aioli is easy to make and it adds great flavor.</p>
                    <h5>What are some of your favorite burger toppings?</h5>
                    <p>A good sharp cheese –cheddar or blue, then a little bit of something green, an onion and a little mayo or aioli. I’m real simple with my burgers.</p>
                    <h5>What do you look for in a hamburger bun?</h5>
                    <p>I like all different buns – pretzel buns, brioche, potato buns – it all depends on the type of burger you’re making.</p>
                    <h5>The local brew scene has exploded. What in your opinion is the best in Chicago?</h5>
                    <p>(note: Matt didn’t want to answer – he has a lot of friends in the brewing biz and didn’t want to miss out on a free pint by leaving anybody out)</p>
                </div>
                <div class="divider"></div>
                <div class="row host" data-ng-include="getContentUrl('/views/custom/host.html')"></div>
            </div> 
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 side pull-left">
            <div data-ng-include="getContentUrl('/views/tasteSidebar.html')"></div>
        </div>
    </div>    
</div>

