 #bgWelcomePopup
        {
            position: fixed;
            _position: absolute; /* hack for internet explorer 6*/
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background:url("image/transparentBg.png") repeat;
            z-index: 999999;
            overflow-y: auto;
        }