<h3 class="font-bold">Living Up To Your Life<span class="font-book">&trade;</span></h3>
<div class="col-md-4 footerNav">
  <ul>
    <li data-ng-class="{'underlined': currentPath == '/aboutus'}"><a data-ng-href="/aboutus">About Copps</a></li>
    <li data-ng-class="{'underlined': currentPath == '/storelocator'}"><a data-ng-href="/storelocator">Store Locator</a></li>
    <li data-ng-class="{'underlined': currentPath == '/contactus'}"><a data-ng-href="/contactus">Contact Us</a></li>
    <li data-ng-class="{'underlined': currentPath == '/careers'}"><a data-ng-href="/careers">Careers</a></li>
  </ul>
</div>
<div class="col-md-4 footerNav">
  <ul>
    <li><a data-ng-href="/privacy">Privacy Policy & Terms of Use</a></li>
    <li><a data-ng-href="/couponpolicy">Coupon Policy</a></li>
    <li><a data-ng-href="/productrecall">Product Recall</a></li>
    <li><a data-ng-href="/givingback">Giving Back</a></li>
  </ul>
</div>
<div class="col-md-4 footerNav">
  <ul>
    <li><a data-ng-href="/suppliers">For Our Suppliers</a></li>
    <li><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-IRHome" target="_blank" data-analytics-on="click" data-analytics-event="Investor Relations" data-analytics-category="FooterLink">Investor Relations</a></li>
		<li><a href="http://phx.corporate-ir.net/phoenix.zhtml?c=251227&p=irol-factbook" target="_blank" data-analytics-on="click" data-analytics-event="Roundy Fact Book" data-analytics-category="FooterLink" >Roundy's 2015 Fact Book</a></li>
    <li><a href="http://www.roundys.com/ess.aspx" target="_blank" data-analytics-on="click" data-analytics-event="ClickForOurEmployees" data-analytics-category="FooterLink">For Our Employees</a></li>
  </ul>
</div>