<div>
    <h2>Theme</h2>

    <div class="col-md-12">
        <div data-ng-include="backgroundUrl"></div>
    </div>
    <h2>Color Scheme</h2>

    <div class="col-md-12">
        <label>Navigation Font Color</label>
        <input colorpicker type="text" ng-model="navigationFontColor.value" />
        <div class="color-boxes" style="background-color: {{navigationFontColor.value}};"></div>
    </div>

    <div class="col-md-6">
        <div data-ng-include="navBarBackgroundColorsUrl"></div>
    </div>
    <div class="col-md-6">
        <div data-ng-include="navBarTextColorsUrl"></div>
    </div>

    <div class="col-md-6">
        <div data-ng-include="buttonBackgroundColorsUrl"></div>
    </div>
    <div class="col-md-6">
        <div data-ng-include="buttonTextColorsUrl"></div>
    </div>

    <button class="btn btnAdmin" data-ng-click="update()">Publish</button>
</div>
