<div class="col-md-2">
	<button class="btn btn-default btn-xs btnMarianos" data-ng-click="doToggleCircularItem($event, item)">{{ isOnList(item) && "Remove" || "Add"}}</button>
</div>
<div class="col-md-6">
	<div class="thumbnail pull-left" style="width: 50px; margin-right: 10px">
		<img data-ng-src="{{item.SmallImageUrl}}" style="max-width: 40px; max-height: 50px" />
	</div>
	{{item.Name || item.Description}}
</div>
<div class="col-md-4">
	<div class="SalePrice" data-ng-show="item.PriceString">
		{{item.PriceString}}
	</div>
	<div class="savings" data-ng-show="item.Savings">SAVINGS - {{item.SavingsString}}</div>
</div>
