<div class="hidden-meta" data-gsn-title="{{ChainName}} circulars"></div>
<div data-ctrl-circular="">
    <div class="">
        <div class="col-md-9">
            <div class="circularTopPod" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
                </div>
            </div> 
            <div class="">
                <div class="col-md-3">
                    <div class="circularLeftPod" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                        <div class="towerPod" data-ng-non-bindable="" data-bindonce="">
                            <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"tile": "6"}' data-gsn-sticky="" data-bottom="200"></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-9">
                    <div data-ng-show="vm.noCircular">
                        <h3>No circular for this store.</h3>
                    </div>
                    <div class="productImagePopOver hidden" data-ng-non-bindable="">
                        <img data-ng-src="{{item.ImageUrl || getThemeUrl('/images/no_image.jpg')}}" style="width: 100%; max-height: 400px" />
                    </div>
                <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="vm.digitalCirc == null || vm.noCircular"></div>
                    <div class="row" data-ng-switch="" data-on="currentPath">
                        <div data-ng-switch-when="/circular/list">
                            <div data-ng-include="getThemeUrl('/views/engine/circular-view-list.html')"></div>
                        </div>                                                 
                        <div data-ng-switch-when="/circular/text">
                            <div data-ng-include="getThemeUrl('/views/engine/circular-view-text-only.html')"></div>
                        </div>
                        <div data-ng-switch-when="/circular/grid">
                            <div data-ng-include="getThemeUrl('/views/engine/circular-view-grid.html')"></div>
                        </div>
                        <div data-ng-switch-default="">
                            <div data-ng-include="getThemeUrl('/views/engine/circular-view-flyer.html')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div data-ng-non-bindable="">
                <div class="circplus"></div>
            </div>
            <div data-ng-include="getThemeUrl('/views/engine/available-varieties.html')" ></div>
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div class="circularRightPod" data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="300x250" data-targeting='{"tile": "4"}'></div>
                </div>
            </div> 
        </div>
    </div>
</div>