<div class="hidden-meta" data-gsn-title="{{ChainName}} circulars"></div>
<div class="row" data-ctrl-circular-classic="">
  <div class="row">
    <div class="col-md-8">
      <div class="textOnly"><a data-ng-href="/circular/textview" data-ng-if="imageView">Text-Only Version</a></div>
      <div class="gsn-circular-container" data-gsn-digital-circ="vm.digitalCirc" data-ng-if="imageView">
        <div data-ng-non-bindable=""></div>
      </div>
      <div class="row" data-ng-show="noCircular">
        <h3>No circular for this store.</h3>
      </div>
      <div class="row pageContent" data-ng-hide="imageView">
        <button class="btn btn-default btnMarianos row back" data-ng-click="imageView = true">back to circular</button>
        <div class="row textItems" data-ng-include="getThemeUrl('/views/circular-group.html')" data-ng-if="!imageView"></div>
      </div>
    </div>
    <div class="col-md-4 listOptions">
      <div data-ng-include="getThemeUrl('/views/engine/available-varieties.html')"></div>
    </div>
  </div>
</div>
<div class="end"></div>
