<div class="row" data-ctrl-coupon-classic="">
    <div class="col-md-12 couponTabs noPadWidth pull-left"  data-ng-init="couponType = 'digital';sortByName = 'About to Expire';">
    <ul class="nav nav-tabs" data-ng-include="getThemeUrl('/views/engine/coupons-tabs.html')"></ul>
        <div class="row tabcontent">
          <div class="col-md-10 col-sm-12">
              <div data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div>
              <div class="validation">
                  <div data-ng-show="!youtech.hasValidCard()">
                      <p>Your loyalty card number could not be validated. Please <a data-ng-href="/profile">update your profile</a> or visit a store to sign up for a card.</p>
                  </div>
              </div>
              <h2>Digital Coupons</h2>
              <div>
                  <div class="col-md-6 col-sm-6">
                  <span>Total Savings - ${{selectedCoupons.totalSavings}}</span>
                      <button class="btn btn-default btnSilver couponsOnCard" data-ng-click="selectedCoupons.cardCouponOnly = !selectedCoupons.cardCouponOnly">
                          <i class="fa fa-square-o" data-ng-hide="selectedCoupons.cardCouponOnly"></i><i class="fa fa-check-square-o" data-ng-show="selectedCoupons.cardCouponOnly"></i>
                          View Coupons On Card
                      </button>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-9">
                      <div class="pull-right sortBy">
                      <span>Sort By:</span>
                          <div class="btn-group dropdown" dropdown>
                              <button type="button" class="btn btn-default btnSilver data-toggle="dropdown" " data-toggle="dropdown" >
                                  {{sortByName}} <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="javascript:void(0)" data-ng-click="sortBy = 'EndDate';sortByName='About to Expire'">About to Expire</a></li>
                                  <li><a href="javascript:void(0)" data-ng-click="sortBy = '-StartDate';sortByName='Newest'">Newest</a></li>
                                  <li><a href="javascript:void(0)" data-ng-click="sortBy = '-TopTagLine';sortByName='Savings'">Savings</a></li>
                                  <li><a href="javascript:void(0)" data-ng-click="sortBy = 'BrandName';sortByName='Brand'">Brand</a></li>
                                  <li><a href="javascript:void(0)" data-ng-click="sortBy = 'CategoryName';sortByName='Department'">Department</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="pull-right searchBy">
                      <span>Search By:</span>
                          <div class="searchField btn-group">
                              <input class="searchfield btn btn-default" type="text" placeholder="enter keyword" data-ng-model="filterBy" name="filterby" />
                          </div>
                      </div>
                  </div>
              </div>
              <div>
                  <div class="col-md-4 noCoupons" data-ng-show="selectedCoupons.items.length <= 0 && filterBy">No results returned.</div>
                  <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="selectedCoupons.items.length <= 0 && !selectedCoupons.cardCouponOnly"></div>
                  <div data-ng-show="selectedCoupons.items.length == 0">No items found</div>
                  <div data-ng-show="selectedCoupons.targeted.length > 0 && sortBy == 'EndDate'">
                      Limited Time Coupons
                      <br />
                      <div class="noPadWidth col-md-4 col-sm-4 col-xs-12" data-ng-include="getThemeUrl('/views/engine/coupons-digital-item.html')" data-ng-repeat="item in selectedCoupons.targeted"></div>
                  </div>
                  <div data-infinite-scroll="loadMore()">
                      <div class="noPadWidth col-md-4 col-sm-4 col-xs-12" data-ng-include="getThemeUrl('/views/engine/coupons-digital-item.html')" data-ng-repeat="item in selectedCoupons.items"></div>
                  </div>          
              </div>
          </div>
          <div class="col-md-2 adUnit6">
            <div class="" data-ng-non-bindable="">
                <div class="circplus circplusCoupons"></div>
            </div>
            <div data-gsn-ad-unit="6" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0" data-gsn-sticky=".adUnit6" data-bottom="200"></div>
          </div>
        </div>
    </div>
</div>
