<div class="hidden-meta" data-gsn-title="{{ChainName}} coupons"></div>
<div data-ctrl-coupon-classic="" class="row">
  <div class="col-md-12 couponTabs noPadWidth pull-left" data-ng-init="couponTabSet = { printableCoupons : (currentPath.indexOf('printable') > 0), digitalCoupons : (currentPath.indexOf('digital') > 0)};">
      <tabset>
          <tab heading="Digital Coupons" active="couponTabSet.digitalCoupons">
              <div data-ng-include="getThemeUrl('/views/engine/coupons-digital.html')"></div>
          </tab>
          <tab heading="Printable Coupons" active="couponTabSet.printableCoupons">
              <div data-ng-include="getThemeUrl('/views/engine/coupons-printable.html')"></div>
          </tab>
      </tabset>
  </div>
</div>