<div class="row" data-ctrl-meal-planner="">
  <div data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
  <div class="col-md-9" style="margin-left: -15px">
      <div class="row" style="padding-top: 5px">
          <div class="col-md-3">
              <div data-gsn-ad-unit="6" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
          </div>
          <div class="col-md-9">
            <div data-ng-repeat="group in vm.mealPlanners | orderBy:'key'">
        <h3>{{group.items[0].DisplayDate}}</h3>
          <div class="col-md-12" data-ng-repeat="item in group.items">
          <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>
        </div>
      </div>
    <button class="btn btn-default btnSilver" data-ng-click="goBack()">Back</button>
          </div>
      </div>
  </div>
  <div class="col-md-3" style="margin-left: -15px;">
      <div class="row" data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
  </div>
</div>