<div role="form" class="modal-content signIn" data-ctrl-change-password="">
  <form role="form" name="myForm" data-ng-submit="changePassword()">
    <div class="modal-header">
      <h4 data-ng-hide="hasSubmitted && isValidSubmit && !isSubmitting">Change Password</h4>
      <h4 data-ng-show="hasSubmitted && isValidSubmit && !isSubmitting">You have successfully changed your password.</h4>
    </div>
    <div class="modal-body signInBox">
      <!--Current Password Section-->
	  
	 <div data-ng-hide="hasSubmitted && isValidSubmit && !isSubmitting"> 
      <div class="form-group password has-feedback" data-ng-class="{'has-success': !myForm.currentPassword.$invalid, 'has-error': myForm.currentPassword.$invalid}">
        <label for="currentPassword">
          Current Password: <span class="required" data-ng-show="myForm.currentPassword.$invalid">Required</span>
        </label>
        <input type="password" class="form-control passwordText" name="currentPassword" placeholder="Enter current password" data-ng-minlength="6" data-ng-model="profile.currentPassword" data-ng-required="true" />
        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.currentPassword.$invalid, 'glyphicon-remove': myForm.currentPassword.$invalid}"></span>
        <p class="help-block" data-ng-show="myForm.currentPassword.$error.minlength">* Must be at least 6 characters.</p>
      </div>

      <!--New Password Section-->
      <div class="form-group password has-feedback" data-ng-class="{'has-success': !myForm.newpassword.$invalid, 'has-error': myForm.newpassword.$invalid}">
        <label for="newpassword">
          New Password: <span class="required" data-ng-show="myForm.newpassword.$invalid">Required</span>
        </label>
        <input type="password" class="form-control passwordText" name="newpassword" placeholder="Enter new password" data-ng-minlength="6" data-ng-model="profile.newPassword" data-ng-required="true" />
        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.newpassword.$invalid, 'glyphicon-remove': myForm.newpassword.$invalid}"></span>
        <p class="help-block" data-ng-show="myForm.newpassword.$error.minlength">* Must be at least 6 characters.</p>
      </div>

      <!--Confirm Password Section-->
      <div class="form-group confirm has-feedback" data-ng-if="!isFacebook" data-ng-class="{'has-success': !myForm.confirmPassword.$invalid, 'has-error': myForm.confirmPassword.$invalid}">
        <label for="confirmPassword">
          Confirm Password: <span class="required" data-ng-show="myForm.confirmPassword.$invalid">Required</span>
        </label>
        <input type="password" class="form-control passwordText" name="confirmPassword" placeholder="Confirm password" data-ng-required="true" data-ng-model="profile.confirmPassword" data-ui-validate=" '$value==profile.newPassword' " data-ui-validate-watch=" 'profile.newPassword' " />
        <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myForm.confirmPassword.$invalid, 'glyphicon-remove': myForm.confirmPassword.$invalid}"></span>
        <p class="help-block" data-ng-show="myForm.confirmPassword.$error.validator">* Confirm password must match.</p>
      </div>

      <div class="form-group" data-ng-show="hasSubmitted && !isValidSubmit">
        <div class="alert alert-danger">
          Password change was unsuccessful, please check and make sure that you've provided the correct current password.
        </div>
      </div>
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <div>
      <div class="signInBox">
        <button class="btn btn-default btnSilver pull-right" data-ng-click="closeModal()" style="margin-right: 10px" type="button">Cancel</button>
        <button type="submit" class="btn btn-default btnSilver">Submit</button>
        <button type="submit" class="btn btn-default btnSilver" data-ng-click="goUrl('/recoverpassword')">Forgot Password</button>
      </div>
      </div>
	</div>
	</div>
    <div data-ng-show="hasSubmitted && isValidSubmit && !isSubmitting" class="passwordSuccess">
	  <button class="btn btn-default btnSilver" data-ng-click="closeModal()" style="margin: 10px" type="button">OK</button>
    </div>
  </form>
</div>