<div class="modal-content top50Recipe">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Top 50 Recipes</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 topFifty" data-ng-repeat="item in vm.topRecipes">
        <a data-ng-href="/recipe?id={{item.RecipeId}}" data-ng-click="closeModal()">{{item.RecipeTitle}}</a>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btnSilver" data-dismiss="modal">Close</button>
  </div>
</div>
<!-- /.modal-content -->

