<div data-ctrl-my-recipes="">
    <div class="row ">
        <div class="col-md-9 noPadLeft">
            <div class="topPod" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-3 noPadLeft">
                    <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                        <div data-ng-non-bindable="" data-bindonce="">
                            <div class="gsnadunit podMarTop" data-dimensions="160x600" data-targeting='{"tile": "6"}' data-gsn-sticky="" data-bottom="200"></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-9">
                <h3>My Recipe Box</h3>
                    <div class="myRecipeInfo" data-ng-show="vm.recipes.length <= 0"><h5>You do not have any saved recipes.</h5></div>
                    <ul>
                        <li data-ng-repeat="item in vm.recipes">
                            <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeInfo.RecipeTitle}}</a>
                            <div data-ng-if="item.Comment">Comment: {{item.Comment}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit podMarRight" data-dimensions="300x250" data-targeting='{"tile": "4"}'></div>
                </div>
            </div> 
        </div>
    </div>
</div>