<div class="row" data-ctrl-product="">
  <div data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
  <div class="row">
    <div class="col-md-8 specials">
      <header class="row">
        <h1 class="font-book text-center">product search</h1>
        <h3 class="font-demi text-center">Browse items on sale by department.</h3>
      </header>

      <div class="row" data-ng-include="getThemeUrl('/views/product-content.html')"></div>
    </div>
    <div class="col-md-4 recipeSidebar">
      <div data-ng-include="getThemeUrl('/views/engine/shopping-list-plugin.html')" class="shopping-list"></div>
    </div>
  </div>
</div>
