<div class="row" data-ctrl-pro-logic-reward-card="">
  <!-- <div class="form-group col-md-6">-->

  <!--Invalid Loyalty Card-->
  <div data-ng-show="isValidLoyaltyCard == false">

    <p style="background-color: #FFFFCC; border: 1px solid #FF0000; font-size: 12px; font-weight: bold; padding: 1em; margin-top: 10px;">
      The reward card specified does not match what is on record. Please update and try again.
    </p>

    <!--Reward Card field-->
    <div style="margin-top: 10px;">
      <label for="rewardcard">
        Rewards Card:  <span data-ng-show="myForm.rewardcard.$invalid"></span>
        <span data-ng-show="myForm.rewardcard.$valid"></span>
      </label>
      <input type="text" class="form-control" name="rewardcard" data-ng-required="false" data-ng-pattern="/(^42)/" data-ng-minlength="11" placeholder="Enter rewards card number" data-ng-model="loyaltyCardProfile.ExternalId" data-ng-maxlength="11" />
      <ul data-ng-show="myForm.rewardcard.$viewValue">
        <li data-ng-show="myForm.rewardcard.$error.pattern">Must start with a 42.   
        </li>
        <li data-ng-show="myForm.rewardcard.$viewValue.length != 11">Must be 11 digits.
        </li>
      </ul>
    </div>

    <!--Last Name-->
    <div data-ng-show="loyaltyCardProfile.LastName" style="margin-top: 10px;">
      <label for="lastNameField">Last Name:</label>
      <input type="text" class="form-control" name="lastNameField" data-ng-model="loyaltyCardProfile.LastName" />
    </div>

    <!--Card Info section-->
    <div class="form-group cardInfo" style="margin-top: 10px;">
      <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
      <button type="button" class="btn btn-default" tabindex="-1" data-ng-click="goBack()">Cancel</button>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>

  <!--Start Remaining Loyalty fields-->
  <div data-ng-show="isValidLoyaltyCard == true">

    <div style="margin-top: 10px;">
      <label style="margin-right: 10px;">Rewards Card:</label>{{loyaltyCardProfile.ExternalId}}
    </div>

    <!--Now, detail the actual tabs.-->
    <tabset>
        <tab heading="Profile">
       
          <div style="margin-top:10px">
            Loyalty Level: {{loyaltyCard.householdField.loyaltyLevelField}}
          </div>
          <div style="margin-top:10px">
            Rewards Balance: {{loyaltyCard.householdField.rewardsBalanceField}}
          </div>
          <div style="margin-top:10px">
            Lifetime Rewards Redeemed: {{loyaltyCard.householdField.lifetimeRewardsRedeemedField}}
          </div>
      
          <!--Last Name-->
          <div data-ng-show="loyaltyCardProfile.LastName" style="margin-top:10px;">
            <label for="lastNameField">Last Name:</label>
            <input type="text" class="form-control" name="lastNameField" data-ng-model="loyaltyCardProfile.LastName"/>
          </div>      

          <!--First Name field-->
          <div data-ng-show="loyaltyCard.memberField.firstNameField" style="margin-top:10px;">
            <label for="firstNameField">First Name:</label>
            <input type="text" class="form-control" name="firstNameField" data-ng-model="loyaltyCard.memberField.firstNameField"/>
          </div>        

          <!--Middle Name field-->
          <div data-ng-show="loyaltyCard.memberField.middleNameField" style="margin-top:10px;">
            <label for="middleNameField">Middle Name:</label>
            <input type="text" class="form-control" name="middleNameField" data-ng-model="loyaltyCard.memberField.middleNameField"/>
          </div>  

          <!--Date of birth field-->
          <div data-ng-show="loyaltyCard.memberField.dateOfBirthField" style="margin-top:10px;">
            <label for="dateOfBirthField">Date Of Birth:</label>
            <p class="input-group">
              <input type="text" class="form-control" data-datepicker-popup="MM-dd-yyyy" data-show-weeks="false" data-show-button-bar="false" data-ng-model="loyaltyCard.memberField.dateOfBirthField" />
            </p>    
          </div>

          <!--Email field-->
          <div data-ng-show="loyaltyCard.memberField.emailField" style="margin-top:10px;">
            <label for="emailField">Email:</label>
            <input type="text" class="form-control" name="emailField" data-ng-model="loyaltyCard.memberField.emailField"/>
          </div>        
    
          <!--Phone number field-->
          <div data-ng-show="loyaltyCard.householdField.phoneNumberField" style="margin-top:10px;">
            <label for="phoneNumberField">Phone:</label>
            <input type="text" class="form-control" name="phoneNumberField" data-ng-model="loyaltyCard.householdField.phoneNumberField"/>
          </div>

          <!--Card Info section-->
          <div class="form-group cardInfo" style="margin-top:10px;">
            <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
            <button type="button" class="btn btn-default" tabindex="-1" data-ng-click="goBack()">Cancel</button>
            <button type="submit" class="btn btn-default">Submit</button>     
          </div>  

        </tab>
        <tab heading="Address">
          
          <div style="margin-top:10px;">
            <accordion close-others="true">
              <accordion-group data-ng-repeat="addressField in loyaltyCard.householdField.addressesField.addressField" heading="{{GetAddressName(addressField.nameField)}}" is-open="true">
              
                <!--Address Name-->
                <div data-ng-show="addressField.nameField">
                  <label for="addressNameField">Name:</label>
                  <input type="text" class="form-control" name="addressNameField" data-ng-model="addressField.nameField"/>
                </div>

                 <!--Address One-->
                <div data-ng-show="addressField.streetAddressField" style="margin-top:10px;" >
                  <label for="streetAddressField">Street Address:</label>
                  <input type="text" class="form-control" name="streetAddressField" data-ng-model="addressField.streetAddressField"/>
                </div>

                <!--Address Two-->
                <div data-ng-show="addressField.streetAddress2Field" style="margin-top:10px;">
                  <label for="streetAddress2Field">Street Address 2:</label>
                  <input type="text" class="form-control" name="streetAddress2Field" data-ng-model="addressField.streetAddress2Field"/>
                </div>

                <!--City Name-->
                <div data-ng-show="addressField.cityField" style="margin-top:10px;">
                  <label for="addressCityField">City:</label>
                  <input type="text" class="form-control" name="addressCityField" data-ng-model="addressField.cityField"/>
                </div>
        
                <!--State Code-->
                <div data-ng-show="addressField.provinceField" style="margin-top:10px;">
                  <label for="addressProvinceField">State:</label>
                  <input type="text" class="form-control" name="addressProvinceField" data-ng-model="addressField.provinceField"/>
                </div>

                <!--Postal Code-->
                <div data-ng-show="addressField.postalCodeField" style="margin-top:10px;">
                  <label for="addressPostalCodeField">Zip Code:</label>
                  <input type="text" class="form-control" name="addressPostalCodeField" data-ng-model="addressField.postalCodeField"/>
                </div>
              </accordion-group>
            </accordion>
          </div>

          <!--Card Info section-->
          <div class="form-group cardInfo" style="margin-top:10px;">
            <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
            <button type="button" class="btn btn-default" tabindex="-1" data-ng-click="goBack()">Cancel</button>
            <button type="submit" class="btn btn-default">Submit</button>     
          </div>  
        </tab>

        <tab heading="Promotions">
          <div style="margin-top:10px" data-ng-repeat="promotionVariableItem in loyaltyCard.householdField.promotionVariablesField.promotionVariableField">
            <div data-ng-switch="" data-on="promotionVariableItem.nameField">
              <div data-ng-switch-when="awg_kccm_pet_club_item_sale_tracker" class="col-md-3 panel panel-success ng-scope">
                <div class="panel-heading ng-binding">
                  <label>Pet Club</label>
                  <div>
                    Value: <span>{{promotionVariableItem.valueField | currency}}</span>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="ng-binding">Get a rebate for every pet item you buy.</p>
                </div>
                <div class="col-md-6">
                  <img data-ng-src="http://imgick.oregonlive.com/home/olive-media//img/pets_impact/photo/13148413-small.jpg" alt="Lunch Club"/>
                </div>
              </div>
              <div data-ng-switch-when="kccm_lunch_club_item_counter" class="col-md-3 panel panel-success ng-scope">
                <div class="panel-heading ng-binding">
                  <label>Lunch Club</label>
                  <div>
                    Value: <span>{{promotionVariableItem.valueField | number}}</span>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="ng-binding">Get points for every lunch item you buy.</p>
                </div>
                <div class="col-md-6">
                  <img data-ng-src="http://www.stanford.edu/dept/visitorinfo/images/content/activities/eateries/olives.jpg" alt="Lunch Club"/>
                </div>
              </div>
              <div data-ng-switch-when="frozen_foods_sweepstakes_entries" class="col-md-3 panel panel-success ng-scope">
                <div class="panel-heading ng-binding">
                  <label>Frozen Foods Sweepstakes</label>
                  <div>
                    Value: <span>{{promotionVariableItem.valueField | number}}</span>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="ng-binding">Get points for every lunch item you buy.</p>
                </div>
                <div class="col-md-6">
                  <img data-ng-src="http://thumb7.shutterstock.com/thumb_small/84610/84610,1282077638,9/stock-photo-woman-in-a-supermarket-standing-in-front-of-the-freezer-looking-for-her-favorite-frozen-food-59243566.jpg" alt="Lunch Club"/>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>

    <!--End Remaining Loyalty fields-->
  </div>
  <!--  </div>-->
</div>
