<div class="row" data-ctrl-recipe="">
  <div class="col-md-9" data-ng-include="getThemeUrl('/views/engine/recipe-content.html')"></div>
  <div class="hidden-print col-md-3" style="margin-left: -15px;">
    <div class="row" data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 200"></div>
    <div class="row" style="padding-top: 5px" data-gsn-ad-unit="5" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0 && scrollTop < 500"></div>
  </div>
</div>


