<div class="hidden-meta" data-gsn-title="{{ChainName}} circulars"></div>
<div data-ctrl-recipe-search=""="">
    <div>
        <div class="col-md-9">
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div class="recipeResultsTopPod" data-ng-non-bindable="" data-bindonce="">
                    <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
                </div>
            </div> 
            <div>
                <div class="col-md-3">
                    <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                        <div class="recipeResultsLeftPod">
                            <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"tile": "6"}' data-gsn-sticky="" data-bottom="200"></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-9">
                	<div data-ng-if="vm.searchResult">
    					<button class="back btn btn-xs btnSilver" data-ng-click="goBack()">Back</button><br />
    					<div data-pagination="" data-max-size="12" data-total-items="totalItems" data-page="currentPage" data-items-per-page="itemsPerPage"></div>
    					<div class="row recipeSearchResults" data-ng-repeat="item in vm.searchResult | orderBy:'Relevance':true | pagingFilter:itemsPerPage:(currentPage-1)">
      						<a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>
    					</div>
  					</div>
				</div>
            </div>
        </div>
        <div class="col-md-3">
            <div data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
                <div class="recipeResultsRightPod">
                    <div class="gsnadunit" data-dimensions="300x250" data-targeting='{"tile": "4"}' data-gsn-sticky="" data-bottom="200"></div>
                </div>
            </div> 
        </div>
    </div>
</div>