<div class="hidden-meta" data-gsn-title="{{ChainName}} circulars"></div>
<div data-ctrl-recipe-search="" class="row">
  <div data-gsn-ad-unit="1" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
  <div class="col-md-9" style="margin-left: -15px">
      <div class="row" style="padding-top: 5px">
          <div class="col-md-3">
              <div data-gsn-ad-unit="6" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
          </div>
          <div class="col-md-9">
             <div data-ng-if="vm.searchResult">
                <button class="back btn btn-xs btnSilver" data-ng-click="goBack()">Back</button><br />
                <div data-pagination="" data-max-size="12" data-total-items="totalItems" data-page="currentPage" data-items-per-page="itemsPerPage"></div>
                <div class="recipeSearchResults" data-ng-repeat="item in vm.searchResult | orderBy:'Relevance':true | pagingFilter:itemsPerPage:(currentPage-1)">
                    <a data-ng-href="/recipe?id={{item.RecipeId}}">{{item.RecipeTitle}}</a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-3" style="margin-left: -15px;">
      <div class="row" data-gsn-ad-unit="4" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0"></div> 
  </div>
</div>