<div class="hidden" data-gsn-title="{{ChainName}} Recipe Center"></div>
<div data-ctrl-recipe-center="">
  <div class="row">
      <div class="col-md-9">
          <div class="row" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
              <div class="gsnadunit" data-dimensions="728x90" data-targeting='{"tile": "1"}'></div>
          </div>
            <br />
          <div class="row">
            <div class="col-md-3" data-gsn-ad-unit="" data-ng-if="',visible-lg,visible-md'.indexOf(bsDisplayMode) > 0">
               <div class="gsnadunit" data-dimensions="160x600" data-targeting='{"tile": "6"}' data-gsn-sticky="" data-bottom="200"></div>
            </div>
            <div class="col-md-9">
              <div class="col-md-8">
                <h3>5 Minute Cooking Classes</h3>
                <div class="videoColumn" id="VideoPlayer">
                    <h3>{{videoTitle}}</h3>
                    <a id="VideoPlayerTarget" class="VideoPlayerTarget"></a>
                </div>
                <div class="gsnunit sponsor3" data-dimensions="400x50" data-targeting='{"tile": "10"}'></div>
               <div class="col-md-10" data-gsn-flow-player="VideoPlayerTarget" data-swf="http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf" data-base-url="http://upload.gsngrocers.com/recipe/video/flv/"></div>
          
             </div>
             <div class="col-md-4">
                  <h3>Videos</h3>
                  <div style="display: block; height: 300px; width: 100%; overflow-y: scroll;" class="">
                      <div class="list-group list-groupPns">
                          <div  data-ng-repeat="video in vm.videos | orderBy : 'Title' ">
                              <a class="list-group-item list-group-itemPns" data-ng-class="{ active: videoTitle == '{{video.Title}}'}" title="{{video.Title}}" data-ng-click="play('{{video.Url}}','{{video.Title}}');">{{video.Title}}</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="row" data-gsn-ad-unit="">
            <div class="gsnadunit pull-right" data-dimensions="300x250" data-targeting='{"tile": "4"}' data-gsn-sticky="" data-bottom="200"></div>
        </div>
      </div>
  </div>
</div>

<script>
flowplayer("VideoPlayerTarget", "http://cdn.gsngrocers.com/script/lib/flowplayer-3.2.18.swf", {
  clip: {
    // these two configuration variables does the trick
    autoPlay: false,
    autoBuffering: true // <- do not place a comma here
  }
});
</script>