<div data-ctrl-recovery="">
  <div class="">
    <div class="row">
      <div class="col-md-6">
        <form role="form" name="myRecoveryForm" data-ng-submit="recoverPassword()" data-ng-hide="hasSubmitted && !isSubmitting && isValidSubmit" data-ng-init="captcha = {}">
          <h4>Recover Password</h4>
          <div class="form-group has-feedback" data-ng-class="{'has-success': !myRecoveryForm.usernameField.$invalid, 'has-error': myRecoveryForm.usernameField.$invalid}">
            <label for="usernameField">
              Email address or username: <span class="required" data-ng-show="myRecoveryForm.usernameField.$invalid">Required</span>
            </label>
            <input type="email" class="form-control" name="usernameField" placeholder="Enter email address or username" data-ng-model="profile.Email" data-ng-required="true" />
            <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myRecoveryForm.usernameField.$invalid, 'glyphicon-remove': myRecoveryForm.usernameField.$invalid}"></span>
            <p class="help-block" data-ng-show="myRecoveryForm.usernameField.$invalid">* The email address or username is invalid.</p>
          </div>
          <div class="form-group has-feedback" data-ng-class="{'has-success': !myRecoveryForm.usernameConfirmField.$invalid, 'has-error': myRecoveryForm.usernameConfirmField.$invalid}">
            <label for="usernameConfirmField">
              Confirm: <span class="required" data-ng-show="myRecoveryForm.usernameConfirmField.$invalid">Required</span>
            </label>
            <input type="email" class="form-control" name="usernameConfirmField" placeholder="Confirm email address or username" data-ng-required="true" data-ng-model="profile.ConfirmEmail" data-ui-validate=" '$value==profile.Email' " data-ui-validate-watch=" 'profile.Email' " />
            <span class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': !myRecoveryForm.usernameConfirmField.$invalid, 'glyphicon-remove': myRecoveryForm.usernameConfirmField.$invalid}"></span>
            <p class="help-block" data-ng-show="myRecoveryForm.usernameConfirmField.$error.validator">* The confirm email address must match.</p>
          </div>
          <div class="form-group" data-ng-show="hasSubmitted && !isSubmitting && !isValidSubmit">
            <div class="alert alert-danger">The server was unable validate or locate user associated with your entry, please try again.</div>
          </div>
          <div class="submit">
            <div data-gsn-spinner="{radius:30, width:8, length: 16}" data-show-if="isSubmitting"></div>
            <button type="button" class="btn btn-default btnSilver" data-ng-click="goBack()" tabindex="-1">Cancel</button>
            <button type="submit" class="btn btn-default btnSilver">Submit</button>
          </div>
        </form>
        <div data-ng-show="hasSubmitted && !isSubmitting && isValidSubmit">
          <h4>Recover password successful.</h4>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
