<div class="row printHeader">
    <div class="col-md-3">
        <img alt="logo" class="" data-ng-src="{{getContentUrl('/images/logoPrint.png')}}" />
    </div>
    <div class="col-md-7 printListInfo">
        <h3>My Shopping List</h3>
        <p data-gsn-store-info="[store.StoreName] [store.PrimaryAddress], [store.City] location only"></p>
    </div>
    <div class="col-md-2">
        <button class="btn btn-default btn-xs btnSilver pull-right" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList">Print</button>
    </div>
</div>
<div class="row printBody" data-gsn-shopping-list="">
    <div data-ng-init="canPrint = true">
        <div data-ng-repeat="groupItem in allItems" data-ng-hide="groupItem.fitems.length <= 0">
            <div class="col-md-6 col-xs-6 itemInfo printCouponCategory">
                <h4 class="pull-right">Quantity</h4>
                <h4>{{groupItem.key}}</h4>
                <div class="circular-item" data-ng-repeat="item in groupItem.fitems">
                    <div class="pull-right">{{item.Quantity}}</div>
                    <div><img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}" data-ng-show="item.IsCoupon"><span data-ng-bind-html="item.Description | trustedHtml"></span></div>
                    <div data-ng-hide="item.IsCoupon">
                        <span>{{item.PriceString}}</span>
                    </div>
                    <div data-ng-show="item.ItemTypeId == 13">Card Coupon</div>
                </div>
            </div>
        </div>        
    </div>
		<!-- Ad Pods -->
    <div class="row">
        <div class="col-md-12" data-gsn-ad-unit="2"></div>
    </div>
    <div class="row">    	
        <div class="col-md-10 printCouponCategory">
            <h4>Manufacturer Coupon Print Status (must submit all coupons to redeem savings)</h4>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-xs btnSilver pull-right" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList">Print</button>
        </div>
    </div>
    <div data-ng-if="true">
        <div class="circular-item" data-ng-repeat="item in manufacturerCoupons">
            <div data-ng-if="item.IsCoupon">
                <img data-ng-src="{{getThemeUrl('/images/manufacturercouponicon.gif')}}">
                <span data-ng-bind-html="item.Description | trustedHtml"></span> - 
                <span class="coupon-message coupon-message-{{item.ProductCode}}" data-ng-bindonce=""></span>
            </div>
        </div>
    </div>
    <div class="row" data-ng-hide="instoreCoupons.length == 0">
        <div class="col-md-10 printCouponCategory">
            <h4>In store Coupons</h4>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default btn-xs btnSilver pull-right" type="button" onclick="javascript:window.print();" data-analytics-on="click" data-analytics-event="ClickPrint" data-analytics-category="ShoppingList">Print</button>
        </div>
    </div>
    <div class="row" data-ng-hide="instoreCoupons.length == 0">
        <div data-ng-repeat="item in instoreCoupons">
            <div class="col-md-6 col-xs-12 printCoupon">
                <table width="90%" border="0" cellspacing="0" cellpadding="4"> 
                    <tr height="30">
                        <td width="150" align="center" rowspan="3">
                            <img data-ng-src="{{item.SmallImageUrl || getThemeUrl('/images/no_image.jpg')}}"/>
                            <br />
                            <img data-ng-src="{{item.BarcodeImageUrl}}"/>
                        </td>
                        <td align="center">
                            <div class="printCouponHeader">{{ChainName | uppercase}} STORE COUPON</div>
                            <div class="printCouponHeader">EXPIRES {{item.EndDate | date: 'M / dd / yyyy'}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="printCouponProductCode" data-ng-show="item.ProductCode"><strong>PLU:</strong>{{item.ProductCode}}</div>
                            <div class="printCouponDescription18Bold">{{item.Description1}}</div>
                            <div class="printCouponDescription16Bold">{{item.Description2}}</div>
                            <div class="printCouponDescription9">{{item.TopTagLine}}</div>
                            <div class="printCouponDescription9">
                                {{item.Description3}}
                                <br />
                                {{item.Description4}}
                            </div>
                            <div class="printCouponDescription9">{{item.BottomTagLine}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img align="right" class="printCouponLogo" data-ng-src="{{getContentUrl('/images/logoPrint.png')}}" border="0">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row printFooter">
    <p>Trouble printing manufacturer coupons? Download and install the Coupon Printing Plugin:<br />
        <a href="http://cdn.coupons.com/ftp.coupons.com/Partners/CouponPrinter.exe">Windows Coupon Printing Plugin</a>
        <span>| </span>
        <a href="http://cdn.coupons.com/ftp.coupons.com/safari/MacCouponPrinter.dmg">Mac Coupon Printing Plugin</a>
    </p>
</div>