<div class="hidden-meta" data-gsn-title="{{ChainName}} store locator"></div>
<div data-ctrl-store-locator="">
    <!--  <button class="hidden" data-gsn-modal="getThemeUrl('/views/engine/modal-storelocator-message.html')" data-show-if="showIntermission" data-ng-click="showModal()"></button>-->
    <div class="row storeLocator">
        <h3>Locate Your Favorite Store</h3>
        <div class="col-md-3 col-sm-3">
            <form name="myStoreLocatorForm">
                Zip, City or State: 
                <input class="search" type="text" name="search" data-ng-model="search.storeLocator"><br />
                Find stores within
                <input class="radius" type="text" name="searchRadius" data-ng-model="searchRadius">
                miles
                    <div class="form-group">
                        <button class="btn btn-xs btnSilver" data-ng-click="doSearch()">Search</button>
                        <button class="btn btn-xs btnSilver" data-ng-click="doClear()">Clear</button>
                    </div>
                <br />
            </form>
            <br />
            <div data-ng-if="searchFailed">
                Unable to locate a store within the specified search radius.  Displaying first closest store below.
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div id="map_canvas" data-ui-map="myMap" class="map-container gMap" data-ui-options="mapOptions" style="height: 280px;"></div>
            <div class="infoMarker" data-ui-map-info-window="myInfoWindow">
                <div data-ng-show="currentMarker.location">
                    <strong>{{currentMarker.location.StoreName}}</strong><br />
                    <address>
                        {{currentMarker.location.PrimaryAddress}}<br />
                        {{currentMarker.location.City}}, {{currentMarker.location.StateName}} {{currentMarker.location.PostalCode}}  
                    </address>
                    <div class="storeDetails" data-ng-show="currentMarker.location.Settings[28].SettingValue">
                        <a href="javascript:void(0)" data-ng-href="{{decodeServerUrl(currentMarker.location.Settings[28].SettingValue)}}">Store Details</a>
                    </div>
                    <div>
                        <a href="javascript:void(0)" data-ng-click="selectStore(currentMarker)">Select Store</a>
                    </div>
                </div>
                <div data-ng-show="!currentMarker.location">
                    <br />
                    search result for: {{search.storeLocator}}<br />
                </div>
            </div>
        </div>
    </div>
    <div class="allStores">
        <div data-ng-repeat-start="marker in myMarkers" data-ng-class="{ 'row': $index == 0 || myMarkers[$index-1].location.SortBy != marker.location.SortBy }">
            <div class="region" data-ng-if="$index == 0 || myMarkers[$index-1].location.SortBy != marker.location.SortBy">
                <h3>{{marker.location.SortBy}}</h3>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 singleStoreInfo" data-body=""  data-ng-include="getThemeUrl('/views/engine/store-locator-item.html')"></div>
        <div data-ng-repeat-end="" data-ng-class="{ 'row': $index > 0 && myMarkers[$index+1].location.SortBy != marker.location.SortBy }"></div>
    </div>
</div>